<template>
  <div class="phone">
    <div class="speaker"></div>
    <div class="content">
      <slot />
    </div>
    <div class="button"></div>
  </div>
</template>

<script>
export default {
  name: 'Phone'
}
</script>

<style scoped>
.phone {
  border: 2px solid rgb(118, 118, 118);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  display: inline-block;
}
.speaker {
  width: 60px;
  height: 6px;
  margin: 20px auto;
  border: 2px solid rgb(118, 118, 118);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.content {
  width: 320px;
  height: 480px;
  border: 2px solid rgb(118, 118, 118);
  margin: 0 15px;
}
.button {
  height: 36px;
  width: 36px;
  margin: 10px auto;
  border: 2px solid rgb(118, 118, 118);
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}
</style>
