<template>
  <page-content>
    <h2>Buttons collection</h2>

    <el-button icon="el-icon-circle-plus-outline">
      DEFAULT
    </el-button>

    <el-button type="primary" icon="el-icon-circle-plus-outline">
      PRIMARY
    </el-button>

    <el-button type="primary" plain icon="el-icon-circle-plus-outline">
      SECONDARY
    </el-button>
    <el-button
      type="primary"
      plain
      icon="el-icon-circle-plus-outline"
      size="small"
    >
      SECONDARY SMALL
    </el-button>
    <el-button
      type="primary"
      plain
      icon="el-icon-circle-plus-outline"
      size="mini"
    >
      SECONDARY MINI
    </el-button>
  </page-content>
</template>

<script>
import PageContent from '@/common/components/page/PageContent'
export default {
  components: { PageContent }
}
</script>

<style scoped>
h2 {
  font-weight: normal;
  margin-bottom: 10px;
}
</style>
