<template>
  <page-content>
    <rest-list-page
      page-title="Campaign Analytics Sort Filter Test"
      :fetch-endpoint="fetchEndpoint"
      @dataLoaded="setData($event)"
    >
      <template slot="table" v-if="data[0]">
        <rest-list-column prop="title" title="Title" :width="250" />
        <rest-metric-group
          v-for="(metricGroup, metricIndex) in data[0].metricGroups"
          :key="metricIndex"
          :metric-group="metricGroup"
          :prop="'metricGroups[' + metricIndex + ']'"
        />
      </template>
    </rest-list-page>
  </page-content>
</template>

<script>
import PageContent from '@/common/components/page/PageContent'
import RestMetricGroup from '@/common/components/rest/RestMetricGroup'
import RestListPage from '@/common/components/rest/RestListPage'
import { projectEndpoint } from '@/core/helpers'
import RestListColumn from '@/common/components/rest/RestListColumn'

export default {
  name: 'CampaignAnalyticsSortFilter',

  components: { RestListColumn, RestListPage, PageContent, RestMetricGroup },

  data() {
    return {
      data: {}
    }
  },

  computed: {
    fetchEndpoint() {
      return projectEndpoint(
        {
          method: 'get',
          url: `analytics/campaigns`,
          params: {
            date_from: '2015-01-01',
            date_to: '2020-12-12'
          }
        },
        1
      )
    }
  },

  methods: {
    setData(event) {
      this.data = Object.assign({}, this.data, event)
    }
  }
}
</script>
