<template>
  <page>
    <page-content>
      <div style="margin: 50px 50px;">
        <channel-select @change="value = $event" :platform="true" />
        <div>{{ value }}</div>
      </div>
    </page-content>
  </page>
</template>

<script>
import ChannelSelect from '@/common/components/analytics/ChannelSelect'
import Page from '@/common/components/page/Page'
import PageContent from '@/common/components/page/PageContent'

export default {
  name: 'ChannelSelectTest',
  components: {
    PageContent,
    Page,
    ChannelSelect
  },
  data() {
    return {
      value: null
    }
  }
}
</script>

<style scoped></style>
