<template>
  <page-content>
    <h2>Channel Metrics Test</h2>
    <el-row>
      <el-col :span="8">
        <channel-metrics
          title="Title here"
          button-title="VIEW DETAILS"
          :button-action="action"
          icon="email"
        >
          <el-row slot="metrics">
            <el-col :span="8" class="metric">
              <metric title="Sent" :metric="0" />
            </el-col>
            <el-col :span="8" class="metric">
              <metric title="Opted In" :metric="0" />
            </el-col>
            <el-col :span="8" class="metric">
              <metric title="Opted Out" :metric="0" />
            </el-col>
          </el-row>
        </channel-metrics>
        <div>Clicked: {{ counter }}</div>
      </el-col>
    </el-row>
  </page-content>
</template>

<script>
import PageContent from '@/common/components/page/PageContent'
import ChannelMetrics from '@/common/components/ChannelMetrics'
import Metric from '@/common/components/Metric'
export default {
  name: 'ChannelMetricsTest',
  components: { Metric, ChannelMetrics, PageContent },
  data() {
    return {
      counter: 0
    }
  },
  methods: {
    action() {
      this.counter++
    }
  }
}
</script>

<style scoped>
h2 {
  font-weight: normal;
  margin-bottom: 10px;
}
</style>
