<template>
  <el-row style="margin: 200px 200px">
    <el-col :span="14">
      <event-panel title="Web Push" :events="events" />
    </el-col>
  </el-row>
</template>

<script>
import EventPanel from '@/common/components/dashboard/EventPanel'
export default {
  name: 'EventPanelTest',
  components: { EventPanel },
  data() {
    return {
      events: {
        'Page Views': 3205536,
        Football: 1504453,
        Horse: 2506832,
        Basket: 3205536
      }
    }
  }
}
</script>

<style scoped></style>
