<template>
  <page>
    <page-content>
      <form-section
        title="Form Section Title"
        description="Form section description goes here"
      >
        <template slot="controls">
          <toggle v-model="disabled" />

          <save-button :click="() => {}" />
        </template>

        <el-form :model="model" :disabled="!!disabled">
          <el-row>
            <el-col :span="7">
              <form-item prop="input1" label="Text input">
                <el-input v-model="model.input1"></el-input>
              </form-item>

              <form-item prop="input2" label="Text input (with placeholder)">
                <el-input
                  v-model="model.input2"
                  placeholder="Placeholder goes here"
                ></el-input>
              </form-item>

              <form-item
                prop="input3"
                label="Text input (with description)"
                description="Field description goes here"
              >
                <el-input v-model="model.input3"></el-input>
              </form-item>

              <form-item
                prop="input4"
                label="Text input (with hint)"
                hint="Field hint goes here"
              >
                <el-input v-model="model.input4"></el-input>
              </form-item>

              <form-item
                prop="input5"
                label="Text input (with error)"
                error="Validation error goes here"
              >
                <el-input v-model="model.input5"></el-input>
              </form-item>

              <form-item
                prop="input6"
                label="Textarea"
                style="margin-top: 40px"
              >
                <el-input
                  type="textarea"
                  v-model="model.input6"
                  :rows="4"
                ></el-input>
              </form-item>
            </el-col>

            <el-col :span="7" :push="1">
              <form-item
                prop="radio1"
                label="Radio group (with description)"
                description="Field description goes here"
              >
                <radio-group v-model="model.radio1">
                  <radio
                    label="option1"
                    title="Option 1"
                    description="Description for option 1"
                  ></radio>

                  <radio
                    label="option2"
                    title="Option 2"
                    description="Description for option 2"
                  ></radio>
                </radio-group>
              </form-item>

              <form-item
                prop="radio2"
                label="Radio group (without description)"
              >
                <radio-group v-model="model.radio2">
                  <radio label="option1" title="Option 1"></radio>
                  <radio label="option2" title="Option 2"></radio>
                </radio-group>
              </form-item>

              <form-item
                prop="radio3"
                label="Radio group (bordered with description)"
                description="Field description goes here"
              >
                <radio-group v-model="model.radio3">
                  <radio
                    label="option1"
                    title="Option 1"
                    description="Description for option 1"
                    border
                  ></radio>

                  <radio
                    label="option2"
                    title="Option 2"
                    description="Description for option 2"
                    border
                  ></radio>
                </radio-group>
              </form-item>

              <form-item
                prop="radio4"
                label="Radio group (bordered without description)"
              >
                <radio-group v-model="model.radio4">
                  <radio label="option1" title="Option 1" border></radio>
                  <radio label="option2" title="Option 2" border></radio>
                </radio-group>
              </form-item>

              <form-item prop="radio5" label="Radio group (inline)">
                <radio-group v-model="model.radio5" inline>
                  <radio label="option1" title="Option 1"></radio>
                  <radio label="option2" title="Option 2"></radio>
                </radio-group>
              </form-item>

              <form-item prop="radio6" label="Radio group (bordered inline)">
                <radio-group v-model="model.radio6" inline>
                  <radio label="option1" title="Option 1" border></radio>
                  <radio label="option2" title="Option 2" border></radio>
                </radio-group>
              </form-item>
            </el-col>

            <el-col :span="7" :push="2">
              <form-item prop="toggle1" label="Toggle input">
                <toggle
                  v-model="model.toggle1"
                  active-text="On"
                  inactive-text="Off"
                ></toggle>
              </form-item>

              <form-item
                prop="toggle2"
                label="Toggle input (with description)"
                description="Field description goes here"
              >
                <toggle
                  v-model="model.toggle2"
                  active-text="On"
                  inactive-text="Off"
                ></toggle>
              </form-item>

              <form-item
                prop="toggle3"
                label="Toggle input (with error)"
                description="Field description goes here"
                error="Validation error goes here"
              >
                <toggle
                  v-model="model.toggle3"
                  active-text="On"
                  inactive-text="Off"
                ></toggle>
              </form-item>

              <form-item-group title="Toggle list" style="margin-top: 40px">
                <toggle-list :data="toggleList" :model="toggleListData" />
              </form-item-group>

              <form-item-group
                title="Toggle list (with description)"
                description="Toggle list description goes here"
              >
                <toggle-list
                  :data="toggleListWithDescription"
                  :model="toggleListWithDescriptionData"
                />
              </form-item-group>

              <form-item
                prop="toggle4"
                hint="Toggle with the description below"
              >
                <toggle
                  v-model="model.toggle4"
                  active-text="Alternative toggle"
                  inactive-text="Alternative toggle"
                ></toggle>
              </form-item>

              <form-item-group
                title="Color list"
                description="Color list description goes here"
              >
                <color-picker-field
                  v-model="model.color1"
                  style="display: inline-block; margin: 0 15px 0 0;"
                  label-text="Color 1"
                ></color-picker-field>
                <color-picker-field
                  v-model="model.color2"
                  style="display: inline-block; margin: 0 15px 0 0;"
                  label-text="Color 2"
                ></color-picker-field>
              </form-item-group>
            </el-col>
          </el-row>
        </el-form>
      </form-section>
    </page-content>
  </page>
</template>

<script>
import Page from '@/common/components/page/Page'
import PageContent from '@/common/components/page/PageContent'
import FormSection from '@/common/components/form/FormSection'
import FormItem from '@/common/components/form/FormItem'
import RadioGroup from '@/common/components/form/RadioGroup'
import Radio from '@/common/components/form/Radio'
import Toggle from '@/common/components/form/Toggle'
import FormItemGroup from '@/common/components/form/FormItemGroup'
import ColorPickerField from '@/common/components/form/ColorPickerField'
import ToggleList from '@/common/components/form/ToggleList'
import SaveButton from '@/common/components/form/SaveButton'

export default {
  name: 'FormLayoutTest',
  data() {
    return {
      model: {},
      disabled: 0,
      input1: '',
      input2: '',
      input3: '',
      input4: '',
      input5: '',
      input6: '',
      radio1: '',
      radio2: '',
      radio3: '',
      radio4: '',
      radio5: '',
      radio6: '',
      toggle1: 0,
      toggle2: 0,
      toggle3: 0,
      toggle4: 0,
      toggleList: [
        { name: 'Item 1', code: 'item1' },
        { name: 'Item 2', code: 'item2' }
      ],
      toggleListData: {
        item1: 0,
        item2: 0
      },
      toggleListWithDescription: [
        {
          name: 'Item 1',
          code: 'item1',
          description: 'Description for item 1'
        },
        {
          name: 'Item 2',
          code: 'item2',
          description: 'Description for item 2'
        }
      ],
      toggleListWithDescriptionData: {
        item1: 0,
        item2: 0
      },
      color1: '',
      color2: ''
    }
  },
  components: {
    SaveButton,
    ToggleList,
    ColorPickerField,
    FormItemGroup,
    Toggle,
    Page,
    PageContent,
    FormSection,
    FormItem,
    RadioGroup,
    Radio
  }
}
</script>
