<template>
  <page-content>
    <el-row>
      <el-col :span="4">
        <div class="global-settings-nav-menu">
          <global-settings-nav
            :router="false"
            :items="firstMenuItems"
            :handle-select="handleSelect"
          />
        </div>
      </el-col>
      <el-col :span="4">
        <div class="global-settings-nav-menu">
          <global-settings-nav
            :router="false"
            :items="secondMenuItems"
            :handle-select="handleSelect"
          />
        </div>
      </el-col>
    </el-row>
  </page-content>
</template>

<script>
import GlobalSettingsNav from '@/common/components/navigation/GlobalSettingsNav'
import PageContent from '@/common/components/page/PageContent'
export default {
  name: 'GlobalSettingsNavTest',
  components: { PageContent, GlobalSettingsNav },
  data() {
    let items = [
      {
        icon: 'el-icon-success',
        title: 'iOS Push',
        subMenuItems: [
          { icon: 'el-icon-success', title: 'Variant A' },
          {
            title: 'Variant B'
          }
        ]
      },
      {
        icon: 'el-icon-empty-icon',
        title: 'Android Push',
        subMenuItems: [
          { icon: 'el-icon-success', title: 'Variant C' },
          { title: 'Variant D' }
        ]
      },
      {
        title: 'SMS',
        subMenuItems: [{ title: 'Variant D' }, { title: 'Variant E' }]
      }
    ]
    return {
      currentSelect: '',
      firstMenuItems: items,
      secondMenuItems: [
        {
          icon: 'el-icon-success',
          title: 'English',
          subMenuItems: items
        },
        {
          icon: 'el-icon-warning',
          title: 'Dutch',
          subMenuItems: items
        },
        { title: 'French' }
      ]
    }
  },
  methods: {
    handleSelect(item) {
      this.currentSelect = item
    }
  }
}
</script>
