<template>
  <div class="page-ct">
    <key-metric-placeholder />
  </div>
</template>
<script>
import KeyMetricPlaceholder from '@/common/components/KeyMetricPlaceholder'

export default {
  name: 'ProjectOverviewPlaceholderTest',

  components: { KeyMetricPlaceholder }
}
</script>
<style scoped>
.page-ct {
  padding: 40px;
  background-color: #f2f5f9;
}
</style>
