<template>
  <div class="page-ct">
    <project-overview-placeholder />
  </div>
</template>
<script>
import ProjectOverviewPlaceholder from '@/common/components/ProjectOverviewPlaceholder'

export default {
  name: 'ProjectOverviewPlaceholderTest',

  components: { ProjectOverviewPlaceholder }
}
</script>
<style scoped>
.page-ct {
  padding: 40px;
  background-color: #f2f5f9;
}
</style>
