<template>
  <page>
    <page-content>
      <rest-form :model="model" :save-endpoint="{}">
        <form-section title="Radio Group Test">
          <el-row>
            <el-col :span="8">
              <rest-form-item prop="value" label="Multi Line">
                <radio-group v-model="model.value">
                  <radio
                    label="option1"
                    title="Option 1"
                    description="Description for option 1"
                  ></radio>

                  <radio
                    label="option2"
                    title="Option 2"
                    description="Description for option 2"
                  ></radio>
                </radio-group>
              </rest-form-item>
            </el-col>

            <el-col :span="8">
              <rest-form-item prop="value" label="Single Line">
                <radio-group v-model="model.value">
                  <radio label="option1" title="Option 1"></radio>
                  <radio label="option2" title="Option 2"></radio>
                </radio-group>
              </rest-form-item>
            </el-col>

            <el-col :span="8">
              <rest-form-item prop="value" label="Long Labels">
                <radio-group v-model="model.value">
                  <radio
                    label="option1"
                    title="Lorem ipsum lorem ipsum lorem ipsum lorem ipsum"
                    description="Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum"
                  ></radio>

                  <radio
                    label="option2"
                    title="Lorem ipsum lorem ipsum lorem ipsum lorem ipsum"
                    description="Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum"
                  ></radio>
                </radio-group>
              </rest-form-item>
            </el-col>
          </el-row>
        </form-section>
      </rest-form>
    </page-content>
  </page>
</template>

<script>
import FormSection from '@/common/components/form/FormSection'
import RestFormItem from '@/common/components/rest/RestFormItem'
import Page from '@/common/components/page/Page'
import RestForm from '@/common/components/rest/RestForm'
import PageContent from '@/common/components/page/PageContent'
import Radio from '@/common/components/form/Radio'
import RadioGroup from '@/common/components/form/RadioGroup'
export default {
  name: 'RadioGroupTest',
  data() {
    return {
      model: {
        value: 'option1'
      }
    }
  },
  components: {
    RadioGroup,
    Radio,
    PageContent,
    RestForm,
    Page,
    RestFormItem,
    FormSection
  }
}
</script>
