<template>
  <page-content>
    <rest-list-page
      page-title="Rest Metric Group component"
      :fetch-endpoint="fetchEndpoint"
      @dataLoaded="setData($event)"
    >
      <template slot="table" v-if="data[0]">
        <rest-metric-group
          v-for="(metricGroup, metricIndex) in data[0].metricGroups"
          :key="metricIndex"
          :metric-group="metricGroup"
          :prop="'metricGroups[' + metricIndex + ']'"
          :custom-props="{
            'send_date.first_send_date': {
              sortable: true
            }
          }"
        />
      </template>
    </rest-list-page>
  </page-content>
</template>

<script>
import PageContent from '@/common/components/page/PageContent'
import tableData from '@/common/tests/RestColumnGroupTestData'
import RestMetricGroup from '@/common/components/rest/RestMetricGroup'
import RestListPage from '@/common/components/rest/RestListPage'
import { projectEndpoint } from '@/core/helpers'
import RestApi from '@/core/services/RestApi'
var MockAdapter = require('axios-mock-adapter')
var mock = new MockAdapter(RestApi)

mock.onGet(/\/projects\/.+/).reply(200, tableData, {
  'X-Pagination-Current-Page': 1,
  'X-Pagination-Page-Count': 1,
  'X-Pagination-Per-Page': 50,
  'X-Pagination-Total-Count': 2
})

export default {
  name: 'RestColumnGroupTest',

  components: { RestListPage, PageContent, RestMetricGroup },

  data() {
    return {
      data: []
    }
  },

  computed: {
    fetchEndpoint() {
      return projectEndpoint(
        {
          method: 'get',
          url: `analytics/campaigns`,
          params: {}
        },
        2
      )
    }
  },

  methods: {
    setData(event) {
      this.data = event
    },

    beforeDestroy: function() {
      mock.restore()
    }
  }
}
</script>
