<template>
  <page-content>
    <el-row>
      <el-col :span="12">
        <toggle-list :model="switchValues" :data="dataList" />
      </el-col>
    </el-row>
    {{ JSON.stringify(switchValues) }}
  </page-content>
</template>

<script>
import ToggleList from '@/common/components/form/ToggleList'
import PageContent from '@/common/components/page/PageContent'
export default {
  name: 'ToggleListTest',
  components: { PageContent, ToggleList },
  data() {
    return {
      switchValues: {
        email: 0,
        sms: 1,
        inapp: 1,
        onsite: 0
      },
      dataList: [
        {
          code: 'email',
          name: this.$t('ProjectSettings_ChannelSettings_Email')
        },
        {
          code: 'sms',
          name: this.$t('ProjectSettings_ChannelSettings_Sms')
        },
        {
          code: 'inapp',
          name: this.$t('ProjectSettings_ChannelSettings_InApp')
        },
        {
          code: 'onsite',
          name: this.$t('ProjectSettings_ChannelSettings_OnSite')
        }
      ]
    }
  }
}
</script>

<style scoped></style>
