<template>
  <page>
    <el-card>
      <el-button id="button">Test button</el-button>
    </el-card>
    <el-row
      ><el-col :span="3">
        <p id="element1">Element 1</p>
      </el-col>
    </el-row>
    <el-row
      ><el-col :span="3">
        <p id="element2">Element 2</p>
      </el-col>
    </el-row>
    <tutorial-cards :cards="steps" name="test" />
  </page>
</template>

<script>
import Page from '../components/page/Page'
import TutorialCards from '@/common/components/TutorialCards'

export default {
  name: 'TutorialCardsTest',
  components: { Page, TutorialCards },
  data() {
    return {
      steps: [
        {
          content: `First item content`,
          target: '#element1'
          // params: {
          //   // You can control the position of the tour popup easily.
          //   placement: 'left'
          // }
        },
        {
          target: '#element2',
          // You can even use HTML!
          content: `This link will take you to <a href="https://local.xpu.sh/" target="_blank">local.xpu.sh/</a>!`
        },
        {
          target: '.top-nav-logo',
          content: `This is a top header logo`,
          params: {
            // You can control the position of the tour popup easily.
            placement: 'bottom'
          }
        },
        {
          target: '#button',
          content: `This is a test button`,
          params: {
            // You can control the position of the tour popup easily.
            placement: 'bottom'
          }
        },
        {
          target: '.user-icon',
          content: `This is a user avatar`,
          params: {
            // You can control the position of the tour popup easily.
            placement: 'bottom'
          }
        }
      ]
    }
  }
}
</script>

<style scoped>
p {
  border: 1px solid;
}
</style>
