<template>
  <rest-page :fetch-endpoint="fetchEndpoint">
    <form-section :title="$t('Profiles_Overview_Title_ApplicationUsage')">
      <el-row v-if="model.length > 0">
        <el-col :span="8" v-for="(app, index) in model" :key="index">
          <metric :metric="Number(app.value)" :title="app.name" />
        </el-col>
      </el-row>
      <div v-else>
        <p class="no-results-found-text">
          <i class="el-icon-warning-outline"></i>
          {{ $t('Profile_Overview_Text_NoApplicationUsageFound') }}
        </p>
      </div>
    </form-section>
  </rest-page>
</template>

<script>
import RestPage from '@/common/components/rest/RestPage'
import FormSection from '@/common/components/form/FormSection'
import { projectEndpoint } from '@/core/helpers'
import Metric from '@/common/components/Metric'

export default {
  name: 'ApplicationUsage',

  components: { Metric, FormSection, RestPage },

  props: {
    profileId: {
      type: String,
      required: true
    }
  },

  data() {
    return {
      model: {}
    }
  },

  computed: {
    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `profile-analytics/sessions`,
        params: {
          profile_id: this.profileId,
          'per-page': 3,
          page: 1
        },
        handler: data => {
          this.model = data
        }
      })
    }
  }
}
</script>

<style scoped>
.no-results-found-text {
  font-size: 15px;
  color: #acb0b5;
}
</style>
