<template>
  <el-button
    :type="buttonType"
    :icon="buttonIcon"
    class="create-button"
    @click="$refs.fileInput.click()"
  >
    {{ $t('UserProfiles_ProfileList_Import') }}
    <input
      ref="fileInput"
      type="file"
      style="display: none"
      @change="importProfiles($event)"
    />
  </el-button>
</template>

<script>
import RestApi from '@/core/services/RestApi'
import { projectEndpoint, projectRoute } from '@/core/helpers'

export default {
  props: {
    buttonType: {
      type: String,
      default: 'el-icon-upload'
    },

    buttonIcon: {
      type: String,
      default: 'primary'
    }
  },

  methods: {
    importProfiles(event) {
      const formData = new FormData()
      formData.append('file', event.target.files[0])

      RestApi(
        projectEndpoint({
          method: 'post',
          url: `user-profiles/import`,
          config: { headers: { 'Content-Type': 'multipart/form-data' } },
          data: formData
        })
      )
        .then(({ data }) => {
          this.$router.push(
            projectRoute({
              name: 'TaskHistoryView',
              query: { id: data }
            })
          )
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
    }
  }
}
</script>
