<template>
  <page-section :title="$t('Profiles_Title_Attributes')">
    <el-button
      v-if="!readonly"
      slot="controls"
      type="primary"
      icon="el-icon-circle-plus"
      @click="addRow"
    >
      {{ $t('Profiles_Button_CreateAttribute') }}
    </el-button>

    <rest-list-editable
      :payload="fetchEndpoint"
      :add-endpoint="saveEndpoint"
      :update-endpoint="saveEndpoint"
      ref="rest-list"
    >
      <rest-list-column
        prop="name"
        :title="$t('ProfileAttributes_Attribute_Name')"
        :min-width="180"
        :editable="true"
      >
        <template slot="input-edit" slot-scope="{ model }">
          <el-select
            :disabled="!model.new"
            v-model="model.name"
            value-key="name"
            filterable
            remote
            :placeholder="autocompletePlaceholder"
            :remote-method="autocompleteSearch"
            :loading="searching"
            @focus="autocompleteSearch()"
          >
            <el-option
              v-for="item in options"
              :key="item.name"
              :label="item.name"
              :value="item.name"
            ></el-option>
          </el-select>
        </template>
      </rest-list-column>

      <rest-list-column
        prop="value"
        :title="$t('ProfileAttributes_Field_Value')"
        :min-width="180"
        :editable="true"
        :tooltip="true"
        :formatter="personalDataFormatter"
      >
        <template slot="input-edit" slot-scope="{ model }">
          <el-input
            v-model="model.value"
            :type="model.type === TagTypes.ARRAY ? 'textarea' : 'text'"
          />
        </template>
      </rest-list-column>

      <rest-list-column-actions :editable="true" v-if="!readonly">
        <template slot-scope="scope">
          <rest-list-action-delete :endpoint="deleteEndpoint(scope.row)" />
        </template>
      </rest-list-column-actions>
    </rest-list-editable>
  </page-section>
</template>

<script>
import PageSection from '@/common/components/page/PageSection'
import RestListColumn from '@/common/components/rest/RestListColumn'
import { projectEndpoint } from '@/core/helpers'
import { TagTypes } from '@/modules/tags/enum/TagTypeEnum'
import RestListColumnActions from '@/common/components/rest/RestListColumnActions'
import RestListActionDelete from '@/common/components/rest/RestListActionDelete'
import RestListEditable from '@/common/components/rest/RestListEditable'
import RestApi from '@/core/services/RestApi'
import memoize from 'memoizee'

const fetchAttributes = memoize(
  (queryString, profileID) =>
    RestApi(
      projectEndpoint({
        method: 'get',
        url: `attributes`,
        params: {
          name: queryString,
          attribute_profile: 1,
          exclude_assigned_to_profile: profileID
        }
      })
    ).then(({ data }) => data),
  { promise: true, maxAge: 1000 }
)

export default {
  name: 'ProfileAttributesList',

  components: {
    RestListEditable,
    RestListActionDelete,
    RestListColumnActions,
    PageSection,
    RestListColumn
  },

  props: {
    readonly: {
      type: Boolean,
      required: true
    }
  },

  data() {
    return {
      options: [],
      TagTypes,
      searching: false,
      suggestionsListLength: 1
    }
  },

  computed: {
    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `profiles/${this.$route.query.profile_id}/attributes`,
        params: {
          sort: 'name'
        }
      })
    },

    autocompletePlaceholder() {
      if (this.suggestionsListLength < 1) {
        return this.$t('Profiles_Text_AttributesNotAvailable')
      } else {
        return this.$t('Profiles_Text_SelectAttribute')
      }
    }
  },

  methods: {
    saveEndpoint(row) {
      return projectEndpoint({
        method: 'patch',
        url: `profiles/${this.$route.query.profile_id}/attributes/${row.name}`
      })
    },

    deleteEndpoint(row) {
      return projectEndpoint({
        method: 'delete',
        url: `profiles/${this.$route.query.profile_id}/attributes/${row.name}`
      })
    },

    addRow() {
      this.$refs['rest-list'].addRow({
        new: true,
        profile_id: this.$route.query.profile_id
      })
    },

    personalDataFormatter(value) {
      if (value === null || value === '') {
        return '-'
      } else if (this.$can('UserData::PersonalDataAccess')) {
        return value
      } else {
        return '******'
      }
    },

    autocompleteSearch(queryString) {
      this.searching = true
      fetchAttributes(queryString, this.$route.query.profile_id).then(data => {
        this.suggestionsListLength = data.length
        this.options = data.sort(function(a, b) {
          let textA = a.name.toUpperCase()
          let textB = b.name.toUpperCase()
          return textA < textB ? -1 : textA > textB ? 1 : 0
        })
        this.searching = false
      })
    }
  }
}
</script>
