<template>
  <el-dropdown
    v-if="visible"
    trigger="click"
    @command="handleActions"
    :loading="loading"
  >
    <el-button type="primary">
      {{ $t('Profiles_Button_Actions') }}
      <i class="el-icon-arrow-down el-icon--right" />
    </el-button>
    <el-dropdown-menu slot="dropdown">
      <el-dropdown-item
        command="deleteData"
        v-if="$can('UserData::PersonalDataAccess')"
      >
        <i class="xp-icon-person-delete" />
        {{ $t('Profiles_Button_DeletePersonalData') }}
      </el-dropdown-item>
      <el-dropdown-item
        command="download"
        v-if="$can('UserData::PersonalDataAccess')"
      >
        <i class="el-icon-download" />
        {{ $t('Profiles_Button_Download') }}
      </el-dropdown-item>
      <el-dropdown-item v-if="$can('Profile::Delete')" command="deleteUser">
        <i class="el-icon-delete" />
        {{ $t('Profiles_Button_DeleteUser') }}
      </el-dropdown-item>
    </el-dropdown-menu>
  </el-dropdown>
</template>

<script>
import RestApi from '@/core/services/RestApi'
import { projectEndpoint, projectRoute } from '@/core/helpers'

export default {
  name: 'ProfileActionsDropdown',

  props: {
    profileId: {
      required: true
    }
  },

  data() {
    return {
      loading: false
    }
  },

  computed: {
    visible() {
      return (
        this.$can('UserData::PersonalDataAccess') ||
        this.$can('Profile::Delete')
      )
    },

    deleteEndpoint() {
      return projectEndpoint({
        method: 'delete',
        url: `user-profiles/${this.profileId}`
      })
    },

    deletePersonalDataEndpoint() {
      return projectEndpoint({
        method: 'delete',
        url: `user-profiles/${this.profileId}/clear`
      })
    },

    exportEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `user-profiles/export`,
        params: { id: this.profileId }
      })
    }
  },

  methods: {
    handleActions(action) {
      switch (action) {
        case 'deleteUser':
          this.confirmDelete()
          break
        case 'deleteData':
          this.confirmDeletePersonalData()
          break
        case 'download':
          this.downloadAction()
      }
    },

    downloadAction() {
      RestApi(this.exportEndpoint)
        .then(({ data }) => {
          this.$router.push(
            projectRoute({
              name: 'TaskHistoryView',
              query: { id: data }
            })
          )
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
    },

    confirmDeletePersonalData() {
      this.$msgbox({
        title: this.$t('Profiles_DialogDeletePersonalData_Title'),
        message: this.$t('Profiles_DialogDeletePersonalData_Prompt'),
        showCancelButton: true,
        confirmButtonText: this.$t('Profiles_Button_Confirm'),
        cancelButtonText: this.$t('Profiles_Button_Cancel'),
        center: true,
        dangerouslyUseHTMLString: true
      }).then(() => {
        this.loading = true
        RestApi(this.deletePersonalDataEndpoint)
          .then(({ data }) => {
            this.$router.push(
              projectRoute({
                name: 'TaskHistoryView',
                query: { id: data }
              })
            )
          })
          .catch(error => {
            this.$message({
              message: error.message,
              type: 'error'
            })
            this.loading = false
          })
      })
    },

    confirmDelete() {
      this.$msgbox({
        title: this.$t('Profiles_DialogDelete_Title'),
        message: this.$t('Profiles_DialogDelete_Prompt'),
        showCancelButton: true,
        confirmButtonText: this.$t('Profiles_Button_Confirm'),
        cancelButtonText: this.$t('Profiles_Button_Cancel'),
        center: true
      }).then(() => {
        this.loading = true
        RestApi(this.deleteEndpoint)
          .then(() => {
            this.$message({
              message: this.$t('Profiles_Message_DeleteSuccess'),
              type: 'success'
            })

            this.loading = false

            this.$router.push(
              projectRoute({
                name: 'Profiles'
              })
            )
          })
          .catch(error => {
            this.$message({
              message: error.message,
              type: 'error'
            })
            this.loading = false
          })
      })
    }
  }
}
</script>

<style scoped></style>
