<template>
  <rest-list :payload="fetchEndpoint">
    <rest-list-column
      prop="id"
      :title="$t('UserProfiles_Field_Id')"
      :route="rowViewRoute"
      :min-width="280"
      v-if="selection.id"
    />

    <rest-list-column-enum
      prop="identifier"
      :enum="profileIdentifiersLabels"
      :title="$t('UserProfiles_Field_Identifier')"
      :min-width="120"
      v-if="selection.identifier"
    />

    <rest-list-column
      prop="user_id"
      :title="$t('UserProfiles_Field_UserId')"
      :min-width="180"
      v-if="selection.user_id && $can('UserData::PersonalDataAccess')"
    />

    <rest-list-column
      prop="email"
      :title="$t('UserProfiles_Field_Email')"
      :min-width="180"
      v-if="selection.email && $can('UserData::PersonalDataAccess')"
    />

    <rest-list-column
      prop="mobile_number"
      :title="$t('UserProfiles_Field_MobileNumber')"
      :min-width="180"
      v-if="selection.mobile_number && $can('UserData::PersonalDataAccess')"
    />

    <rest-list-column
      prop="whatsapp_number"
      :title="$t('UserProfiles_Field_WhatsappNumber')"
      :min-width="180"
      v-if="
        selection.whatsapp_number &&
          features.whatsapp &&
          $can('UserData::PersonalDataAccess')
      "
    />

    <rest-list-column-boolean
      prop="email_addressable"
      :title="$t('UserProfiles_Field_EmailAddressable')"
      :min-width="140"
      v-if="selection.email_addressable"
    />

    <rest-list-column-boolean
      prop="email_subscription"
      :title="$t('UserProfiles_Field_EmailSubscription')"
      :min-width="140"
      v-if="selection.email_subscription"
    />

    <rest-list-column-boolean
      prop="sms_addressable"
      :title="$t('UserProfiles_Field_SmsAddressable')"
      :min-width="140"
      v-if="selection.sms_addressable"
    />

    <rest-list-column-boolean
      prop="sms_subscription"
      :title="$t('UserProfiles_Field_SmsSubscription')"
      :min-width="140"
      v-if="selection.sms_subscription"
    />

    <rest-list-column-boolean
      prop="whatsapp_addressable"
      :title="$t('UserProfiles_Field_WhatsappAddressable')"
      :min-width="140"
      v-if="selection.whatsapp_addressable && features.whatsapp"
    />

    <rest-list-column-boolean
      prop="whatsapp_subscription"
      :title="$t('UserProfiles_Field_WhatsappSubscription')"
      :min-width="140"
      v-if="selection.whatsapp_subscription && features.whatsapp"
    />

    <el-table-column :width="50" align="center">
      <template slot="header" slot-scope="{}">
        <el-dropdown trigger="click" @visible-change="saveColumns">
          <icon glyph="cog" size="20" />
          <el-dropdown-menu slot="dropdown" style="width: 200px">
            <div class="columnSelection">
              <el-checkbox v-model="selection.id">
                {{ $t('UserProfiles_Field_Id') }}
              </el-checkbox>
              <el-checkbox v-model="selection.identifier">
                {{ $t('UserProfiles_Field_Identifier') }}
              </el-checkbox>
              <el-checkbox
                v-model="selection.user_id"
                v-if="$can('UserData::PersonalDataAccess')"
              >
                {{ $t('UserProfiles_Field_UserId') }}
              </el-checkbox>
              <el-checkbox
                v-model="selection.email"
                v-if="$can('UserData::PersonalDataAccess')"
              >
                {{ $t('UserProfiles_Field_Email') }}
              </el-checkbox>
              <el-checkbox v-model="selection.email_addressable">
                {{ $t('UserProfiles_Field_EmailAddressable') }}
              </el-checkbox>
              <el-checkbox v-model="selection.email_subscription">
                {{ $t('UserProfiles_Field_EmailSubscription') }}
              </el-checkbox>
              <el-checkbox
                v-model="selection.mobile_number"
                v-if="$can('UserData::PersonalDataAccess')"
              >
                {{ $t('UserProfiles_Field_MobileNumber') }}
              </el-checkbox>
              <el-checkbox v-model="selection.sms_addressable">
                {{ $t('UserProfiles_Field_SmsAddressable') }}
              </el-checkbox>
              <el-checkbox v-model="selection.sms_subscription">
                {{ $t('UserProfiles_Field_SmsSubscription') }}
              </el-checkbox>
              <el-checkbox
                v-model="selection.whatsapp_number"
                v-if="features.whatsapp && $can('UserData::PersonalDataAccess')"
              >
                {{ $t('UserProfiles_Field_WhatsappNumber') }}
              </el-checkbox>
              <el-checkbox
                v-model="selection.whatsapp_addressable"
                v-if="features.whatsapp"
              >
                {{ $t('UserProfiles_Field_WhatsappAddressable') }}
              </el-checkbox>
              <el-checkbox
                v-model="selection.whatsapp_subscription"
                v-if="features.whatsapp"
              >
                {{ $t('UserProfiles_Field_WhatsappSubscription') }}
              </el-checkbox>
            </div>
          </el-dropdown-menu>
        </el-dropdown>
      </template>
    </el-table-column>
  </rest-list>
</template>

<script>
import RestList from '@/common/components/rest/RestList'
import RestListColumn from '@/common/components/rest/RestListColumn'
import RestListColumnEnum from '@/common/components/rest/RestListColumnEnum'
import RestListColumnBoolean from '@/common/components/rest/RestListColumnBoolean'
import { projectEndpoint, projectRoute } from '@/core/helpers'
import { profileIdentifiersLabels } from '@/modules/profiles/enum/ProfileIdentifiersEnum'

export default {
  name: 'ProfileList',

  components: {
    RestList,
    RestListColumn,
    RestListColumnEnum,
    RestListColumnBoolean
  },

  data() {
    return {
      selection: {
        id: true,
        user_id: true
      },
      profileIdentifiersLabels
    }
  },

  created() {
    let columns = JSON.parse(
      localStorage.getItem('ProfileList_selectedColumns')
    )

    if (columns) {
      this.selection = columns
    }
  },

  computed: {
    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `user-profiles`,
        params: {}
      })
    },

    features() {
      return this.$store.state.app.features
    }
  },

  methods: {
    rowViewRoute(row) {
      return projectRoute({
        name: 'UserProfileView',
        query: {
          id: row.id
        }
      })
    },

    saveColumns(val) {
      if (!val) {
        localStorage.setItem(
          'ProfileList_selectedColumns',
          JSON.stringify(this.selection)
        )
      }
    }
  }
}
</script>

<style scoped>
.columnSelection {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}
</style>
