<template>
  <el-dialog
    :visible.sync="display"
    :modal-append-to-body="false"
    :title="$t('SubscriptionPreferencesPopup_Title')"
    width="400"
    center
  >
    <rest-list
      v-if="display"
      :payload="fetchEndpoint"
      ref="list"
      :show-header="false"
      :outline="false"
    >
      <rest-list-column prop="subscription_preference_display_name" title="" />

      <rest-list-column prop="status" title="" :width="200">
        <template slot-scope="{ row }">
          <div class="status-container">
            <i
              :class="getSubscriptionIcon(row.status) || 'el-icon-empty-icon'"
            ></i>
            {{ getSubscriptionLabel(row.status) }}
          </div>
        </template>
      </rest-list-column>

      <rest-list-column-actions icon="el-icon-edit-outline" v-if="!readonly">
        <template slot-scope="{ row }">
          <rest-list-action
            v-if="row.status"
            icon="el-icon-error"
            :title="$t('Profiles_Channels_Action_Unsubscribe')"
            :click="
              updateSubscriptionHandler(row.subscription_preference_id, 0)
            "
          />

          <rest-list-action
            v-if="!row.status"
            icon="el-icon-success"
            :title="$t('Profiles_Channels_Action_Subscribe')"
            :click="
              updateSubscriptionHandler(row.subscription_preference_id, 1)
            "
          />
        </template>
      </rest-list-column-actions>
    </rest-list>
  </el-dialog>
</template>

<script>
import RestApi from '@/core/services/RestApi'
import RestList from '@/common/components/rest/RestList'
import RestListColumn from '@/common/components/rest/RestListColumn'
import { projectEndpoint, projectUrl } from '@/core/helpers'
import RestListAction from '@/common/components/rest/RestListAction'
import RestListColumnActions from '@/common/components/rest/RestListColumnActions'

export default {
  name: 'SubscriptionPreferencesPopup',

  components: {
    RestListColumnActions,
    RestListAction,
    RestList,
    RestListColumn
  },

  data() {
    return {
      display: false
    }
  },

  props: {
    deviceId: {
      type: Number
    },

    profileId: {
      type: String
    },

    channel: {
      type: String,
      required: true
    },

    readonly: {
      type: Boolean,
      required: true
    }
  },

  computed: {
    fetchEndpoint() {
      if (this.deviceId) {
        return projectEndpoint({
          method: 'get',
          url: `devices/${this.deviceId}/subscription-preferences`,
          params: {
            channel: this.channel,
            device_id: this.deviceId
          }
        })
      } else {
        return projectEndpoint({
          method: 'get',
          url: `profiles/${this.profileId}/subscription-preferences`,
          params: {
            channel: this.channel,
            profile_id: this.profileId
          }
        })
      }
    }
  },

  methods: {
    show() {
      this.display = true
    },

    updateUrl(subscriptionPreferenceId) {
      if (this.deviceId) {
        return projectUrl(
          `devices/${this.deviceId}/subscription-preferences/${subscriptionPreferenceId}`
        )
      } else {
        return projectUrl(
          `profiles/${this.profileId}/subscription-preferences/${subscriptionPreferenceId}`
        )
      }
    },

    updateSubscriptionHandler(subscriptionPreferenceId, newValue) {
      return () => this.updateSubscription(subscriptionPreferenceId, newValue)
    },

    updateSubscription(subscriptionPreferenceId, newValue) {
      RestApi.patch(this.updateUrl(subscriptionPreferenceId), {
        status: newValue
      })
        .then(() => {
          this.$message({
            message: 'Subscription Updated',
            type: 'success'
          })

          this.$refs.list.refresh()
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
    },

    getSubscriptionIcon(value) {
      if (value === 0) {
        return 'el-icon-error'
      } else if (value === 1) {
        return 'el-icon-success'
      } else if (value === null) {
        return undefined
      }
    },

    getSubscriptionLabel(value) {
      if (value === 0) {
        return this.$t('Profiles_Channels_StatusUnsubscribed')
      } else if (value === 1) {
        return this.$t('Profiles_Channels_StatusSubscribed')
      } else if (value === null) {
        return this.$t('Profiles_Channels_StatusNotProvided')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.status-container {
  display: flex;
  align-items: center;

  i {
    font-size: 18px;
    margin-right: 10px;
  }

  .el-icon-success {
    color: #1fca10;
  }

  .el-icon-error {
    color: #f56c6c;
  }

  .el-icon-empty-icon {
    background: #e6e6e6;
    width: 18px;
    height: 18px;
    border-radius: 9px;
  }
}
</style>
