/* Ui elements color*/
$--color-ui-element: #552b75;

.theme-eagle-eye {
  /* Top Nav */
  .top-nav {
    background: #552b75 !important;
  }

  .top-nav-logo img {
    height: 50px !important;
  }

  /* Top Nav Project Dropdown */
  .project-dropdown {
    background: #552b75 !important;
    border-right: 1px solid #1b0039 !important;
  }

  .project-dropdown:hover {
    background: #3c145b !important;
  }

  .dropdown-project .icon svg {
    color: #552b75 !important;
  }

  .project-dropdown.is-active {
    background: #3c145b !important;
  }

  .project-dropdown-menu .dropdown-project:hover {
    color: unset;
    background-color: #5f2e7938 !important;
  }

  /* Left Nav */
  .nav-menu {
    background-color: #1b0039 !important;
  }

  .nav-menu ul.active {
    background-color: #3c145b !important;
  }

  .nav-menu li.active {
    background-color: #3c145b !important;
  }

  .active-submenu {
    background-color: #3c145b !important;
  }

  .el-submenu.is-opened.level1.collapsedTopItemHover {
    background-color: #552b75 !important;
  }

  .nav-menu-ct .el-menu {
    background-color: #1b0039 !important;
  }

  .level2-submenu {
    background-color: #3c145b !important;
  }

  .collapse-section-header {
    background-color: #3c145b !important;
  }

  .collapse-ct {
    background-color: #1b0039 !important;
    border-top: 1px solid #3c145b !important;
  }

  li.el-menu-item.level2:hover {
    background-color: #552b75 !important;
  }

  li.el-menu-item.level2:focus  {
    background-color: #552b75 !important;
  }

  li.el-submenu.level1 > div.el-submenu__title:hover {
    background-color: #552b75 !important;
  }

  .el-submenu__title .icon svg {
    color: white !important;
  }

  .nav-menu-popup-ct {
    background-color: #3c145b !important;
  }

  .activeItemDashboard {
    background-color: #3c145b !important;
  }

  li.el-menu-item.dashboard-item:hover {
    background-color: #552b75 !important;
  }

  .activeItem {
    background-color: #552b75 !important;
  }

  .level2 .level3 {
    background-color: #3c145b !important;
  }

  .level2 .level3:hover {
    background-color: #552b75 !important;
  }

  /* Top Nav User Dropdown */
  .user-dropdown {
    background: #552b75 !important;
    border-left: 1px solid #3c145b !important;
  }

  .user-dropdown:hover {
    background: #3c145b !important;
  }

  .user-dropdown.is-active {
    background: #3c145b !important;
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: #5f2e7938 !important;
  }

  /* Buttons */

  /* Tertiary Button (has to be defined before the others to don't be overwritten)  */

  .el-button--default:hover {
    background-color: #552b75 !important;
    border-color: #552b75 !important;
    color: #ffffff !important;
  }

  .el-button--default:active {
    background-color: #552b75 !important;
    border-color: #552b75 !important;
    color: #ffffff !important;
  }

  .el-button--default.is-disabled,
  .el-button--default.is-disabled:hover {
    background-color: #552b75 !important;
    border-color: #552b75 !important;
    color: #ffffff !important;
  }

  /* Primary Button */
  .el-button--primary {
    background-color: #552b75 !important;
    border-color: #552b75 !important;
  }

  .el-button--primary:hover {
    background-color: #7228ab !important;
    border-color: #7228ab !important;
  }

  .el-button--primary:active {
    background-color: #552b75 !important;
    border-color: #552b75 !important;
  }

  /* Secondary Button */
  .el-message-box__btns .el-button--default:not(.el-button--primary), /* Secondary button for MessageBox */
  .el-button--primary.is-plain {
    background-color: white !important;
    color: #552b75 !important;
    border-color: #552b75 !important;
  }

  .el-message-box__btns .el-button--default:hover:not(.el-button--primary),
  .el-button--primary.is-plain:hover {
    background-color: #552b75 !important;
    border-color: #552b75 !important;
    color: #ffffff !important;
  }

  .el-message-box__btns .el-button--default:hover:not(.el-button--primary),
  .el-button--primary.is-plain:active {
    background-color: #552b75 !important;
    border-color: #552b75 !important;
    color: #ffffff !important;
  }

  /* ELEMENT UI */

  /* Pagination */
  .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #1b0039;
  }

  /* Radio */
  .el-radio__inner::after {
    background-color: $--color-ui-element !important;
  }

  .el-radio__input.is-checked .el-radio__inner {
    border-color: $--color-ui-element !important;
  }

  /* Switch */
  .el-switch.is-checked .el-switch__core {
    background-color: $--color-ui-element !important;
  }

  /* Tabs */
  .el-tabs__active-bar {
    background-color: $--color-ui-element !important;
  }

  .el-tabs__item:hover {
    color: $--color-ui-element !important;
  }

  /* Dashboard */

  .items-ct h3 {
    color: $--color-ui-element !important;
  }

  .old-dash-link a {
    color: $--color-ui-element !important;
  }

  .events-ct h1 {
    color: $--color-ui-element !important;
  }

  /* Page Layout */
  .tab-item.router-link-active {
    color: $--color-ui-element !important;
  }

  /* Rest */
  .actions-button-save {
    background-color: $--color-ui-element !important;
    border-color: $--color-ui-element !important;
  }

  .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: $--color-ui-element !important;
    border-color: $--color-ui-element !important;
  }

  >>> .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: $--color-ui-element !important;
  }

  .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: $--color-ui-element !important;
    border-color: $--color-ui-element !important;
  }
}
