<template>
  <div class="section">
    <div class="container">
      <facebook-message-preview :message="message"></facebook-message-preview>
    </div>
  </div>
</template>

<script>
import FacebookMessagePreview from '@/common/components/facebook/FacebookMessagePreview'

export default {
  name: 'FacebookPreviewSection',
  data() {
    return {
      message: {}
    }
  },
  components: {
    FacebookMessagePreview
  }
}
</script>

<style scoped>
.container {
  text-align: center;
}
</style>
