<template>
  <rest-form-page
    :page-title="pageTitle"
    :fetch-endpoint="fetchEndpoint"
    :save-endpoint="saveEndpoint"
    :after-save="afterSave"
    :readonly="readonly"
    :model="model"
    :rules="rules"
  >
    <template slot="form" v-if="model">
      <form-section>
        <el-row>
          <el-col :span="12">
            <rest-form-item prop="title" :label="$t('Tags_Field_Title')">
              <el-input v-model="model.title" :disabled="!isCreatePage" />
            </rest-form-item>

            <rest-form-item prop="name" :label="$t('Tags_Field_Name')">
              <el-input v-model="model.name" />
            </rest-form-item>

            <rest-form-item prop="alias" :label="$t('Tags_Field_Alias')">
              <el-autocomplete
                v-model="model.alias"
                :fetch-suggestions="aliasAutocomplete"
              />
            </rest-form-item>
          </el-col>

          <el-col :span="12">
            <rest-form-item prop="type" :label="$t('Tags_Field_Type')">
              <enum-select
                v-model="model.type"
                :options="TagTypeLabels"
                :number="true"
              />
            </rest-form-item>
          </el-col>

          <el-col :span="3">
            <rest-form-item
              v-if="profileEnabled"
              prop="attribute_profile"
              :label="$t('Tags_Field_AttributeProfile')"
            >
              <el-switch v-model="model.attribute_profile"></el-switch>
            </rest-form-item>

            <rest-form-item
              v-else
              prop="attribute_external"
              :label="$t('Tags_Field_AttributeExternal')"
            >
              <el-switch v-model="model.attribute_external"></el-switch>
            </rest-form-item>
          </el-col>

          <el-col :span="3">
            <rest-form-item
              prop="attribute_client"
              :label="$t('Tags_Field_AttributeClient')"
            >
              <el-switch v-model="model.attribute_client"></el-switch>
            </rest-form-item>
          </el-col>

          <el-col :span="3">
            <rest-form-item
              v-if="tagsIndexValue"
              prop="index_value"
              :label="$t('Tags_Field_IndexValue')"
            >
              <el-switch v-model="model.index_value"></el-switch>
            </rest-form-item>
          </el-col>
        </el-row>
      </form-section>
    </template>
  </rest-form-page>
</template>

<script>
import { TagTypeLabels } from '@/modules/tags/enum/TagTypeEnum'
import RestFormPage from '@/common/components/rest/RestFormPage'
import RestFormItem from '@/common/components/rest/RestFormItem'
import RestApi from '@/core/services/RestApi'
import FormSection from '@/common/components/form/FormSection'
import EnumSelect from '@/common/components/form/EnumSelect'
import { projectEndpoint, projectRoute } from '@/core/helpers'

export default {
  components: {
    RestFormPage,
    RestFormItem,
    FormSection,
    EnumSelect
  },

  props: {
    readonly: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data() {
    return {
      model: this.defaultModel(),
      TagTypeLabels
    }
  },

  computed: {
    pageTitle() {
      return this.$t(this.$route.meta.title)
    },

    fetchEndpoint() {
      if (this.$route.query.id) {
        return projectEndpoint({
          method: 'get',
          url: `tags/${this.$route.query.id}`,
          handler: data => {
            this.model = {
              ...data,
              title: data.name,
              name: data.display_name
            }
          }
        })
      } else {
        return null
      }
    },

    saveEndpoint() {
      if (this.$route.query.id) {
        return projectEndpoint({
          method: 'patch',
          url: `tags/${this.$route.query.id}`
        })
      } else {
        return projectEndpoint({
          method: 'post',
          url: `tags`
        })
      }
    },

    rules() {
      return {
        title: {
          required: true
        }
      }
    },

    isCreatePage() {
      return !this.$route.query.id
    },

    profileEnabled() {
      return this.$store.state.app.features.profileEnabled
    },

    tagsIndexValue() {
      return this.$store.state.app.features.tagsIndexValue
    }
  },

  methods: {
    defaultModel() {
      if (this.$route.query.id) {
        return null
      } else {
        return {}
      }
    },

    afterSave() {
      this.$router.push(
        projectRoute({
          name: 'TagList'
        })
      )
    },

    aliasAutocomplete(queryString, cb) {
      let tagId = this.$route.query.id
      RestApi(
        projectEndpoint({
          method: 'get',
          url: `tags`,
          params: {
            title: queryString,
            alias_id: 0
          }
        })
      ).then(({ data }) => {
        let list = data.reduce((arr, tag) => {
          if (tag.id !== tagId) {
            arr.push({ value: tag.name })
          }

          return arr
        }, [])

        cb(list)
      })
    }
  }
}
</script>
