<template>
  <rest-list-page :page-title="pageTitle" :fetch-endpoint="fetchEndpoint">
    <template slot="actions">
      <router-link :to="createRoute" v-if="!readonly">
        <el-button type="primary" icon="el-icon-plus">
          {{ $t('Tags_TagList_CreateTag') }}
        </el-button>
      </router-link>
    </template>

    <template slot="table">
      <rest-list-column
        prop="name"
        sort-field="title"
        filter-field="title"
        :title="$t('Tags_Field_Title')"
      ></rest-list-column>

      <rest-list-column
        prop="display_name"
        sort-field="name"
        filter-field="name"
        :title="$t('Tags_Field_Name')"
      ></rest-list-column>

      <rest-list-column
        prop="alias"
        :title="$t('Tags_Field_Alias')"
      ></rest-list-column>

      <rest-list-column-boolean
        prop="attribute_client"
        :title="$t('Tags_Field_AttributeClient')"
      ></rest-list-column-boolean>

      <rest-list-column-boolean
        v-if="profileEnabled"
        prop="attribute_profile"
        :title="$t('Tags_Field_AttributeProfile')"
      ></rest-list-column-boolean>

      <rest-list-column-boolean
        v-if="!profileEnabled"
        prop="attribute_external"
        :title="$t('Tags_Field_AttributeExternal')"
      ></rest-list-column-boolean>

      <rest-list-column-actions v-if="readonly">
        <template slot-scope="scope">
          <rest-list-action-view :route="rowViewRoute(scope.row)" />
        </template>
      </rest-list-column-actions>

      <rest-list-column-actions v-else>
        <template slot-scope="scope">
          <rest-list-action-update :route="rowUpdateRoute(scope.row)" />
          <rest-list-action-delete
            :endpoint="rowDeleteEndpoint(scope.row)"
            :name="scope.row.name"
          />
        </template>
      </rest-list-column-actions>
    </template>
  </rest-list-page>
</template>

<script>
import RestListPage from '@/common/components/rest/RestListPage'
import RestListColumn from '@/common/components/rest/RestListColumn'
import RestListColumnBoolean from '@/common/components/rest/RestListColumnBoolean'
import RestListColumnActions from '@/common/components/rest/RestListColumnActions'
import RestListActionUpdate from '@/common/components/rest/RestListActionUpdate'
import RestListActionDelete from '@/common/components/rest/RestListActionDelete'
import RestListActionView from '@/common/components/rest/RestListActionView'
import { projectEndpoint, projectRoute } from '@/core/helpers'

export default {
  components: {
    RestListPage,
    RestListColumn,
    RestListColumnBoolean,
    RestListColumnActions,
    RestListActionDelete,
    RestListActionUpdate,
    RestListActionView
  },

  computed: {
    pageTitle() {
      return this.$t(this.$route.meta.title)
    },

    createRoute() {
      return projectRoute({
        name: 'TagCreate'
      })
    },

    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `tags`,
        params: {}
      })
    },

    readonly() {
      return !this.$can('manageProjectTechnical')
    },

    profileEnabled() {
      return this.$store.state.app.features.profileEnabled
    }
  },

  methods: {
    rowViewRoute(row) {
      return projectRoute({
        name: 'TagView',
        query: { id: row.id }
      })
    },

    rowUpdateRoute(row) {
      return projectRoute({
        name: 'TagUpdate',
        query: { id: row.id }
      })
    },

    rowDeleteEndpoint(row) {
      return projectEndpoint({
        method: 'delete',
        url: `tags/${row.id}`
      })
    }
  }
}
</script>
