<template>
  <page>
    <page-content>
      <form-section title="Choose schedule">
        <recurrence-settings :model="model" :disabled="false" />
      </form-section>
    </page-content>
    {{ model }}
  </page>
</template>

<script>
import FormSection from '@/common/components/form/FormSection'
import RecurrenceSettings from '@/modules/automations/components/RecurrenceSettings'
import Page from '@/common/components/page/Page'
import PageContent from '@/common/components/page/PageContent'
export default {
  name: 'RecurrenceSettingsTest',
  components: { PageContent, Page, RecurrenceSettings, FormSection },
  data() {
    return {
      model: {
        frequency: 'monthly',
        day: 22,
        time: '9:22'
      }
    }
  }
}
</script>

<style scoped></style>
