<template>
  <el-dialog
    @close="close()"
    :title="$t('ProjectSettings_SaveFeaturesDialog_Title')"
    :visible.sync="display"
    :modal-append-to-body="false"
    width="400px"
    center
  >
    <div class="center" v-if="features.length">
      <p>{{ $t('ProjectSettings_SaveFeaturesDialog_Message') }}</p>
      <div class="m-top-10">
        <ul>
          <li v-for="item in features">
            {{ labels[item.name] }} -
            {{
              item.status
                ? $t('ProjectSettings_Encryption_Enabled')
                : $t('ProjectSettings_Encryption_Disabled')
            }}
          </li>
        </ul>
      </div>
    </div>
    <div class="center" :class="{ 'm-top-30': features.length }">
      <p>{{ $t('ProjectSettings_SaveFeaturesDialog_Question') }}</p>
    </div>

    <span slot="footer" class="dialog-footer">
      <el-button size="small" type="primary" plain @click="close()">
        {{ $t('ProjectSettings_Button_Cancel') }}
      </el-button>
      <el-button size="small" type="primary" @click="save()">
        {{ $t('ProjectSettings_Button_Confirm') }}
      </el-button>
    </span>
  </el-dialog>
</template>

<script>
export default {
  name: 'SaveFeaturesDialog',
  props: {
    save: {
      type: Function,
      required: true
    },
    features: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      display: true,
      labels: {
        push_encryption: this.$t('ProjectSettings_Field_Encryption'),
        push_delivery_receipts: this.$t(
          'ProjectSettings_Field_PushDeliveryReceipts'
        )
      }
    }
  },
  methods: {
    close() {
      this.$emit('close')
    }
  }
}
</script>

<style scoped>
>>> .el-dialog__footer {
  margin-top: -20px;
}

.center {
  text-align: center;
}
</style>
