<template>
  <page-stepped
    ref="stepper"
    :breadcrumbs="breadcrumbs"
    :title="title"
    :steps="steps"
    :model="model"
    :fetch-endpoint="fetchEndpoint"
    :save-endpoint="saveEndpoint"
    :after-save="afterSave"
    :rules="rules"
    :is-edit="isEditPage"
    :readonly="readonly"
  />
</template>
<script>
import PageStepped from '@/common/components/page/PageStepped'
import StepImportDataSource from '@/modules/imports/components/StepImportDataSource'
import StepImportDataMapping from '@/modules/imports/components/StepImportDataMapping'
import StepImportSchedule from '@/modules/automations/components/StepImportSchedule'
import { projectEndpoint, projectRoute, isValidUrl } from '@/core/helpers'
import { sourceTypesLabels } from '@/modules/imports/enum/ImportsEnum'
import RestApi from '@/core/services/RestApi'

export default {
  name: 'ImportFormPage',
  components: {
    PageStepped
  },
  data() {
    let validateUrl = (rule, value, callback) => {
      if (isValidUrl(value)) {
        callback()
      } else {
        callback(new Error(this.urlValidationMessage))
      }
    }
    let validateUserIdCol = (rule, value, callback) => {
      if (this.currentStepName === 'data_mapping') {
        if (value.some(e => e.attribute === 'user_id') === true) {
          callback()
        } else {
          this.$message({
            message: this.$t('Imports_Message_IdNotAssigned'),
            type: 'error'
          })
        }
      } else {
        callback()
      }
    }
    let validateAutomationName = (rule, value, callback) => {
      const automationId = this.$route.query.id ? this.$route.query.id : null
      let endpoint = projectEndpoint({
        method: 'get',
        url: `import-automations`,
        params: {
          name: value
        }
      })
      if (value !== '') {
        RestApi(endpoint)
          .then(({ data }) => {
            if (data.map(e => e.name).some(e => e === value) === false) {
              callback()
            } else {
              if (automationId !== null) {
                const matchingId = data.find(e => e.name === value).id
                if (matchingId === parseInt(automationId)) {
                  callback()
                } else {
                  callback(
                    new Error(`${value} ${this.automationValidationMessage}.`)
                  )
                }
              } else {
                callback(
                  new Error(`${value} ${this.automationValidationMessage}.`)
                )
              }
            }
          })
          .catch(error => {
            this.$message({
              message: error.message,
              type: 'error'
            })
          })
      }
    }
    return {
      sourceTypesLabels,
      model: this.defaultModel(),
      steps: [
        {
          name: 'data_source',
          title: this.$t('Automations_Tab_DataSource'),
          component: StepImportDataSource,
          completed: false,
          rules: {
            name: [
              {
                required: true,
                message: this.$t('RestForm_FieldIsRequired')
              },
              {
                validator: validateAutomationName
              }
            ],
            config: {
              columns: [
                {
                  type: 'array',
                  required: true,
                  message: this.$t('RestForm_SchemaIsRequired'),
                  min: 1
                },
                {
                  validator: validateUserIdCol
                }
              ]
            },
            source: {
              type: {
                required: true,
                message: this.$t('RestForm_FieldIsRequired')
              },
              integration_id: {
                required: true,
                message: this.$t('RestForm_FieldIsRequired')
              },
              url: [
                {
                  required: true,
                  message: this.$t('RestForm_FieldIsRequired')
                },
                {
                  validator: validateUrl
                }
              ],
              file_selection: {
                required: true,
                message: this.$t('RestForm_FieldIsRequired')
              },
              file_directory: {
                required: true,
                message: this.$t('RestForm_FieldIsRequired')
              },
              file_name: {
                required: true,
                message: this.$t('RestForm_FieldIsRequired')
              }
            }
          },
          props: {}
        },
        {
          name: 'data_mapping',
          title: this.$t('Automations_Tab_DataMapping'),
          component: StepImportDataMapping,
          completed: false,
          rules: {},
          props: {
            attributes: [],
            filterableAttributes: [
              'user_id',
              'email',
              'mobile_number',
              'whatsapp_number',
              'language',
              'timezone',
              'email_addressable',
              'email_subscription',
              'sms_addressable',
              'sms_subscription'
            ],
            integrations: {}
          }
        },
        {
          name: 'schedule',
          title: this.$t('Automations_Tab_Schedule'),
          component: StepImportSchedule,
          completed: false,
          rules: {},
          props: {}
        }
      ],
      urlValidationMessage: this.$t('RestForm_FieldInvalidUrl'),
      automationValidationMessage: this.$t('RestForm_FieldNameExists')
    }
  },
  mounted() {
    this.loadSourceEnum()
  },
  computed: {
    title() {
      return this.isEditPage
        ? this.model.name
        : this.$t('Automations_Title_CreateAutomation')
    },
    isEditPage() {
      return !!this.$route.query.id
    },
    fetchEndpoint() {
      return [
        this.fetchAutomationsEndpoint,
        this.sftpIntegrationsEndpoint,
        this.attributesEndpoint
      ]
    },
    fetchAutomationsEndpoint() {
      if (this.isEditPage) {
        return projectEndpoint({
          method: 'get',
          url: `import-automations/${this.$route.query.id}`,
          handler: data => {
            this.model = data
          }
        })
      } else {
        return null
      }
    },
    sftpIntegrationsEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `integrations`,
        params: {
          type: 'sftp'
        },
        handler: data => {
          this.$set(this.steps[0].props, 'integrations', data)
        }
      })
    },
    attributesEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `tags`,
        params: {
          sort: 'title',
          attribute_profile: 1
        },
        handler: data => {
          this.steps[1].props.attributes = data
        }
      })
    },
    saveEndpoint() {
      let method = this.isEditPage ? 'patch' : 'post'
      return projectEndpoint({
        method: method,
        url: this.isEditPage
          ? `import-automations/${this.model.id}`
          : `import-automations`
      })
    },

    breadcrumbs() {
      return [
        {
          label: this.$t('Automations_Breadcrumb_Data')
        },
        {
          label: this.$t('Automations_Breadcrumb_Automations')
        },
        {
          label: this.$t('Automations_Breadcrumb_Imports'),
          route: projectRoute({
            name: 'AutomationImports'
          })
        },
        { label: this.title }
      ]
    },
    rules() {
      return this.steps.reduce(
        (obj, item) => Object.assign(obj, item.rules),
        {}
      )
    },

    readonly() {
      return (
        !this.$can('manageProjectTechnical') ||
        this.$route.name === 'AutomationImportView'
      )
    },

    currentStepName() {
      return this.$refs.stepper.currentStep.name
    }
  },

  methods: {
    afterSave() {
      this.$router.push(
        projectRoute({
          name: 'AutomationImports'
        })
      )
    },

    defaultModel() {
      if (this.isEditPage) {
        return null
      } else {
        return {
          name: '',
          type: 'profiles',
          source: {
            type: ''
          },
          config: {
            columns: []
          },
          schedule: {
            frequency: 'daily',
            time: '00:00'
          },
          active: 1
        }
      }
    },

    loadSourceEnum() {
      let sources = Object.fromEntries(
        Object.entries(this.sourceTypesLabels).filter(
          ([key, value]) => key === 'fs'
        )
      )

      this.$set(this.steps[0].props, 'sources', sources)
    }
  }
}
</script>
<style scoped></style>
