<template>
  <form ref="form" onsubmit="return false">
    <div
      :id="containerID"
      class="use-deprecated-styles"
      :data-id="id"
      data-model-name="Segment"
      data-model-attribute="conditions"
      data-manage="1"
      data-sub-header-condition="1"
    >
      <section class="segmentsSection" v-if="templatesReady && editor">
        <div class="segmentsWrapper">
          <div class="segmentConditions" data-all-time="1">
            <input
              type="hidden"
              :name="`Segment[conditions][operator]`"
              :value="conditions.operator"
            />
            <el-row
              v-if="Object.keys(conditions).length === 1"
              style="width: 100%"
            >
              <el-col class="m-bottom-10 p-top-10" :offset="11" :span="11">
                <span class="no-data">
                  {{ $t('Audience_Segment_Form_NoConditions') }}
                </span>
              </el-col>
            </el-row>
            <template
              v-for="(condition, gLoop) in conditions"
              v-if="typeof condition !== 'string'"
            >
              <div class="conditionOuterWrapper">
                <div class="top-relation relation"></div>
                <div class="bottom-relation relation"></div>

                <div
                  class="conditionWrapper"
                  :class="[
                    condition === 'or' ? 'relations_or' : 'relations_and'
                  ]"
                  :data-number="gLoop"
                >
                  <input
                    type="hidden"
                    :name="`Segment[conditions][${gLoop}][operator]`"
                    :value="condition.operator"
                  />
                  <el-row
                    v-if="Object.keys(condition).length === 1"
                    style="width: 100%"
                  >
                    <el-col class="m-bottom-10" :offset="11" :span="11">
                      <span class="no-data">
                        {{ $t('Audience_Segment_Form_NoConditions') }}
                      </span>
                    </el-col>
                  </el-row>
                  <div
                    v-for="(subcondition, iLoop) in condition"
                    v-if="typeof subcondition !== 'string'"
                    :class="{
                      'no-delete': Object.keys(condition).length < 3
                    }"
                    :key="iLoop"
                    class="condition-row-wrapper"
                  >
                    <span
                      v-html="
                        renderTemplate(twigTemplates.conditionItem, {
                          modelName: 'Segment',
                          modelAttribute: 'conditions',
                          subcondition: subcondition,
                          model: editor.conditionEntity,
                          gLoop: gLoop,
                          iLoop: iLoop,
                          js: true,
                          preview: preview
                        })
                      "
                    ></span
                    ><span
                      v-if="!preview"
                      @click="removeConditionRow(gLoop, iLoop)"
                      class="remove-row"
                    ></span>
                    <div class="condition-button-wrapper">
                      <condition-button
                        v-model="condition.operator"
                        :readonly="preview"
                        :callback="rerender"
                        v-if="
                          condition.operator &&
                            getConditionLastKey(condition) > iLoop
                        "
                      />
                    </div>
                    <div
                      class="choices-container"
                      v-if="!preview"
                      :ref="'choices-container-' + gLoop + '-' + iLoop"
                      :tabindex="Math.floor(Math.random() * 100)"
                    >
                      <segment-category-selector
                        :menu-items="menuData"
                        :title="$t('Audience_Segment_Form_Category_Title')"
                        :selected="subcondition ? subcondition[0] : null"
                        :container.sync="
                          $refs['choices-container-' + gLoop + '-' + iLoop]
                        "
                        v-if="menuData && updateFinished"
                      />
                    </div>
                  </div>
                  <div class="addConditionRowWrapper" v-if="!preview">
                    <el-row>
                      <el-col :span="12">
                        <el-button
                          type="primary"
                          plain
                          class="addRowButton"
                          icon="el-icon-circle-plus-outline"
                          @click="addConditionRow(gLoop)"
                        >
                          {{ $t('Audience_Segment_Form_AddRow') }}
                        </el-button>
                      </el-col>
                      <el-col :span="12" v-if="!singleLevel">
                        <el-button
                          style="float: right"
                          type="danger"
                          plain
                          v-if="Object.keys(conditions).length > 2"
                          icon="el-icon-delete"
                          @click="removeConditionSection(gLoop)"
                        >
                          {{ $t('Audience_Segment_Form_RemoveSection') }}
                        </el-button>
                      </el-col>
                    </el-row>
                  </div>
                </div>
              </div>
              <div class="condition-button-wrapper">
                <condition-button
                  :key="gLoop"
                  :readonly="preview"
                  style="margin: 0 auto"
                  v-model="conditions.operator"
                  v-if="getConditionLastKey(conditions) > gLoop"
                />
              </div>
            </template>
          </div>
        </div>
        <span v-html="renderTemplate(twigTemplates.previewModal, {})"></span>
      </section>

      <el-row v-if="!preview && !singleLevel">
        <el-col>
          <el-button
            type="primary"
            class="addSectionButton"
            icon="el-icon-circle-plus-outline"
            @click="addConditionSection()"
            >{{ $t('Audience_Segment_Form_AddSection') }}
          </el-button>
        </el-col>
      </el-row>
    </div>
  </form>
</template>

<script>
import ConditionsEditor from '@/jquery/widgets/conditionsEditor'
import { baseUrl } from '@/core/helpers'
import { twig } from 'vendor/twig/twig'
import axios from 'axios'
import SegmentCategorySelector from '@/modules/audiences/components/SegmentCategorySelector'
import ConditionButton from '@/modules/audiences/components/ConditionButton'

export default {
  components: { ConditionButton, SegmentCategorySelector },
  props: {
    id: {
      required: false
    },
    conditions: {
      type: Object,
      required: true
    },
    preview: {
      type: Boolean,
      default: false
    },
    singleLevel: {
      type: Boolean,
      default: false
    },
    menu: {
      type: Object,
      default: null
    }
  },

  data() {
    return {
      editor: null,
      containerID: 'conditions-editor-' + new Date().getTime(),
      menuData: null,
      twigTemplates: {
        conditionHeader: {
          instance: null,
          name: 'condition-header'
        },
        conditionItem: {
          instance: null,
          name: 'condition-item'
        },
        previewModal: {
          instance: null,
          name: 'preview-modal'
        }
      },
      updateFinished: false
    }
  },

  computed: {
    templatesReady() {
      return (
        this.twigTemplates.conditionItem.instance !== null &&
        this.twigTemplates.conditionHeader.instance !== null
      )
    }
  },

  updated() {
    if (this.editor && this.templatesReady) {
      this.editor.initDOM()
    }
    this.updateFinished = true
  },

  mounted() {
    for (const template in this.twigTemplates) {
      this.loadTwigTemplate(this.twigTemplates[template])
    }

    this.$nextTick(function() {
      this.editor = new ConditionsEditor()
      this.editor.init(
        '#' + this.containerID,
        '/segment/segment/attribute-list-data'
      )

      axios
        .get('/segment/segment/attribute-list-data', {
          params: { project_id: this.$route.query.project_id }
        })
        .then(({ data }) => {
          this.menuData = this.menu || data.menu
          if (this.preview) {
            setTimeout(() => {
              $('input,select')
                .prop('readonly', true)
                .on('mousedown', e => {
                  e.preventDefault()
                })
            }, 100)
          }
        })
    })
  },

  methods: {
    rerender() {
      this.$forceUpdate()
    },

    loadTwigTemplate(segmentTemplate) {
      twig({
        href: `${baseUrl('/segment/views/segment/templates/')}${
          segmentTemplate.name
        }.twig`,
        async: false,
        load: function(template) {
          segmentTemplate.instance = template
        }
      })
    },

    renderTemplate(template, parameters) {
      return template.instance.render(parameters)
    },

    getConditionLastKey(conditions) {
      let maxKey = null
      for (const key of Object.keys(conditions)) {
        if (!isNaN(key)) {
          if (maxKey === null || key > maxKey) {
            maxKey = parseInt(key)
          }
        }
      }
      return maxKey
    },

    addConditionRow(key) {
      let conditions = this.conditions[key]
      let lastIndex = this.getConditionLastKey(conditions)
      let nextIndex = 0
      if (lastIndex !== null) {
        nextIndex = parseInt(lastIndex) + 1
      }
      conditions[nextIndex] = {}
      this.$forceUpdate()
      this.updateFinished = false
    },

    removeConditionSection(key) {
      delete this.conditions[key]
      this.$forceUpdate()
    },

    removeConditionRow(gLoop, iLoop) {
      if (
        this.getConditionLastKey(this.conditions[gLoop]) === 0 &&
        !this.singleLevel
      ) {
        delete this.conditions[gLoop]
      } else {
        delete this.conditions[gLoop][iLoop]
      }
      this.$forceUpdate()
    },

    addConditionSection() {
      let lastIndex = this.getConditionLastKey(this.conditions)
      let nextIndex = 0
      if (lastIndex !== null) {
        nextIndex = parseInt(lastIndex) + 1
      }
      this.conditions[nextIndex] = { '0': {}, operator: 'AND' }
      this.$forceUpdate()
      this.$nextTick(() => {
        this.rerender()
      })
    },

    serialize() {
      return $(this.$refs['form']).serializeJSON().Segment.conditions
    }
  }
}
</script>

<style scoped>
.addConditionRowWrapper {
  border-top: 1px solid #d9dada;
  padding: 14px 14px 5px;
}
.condition-button-wrapper {
  margin: 11px 20px;
}
.no-data {
  font-size: 14px;
}
.segmentsWrapper {
  border: 0 none !important;
}
.segmentConditions {
  padding: 0 !important;
}
.conditionOuterWrapper {
  padding: 0 !important;
  position: relative;
}
.addRowButton {
  font-weight: normal !important;
}
.addSectionButton {
  border: 1px solid #d9dada;
  background: #f8fafc;
  width: 100%;
  color: #1d87c8;
  font-weight: normal;
  height: 46px;
  margin-top: 20px;
}
>>> .no-delete .delete {
  display: none;
}
</style>
