<template>
  <el-dialog
    :visible="true"
    :close-on-click-modal="false"
    :modal-append-to-body="false"
    :title="$t('Audiences_Segment_DialogMembersExportAddAttributes_Title')"
    :before-close="onClose"
  >
    <attributes-list-draggable
      v-model="attributes"
      :profile-attributes="true"
    />
    <span slot="footer" class="dialog-footer">
      <el-button type="primary" plain @click="onClose">
        {{ $t('Audiences_Segment_Button_Cancel') }}
      </el-button>
      <el-button type="primary" @click="goToExport">
        {{ $t('Audiences_Segment_Button_Export') }}
      </el-button>
    </span>
  </el-dialog>
</template>

<script>
import { EventBus } from '@/core/EventBus'
import AttributesListDraggable from '@/modules/automations/components/AttributesListDraggable'
export default {
  name: 'MembersExportAddAttributesDialog',
  components: { AttributesListDraggable },
  data() {
    return {
      attributes: []
    }
  },
  methods: {
    onClose() {
      EventBus.$emit('export-members-add-attributes-hide')
    },
    goToExport() {
      EventBus.$emit('export-members-add-attributes-hide')
      EventBus.$emit('export-members-run-show', { attributes: this.attributes })
    }
  }
}
</script>
