<template>
  <div class="container">
    <el-card :body-style="containerStyles">
      <template v-if="type === 'size'">
        <div
          class="metric-container"
          v-if="$store.state.app.features.profileEnabled"
        >
          <p class="metric-title">
            {{ $t('Audiences_Segment_Metric_UserProfiles') }}
          </p>
          <p class="metric-value">{{ metrics.users || 0 }}</p>
        </div>
        <div class="metric-container" v-if="$store.state.app.features.iosPush">
          <p class="metric-title">
            {{ $t('Audiences_Segment_Metric_iOsDevices') }}
          </p>
          <p class="metric-value">{{ metrics.devices_ios_active || 0 }}</p>
        </div>
        <div
          class="metric-container"
          v-if="$store.state.app.features.androidPush"
        >
          <p class="metric-title">
            {{ $t('Audiences_Segment_Metric_AndroidDevices') }}
          </p>
          <p class="metric-value">{{ metrics.devices_android_active || 0 }}</p>
        </div>
        <div class="metric-container" v-if="$store.state.app.features.webPush">
          <p class="metric-title">
            {{ $t('Audiences_Segment_Metric_WebDevices') }}
          </p>
          <p class="metric-value">{{ metrics.devices_web_active || 0 }}</p>
        </div>
      </template>

      <template v-if="type === 'channel'">
        <div class="metric-container" v-if="$store.state.app.features.email">
          <p class="metric-title">
            {{ $t('Audiences_Segment_ChannelReach_EmailableUsers') }}
          </p>
          <p class="metric-value">{{ metrics.users_emailable || 0 }}</p>
        </div>
        <div class="metric-container" v-if="$store.state.app.features.sms">
          <p class="metric-title">
            {{ $t('Audiences_Segment_ChannelReach_SmsUsers') }}
          </p>
          <p class="metric-value">{{ metrics.users_sms || 0 }}</p>
        </div>
        <div
          class="metric-container"
          v-if="$store.state.app.features.androidPush"
        >
          <p class="metric-title">
            {{ $t('Audiences_Segment_ChannelReach_AndroidPushable') }}
          </p>
          <p class="metric-value">
            {{ metrics.devices_android_pushable || 0 }}
          </p>
        </div>
        <div class="metric-container" v-if="$store.state.app.features.iosPush">
          <p class="metric-title">
            {{ $t('Audiences_Segment_ChannelReach_iosPushable') }}
          </p>
          <p class="metric-value">{{ metrics.devices_ios_pushable || 0 }}</p>
        </div>
        <div class="metric-container" v-if="$store.state.app.features.webPush">
          <p class="metric-title">
            {{ $t('Audiences_Segment_ChannelReach_WebPushable') }}
          </p>
          <p class="metric-value">{{ metrics.devices_web_pushable || 0 }}</p>
        </div>
      </template>
    </el-card>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      required: true,
      type: String
    },
    metrics: {
      required: true,
      type: Object
    }
  },
  data() {
    return {
      containerStyles: {
        display: 'flex',
        flexDirection: 'row',
        padding: '0',
        flexFlow: 'row wrap'
      }
    }
  }
}
</script>

<style scoped>
.metric-container {
  width: 168px;
  background: #f8fafc;
  border-radius: 4px;
  flex: none;
  order: 0;
  align-self: flex-start;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.metric-title {
  font-size: 12px;
  line-height: 18px;
  color: #7e8596;
}
.metric-value {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #4b515f;
}
.container {
  padding: 0 20px 20px 20px;
}
</style>
