<template>
  <el-dropdown trigger="click" @command="handleActions">
    <el-button type="primary" plain icon="el-icon-refresh-right">
      {{ $t('Audiences_Segment_Dropdown_Evaluate') }}
      <i class="el-icon-arrow-down el-icon--right" />
    </el-button>
    <el-dropdown-menu slot="dropdown">
      <el-dropdown-item command="calculateSize" icon="el-icon-user">
        {{ $t('Audiences_Segment_Action_CalculateSize') }}
      </el-dropdown-item>

      <el-dropdown-item command="channelsReach" icon="el-icon-s-promotion">
        {{ $t('Audiences_Segment_Action_ChannelsReach') }}
      </el-dropdown-item>

      <el-dropdown-item
        command="usersPreview"
        icon="el-icon-view"
        v-if="$can('UserData::PersonalDataAccess')"
      >
        {{ $t('Audiences_Segment_Action_MembersPreview') }}
      </el-dropdown-item>

      <el-dropdown-item
        command="exportMembers"
        icon="el-icon-download"
        v-if="$can('UserData::PersonalDataAccess')"
      >
        {{ $t('Audiences_Segment_Action_Export_Members') }}
      </el-dropdown-item>
    </el-dropdown-menu>
  </el-dropdown>
</template>

<script>
import { EventBus } from '@/core/EventBus'
export default {
  props: {
    segment: {
      required: true,
      type: Object
    }
  },
  methods: {
    handleActions(action) {
      switch (action) {
        case 'calculateSize':
          EventBus.$emit('calculate-size-show')
          break
        case 'usersPreview':
          EventBus.$emit('members-preview-show')
          break
        case 'channelsReach':
          EventBus.$emit('channels-reach-show')
          break
        case 'exportMembers':
          EventBus.$emit('export-members-show')
          break
      }
    }
  }
}
</script>
