<template>
  <rest-form-page
    :page-title="pageTitle"
    :fetch-endpoint="fetchEndpoint"
    :save-endpoint="saveEndpoint"
    :after-save="afterSave"
    :model="model"
    :rules="rules"
    :readonly="false"
  >
    <template slot="form" v-if="model">
      <form-section>
        <el-row>
          <el-col :span="12">
            <rest-form-item :label="$t('List_Field_Name')" prop="name">
              <el-input
                v-model="model.name"
                :placeholder="$t('List_Field_Name')"
              />
            </rest-form-item>
          </el-col>

          <el-col :span="12">
            <rest-form-item
              :label="$t('List_Field_Identifier')"
              prop="identifier"
            >
              <enum-select
                v-model="model.identifier"
                :placeholder="$t('List_Field_Identifier')"
                :options="identifierList"
              />
            </rest-form-item>
          </el-col>
        </el-row>
      </form-section>
    </template>
  </rest-form-page>
</template>

<script>
import RestFormPage from '@/common/components/rest/RestFormPage'
import RestFormItem from '@/common/components/rest/RestFormItem'
import FormSection from '@/common/components/form/FormSection'
import EnumSelect from '@/common/components/form/EnumSelect'
import { projectEndpoint } from '@/core/helpers'
import { listIdentifierLabel } from '@/modules/lists/enum/ListRecordEnums'
import { validateIdentifier } from '@/modules/lists/utils'
import _ from 'lodash'

export default {
  components: {
    EnumSelect,
    FormSection,
    RestFormItem,
    RestFormPage
  },
  props: {
    listId: {
      type: [Number, null],
      required: false
    },
    afterSave: {
      type: Function
    }
  },
  data() {
    return {
      model: this.defaultModel(),
      listIdentifierLabel
    }
  },

  computed: {
    fetchEndpoint() {
      if (!this.isCreatePage) {
        return projectEndpoint({
          method: 'get',
          url: `lists/${this.listId}`,
          handler: data => {
            this.model = data
          }
        })
      } else {
        return null
      }
    },

    saveEndpoint() {
      if (!this.isCreatePage) {
        return projectEndpoint({
          method: 'patch',
          url: `lists/${this.listId}`
        })
      } else {
        return projectEndpoint({
          method: 'post',
          url: `lists`
        })
      }
    },

    rules() {
      return {
        name: {
          required: true
        },
        identifier: {
          required: true
        }
      }
    },

    pageTitle() {
      return this.isCreatePage
        ? this.$t('Lists_SuppressionListForm_CreateTitle')
        : this.$t('Lists_SuppressionListForm_UpdateTitle')
    },
    isCreatePage() {
      return !this.listId
    },

    features() {
      return this.$store.state.app.features || {}
    },

    identifierList() {
      const filtered = Object.keys(this.listIdentifierLabel).filter(key =>
        validateIdentifier(key, this.features)
      )
      return _.pick(this.listIdentifierLabel, filtered)
    }
  },

  methods: {
    defaultModel() {
      if (this.listId) {
        return null
      } else {
        return {
          suppress: 1
        }
      }
    }
  }
}
</script>
