<template>
  <rest-form-page
    :page-title="$t('Lists_ListItems_CreateTitle')"
    :fetch-endpoint="fetchEndpoint"
    :page-subtitle="pageSubtitle"
    :after-save="afterSave"
    :save-endpoint="saveEndpoint"
    :model="model"
    :rules="rules"
    :readonly="false"
  >
    <template slot="form" v-if="model">
      <form-section>
        <el-row>
          <el-col>
            <rest-form-item :label="$t('ListItem_Field_Value')" prop="value">
              <el-input
                v-model="model.value"
                :placeholder="$t('ListItem_Field_Value')"
              />
            </rest-form-item>
          </el-col>
        </el-row>
      </form-section>
    </template>
  </rest-form-page>
</template>

<script>
import RestFormPage from '@/common/components/rest/RestFormPage'
import RestFormItem from '@/common/components/rest/RestFormItem'
import FormSection from '@/common/components/form/FormSection'
import { projectEndpoint } from '@/core/helpers'

export default {
  components: {
    FormSection,
    RestFormItem,
    RestFormPage
  },
  props: {
    listId: {
      required: true
    },
    afterSave: {
      type: Function
    }
  },
  data() {
    return {
      model: this.defaultModel(),
      label: null
    }
  },

  computed: {
    pageSubtitle() {
      return this.label
    },
    fetchEndpoint() {
      if (this.$route.query.list_id) {
        return projectEndpoint({
          method: 'get',
          url: `lists/${this.listId}`,
          handler: data => {
            this.model.list_id = data.id
            this.label = data.name
          }
        })
      } else {
        return null
      }
    },
    saveEndpoint() {
      return projectEndpoint({
        method: 'post',
        url: `lists/${this.listId}/items`
      })
    },
    rules() {
      return {
        value: {
          required: true
        }
      }
    }
  },

  methods: {
    defaultModel() {
      return {}
    }
  }
}
</script>
