<template>
  <div class="webhook-preview-section">
    <div class="webhook-preview">
      <webhook-preview :message="message"></webhook-preview>
    </div>
  </div>
</template>

<script>
import WebhookPreview from './WebhookPreview'

export default {
  name: 'WebhookPreviewSection',
  components: {
    WebhookPreview
  },
  data() {
    return {
      message: {}
    }
  }
}
</script>

<style scoped>
.webhook-preview {
  width: 300px;
  margin: 25px auto;
}
</style>
