.usagePlans .usage {
    background: #ffffff;
    border: 1px solid #c2c4c6;
}
.usagePlans .usage_title {
    border-bottom: 1px solid #c2c4c6;
}
.usagePlans .current_plan {
    font: 16px/40px 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 0 10px;
    float: left;
}
.usagePlans .usage_title span {
    color: #4b5364;;
}
.usagePlans .addons {
    float: left;
    margin-left: 20px;
    font: 16px/40px 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.usagePlans .addon {
    margin-left: 12px;
    float: left;
}
.usagePlans .addon label {
    font: 13px/40px 'Open Sans' !important;
    text-transform: none;
    margin-left: 0;
}
.usagePlans .usage_info {
    padding: 10px;
}
.usagePlans .usage_info table {
    width: 100%;
    table-layout: fixed;
    font-size: 15px;
}
.usagePlans .usage_info span {
    color: #4b5364;
    display: block;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 2px;
}


.usagePlans .plans_wrapper {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 40px;
}
.usagePlans .plans {
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px 0;
}
.usagePlans .plans td {
    vertical-align: top;
    background: #ffffff;
    border-left: 1px solid #c2c4c6;
    border-right: 1px solid #c2c4c6;
}
.usagePlans .plan {
    background: #ffffff; /* #7e98a9 */
    padding: 5px 0 5px 0;
    text-align: center;
    position: relative;
}
.usagePlans .plan_tr_info td {
    border-top: 1px solid #c2c4c6;
}
.usagePlans .plan_tr_buttons td {
    border-bottom: 1px solid #c2c4c6;
    padding-top: 0;
}
.usagePlans .plan_tr_buttons .plan {
    padding-top: 3px;
    padding-bottom: 8px;
}
.usagePlans .plan_title {
    font: 16px/36px 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.usagePlans .plan_price {
    font: 20px/50px 'Open Sans', sans-serif;
    background: #f3f4f5;
}
.usagePlans .plan_description {
    text-align: center;
    padding-top: 4px;
}
.usagePlans .plan_description p {
    font: 14px/20px 'Open Sans' !important;
    border-bottom: 1px dotted #f3f4f5;
    display: block;
    padding: 4px 10px;
}
.usagePlans .plan_description i {
    font-size: 12px !important;
}
.usagePlans .plan_button_ph {
    line-height: 40px;
    font-size: 13px;
    text-transform: uppercase;
    white-space: nowrap;
}
.usagePlans .plan_trial {
    position: absolute;
    top: 49px;
    right: 7px;
    font-size: 15px;
}

.cardFormWrapper {
    margin-top: 10px;
}
.cardForm .cardMonth {
    width: 50px !important;
    margin-right: 10px !important;
}
.cardForm .cardYear {
    width: 80px !important;
    margin-right: 20px !important;
}
.cardForm .cardCvv {
    width: 80px !important;
}
.cardForm .cardExpirationWrapper {
    float: left;
}
.cardForm .cardCvvWrapper {
    float: left;
}
.cardForm .cardButtonWrapper {
    float: right;
}
.cardForm .cardButtonWrapper input {
    margin-top: -1px;
}
.cardForm .cardInfo p {
    margin-bottom: 14px;
    margin-top: 10px;
    font-size: 15px;
}
.cardForm .cardStripe {
    height: 38px;
    margin-top: 0px;
    opacity: 0.6;
}



.subscription {
    background: #ffffff;
    border: 1px solid #c2c4c6;
}
.subscription .subscription_title {
    border-bottom: 1px solid #c2c4c6;
}
.subscription .subscription_plan {
    font: 16px/40px 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 0 10px;
}
.subscription .subscription_title span {
    color: #4b5364;;
}
.subscription .addons {
    font: 16px/30px 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.subscription .addon {
    margin-left: 12px;
}
.subscription .addon label {
    font: 13px/30px 'Open Sans' !important;
    text-transform: none;
    margin-left: 0;
}
.subscription .subscription_addons {
    padding: 10px;
}