
/* SELECTOR BOX */
#chartSelectors {
    position:relative;
    border: 1px solid #d9dada;
    padding: 8px;
    background: #fff;
}
#chartSelectors.typeweb {
    text-align: center;
}
.chartSelectorsStatus {
    background: #fff;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #d9dada;
    border-top: 0 none;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.chartSelectorsStatusDop {
    background: #fff;
    margin-bottom: 0;
    border-bottom: 0 none;
    border-top: 1px solid #d9dada;
}

.dashboard-switcher {
  margin-top: 2px;
  float:right;
  font-size: 12px;
  display: none;
}

.dashboard-switcher a:hover {
  color: #1d87c8;
}

.date-selector {
    float:right;
    font:12px/25px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #6B6B6B;
    overflow:auto;
    user-select:none;
}
.typeweb .date-selector {
    float: none;
    display: inline-block;
}
.date-selector .button {
    cursor:pointer;
    user-select:none;
    background-color:#fff;
    float:left;
    padding:4px 10px;
    padding-top:3px;
    border:1px solid #c2c4c6;
    border-right: 0px;
    height: 32px;
    font-size: 12px;
    color: #82858b;
    overflow: hidden;
}
.date-selector .button:last-child, .date-selector .button:last-of-type {
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border-right: 1px solid #c2c4c6;
}

.date-selector .button.active, .date-selector>.calendar.active, .date-selector>.calendar.active:before {
    background-color:#32404d !important;
    color:#FFF !important;
    border-color: #4b5364;
}
.date-selector .button.active i:before, .date-selector > .calendar.active i:before {
    color:#FFF !important;
}
.date-selector .button:hover:not(.active) {
    background-color: #f2f2f2;
}
.date-selector>.calendar {
    background-color:#fff;
    color: #6B6B6B;
    line-height: 30px;
    font-size: 14px;
    cursor:pointer;
    text-align: center;
    border: 1px solid #c2c4c6;
    float:left;
    border-radius:4px;
    margin-right:10px;
    width: 32px;
    height: 32px;
}
.date-selector>.calendar:hover:not(.active) {
    background-color: #f2f2f2;
}
.date-selector.device-selector {
    float: left;
    margin-right: 10px;
}
.date-selector .button:nth-child(4), .date-selector.device-selector .button:first-child {
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}
.date-selector.device-selector .button:nth-child(3), .date-selector.device-selector .button:last-child {
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}
.date-selector.disabled {
    position: relative;
    opacity: 0.5;
}
.date-selector.disabled .button, .date-selector.disabled>.calendar {
    cursor: default;
}
.date-selector.disabled .button:hover, .date-selector.disabled>.calendar:hover {
    background-color: #E0E0E0;
}

.date-picker-period {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    top: 60px;
}
[data-fixed="1"] .date-picker-period {
    right: 0;
}
.date-picker-period .ui-widget-content {
    border: 0px;
}
.date-picker-period .button {
    border-radius: 4px;
}
.date-picker-period .ui-datepicker .ui-datepicker-header {
    background: #f2f2f2;
    border: 0px;
    border-radius: 0px;
}
.date-picker-period .ui-datepicker-inrange a {
    background: #627ed9 !important;
    color: #fff;
}
.date-picker-period .button:hover:not(.active) {
    background-color: #f2f2f2;
}

/* COMMON ANALYTICS STUFF */
.graphContainer {
    margin-bottom: 12px;
    width: 100%;
    border: 1px solid #dddddd;
    background: #fff;
}
.graphWrapper {
    width: 100%;
    height: auto;
    position: relative;
}
.graph {
    position:relative;
    width: 100%;
    height: 320px;
    padding: 20px 10px 10px 10px;
    text-align: center;
    border-top: 1px solid #dddddd;
}
.graph.googleMaps {
    height: 485px;
}
.googleMaps .mapLegendContainer {
    background: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    margin: 10px;
    padding: 5px;
}
.googleMaps .mapLegend {
    width: 120px;
}
.googleMaps .mapLegendItem {
    padding: 5px;
    text-align: left;
    cursor: pointer;
}
.googleMaps .mapLegendItem:hover {
    background: #F8F8F8;
}
.googleMaps .mapLegendItem.disabled {
    opacity: 0.3;
}
.googleMaps .mapLegendItem .levelColor {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
}
.graph text {}
.graphTitle {
    font: 17px/46px 'Open Sans', sans-serif;
    height: 46px;
    padding-left: 10px;
    background: #fff;
    color: #32404d;
}
.graphTitle a {
    float: left;
    margin-right: 6px;
}

.graphWrapper .options {
    float: right;
    height: 100%;
    font-size: 0;
}
.graphWrapper button {
    padding: 4px 6px;
    margin-top: 9px;
    border: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
    width: 26px;
    color: #82858b;
    background: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}
.graphWrapper .graphType, .graphWrapper .opt2, .graphWrapper .opt2Table {
    background: #fff;
    border: 1px solid #c2c4c6;
    margin: 0;
    font-size: 13px;
}
.graphWrapper .graphTypeFirst {
    border-radius: 4px 0 0 4px;
    margin-left: 4px;
}
.graphWrapper .graphTypeLast {
    border-radius: 0 4px 4px 0;
    margin-right: 8px;
}
.graphWrapper .graphTypeFirst.graphTypeLast {
    border-radius: 4px !important;
}
.graphWrapper .graphType.active, .graphWrapper .graphType.active:before {
    background-color: #32404d !important;
    color: #FFF !important;
    border-color: #4b5364;
}
.graphWrapper .graphType:hover {
    background: #fff;
}
.graphWrapper .graphType:hover:not(.active), .graphWrapper .opt2:hover, .graphWrapper .opt2Table:hover {
    background-color: #f2f2f2;
}
.graphWrapper .opt2, .graphWrapper .opt2Table {
    width: 35px;
    font-size: 15px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 9px;
}
.graphWrapper .graphLine, .graphWrapper .graphBar {
    width: 50px;
    font-size: 15px;
}
.graphWrapper .graphModifierSelect {
    margin-right: 10px;
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
}

.graphWrapper .placeholder {
    position: absolute;
    text-align: center;
    line-height: 20px;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: 13px;
}

.graphChoice {
    width: 100%;
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}
.choiceWrapper {
    display: inline-block;
    border-right: 1px solid #cfd1d4;
    box-sizing: content-box;
    position: relative;
}
.choiceTitle {
    height: 32px;
    background: #f3f4f5;
    border-top: 1px solid #cfd1d4;
    border-bottom: 1px solid #cfd1d4;

    font: 12px 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 32px;
}
.choiceWrapper:last-child {
    border-right: 0 none;
}
.choiceColor {
    height: 8px;
    line-height: 8px;
}
.choiceValue {
    font: 28px 'Open Sans', sans-serif;
    text-align: center;
    line-height: 56px;
}
.choiceProgress {
    position: absolute;
    top: 45px;
    right: 10px;
}

.progressIcon {
    text-align: center;
    display: inline-block;
}
.progressIcon.progressUp {
    color: green;
}
.progressIcon.progressDown {
    color: #cd301b;
}
.progressIcon.progressNone {
    color: #c0bcbc;
}
.progressIcon .progressImg {
    font-size: 26px;
}
.progressIcon .progressValue {
    font-size: 10px;
    margin-top: -10px;
}
.progressIcon .progressValue i {
    margin-top: -6px;
    display: block;
}
.progressIcon .progressUnd {
    font-size: 26px;
    position: absolute;
    margin-top: -8px;
}


/* ANALYTICS OVERVIEW PAGE */
.menuDevice {
    position:relative;
    width:100%;
    height:140px;
    margin:0;
    background:#f2f2f2;
    border: 1px solid #dddddd;
    border-bottom: 0 none;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
}
.menuDevice .titleMenuDevice {
    position:relative;
    width:100%;
    height:auto;
    padding:14px 0 10px;
    font: 12px 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.menuDevice ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 33.3%;
    border-right: 2px solid #e6e6e6;
    vertical-align: top;
    box-sizing: content-box;
}
.menuDevice ul li a {
    position: relative;
    text-align: center;
    color: #888;
    width: 100%;
    height: 139px;
    display: block;
    border-bottom: 1px solid #dddddd;
}
.menuDevice ul li a.active {
    background: #fff;
    color: #32404d;
    border-bottom: 1px solid #fff;
}
.menuDevice ul li a.active > span {
    display: none;
    background: #fff;
    width: 20px;
    height: 20px;
    border: 1px solid #e6e6e6;
    border-left: 0px;
    border-top: 0px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -10px;
}
.menuDevice ul li:last-child {
    border-right: 0 none;
    padding-right: 2px;
}
.menuDevice ul li .fotterDevice {
    font: 28px 'Open Sans', sans-serif;
    line-height: 42px;
    border-top: 1px solid #ebebeb;
    margin: 12px 12px 0 12px;
}
.menuDevice ul li .imgDevice {
    height: 43px;
    font-size: 42px;
    margin-top: -8px;
    margin-bottom: 20px;
}
.menuDevice ul li :not(.active) .imgDevice:before {
    color: #888;
}
.menuDevice ul li:hover :not(.active) .imgDevice:before, .menuDevice ul li:hover .fotterDevice, .menuDevice ul li:hover .titleMenuDevice {
    color: #32404d;
}
.menuDevice ul li .progressIcon {
    position: absolute;
    left: 50%;
    margin-left: 20px;
    top: 37px;
}
.menuDeviceWeb ul li {
    width: 33.33% !important;
}

.menuDeviceCombined ul li {
    width: 12.4% !important;
}

.rangeStatus {
    padding: 14px 14px;
    background: #fff;
    border: 1px solid #e6e6e6;
    font:12pt/30pt 'Open Sans', sans-serif;
    height: 180px;
    position: relative;
}
.rangeStatus > span {
    display: none;
    position:relative;
    float:left;
    margin:0 15px;
}
.rangeStatus ul li {
    font: 18px 'Open Sans', sans-serif;
    white-space: nowrap;
}
.rangeStatus .ico {
    position: absolute;
    top: 5px;
    left: -53px;
    font-size: 18px;
    font-style: normal;
    width: 56px;
    text-align: center;
}
.rangeStatus ul li ul {
    position:relative;
    height:auto;
    margin: 10px -25px 0 0;
}
.rangeStatus ul li ul li {
    position: relative;
    margin-left: 45px;
    font: 12px/26px 'Open Sans', sans-serif;
    text-transform: uppercase;
    background:transparent;
    padding:0px;
    border-bottom: 1px solid #e6e6e6;
    color: #6e6e6e;
}
.rangeStatus ul li ul li:last-child {
    border-bottom: 0px;
}
.rangeStatus  ul li ul li span{
    margin: 0 16px 0 0;
    border: none;
    font: 19px/36px 'Open Sans', sans-serif;
    position: relative;
}

.averageJoe ul ul {
    width: 100%;
}
.averageJoe ul li ul li {
    text-transform: none;
    font: 12px/29px 'Open Sans', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.averageJoe ul li > span {
    margin-left: 40px;
}
.averageJoe .stashInfo {
    font: 14px/29px 'Open Sans', sans-serif;
    margin-top: 15px;
    margin-left: 40px;
}
.averageJoe .joeIcon {
    position: absolute;
    top: 12px;
    left: 8px;
    width: 36px;
    height: 30px;
    background: url(../../img/icon/guy.svg) top center no-repeat;
}
.averageJoe .joeFlag {
    position: absolute;
    top: 12px;
    left: 8px;
    z-index: 999;
    background: #fff;
    padding-top: 6px;
}
.averageJoe .joeFlag i {
    width: 12px;
    height: 8px;
    display: block;
}
.averageJoe .joeFlag.noCountry {
    width: 12px;
    height: 20px;
}

.overviewPage .graphContainer {
    border-top: 0 none;
}

.overviewPage .splitColumns.statusWeb {
    clear: both;
    padding-top: 12px;
}

/* OTHER ANALYTICS PAGES */
.platformsChart .graph {
    height: 300px;
}
.countriesChart .graphWrapper {
    padding-bottom: 40px;
}

.pushCampaignsTable td {
    vertical-align: middle;
}
.pushCampaignsTable .campaignTitle {
    text-transform: capitalize;
    line-height: 18px;
    margin-top: 4px;
}
.pushCampaignsTable .campaignText {
    margin-top: 3px;
    line-height: 18px;
}
.pushCampaignsTable .campaignTime {
    font-size: 10px;
    color: #666666;
    line-height: 18px;
    margin-top: -2px;
}
.table table td.campaignOptions {
    text-align: center;
}
.pushCampaignsTable input[type=checkbox] {
    margin-left: 5px;
}

/* countries legend */
.countriesChart .jvectormap-legend {
    background: #fff;
    color: #555;
    padding: 15px;
}
.countriesChart .jvectormap-legend-tick {
    text-align: left;
    margin-bottom: 2px;
}
.countriesChart .jvectormap-legend-tick-sample {
    margin-right: 5px;
}

.funnel-stage {
    width: 500px;
    margin: 0 auto;
    position: relative;
    padding: 30px 0;
    height: 118px;
}

.funnel-stage:first-child {
    padding-top: 60px;
    height: 148px;
}

.funnel-stage .line {
    border-right: 2px solid #ddd;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 50%;
}

.funnel-stage.end-stage {
    padding-bottom: 10px;
    height: 68px;
}

.funnel-stage.end-stage:after {
    content: '.';
    font-size: 122px;
    color: #ddd;
    position: absolute;
    bottom: -35px;
    left: 235px;
    font-family: 'Open Sans', sans-serif;
}

.funnel-stage .event-holder {
    position: relative;
    left: -236px;
    padding: 10px;
    background: #eee;
    display: inline-block;
    width: 340px;
    font-family: 'Open Sans', sans-serif;
    height: 56px;
}

.funnel-stage-edit .event-holder {
    height: 84px;
}

.funnel-stage .event-holder span {
    display: inline-block;
    background: #4b5364;
    width: 40px;
    height: 56px;
    position: absolute;
    left: -40px;
    top: 0px;
    color: #fff;
    font: 24px/56px 'Open Sans', sans-serif;
}

.funnel-stage-edit .event-holder span {
    height: 84px;
    font: 24px/84px 'Open Sans', sans-serif;
}

.funnel-stage .event-holder input[type="text"] {
    width: 314px;
}

.funnel-graph {
    height: auto;
    padding: 0px;
    padding-bottom: 40px;
}

.funnel-stage .icon-cancel {
    position: absolute;
    bottom: 45px;
    right: 160px;
    padding: 6px;
    background: #4b5364;
    color: #fff;
    font-size: 18px;
}

.funnel-stage .icon-cancel:hover {
    background: #989a9c;
}

.funnel-stage .icon-cancel:after {
    content: '';
    border-top: 1px solid #eee;
    width: 64px;
    position: absolute;
    top: 16px;
    left: -64px;
}

.funnel-stage .event-holder:after {
    content: '';
    border-top: 1px solid #eee;
    width: 103px;
    position: absolute;
    top: 27px;
    right: -100px;
}

.funnel-stage .center-icon {
    position: absolute;
    bottom: 39px;
    left: 230.5px;
    padding: 9px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    line-height: 22px;
    text-align: center;
    z-index: 2;
    font-size: 20px;
}

.funnel-stage .center-icon.icon-plus {
    cursor: pointer;
    text-indent: -2.5px;
    line-height: 21px;
}

.funnel-stage .center-icon.icon-plus:hover {
    background: #eee;
}

.funnelsChart .graphBar {
    border-radius: 4px;
}

.funnelsChart .graphTitle span {
    cursor: pointer;
}

.funnelsChart .graphTitle a {
    color: #464646;
    font-size: 12px;
    position: relative;
    top: -8px;
    left: -10px;
}

.event-holder ul, .input ul {
    position: absolute;
    max-height: 200px;
    overflow: auto;
    z-index: 5;
    display: none;
    overflow-x: hidden;
    top: 48px;
}

.input ul {
    margin-left: 10px;
    border: 1px solid #c2c4c6;
    margin-top: -1px;
}

.event-holder ul li, .input ul li {
    padding: 10px;
    text-align: left;
    width: 193px;
    background: #eee;
    border-bottom: 1px solid #dadada;
    cursor: pointer;
    font-size: 15px;
}

.input ul li {
    width: 191px;
}

.input ul li {
    background: #fff;
}

.event-holder ul li:last-child, .input ul li:last-child {
    border: 0px;
}

.event-holder ul li:hover {
    background: #f2f2f2;
}

.funnelsChart {
    position: relative;
}

.funnel_name-holder {
    position: absolute;
    top: 47px;
    left: 0px;
    display: none;
    padding: 10px 0;
    background: #eee;
    z-index: 5;
}

.funnelsChart .funnel_name-holder button.graphBar  {
    border-radius: 0px;
    background: #fff;
    height: 38px;
    margin-left: -6px;
    border: 1px solid #c2c4c6;
}

 .funnel_name-holder button.graphBar:hover {
    background: #f2f2f2 !important;
}

.funnelsTable .checkboxHeader {
    width: 36px !important;
}

.funnels-info {
    background: #edeeef;
    height: 73px;
    border-bottom: 1px solid #dedede;
}

.funnels-info div {
    width: 50%;
    float: left;
    border-right: 1px solid #ccc;
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.funnels-info div:last-child {
    border: 0px;
    margin-right: -1px;
}

.funnels-info  .funnels-users {
    margin-left: 1px;
}

.event-holder i {
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    padding: 0 10px 0 0;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    display: inline-block;
    overflow-x: hidden;
}

.event-holder i em {
    font-size: 12px;
    position: relative;
    top: -3px;
}

.funnel-stage_info {
    position: absolute;
    right: -100px;
    top: 42px;
    width: 280px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.funnel-stage:first-child .funnel-stage_info {
    top: 72px;
}

.funnel-stage_info-bar {
    height: 30px;
    background: #4b5364;
    margin-bottom: 15px;
    position: relative;
}

.funnel-stage_info-bar:before {
    content: '';
    position: absolute;
    border-top: 1px solid #4b5364;
    width: 74px;
    top: 15px;
    left: -74px;
}

.funnel-stage_info span {
    display: block;
    font-size: 16px;
}

.funnel-stage_info span.users {
    font-size: 24px;
    color: #4b5364;
    margin-bottom: 4px;
}

.funnel-stage_info-bar span {
    position: absolute;
    top: 0px;
    left: 100%;
    padding-left: 10px;
    font-size: 24px;
    color: #4b5364;
}

.funnels-users, .funnels-success {
    font-size: 40px;
    color: #4b5364;
}

.funnels-success i {
    margin: 0 16px 0 14px;
}

.funnels-users span, .funnels-users div {
    display: inline-block;
    width: auto;
    float: none;
    vertical-align: middle;
    margin: 0px;
    font-size: 20px;
}

.funnels-users span {
    line-height: 22px;
    font-size: 22px;
    text-transform: uppercase;
}

.funnels-users .icon-users, .funnels-success .icon-down-thin {
    color: #4b5364;
    font-size: 44px;
    border: 0px;
    margin: 0px 2px 0 7px;
}

.funnels-users i, .funnels-success i {
    font-style: normal;
    font-size: 50px;
    line-height: 40px;
    vertical-align: middle;
}

.funnels-success span, .funnels-success div {
    display: inline-block;
    width: auto;
    float: none;
    vertical-align: middle;
    margin: 0px;
    font-size: 20px;
    text-align: left;
}

.table table tr label.checkbox.active:before {
    background: #627ed9;
    border-color: #627ed9;
}

.funnels-filter {
    background: #edeeef;
    border-bottom: 1px solid #dedede;
    position: relative;
    padding-top: 10px;
}

.funnels-filter a {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 10px 0;
    display: inline-block;
}

.funnels-filter_stage .input {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.funnels-filter_stages {
    margin-top: 10px;
    width: 716px;
    margin: 34px auto 44px;
    border-left: 1px solid #ccc;
}

.funnels-filter_stage {
    width: 604px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}

.funnels-filter_stage .input input {
    margin: 0 10px;
}

.funnels-filter_stage .input ul {
    text-align: left;
    display: none;
}

.funnels-filter_stage .filter_condition input {
    width: 100px;
}

.funnels-filter_stage .filter_button {
    display: inline-block;
    padding: 5px;
    background: #4b5364;
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

.funnels-filter_stage .filter_button:hover {
    opacity: 0.8;
}

.funnels-filter_stage .filter_button#filter_apply {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 10px;
}

#filter_cancel {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    color: #4b5364;
    cursor: pointer;
}

.funnels-filter_stage .filter_button.filter_remove {
    height: 37px;
    margin-left: 10px;
    line-height: 28px;
    font-size: 14px;
    width: 37px;
    text-align: center;
}

.funnels-filter_stage:first-child {
    top: -19px;
    margin-bottom: 1px;
}

.funnels-filter_stage:before {
    content: '';
    display: block;
    border-top: 1px solid #ccc;
    width: 67px;
    position: absolute;
    top: 19px;
    left: -57px;
}

.funnels-filter_stage-last {
    bottom: -15.5px;
}

.funnels-filter_stage-last:before {
    top: 14px;
}

.update-analytics-holder {
    display: none;
    float: left;
    position: relative;
    top: 5px;
}

.event-required {
    text-align: left;
    padding: 10px 2px;
}

input:disabled + label.checkbox:before, input:disabled + label.checkbox {
    opacity: 0.4;
    cursor: default;
}

.highcharts-tooltip span {
    background-color: #fff !important;
    opacity: 1 !important;
    z-index: 9999 !important;
}
.highcharts-tooltip-custom {
    padding: 5px;
}


.stdTitle button {
    padding: 4px 6px;
    margin-top: 9px;
    position: relative;
    display: inline-block;
    width: 26px;
    color: #82858b;
    background: none;
    outline: none;
    cursor: pointer;
    background: #fff;
    border: 1px solid #e1e2e3;
    font-size: 13px;
    border-radius: 4px;
    float: right;
}

.campaignClickSelectorContainer, .campaignVariantsContainer {
    margin-top: 24px;
    width: 100%;
    border: 1px solid #dddddd;
    background: #fff;
}
.campaignClickSelectorWrapper {
    width: 100%;
    height: auto;
    position: relative;
    padding: 10px 0 6px;
}
.campaignLinksTable.table table, .campaignClickMap {
    margin-top: 0;
}
.links-selector {
    display: inline-block;
    font:12px/25px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #6B6B6B;
    overflow:auto;
    user-select:none;
    width: 98%;
    margin-left: 1%;
}
.links-selector .button {
    cursor:pointer;
    user-select:none;
    background-color:#fff;
    float:left;
    padding:4px 10px;
    padding-top:3px;
    border:1px solid #c2c4c6;
    border-right: 0px;
    height: 32px;
    font-size: 12px;
    color: #82858b;
    overflow: hidden;
    width: 25%;
    text-align: center;
}
.links-selector .button:last-child, .links-selector .button:last-of-type {
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border-right: 1px solid #c2c4c6;
}

.links-selector .button.active {
    background-color:#32404d !important;
    color:#FFF !important;
    border-color: #4b5364;
}
.links-selector .button:first-child {
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}
.links-selector.disabled {
    position: relative;
    opacity: 0.5;
}
.links-selector.disabled .button {
    cursor: default;
}
.links-selector.disabled .button:hover {
    background-color: #E0E0E0;
}

.campaignVariantsWrapper {
    width: 100%;
    height: auto;
    position: relative;
    padding: 10px;
}
.campaignVariantPreviewContainer {
    width: 100%;
    padding: 10px;
}
.variants-selector {
    display: inline-block;
    font:12px/25px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #6B6B6B;
    overflow:auto;
    user-select:none;
    width: 98%;
    margin-left: 1%;
}
.variants-selector .button {
    cursor:pointer;
    user-select:none;
    background-color:#fff;
    float:left;
    padding:4px 10px;
    padding-top:3px;
    border:1px solid #c2c4c6;
    border-right: 0px;
    height: 32px;
    font-size: 12px;
    color: #82858b;
    overflow: hidden;
    width: 50%;
    text-align: center;
}
.variants-selector .button:last-child, .variants-selector .button:last-of-type {
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border-right: 1px solid #c2c4c6;
}

.variants-selector .button.active {
    background-color:#32404d !important;
    color:#FFF !important;
    border-color: #4b5364;
}
.variants-selector .button:first-child {
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}
.variants-selector.disabled {
    position: relative;
    opacity: 0.5;
}
.variants-selector.disabled .button {
    cursor: default;
}
.variants-selector.disabled .button:hover {
    background-color: #E0E0E0;
}


.campaignClickMapTooltipContainer
{
    display: inline-block;
}
.campaignClickMapTooltipWrapper
{
    display: inline-block;
    margin: 10px;
    width: 100%;
}
.campaignClickMapTooltipProgress
{
    width: 50%;
    display: inline-block;
    margin-right: 10px;
}
.campaignClickMapTooltip
{
    visibility: hidden;
    width: 140px;
    height: 70px;
    background-color: #4b5364;
    color: #fff;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
.campaignClickMapTooltipContainer .campaignClickMapTooltip
{
    top: -200px;
    margin-left: -70px;
}
.campaignClickMapTooltipContainer .campaignClickMapTooltip:after
{
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #4b5364 transparent transparent transparent;
}
progress.campaignClickMapTooltipProgress::-moz-progress-bar
{
    background: #1D87C8;
}
progress.campaignClickMapTooltipProgress::-webkit-progress-value
{
    background: #1D87C8;
}
progress.campaignClickMapTooltipProgress
{
    color: #1D87C8;
    border: none;
}
