
/* INPUTS */
input {
	position: relative;
	padding:0;
	background:transparent;
	border: 1px solid #c2c4c6;
	font:12pt/12pt 'Open Sans', sans-serif;
	cursor:pointer;
}
input[type=text],
input[type=number],
input[type=email],
input[type=search],
input[type=url],
input[type=password] {
    background:#FFF;
    border: 1px solid #c2c4c6;
    cursor:text;
    height: 38px;
    line-height: 38px;
    outline: none;
    padding: 0 10px !important;
    color: #717782 !important;
}
input[type=file] {
    border: 1px solid transparent;
}
textarea {
    width: 100%;
    resize: vertical;
    max-height: 300px;
    min-height: 200px;
    background: rgba(0,0,0, .7);
    border: none;
    padding: 10px;
    margin: 10px 0;
    font:12pt/12pt 'Open Sans', sans-serif;
}
input[type=file] {
    height: 26px;
    line-height: 26px;
}

/* BUTTONS */
input[type=button], input[type=reset], input[type=submit], .btn {
	padding: 0px 20px;
	margin:12px 0;
  text-transform: capitalize;
	border: 1px solid transparent;
	color:#FFF;
	height: 40px;
    font: 300 16px/40px 'Open Sans', sans-serif;
    outline: none;
    background-color: #32404d;
    vertical-align: top;
    border-radius: 2px;
    cursor: default;
}
input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover, .btn:hover {
    background: #1d87c8 !important;
    border-color: #1d87c8;
    color: #fff !important;
}
.btn i:before {
    color: #fff;
}
.btn:hover i:before {
    color: #fff !important;
}

input[type=button].small, input[type=reset].small, input[type=submit].small, .btn.small {
    padding: 0 10px;
    height: 30px;
    font: 300 14px/30px 'Open Sans', sans-serif;
}

a.btn {
    display: inline-block;
    cursor: pointer;
}

input[type=button].blue, .btn.blue {
    background:#32404d;
    color: #fff;
}
input[type=button].light-grey, .btn.light_grey {
    background: #fff;
    color: #989a9c;
    border: 1px solid #ccc;
}
input[type=button].light-grey:hover, .btn.light_grey:hover {
    background: #fff !important;
    border-color: #1d87c8 !important;
    color: #1d87c8 !important;
}
.btn.light_grey i:before {
    color: #989a9c;
}
.btn.light_grey:hover i:before {
    color: #1d87c8 !important;
}
input[type=button].dark_blue, .btn.dark_blue {
    background:#32404d;
    color: #fff;
}

.buttonSet td:first-child input[type=button] {
    border-radius: 4px 0 0 4px;
}
.buttonSet td:last-child input[type=button] {
    border-radius: 0 4px 4px 0;
}
.buttonSet table {
    width: 100%;
}
.buttonSet td {
    width: 33.3%;
}
.buttonSet table input[type=button] {
    width: 100%;
}
.buttonSet.buttonCount4 td {
  width: 25%;
}
.buttonSet.buttonCount5 td {
  width: 20%;
}
.buttonSet.buttonCount6 td {
  width: 16.6%;
}
.buttonSet.buttonCount7 td {
  width: 14.2%;
}
.buttonSet.buttonCount8 td {
  width: 12.5%;
}
.buttonSet.buttonCount9 td {
  width: 11.1%;
}

input[type=button]:disabled, input[type=reset]:disabled, input[type=submit]:disabled, .btn:disabled{
    cursor: auto;
    opacity: 0.5;
    background: #fff !important;
    border-color: #989a9c;
    color: #989a9c !important;
}

/* CHECKBOX */
label.checkbox,
label.radio {
    overflow: hidden;
    height: 17px;
    cursor: pointer;
    margin-bottom: -3px;

    font: 12px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #32404d;
    margin-right: 20px;
}
label.checkbox:before,
label.radio:before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 10px -3px 0;
    background:transparent;
    border:1px solid #ccc;
    overflow: hidden;
}
label.radio:before {
    border-radius:15px;
}
input[type=checkbox],
input[type=radio] {
    display: none;
    margin-left: 10px;
}
input:checked + label.checkbox:before {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #1d87c8;
    text-align: center;
    line-height: 15px;
    background: #1d87c8 !important;
    border-color: #1d87c8;
}
input:checked + label.radio:before {
    color: #797f8b;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
    background:#1d87c8;
    border-color: #1d87c8;
}
label.checkbox:before,
label.radio:before{
    background: #fff;
}

label.checkbox.small {
    height: 14px;
}
label.checkbox.small:before {
    height: 12px;
    width: 12px;
}
input[type=checkbox].small + label.small.checkbox:before {
    margin-right: 7px;
}
input[type=checkbox].small:checked + label.small.checkbox:before {
    font-size: 12px;
    line-height: 12px;
}


/* SLIDER */
.slider {
    width: auto;
    position: relative;
    color: #666;
    font: 12pt 'Open Sans', sans-serif;
}
.slider input[type=button] {
    margin-left: 20px;
}
.slider .leftSpan {
    margin-right: 10px;
}
.slider .rightSpan {
    margin-left: 10px;
}
.slider .bar {
    width: 700px;
    height: 10px;
    background: #c3c5c7;
    border: 0px;

}
.slider input[type="range"] {
    -webkit-appearance: none;
}
.slider input[type="range"].slim {
    -webkit-appearance: none;
    height: 2px;
}
.slider input[type="range"].black {
    background-color: black;
}
.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: 0px;
    z-index: 1;
    width: 21px;
    height: 21px;
    cursor: pointer;

    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;

    background: #fff;
    border: 1px solid #caccd0;
}
.slider > div.range {
    width: 700px;
    padding-bottom: 10px;
}
.slider > div.range .rangevalue {
    color: #666;
    text-align: center;
    position: relative;
    margin-left: 50px;
    width: 70px;
    display: block;
}
.slider input[type="range"]::-ms-fill-upper {
    background: #0c648c;
}
::-webkit-slider-thumb {
}
::-moz-range-thumb {
    background: #0c648c;
    border: 0;
    width: 21px;
    height: 21px;
}
::-moz-range-track {
    background: none;
    border: none;
}


.checkCheck {
    position: relative;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.checkCheck .cbox {
    width: 10px;
    height: 10px;
    position: absolute;
    border: 1px solid;
}
.checkCheck .cbox1 {
    top: 0;
    left: 0;
    z-index: 2;
}
.checkCheck .cbox2 {
    top: 5px;
    left: 5px;
    z-index: 1;
}
.checkAll {
    width: 18px;
    height: 18px;
}
.checkAll .cbox {
    background-color: #cecece;
    border-color: #fff;
    width: 12px;
    height: 12px;
}
.checkNone .cbox {
    background-color: #fff;
    border-color: #cecece;
}
.checkNone .cbox1 {
    top: 1px;
    left: 1px;
}
.checkNone .cbox2 {
    top: 6px;
    left: 6px;
}


.spacer {
    height: 12px;
}

.formSection {
    background: #fff;
    border: 1px solid #d6d8db;
    padding: 12px;
}

.stdForm label {
    font: 13px 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.stdForm .control-label {
    display: block;
    margin-bottom: 6px;
}
.stdForm input[type="checkbox"] {
    border: 1px solid #ccc;
}
.stdForm .inputTip {
    color: #a9a7a7;
    margin-top: 3px;
    padding-left: 3px;
    font-size: 11px;
}


select {
    width: 208px;
    background: url(../../img/icon/arrow_down.png) no-repeat right #fff !important;
    background-size: 10px 10px !important;
    background-position-x: calc(100% - 5px) !important;
    border: 1px solid #c2c4c6;
    padding: 0 10px;
    color: #717782;
    font: 300 14px/38px 'Open Sans', sans-serif;
    outline: none;
    cursor:pointer;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    height: 38px;
    margin: -1px;
}

.uploaded-image img {
    max-width: 200px;
}

.stdFormWrapper {
    padding: 10px;
    background: #fff;
    border: 1px solid #c2c4c6;
    margin-bottom: 15px;
}

.stdFormSeparator {
    border-top: 1px solid #d6d8db;
    margin-bottom: 20px;
}


.inputContainer {
    position: relative;
}
.inputError {
    color: #ff1d25;
    position: absolute;
    top: 100%;
    left: 1px;
    margin-top: -13px;
    font-size: 10px !important;
    line-height: 14px !important
}
.inputError p {
    font-size: 10px !important;
    line-height: 14px !important
}

.inputContainer input[type="file"] {
    margin-top: 6px;
    margin-bottom: 6px;
}

input[type=text]:disabled, input[type=password]:disabled, input[type=number]:disabled, select:disabled {
    color: #c2c4c6 !important;
}

input:hover:enabled[type=text], input:hover:enabled[type=password], select:hover:enabled, textarea:hover:enabled {
    border-color: #1d87c8 !important;
}

input:focus:enabled[type=text], input:focus:enabled[type=password], select:focus:enabled, textarea:focus:enabled {
    border-color: #1d87c8 !important;
    box-shadow: 0 0 7px rgba(29, 135, 200, 0.25);
}

input[type=range] {
    font-size: 12px !important;
}
