@color_white: #fff;
@color_light_grey_1: #ddd;
@color_light_grey_2: #abacae;
@color_light_grey_3: #ccc;
@color_light_grey_4: #bbb;
@color_grey_1: #989a9c;

@color_section: @color_white;
@color_border: @color_light_grey_1;


@no_padding: 0;
@small_padding: 8px;
@medium_padding: 12px;
@large_padding: 16px;

@no_margin: 0;
@small_margin: 8px;
@medium_margin: 12px;
@large_margin: 16px;
