/* Info */

#infoAppDashboard {
    position:relative;
    width:100%;
    height:auto;
    color:#FFF;
    background:#0c648c;
    text-align:right;
    padding:20px 5%;
    font:12pt 'Open Sans', sans-serif;
}
#infoAppDashboard > ul {
    float: right;
}
#infoAppDashboard li {
    position:relative;
    margin:0 10px;
    display:block;
    float: left;
    white-space: nowrap;
}
#infoAppDashboard li span {
    margin: 0 0 0 5px;
    white-space: nowrap;
}

.infoAppDashboardWrapper {
    margin: 0 5%;
}

.dashboardWrapper {
    margin: 0 5%;
    border: 1px solid #d2d3d3;
    border-radius: 4px;
}
.dashboardWrapper > div {
    /*display: table;*/
    height: 100%;
    margin: 0 auto;
    padding: 0.25%;
}
.dashboardWrapper > div > div {
    /*display: table-cell;*/
    vertical-align: middle;
}

/* App App */
i.plus {
    position: absolute;
    top: 0px;
    left: 10px;
    font-style: normal;
    color: #fff;
    font-size: 28px;
    color: #fff;
}

#addApp{
    position:relative;
    width:100%;
    height:38px;
    margin:20px 0 55px;
    text-align: center
}
.addAppLeft, .addAppRight {
    position:relative;
    height:70px;
    display:inline-block;
    font: 18pt/55pt 'Open Sans', sans-serif;
    text-transform:uppercase;
    vertical-align: top;
    margin-left: 6px;
    margin-right: 6px;
}
.addAppLeft span, .addAppRight span {
    color:#f3f4f5;
    font: 400 18px/38px 'Open Sans', sans-serif;
    width: 360px;
    text-align: center;
    padding:0 20px;
    background:#32404d;
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
}

.addAppLeft span:hover, .addAppRight span:hover {
    background: #1d87c8 !important;
    border-color: #1d87c8;
    color: #fff !important;
}

/* Current Apps */
#dashbordItemsContainer {
    margin-top: -10px;
}
#currentApp{ position:relative;  width:48%; height:auto; margin:0 1%; }
.topCurrentApp {
    position:relative;
    float:left;
    width:49%;
    margin: 0.5%;
    background:#fff;
    padding: 0;
    border: 1px #d6d8db solid;
}

.tileCurrentApp {
    position:relative;
    color: #4b5364;
    font: 400 17px/64px 'Open Sans', sans-serif;
}

.tileCurrentApp span {
    width:36px;
    height:36px;
    padding:0 0 0 60px;
    margin:14px 2px;
    background-image:url('../../img/icon/app-ico.png');
    background-repeat:no-repeat;
    background-position:center center;
    float:left;
}
.tileCurrentApp .settingCurrentApp i:before {
    position:relative;
    float:right;
    width:20px;
    height:20px;
    margin: 24px 18px 0 0;
    font-size: 24px;
    color: #888B91;
}

.tileCurrentApp .settingCurrentApp i:hover:before {
    color: #32404d;
}

.tileCurrentApp img {
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    width: 36px;  height: 36px;
    margin: 14px 12px;
    border-radius:  6px;
}

.topCurrentApp > ul.campaign-view {
    height: 42px;
}
.topCurrentApp li a {
    position: relative;
    color: #32404d;
    float:left;
    width:33.33%;
    border-left: 1px solid #cfd1d4;
    border-bottom: 1px solid #cfd1d4;
    border-top: 1px solid #cfd1d4;
    height:auto;
    text-align:center;
    font: 400 12px/36px 'Open Sans', sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
}
.topCurrentApp li:first-child a {
    border-left: 0;
}
.topCurrentApp li a:hover {
    background: #f3f4f5;
}
.topCurrentApp li.template-item a {
    width: 50%;
}

.topCurrentApp li:nth-child(4) a {
    width:28%;
}

.topCurrentApp p { position:relative; clear:both; padding:10px 20px; color:white;}

.topCurrentApp a.createCampaingButton {
    position:relative;
    width:100%;
    margin:6px 0 0 0;
    background: #7e98a9; /* #797f8b; */
    text-decoration: none;
    color: #f3f4f5;
    display: block;
    text-align: center;
    font: 400 18px/31px 'Open Sans', sans-serif;
    padding-bottom: 2px;
    text-transform: uppercase;
}
.topCurrentApp a.createCampaingButton:hover {
    background: #4b5364;
}
.topCurrentApp a.createCampaingButton i.plus {
    position: relative;
    top: 4px;
    left: -8px;
    font-size: 32px;
}

#dashAppsWrapper {
    min-width: 1200px;
    padding-bottom: 40px;
}

#infoAppDashboard aside {
    position: absolute;
    top: 9px;
    left: 5%;
}
#infoAppDashboard aside ul {
    overflow: visible;
}
#infoAppDashboard aside li {
    width: auto;
    text-align: left;
    overflow: visible;
    padding-left: 10px;
    display: block;
    position: static;
}
#infoAppDashboard aside li ul {
    height: auto;
    background: #ff931e;
    margin-left: -20px;
    max-height: 400px;
    overflow-y: scroll !important;
}
#infoAppDashboard aside li ul li {
    float: none;
    width: auto;
    margin: 0px;
}
#infoAppDashboard aside li ul li a {
    margin-left: -24px;
}
#infoAppDashboard aside li .selectArrow {
    position: absolute;
    top: 18px;
    right: 14px;
}

#addressableDevicesNewCampaign .icon.reload-active {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.dashboard_info-block {
    background: #f3f4f5;
    height: 80px;
    border-bottom: 1px solid #d9dada;
    width: 100%;
    margin-right: -2px;

}
.dashboard_info-block td {
    width: 25%;
    text-align: center;
    border-right: 1px solid #d4d4d4;
    color: #9f9f9f;
    font: 400 13px 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding-top: 10px;
}
.dashboard_info-block td:last-child {
    border-right: 0 none;
}
.dashboard_info-block td > span {
    color: #797f8b;
    font: 28px 'Open Sans', sans-serif;
    display: block;
    margin-top: 0px;
}
.dashboard_info-block #appActive {
    margin: 0 auto;
    margin-top: -6px;
}


.app-info_box {
    position: relative;
}
.app-info_box > span {
    display: block;
    margin-left: 68px;
    border-bottom: 1px solid #cfd1d4;
    color: #6e6e6e;
    font: 400 11px/38px 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.app-info_box-last > span {
    border-bottom: 0px;
}
.app-info_box span.count {
    display: inline-block;
    min-width: 40px;
    margin-right: 12px;
    font: 20px/38px 'Open Sans', sans-serif;
    color: #797f8b;
    vertical-align: top;
}
.app-info_box-icon {
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 7px;
    left: 30px;
}
.app-info_box-icon.rdevices {
    background: url('../../img/icon/rdevice-ico.png') top left no-repeat;
    background-size: contain;
}
.app-info_box-icon.adevices {
    background: url('../../img/icon/adevice-ico.png') top left no-repeat;
    background-size: contain;
}
.app-info_box-icon.ldevices {
    background: url('../../img/icon/ldevice-ico.png') top left no-repeat;
    background-size: contain;
}
