.label1 {
  font: 13px 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #6e6e6e;
}
.label1_s {
  font: 12px 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #9f9f9f;
}

.label2 {
  font: 16px/26px 'Open Sans', sans-serif;
  color: #6e6e6e;
  margin-bottom: 6px;
  margin-top: 6px;
}

.label3 {
  font: 12px/18px 'Open Sans', sans-serif;
  color: #7d7d7d;
}

.label4 {
  font: 17px/36px 'Open Sans', sans-serif;
  color: #32404d;
}


.stdCheckbox {
  display: inline-block !important; // Rewrite button.css
  margin: 0 !important; // Rewrite button.css
  &:after {
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 16px;
    width: 16px;
    background: @color_white;
    border: 1px solid @color_border;
    margin-top: -2px;
  }
  &:checked:after {
    background: #627ed9;
    border: 1px solid #627ed9;
  }
  &+label {
    padding-left: @small_padding;
    cursor: pointer;
  }
}

.stdRadio {
  display: inline-block !important; // Rewrite button.css
  margin: 0 !important; // Rewrite button.css
  &:after {
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 16px;
    width: 16px;
    background: @color_white;
    border: 1px solid @color_border;

    margin-left: -1px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
  }
  &:checked:after {
    background: #627ed9;
    border: 1px solid #627ed9;
  }
  &+label {
    padding-left: @small_padding;
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
  &:disabled +label {
    opacity: 0.6;
    cursor: default;
  }
}

.stdTextarea {
  display: block;
  margin: 0;
  background: #ffffff;
  border: 1px solid #ccc;
  outline: none;
  color: #717782;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.stdLink {
  cursor: pointer;
  border-bottom: 1px dotted @color_light_grey_1;
  &:hover {
    color: #4b5364;
  }
}
