
.email-subscription-page {
    padding: 20px;
    text-align: center;
}

.email-subscription-page .logo {
    margin-bottom: 20px;
    text-align: center;
}

.email-subscription-page .logo img {
    height: 100px;
    max-width: 100%;
}

.email-subscription-page .content {
    max-width: 460px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 15px 10px;
    color: #000000;
}

.email-subscription-page h1 {
    color: #000000;
    font-size: 25px;
}

.email-subscription-page .message {
    margin-bottom: 10px;
    font-size: 14px;
    color: #707070;
}

.email-subscription-page table {
    width: 100%;
}

.email-subscription-page td {
    padding: 5px 0;
}

.email-subscription-page .column-label {
    padding-right: 5px;
    font-size: 14px;
    width: 100px;
}

.email-subscription-page .column-input {
    padding-left: 5px;
}

.email-subscription-page input[type="text"] {
    width: 100% !important;
}

.email-subscription-page select {
    width: 100% !important;
}

.email-subscription-page .btn {
    background: #333333 !important;
}

.email-subscription-page .text {
    margin-bottom: 10px;
    font-size: 14px;
    color: #707070;
}

.email-subscription-page .link {
    padding-bottom: 10px;
    font-size: 14px;
}

.email-subscription-page a {
    color: #3971A2;
}

.email-subscription-page .preferences {
    width: 200px;
    margin: 0 auto;
    text-align: left;
}

.email-subscription-page .preference {
    margin: 20px 0;
}

.email-subscription-page .preference label.checkbox {
    text-transform: none;
    color: #707070;
    font-size: 14px;
}

.email-subscription-page input[type=submit] {
    text-transform: none;
    width: 240px;
}
