/*
    Styles for 404, 403, 500, etc.  error pages
-----------------------------------------
*/


#error-page {
    margin-left: -250px;
    margin-top: -80px;
    width: 600px;
    height: auto;
}

@media screen and (max-width: 767px) {
    #error-page {
        width: 100%;
    }
}
#error-page > .headline {
    float: left;
    font-size: 100px;
    font-weight: 300;
    width: auto;
    margin-top: 40px;
}
@media screen and (max-width: 767px) {
    #error-page > .headline {
        float: none;
        text-align: center;
    }
}
#error-page > .error-content {
    margin-left: 190px;
    display: block;
}
@media screen and (max-width: 767px) {
    #error-page > .error-content {
        margin-left: 0;
    }
}
#error-page > .error-content > h3 {
    font-weight: 300;
    font-size: 25px;
}
@media screen and (max-width: 767px) {
    #error-page > .error-content > h3 {
        text-align: center;
    }
}
#error-page:before,
#error-page:after {
    display: table;
    content: " ";
}
#error-page:after {
    clear: both;
}

#error-page > .error-content > a {
    cursor: pointer;
}