* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  font: 12pt 'Open Sans', sans-serif;
}

ul, ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

::-webkit-scrollbar {
  background: #dadcde;
  width: 4px
}

::-webkit-scrollbar-track { /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
}

::-webkit-scrollbar-thumb {
  background: #4b5364;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(253, 255, 57, .7);
}

::selection {
  background: rgba(51, 174, 229, .3);
}

::-moz-selection {
  background: rgba(51, 174, 229, .3);
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #afb9c5;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #afb9c5;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #afb9c5;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #afb9c5;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f8fafd inset;
}
