.icon {
    display: inline-block;
    overflow: hidden;
}
.icon.reload {
    width: 30px;
    height: 30px;
    background: transparent url('../../img/reloadxpush.png') 0 0 scroll no-repeat;
}
.icon.delete {
    width: 14px;
    height: 14px;
    background: transparent url('../../img/icon/icon.png') -5px -437px no-repeat;
}
.icon.stop {
    width: 16px;
    height: 14px;
    background: transparent url('../../img/icon/icon.png') -4px -535px no-repeat;
}
.icon.locked {
    width: 16px;
    height: 14px;
    background: transparent url('../../img/icon/icon.png') -5px -572px no-repeat;
}
