
.stdSmallSpacing {
  height: @small_margin;
}
.stdSpacing {
  height: @medium_margin;
}

.stdBlock {
  .stdBlockTitle {
    .label4;
    border-bottom: 1px dashed @color_light_grey_3;
    position: relative;
  }
  &.stdBlockCollapsable .stdBlockTitle {
    cursor: pointer;
  }
  .stdBlockTitleHint {
    margin-top: -8px;
    margin-bottom: 3px;
    .label3;
  }
  .stdBlockTitleButtons {
    position: absolute;
    right: 0;
    bottom: 5px;
  }
}

.stdSection {
  background: @color_section;
  border: 1px solid @color_border;

  .stdSectionTitle {
    .label2;
    padding: @no_padding @medium_padding;
    border-bottom: 1px solid @color_border;
  }
  .stdSectionContent {
    padding: @medium_padding;
  }
  &.stdSectionWithNoContent .stdSectionTitle {
    border-bottom: 0 none;
  }
}

.stdPlashes {
  .selfClear;
  .stdPlashesColumnWrapper {
    padding-right: @medium_padding;
    &:last-child {
      padding-right: @no_padding;
    }
    float: left;
  }
  &.stdPlashesWithColumns1 .stdPlashesColumnWrapper {
    width: 100.00%;
  }
  &.stdPlashesWithColumns2 .stdPlashesColumnWrapper {
    width: 50.00%;
  }
  &.stdPlashesWithColumns3 .stdPlashesColumnWrapper {
    width: 33.33%;
  }
  &.stdPlashesWithColumns4 .stdPlashesColumnWrapper {
    width: 25.00%;
  }
  &.stdPlashesWithColumns5 .stdPlashesColumnWrapper:nth-child(1) {
    width: 50.00%;
  }
  &.stdPlashesWithColumns5 .stdPlashesColumnWrapper:nth-child(2) {
    width: 50.00%;
    padding-right: @no_padding;
  }
  &.stdPlashesWithColumns5 .stdPlashesColumnWrapper:nth-child(n+3) {
    width: 33.33%;
    margin-top: @small_margin;
  }
  &.stdPlashesWithColumns6 .stdPlashesColumnWrapper {
    width: 33.33%;
  }
  &.stdPlashesWithColumns6 .stdPlashesColumnWrapper:nth-child(3) {
    padding-right: @no_padding;
  }
  &.stdPlashesWithColumns6 .stdPlashesColumnWrapper:nth-child(n+4) {
    margin-top: @small_margin;
  }
  &.stdPlashesWithColumns7 .stdPlashesColumnWrapper {
    width: 33.33%;
  }
  &.stdPlashesWithColumns7 .stdPlashesColumnWrapper:nth-child(3) {
    padding-right: @no_padding;
  }
  &.stdPlashesWithColumns7 .stdPlashesColumnWrapper:nth-child(n+4) {
    width: 25%;
    margin-top: @small_margin;
  }
  &.stdPlashesWithColumns8 .stdPlashesColumnWrapper {
    width: 25%;
  }
  &.stdPlashesWithColumns8 .stdPlashesColumnWrapper:nth-child(4) {
    padding-right: @no_padding;
  }
  &.stdPlashesWithColumns8 .stdPlashesColumnWrapper:nth-child(n+5) {
    margin-top: @small_margin;
  }
  &.stdPlashesWithColumns9 .stdPlashesColumnWrapper {
    width: 33.33%;
  }
  &.stdPlashesWithColumns9 .stdPlashesColumnWrapper:nth-child(3) {
    padding-right: @no_padding;
  }
  &.stdPlashesWithColumns9 .stdPlashesColumnWrapper:nth-child(6) {
    padding-right: @no_padding;
  }
  &.stdPlashesWithColumns9 .stdPlashesColumnWrapper:nth-child(n+4) {
    margin-top: @small_margin;
  }
  &.stdPlashesWithColumns10 .stdPlashesColumnWrapper {
    width: 33.33%;
  }
  &.stdPlashesWithColumns10 .stdPlashesColumnWrapper:nth-child(n+7) {
    width: 25%;
  }
  &.stdPlashesWithColumns10 .stdPlashesColumnWrapper:nth-child(n+4) {
    margin-top: @small_margin;
  }
  &.stdPlashesWithColumns10 .stdPlashesColumnWrapper:nth-child(3) {
    padding-right: @no_padding;
  }
  &.stdPlashesWithColumns10 .stdPlashesColumnWrapper:nth-child(6) {
    padding-right: @no_padding;
  }
  &.stdPlashesWithColumns10 .stdPlashesColumnWrapper:nth-child(10) {
    padding-right: @no_padding;
  }

  &.stdPlashesWithColumns11 .stdPlashesColumnWrapper {
    width: 33.33%;
  }
  &.stdPlashesWithColumns11 .stdPlashesColumnWrapper:nth-child(n+4) {
    width: 25%;
  }
  &.stdPlashesWithColumns11 .stdPlashesColumnWrapper:nth-child(n+4) {
    margin-top: @small_margin;
  }
  &.stdPlashesWithColumns11 .stdPlashesColumnWrapper:nth-child(3) {
    padding-right: @no_padding;
  }
  &.stdPlashesWithColumns11 .stdPlashesColumnWrapper:nth-child(7) {
    padding-right: @no_padding;
  }
  &.stdPlashesWithColumns11 .stdPlashesColumnWrapper:nth-child(11) {
    padding-right: @no_padding;
  }
  &.stdPlashesWithColumns12 .stdPlashesColumnWrapper {
    width: 25%;
  }
  &.stdPlashesWithColumns12 .stdPlashesColumnWrapper:nth-child(n+5) {
    margin-top: @small_margin;
  }
  &.stdPlashesWithColumns12 .stdPlashesColumnWrapper:nth-child(4) {
    padding-right: @no_padding;
  }
  &.stdPlashesWithColumns12 .stdPlashesColumnWrapper:nth-child(8) {
    padding-right: @no_padding;
  }
  &.stdPlashesWithColumns12 .stdPlashesColumnWrapper:nth-child(12) {
    padding-right: @no_padding;
  }
  .stdPlashesColumn {
    background: @color_section;
    border: 1px solid @color_light_grey_4;
    padding: 2px 0 11px 0;
    position: relative;
    min-height: 90px;
    .selfClear;
    &.stdPlashesToggleOnClick {
      cursor: pointer;
      &.stdPlashesChoosed {
        box-shadow: 0 3px 8px rgba(0,0,0,0.16), 0 1px 1px rgba(0,0,0,0.23);
        transition: 0.2s ease;
      }
    }
    &.stdPlashesChooseOnClick, &.stdPlashesCheckOnClick {
      cursor: pointer;
      &.stdPlashesChoosed {
        cursor: default !important;
        box-shadow: 0 3px 8px rgba(0,0,0,0.16), 0 1px 1px rgba(0,0,0,0.23);
        transition: 0.2s ease;
      }
    }
    &:hover:not(.stdPlashesDisabled) {
      border-color: #1d87c8;
    }
    &:hover:not(.stdPlashesDisabled):not(.stdPlashesToggleOnClick):not(.stdPlashesChooseOnClick):not(.stdPlashesCheckOnClick) {
      box-shadow: 0 3px 8px rgba(0,0,0,0.16), 0 1px 1px rgba(0,0,0,0.23);
      transition: 0.2s ease;
    }
    &.stdPlashesDisabled {
      opacity: 0.5;
    }
  }
  .stdPlashesColumnLeft {
    float: left;
    width: 80px;
  }
  .stdPlashesColumnRight {
    margin-left: 80px;
    margin-right: 5px;
  }
  .stdPlashesColumnDouble {
    padding: @no_padding @medium_padding;
  }
  .stdPlashesColumnTitle {
    .label2;
  }
  .stdPlashesColumnCheckbox {
    padding-left: 27px;
    margin-top: 8px;
    margin-bottom: 2px;
    position: absolute;
    top: 2px;
    right: 0px;
  }
  .stdPlashesColumnCheckbox input:checked:after {
    background: #b2b2b2;
    border: 1px solid #b2b2b2;
  }
  .stdPlashesColumnImage {
    font-size: 50px;
    text-align: center;
    color: #7a7a7a;
  }
  .stdPlashesColumnValue {
    color: #4b5364;
    font-size: 16px;
  }
  .stdPlashesColumnHint {
    .label3;
  }
  .stdPlashesColumnContent {
    padding-right: 4px;
  }
}

.plashes .plash_wrapper {
  padding-right: 10px;
  float: left;
}
.plashes .plash_wrapper:last-child {
  padding-right: 0;
  float: right;
}
.plashes_cols2 .plash_wrapper {
  width: 50%;
}
.plashes_cols3 .plash_wrapper {
  width: 33.33%;
}


.stdColumns {
  .stdColumnsColumn {
    float: left;
    padding-right: 20px;
    &:last-child {
      padding-right: 0;
    }
  }
  &.stdColumns1 .stdColumnsColumn {
    width: 100%;
  }
  &.stdColumns2 .stdColumnsColumn {
    width: 50%;
  }
  &.stdColumns3 .stdColumnsColumn {
    width: 33.33%;
  }
}

.stdTitle {
  font: 17px/46px 'Open Sans', sans-serif;
  padding: 0 10px;
  height: 46px;
  color: #4b5364;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-bottom: 0 none;
}
