#locationPage .splitColumns2 {
	margin-bottom: 20px;
}
#locationPage .locationsChart {
    padding-right: 5px;
}
#locationPage .locationsChart .graph {
    height: 414px;
}
#locationPage .addLocation {
	width: 460px;
    padding-left: 5px;
}
#locationPage #searchTitle {
    width: 100%;
}

#locationPage .locationsTable.visibleitem .notibeacon{
	display: block;
}
#locationPage .locationsTable.visibleitem .ibeacon{
	display: none;
}
#locationPage .locationsTable .notibeacon{
	display: none;
}
#locationPage .locationsTable .ibeacon{
	display: block;
}

#locationPage .locationsTable .frow {
	margin-top: 4px;
	margin-bottom: 4px;
}
#locationPage .locationsTable .frow label {
	width: 80px;
    display: inline-block;
}
#locationPage .locationsTable .frow input {
	width: 300px;
}
#locationPage .locationsTable .frow .jsPayload {
    font-size: 0;
}
#locationPage .locationsTable .frow input.clonedFieldKey,
#locationPage .locationsTable .frow input.clonedFieldValue {
    width: 47%;
    margin: 0 4px 4px 0;
}
#locationPage .locationsTable .frow .jsDeletePayload {
    cursor: pointer;
    width: 13px;
    margin: 0 0 0 -4px;
    position: relative;
    font-size: 12px;
}
#locationPage .locationsTable .frow2 label {
	width: 100px;
    margin-left: 20px;
}
#locationPage .locationsTable .frow2 input {
	width: 300px;
}
#locationPage .locationsTable select {
	background: #ffffff !important;
	color: #666 !important;
    border: 1px solid #c2c4c6;
    font: 300 13px/38px 'Open Sans', sans-serif;
	padding: 0px 10px;
	margin: 0;
	width: 300px;
    height: 38px;
}

#locationPage .slider {
    margin-top: 10px;
    padding-left: 140px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
#locationPage .slider input {
	width: 315px;
    outline: none;
}
#locationPage .slider .range {
    position: absolute;
    left: 0;
    top: 0px;
    width: auto;
    font: 300 20px 'Open Sans', sans-serif;
    color: #9f9f9f;
}
#locationPage .slider .range input {
    border-color: #ccc;
    width: 100px;
    outline: none;
    margin-right: 8px;
    cursor: text;
    background: #FFF;
    height: 40px;
    line-height: 40px;
}
#locationPage .slider .rangevalue {
	margin-left: 0;
	width: auto;
}

.addLocation input[type="submit"] {
    float: right;
    width: 126px;
    margin: 0;
}
.addLocation .locationAddress {
    margin-bottom: 10px;
    margin-top: 4px;
}
.addLocation .locationAddress label {
    margin-bottom: 6px;
    display: block;
}
.addLocation .locationIsIbeacon {
    float: left;
    padding-top: 10px;
}
.addLocation .locationIbeaconsParams input {
    width: 100%;
    margin-bottom: 8px;
}
.addLocation .locationIbeaconsParams .verticalMargins {
    margin-top: 1px;
    margin-bottom: 1px;
}

.locationUpdateContent {
    padding: 5px 0;
}
.locationsTable .locationName .locationUpdateContent .button {
    height: 30px;
    line-height: 30px;
    left: 85px;
    margin: 0px;
    margin-top: 10px;
    font-size: 13px;
}
.locationsTable .locationName {
    width: 90%;
}
.locationsTable  table {
    background: none;
}
.locationsTable  table tbody tr {
    background: none repeat scroll 0% 0% #E2E3E6;
}

.selectize-input {
    border-color: #ccc;
    outline: none;
    color: #717782;
    cursor: text;
    height: 38px;
    text-indent: 8px;
    font: 12pt/12pt 'Open Sans', sans-serif;
    padding: 0;
    border-radius: 0px;
    box-shadow: none;
}

.selectize-input.focus {
    box-shadow: none;
} 

.selectize-input input {
    font: 12pt/12pt 'Open Sans', sans-serif;
}

.selectize-control.multi .selectize-input.has-items {
    padding: 2px 8px 2px;
    height: auto;
}

.selectize-input > input {
    margin: 0px !important;
    padding: 0px !important;
    height: 33px !important;
}

.selectize-control.multi .selectize-input > div {
    border: 0px;
    background: #f2f2f2;
    margin-top: 5px;
    padding: 4px;
    float: left;
    margin-bottom: 4px;
    font-size: 12px;
}

.selectize-control.plugin-remove_button [data-value] .remove {
    background: #797f8b;
    margin: 0px;
    text-indent: 0;
    padding-top: 3px;
}

.selectize-control.plugin-remove_button [data-value] .remove:hover {
    background: #4b5364;
}

.selectize-control.multi .selectize-input > div.active {
    border: 0px;
    background: #f2f2f2;
}

.selectize-control.plugin-remove_button [data-value] {
    padding-right: 30px !important;
}

.frow .selectize-control {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}

.table table td.locationName {
    overflow: visible
}