#loginPage {
    margin-top: 50px;
    margin-bottom: 40px;
}

#loginPage .loginForm {
    width: 400px;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid #d9dada;
    padding: 20px 0;
}

#loginPage .loginForm .inputFieldBox {
    width: 320px;
    margin: 0 auto;
}

#loginPage .loginForm .inputFieldBox input{
    width: 320px;
    margin-top: 20px;
}

.loginForm h2 {
    margin-bottom: 0;
}

.recoveryForm h2 {
    font-size: 18px;
    text-transform: none;
    margin-bottom: 0;
}

.loginForm .error-notify {
    padding-top: 0;
}

#loginPage .loginForm .inputFieldBox .login-remember_me input {
    display: inline-block;
    width: 20px;
    margin-left: -3px;
    margin-top: 10px;
}

.login-forgot_password {
    text-align: center;
}
.login-forgot_password a {
    color: #32404d;
    font-size: 14px;
}
.login-forgot_password a:hover {
    color: #1d87c8;
}


.loginForm ::-webkit-input-placeholder {
    color: #888;
    font-size: 14px;
    line-height: 40px;
}

.loginForm :-moz-placeholder {
    color: #888;
    font-size: 14px;
    line-height: 40px;
}

.loginForm ::-moz-placeholder {
    color: #888;
    font-size: 14px;
    line-height: 40px;
}

.loginForm :-ms-input-placeholder {
    color: #888;
    font-size: 14px;
    line-height: 40px;
}

.loginForm .rememberMe {
    margin-top: 16px;
    margin-bottom: 8px;
}

.loginForm .captcha {
    margin-top: 20px;
}
.loginForm .captcha img {
    float: left;
    width: 120px;
}
.loginForm .captcha input {
    float: right;
    width: 200px !important;
    margin-top: 0 !important;
}

.loginForm input[type="submit"] {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
}

.loginForm .inputError {
    position: inherit;
    margin-top: 0;
}