
.leftMenu {
    position:fixed;
    height:100%;
    padding:0 0 40px 0;
    margin:0;
    top: 64px;
    color:#999;
    z-index:2001;
    font:12pt/40pt 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.leftMenu .logo i {
    position: absolute;
    top: 64px;
    left: 60px;
    font-size: 24px;
    color: #797f8b;
}

.leftMenu.admin {
  width: 239px;
  border-right: 1px solid #c2c5c7;
  background: #fff;
}

.adminAreaMenu {
    margin-top: 32px;
    font-size: 0;
}
.adminAreaMenu .search-query {
    width: 160px;
}
.adminAreaMenu li, .adminAreaMenu ul {
    padding: 0;
    margin: 0;
}
.adminAreaMenu li a {
    font: 14px/38px 'Open Sans', sans-serif;
    color: #4b5364;
    padding: 0 15px;
    display: block;
}
.adminAreaMenu ul {
    border-bottom: 1px solid #dddddd;
}
.adminAreaMenu li {
    line-height: 14px;
    border-top: 1px solid #dddddd;
}
.adminAreaMenu li a:hover {
    background: #eaebec;
}
.adminAreaMenu li.active a {
    background: #1d87c8 !important;
    color: #ffffff !important;
    text-shadow: none !important;
}

.adminAreaMenu .form-search .search-query {
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    border-right: 0 none;
    border-color: #e1e2e3;
}
.adminAreaMenu .form-search .btn {
    height: 38px;
    padding: 0 18px;
    margin-top: 10px;
    float: left;
}
