.createCampaignTypePage {
  .stdPlashesColumn {
    height: 107px;
  }
}

.campaignPage {
  .campaignPageControlBox {
    .controlButtons {
      font-size: 0;
      float: left;
      margin-right: @small_margin;

      #campaignPageBackButton {
        width: 106px;
        margin-right: @small_margin;
      }
      #campaignPageNextButton {
        width: 106px;
      }
      #campaignPagePreviewButton {
        width: 220px;
      }
    }
  }
}

#adCampaignPage {
  .adContainer {
    border: 1px dashed #c2c4c6;
    margin-top: 3px;
    margin-left: 12px;
    padding: 12px;
    padding-bottom: 0;
    position: relative;
  }
  .adGroupContainer {
    position: relative;
  }
  .removeButton {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 16px;
    cursor: pointer;
  }
  .field-ad-tags_str {
    br {
      display: none;
    }
  }
}

#funnelFormPage {
  .stepContainer {
    border: 1px dashed #c2c4c6;
    margin-top: 3px;
    padding: 12px;
    padding-bottom: 0;
    position: relative;
  }
  .removeButton {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 16px;
    cursor: pointer;
  }
  .sortButton {
    position: absolute;
    top: 12px;
    right: 42px;
    font-size: 16px;
    cursor: pointer;
  }
  .optionalBlock {
    padding-top: 40px;
  }
  .stepsContainer {
    margin-top: -15px;
  }
}

#inboxFeedPage {
  .pushPreview {
    margin: 0;
    width: auto;
    .previewItem {
      margin: 0;
      width: 300px;
    }
  }
}
