#createPushCategoryContentBlock input[type="text"],
#createPushCategoryContentBlock select,
#createPushCategoryContentBlock .select_label {
    width: 100%;
}

#createPushCategoryContentBlock .buttonContainer {
    border: 1px dashed #c2c4c6;
    margin-top: 3px;
    padding: 12px;
    padding-bottom: 0;
    position: relative;
}

#createPushCategoryContentBlock .sortButton {
    position: absolute;
    top: 7px;
    right: 24px;
    font-size: 14px;
    cursor: pointer;
}

#createPushCategoryContentBlock .removeItem {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    cursor: pointer;
}