
#register-form {
    max-width: 600px;
    min-width: 250px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 40px;
    padding-top: 20px;
    background: #ffffff;
    border: 1px solid #d9dada;
}

#form-section {
	padding: 0 45px 20px 45px;
}
#form-section li {
	list-style: none;
}
#form-section label span {
	cursor: pointer;
	display: block;
	margin: 5px 0;
    font: 13px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #9f9f9f;
}
.left-column { /* left column from the two column input row */
	float: left;
	width: 48%;
}
.right-column { /* right column from the two column input row */
	width: 48%;
	float: right;
}
#form-section input {
	margin: 0 0 14px;
    width: 250px;
}
#form-section .full-column input {
    width: 510px;
}
#form-section button[type=submit] {
	width: 100%;
    cursor: pointer;
}

#register-form ::-webkit-input-placeholder {
	color: #888;
    font-size: 14px;
    line-height: 40px;
}
#register-form ::-moz-placeholder {
	color: #888;
    font-size: 14px;
    line-height: 40px;
}
#register-form ::-moz-placeholder {
	color: #888;
    font-size: 14px;
    line-height: 40px;
}
#register-form ::-ms-input-placeholder {
	color: #888;
    font-size: 14px;
    line-height: 40px;
}
#register-form ::-webkit-validation-bubble-message {
	background-color: #E5534E;
	font-size: 14px;
	top: -4px;
	left: 0px;
	width: auto;
	margin: 0;
	border: none;
	text-align: left;
	display: block;
	padding: 6px;
	border-radius: 4px;

	-webkit-box-shadow: none;
	box-shadow: none;
	text-indent: -22px;
}
#register-form ::-webkit-validation-bubble-message > div > div + * {
	font-size: 16px;
	line-height: 32px;
	font-family: 'Open Sans', sans-serif;
	color: #000;
}
#register-form ::-webkit-validation-bubble-arrow {
	background-color: transparent;
	border: none;
	position: absolute;
	top: 5px;
	color: #E5534E;
}
#register-form ::-webkit-validation-bubble-arrow:before {
	position: absolute;
	content: "\25E4";
}

#register-form .separator {
    height: 1px;
    line-height: 0;
    font-size: 0;
    background: #c2c4c6;
    margin: 20px 10px;
}

#register-form .plans {
    width: 100%;
}
#register-form .plans td {
    width: 25%;
    padding: 0 5px;
}
#register-form .plans td:first-child {
    padding-left: 0;
}
#register-form .plans td:last-child {
    padding-right: 0;
}
#register-form .plan {
    background: #ffffff; /* #7e98a9 */
    padding: 5px 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid #c2c4c6;
}
#register-form .plan:hover, #register-form .plan.active {
    border: 2px solid #32404d;
    padding: 4px 0;
    color: #32404d;
}
#register-form .plan_title {
    font:12px/25px 'Open Sans', sans-serif;
    text-transform: uppercase;
}
#register-form .plan_price {
    font-size: 16px;
    line-height: 20px;
}
#register-form .plan_price_by_agreement {
    line-height: 20px;
}


#register-form .addons {
    padding: 0 2px;
}
#register-form .addon {
    background: #ffffff; /* #7e98a9 */
    padding: 7px 7px;
    cursor: pointer;
    border: 1px solid #c2c4c6;
    margin-top: 10px;
}


#register-form .trial {
    text-align: center;
    font-size: 16px;
}

#register-form .terms {
    text-align: left;
    padding-left: 40px;
}
#register-form .terms p {
    margin-bottom: 12px;
}

#register-form .password-tip {
    margin-top: -14px;
}
