.segmentsWrapper {
    border: 1px solid #ebeef5;
    background: white;
}
.segmentConditions label {
    width: auto !important;
}
label.select_label {
    position:relative;
    font-size: 15px;
    margin-top: 1px;
    margin-bottom: 8px;
    display: inline-block;
    clear: none !important;
}
.choices-container {
    display: none;
    position: absolute;
    z-index: 500;
    overflow: hidden;
    padding: 12px;
    outline: none;
}
.choices-container .jsRemoveButton {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    cursor: pointer;
    z-index: 5;
}
.choices-container a {
    font: 14px/36px 'Open Sans', sans-serif;
    position: relative;
    width: 100%;
    display: block;
    margin: 3px 0;
    white-space: nowrap;
    padding-left: 10px;
    line-height: 30px;
    text-transform: none;
    cursor: pointer;
}
.choices-container a > i.icon {
    font-size: 25px;
    vertical-align: bottom;
    line-height: normal;
    margin-right: 5px;
}
label {
    margin-right: 5px;
}
table label.select_label:after {
    font-size: 11px;
    color: white;
}
table label.select_label:before {
    right: 1px;
    width: 21px;
    height: 23px;
    background: #0c648c;
}
input[type=button] {
    margin:0;
}

section.segmentsSection {
    position: relative;
    background: #f3f4f5;
}
.segmentConditions.levels2 {
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 3px;
}

.segmentTitle {
    font-size: 14pt;
    color: #000000;
    margin-bottom: 10px;
}
.sectionHeader {
    background: #fff;
}
.sectionHeader input[type=button] {
    width: 38px;
    padding: 0;
}
.titleHeader {
    color: #4b5364;
    width: 100%;
    overflow: hidden;
    font: 13px 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-indent: 27px;
    position: relative;
    margin-bottom: 12px;
}
.titleHeader label {
    font: 13px 'Open Sans', sans-serif;
    text-transform: uppercase;
    width: auto;
    margin-right: 20px;
}
.titleHeader input[type=button].transparent {
    background: none;
    color: #9f9f9f;
    font-weight: bold;
    font-size: 18px;
}
.titleHeader input[type=button].transparent.small {
    font-size: 12px;
}
.sectionHeader span {
    float: left;
    line-height: 38px;
}
.headerRight {
    float: right;
    line-height: 40px;
    margin-right: 14px;
}
.conditionWrapper {
    margin: 0;
    line-height: 30px;
    border: 1px solid #d9dada;
    padding: 10px 0px 10px;
    border-radius: 4px;
    background: #f8fafc;
    position: relative;
}
.conditionActionsWrapper{
  float: right;
  margin-right: 10px;
}
.levels2 .conditionOuterWrapper {
    position: relative;
}
.levels2 .conditionWrapper {
    margin: 15px 0;
}
.levels1 .conditionOuterWrapper {
    padding: 10px;
}
.levels1 .conditionOuterWrapper .relation {
    display: none;
}
.levels2 .conditionOuterWrapper .relation {
    position: absolute;
    right: -43px;
    border-left: none;
    border-right: 1px solid #d9dada;
    height: 40px;
    width: 60px;
    background: none;
    display: none;
}
.levels2 .conditionOuterWrapper .top-relation {
    border-bottom: 1px solid #d9dada;
}
.levels2 .conditionOuterWrapper .bottom-relation {
    border-top: 1px solid #d9dada;
}
.conditionWrapper .titleHeader {
    height: 35px;
}
.conditionRow {
    border: 1px solid #DBDEE7;
    margin: 14px;
    padding: 7px 0 0 7px;
    background-color: white;
    border-radius: 4px;
    position: relative;
    overflow: visible;
    vertical-align: top;
}
.conditionRelation {
    padding: 3px 16px;
    line-height: 20px;
    font-size: 14px;
    visibility: visible;
    text-transform: uppercase;
}
.segmentConditions > .conditionRelation {
    float: right;
    bottom: 20px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #c2c4c6;
    background: #eaebec;
    text-align: center;
    width: 64px;
    z-index: 2;
}
.conditionRelation:last-child {
    display: none;
}
.conditionAnd, .conditionOr {
    display: none;
}
.relations_and > .conditionRelation > .conditionAnd {
    display: block;
}
.relations_or > .conditionRelation > .conditionOr {
    display: block;
}
.conditionWrapper .titleHeader input[type=button] {
    width: 35px;
    height: 35px;
    line-height: 30px;
    padding: 0 10px;
}
.conditionWrapper .conditionRow > * {
    display: inline-block;
    vertical-align: top;
}
.conditionWrapper .fieldGroup > * {
  display: inline-block;
  vertical-align: top;
}


.segmentConditions .conditionWrapper input[type=text],
.segmentConditions .conditionWrapper input[type=number],
.segmentConditions .conditionWrapper input[type=file]{
    margin-right: 5px;
    height: 38px;
    border-radius: 4px;
}
.segmentConditions .fake-input-file {
    height: 38px;
    line-height: 38px;
}
.segmentConditions .fake-input-file a, .segmentConditions .fake-input-file span {
    font-size: 12px;
}
.conditionRow input {
    background: #FFF;
    border: 1px solid #c2c4c6;
    padding: 0 10px;
    color: #bbb;
    font: 300 14px/39px 'Open Sans', sans-serif;
    outline: none;
    height: 46px;
}
.conditionWrapper input.delete {
    color: #797f8b;
    width: 30px;
    height: 38px;
    border: 0 none;
    background: none;
}
.levels1 .jsRemoveConditionBlock {
    display: none;
}

.conditionWrapper select, .conditionWrapper input {
    font-size: 12px;
    border-radius: 4px;
}

.conditionWrapper .datePicker {
    margin-right: 5px;
}
.conditionWrapper .datePicker span.jsDatePicker {
    text-align: center;
    font-size: 12px;
    width: 184px;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    border: 1px solid #c2c4c6;
    background: #fff;
}
.conditionWrapper .datePicker .btn {
    display: inline-block;
}
.conditionWrapper .datePicker span.jsDatePicker.disabled {
    pointer-events: none;
    color: #c2c4c6;
}

#segmentsContainer .addressableDevicesNewCampaignAbs {
    left: 0;
    top: 4px;
    margin: 0;
}
#segmentsContainer .addressableDevicesNewCampaign {
    max-width: none;
    height: auto;
    min-height: 40px;
}
#segmentsContainer .addressableDevicesNewCampaignAbs .column1, #segmentsContainer .addressableDevicesNewCampaignAbs .column2 {
    float: left;
}
#segmentsContainer .addressableDevicesNewCampaignAbs .column2 span {
    margin-left: 40px;
}

.icon.icon-plus {
    vertical-align: middle;
}
.jsDeleteConditionRow{
  cursor: pointer;
  font-size: 1.5em;
  line-height: 39px;
  color: #a7acba;
}
