#appSettingsPage {
    padding-left: 10px;
    overflow: hidden;
}

#appSettingsPage .rightWrapper {
    width: 50%;
    padding-left: 30px;
    padding-right: 20px;
}

#appSettingsPage .leftWrapper {
    width: 50%;
    padding-right: 30px;
    padding-left: 0;
}

#AccountProject_timezone {
    width: 60%;
    background: none;
}

#appSettingsPage label {
    width: auto;
    min-width: 250px;
    display: inline-block;
}

#appSettingsPage label.checkbox,
#appSettingsPage label.radio {
    width: auto;
    min-width: 0;
}

#appSettingsPage #appSettingsSections {
    display: none;
}

#appSettingsPage .urlSectionTable table tbody label.checkbox {
    width: auto;
    min-width: 15px;
}

#appSettingsDeleteSection .leftWrapper {
    width: 100%;
}

#appSettingsCategoriesPrioritySection .jsCategory {
    background: #fff;
    border: 1px dashed #e2e4e6;
    margin-bottom: 10px;
}

#appSettingsCategoriesPrioritySection .categoryIndex {
    background: #333;
    border: 1px solid grey;
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 0;
    color: white;
}

#appSettingsCategoriesPrioritySection .sortButton,
#appSettingsCategoriesPrioritySection .removeButton {
    position: absolute;
    right: 5px;
    top: -5px;
    font-size: 15px;
    cursor: pointer;
}

#appSettingsCategoriesPrioritySection .sortButton {
    right: 20px;
}

.ProjectIconImageBox, .ProjectEmailSubscriptionImageBox {
    float: left;
    margin-left: 4px;
    margin-top: 4px;
}

.ProjectIconImageBox img, .ProjectEmailSubscriptionImageBox img {
    width: 32px;
    height: 32px;
}

.ProjectEmailSubscriptionColorBox {
    height: 40px;
    width: 40px;
    margin-left: -4px;
    margin-top: -1px;
    display: inline-block;
    border: 1px solid #c2c4c6;
    vertical-align: top;
}

#appSettingsPage .jsTogglePassword input {
    cursor: default;
}

#appSettingsPage .jsTogglePassword span {
    float: right;
    padding-right: 5px;
    margin-top: -27px;
    position: relative;
    z-index: 10;
}

#trackingSettingsPage .trackingParam {
    position: relative;
}

#trackingSettingsPage .trackingParamWrapper {
    width: 95%;
}

#trackingSettingsPage .removeButton {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 16px;
    cursor: pointer;
}

#projectIntegrationsPage .jsTogglePassword {
    display: inline-block;
}

#projectIntegrationsPage .jsTogglePassword input {
    cursor: default;
}

#projectIntegrationsPage .jsTogglePassword span {
    padding-right: 5px;
    margin-top: -27px;
    margin-left: -20px;
    position: relative;
    z-index: 10;
}

#projectIntegrationsPage .buttonIcon {
    line-height: 20px;
    vertical-align: text-bottom;
}

#projectIntegrationsPage .tokenInput {
    width: 260px;
    margin: 12px 0;
    height: 30px;
    font-size: 12px;
}