#createSnippetContentBlock input[type="text"],
#createSnippetContentBlock select,
#createSnippetContentBlock .select_label {
    width: 100%;
}

.snippet-text-editor textarea {
    background: none;
    margin: 0;
    border: 1px solid #c2c4c6;
}
