
h1 {
    position:relative;
    width:100%;
    height:auto;
    font:22pt/22pt 'Open Sans', sans-serif;
    color:#9f9f9f;
    text-align:center;
    display:block;
    text-indent: 0;
    padding-top: 14px;
    margin: 0 0 18px 0;
}
h2 {
    position:relative;
    width:100%;
    height:auto;
    padding-top: 8px;
    margin: 0 0 12px 0;
    font:18pt/20pt 'Open Sans', sans-serif;
    color:#999;
    text-align:center;
    text-transform:capitalize;
    display:block;
    text-indent: 0;
}


/* HELPERS */
.entypo {
    font-family: fontello;
}
.hidden {
    display: none;
}
.text.red{
    color: red;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.centered {
    overflow: hidden;
    position: relative;
}
.centered > div {
    display: table;
    height: 100%;
    margin: 0 auto;
}
.centered > div > div {
    display: table-cell;
    vertical-align: middle;
}
.text-yellow {
    color: #f39c12 !important;
}
textarea.error, input.error {
    border: 1px solid #ff1d25 !important;
}


/* COMMON ELEMENTS */
.notifybox {
    display: block;
    margin-bottom: 10px;
    padding: 5px 10px;
    color: #4b5364;
    background-color: #fff;
    border: 1px solid #d6d8db;
    font: 300 14px/30px 'Open Sans', sans-serif;
    position: relative;
}
.notifybox_fullwidth .notifybox {
    margin: 0 !important;
    border-top: 0;
}
.notifybox a {
    color: #4b5364;
}
.notifybox b {
    color: #000;
    font: 300 14px/30px 'Open Sans', sans-serif;
}
.notifybox.warning {
    background-color: #fff7d8;
}
.notifybox.error {
    background-color: #eeaea0;
}
.notifybox.green {
    background-color: rgb(128, 200, 128);
}
.notifybox ul li > span {
    text-transform: uppercase;
}
.notifybox ul li a {
    color: white;
    text-decoration: underline;
}
.notifybox .cookiebutton {
    position: absolute;
    line-height: 42px;
    top: 0;
    right: 15px;
    font-size: 12px;
    cursor: pointer;
}
.notifybox .cookiebutton:hover {
    text-decoration: underline;
}
.error-notify {
    display: block;
    color: red;
    padding-top: 8px;
}
.warning-box {
    background: #fff;
    color: orange;
    padding: 19px;
    position: relative;
    top: -26px;
    left: -30px;
    margin-right: -45px;
    font: 300 15px 'Open Sans', sans-serif;
    border-bottom: 1px solid #e2e2e2;
}
.fullWidth .notifybox {
    margin: 10px;
}

#ajaxLoaderLayout {
    display: none;
    background: #000;
    opacity: 0.6;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99998;
}
#ajaxLoader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    z-index: 99999;
}
#ajaxLoader .ajaxLoaderImage {
    width: 66px;
    height: 66px;
    background: url('../../img/icon/ajax-loader.gif') 0 0 scroll no-repeat;
}

.select{
    position:relative;
    float:left;
    width:auto;
    text-transform:capitalize;
    background:transparent;
    top:2px;
}
.select ul li{
    list-style:none;
    display:inline;
    float:left;
    width:150px;
    height:42px;
    background:transparent;
    cursor:pointer;
    border:1px solid #c2c4c6;
    padding:0 10px;
    font: 14px/24px 'Open Sans', sans-serif;
}
.select ul li a {
    display:block;
    color:#fff;
    position:relative;
}
.select ul li ul{
    position:relative;
    width:150px;
    display:none;
    overflow: hidden;
    height:0;
    padding:0;
    left:-12px;
    /*top:5px;*/
    -webkit-transition:all .3s;/*Crome/Safari*/
    -moz-transition:all .3s;/*Firefox*/
    -ms-transition:all .3s;/*IE-->No funciona todavía*/
    -o-transition:all .3s;/*Opera*/
    transition:all .3s;
}
.select ul li ul.folded {
    padding: 5px 0 0;
    height: auto;
    display: block;
}
.select ul li ul li{
    display:block;position:relative;background:#0c648c;border:0;overflow: hidden; margin-top:0; height:auto; line-height:25pt;}
.select ul li ul li a{color:#fff;border:0;}
.select ul li:hover{background:transparent;}
.select ul li ul li:hover {background:#33aee5;}
.select ul li:hover ul{ /*height:110px;*/ }

.pagination {
    margin: 25px auto;
    text-align: center;
    position: relative;
}
.pagination > div {
    display: table;
    height: 100%;
    margin: 0 auto;
}
.pagination > div > ul {
    margin: 0 10px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.pagination > div > ul > li {
    text-align: center;
    float: left;
    font: 14px/30px 'Open Sans', sans-serif;
    display: block;
    width: auto;
    margin: 0 4px;
}
.pagination > div > ul > li.active a, .pagination > div > ul > li:hover a  {
    background-color: #fff;
}
.pagination > div > ul > li a {
    vertical-align: middle;
    padding: 0 5px;
    display: block;
    height: 30px;
    min-width: 30px;
    line-height: 30px;
    overflow: hidden;
    color: #797a7e;
    border: 1px solid #bfbfbf;
    padding: 0 10px;
    text-transform: uppercase;
}

#content table td {
    padding: 0;
}
#content form label {
    /*width: 100px;*/
    color: #6e6e6e;
}

#dropDown { position:relative; width:100%; height:auto; padding:0 ; left:0; background:transparent; border:1px solid #0085cb; color:#fff; font:12pt/30pt 'Open Sans', sans-serif; cursor:pointer; z-index:100;}
#dropDown span{display:inline-block;position:relative; float:left; top:17px; margin:0 15px;
               border-left:6px solid transparent;
               border-top:6px solid #fff;
               border-right:6px solid transparent;
               border-bottom:0;}
#dropDown ul li ul {position:relative; display:none; width:250px; height:auto; margin:0; overflow:auto;}
#dropDown ul li ul li { cursor:pointer; background:transparent ; padding:0px 20px;}
#dropDown ul li ul li a{color:#FFF; padding:0 0 0 25px;}
#dropDown ul li ul li:hover{background:#ff931e;}

.verticalMargins {
    margin-top: 5px;
    margin-bottom: 5px;
}
.leftRightWrapper {

    overflow: hidden;
    width: 1160px;

}
.notifyPage {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
}
#errorPage {
    margin-left: -250px;
    margin-top: -150px;
    width: 500px;
    height: 300px;
    text-align: center;
}
#errorPage p {
    font-size: 200%;
}

body > .modalWindowsContainer {
    display: none;
}
.table-popup {
    width: auto;
    max-width: 70%;
    overflow: hidden;
    padding-right: 40px;
}
.modalWrapper {
    position: relative;
    background: #fff;
}

.selectize-control.plugin-remove_button [data-value] .remove {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 22px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    padding: 2px 0 0 0;
    margin: -1px -1px -1px 0;
    border-left: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 5px 8px 3px 0;
    padding: 2px 6px;
    background: #fff;
    color: #666;
    border: 1px solid #0085cb;
}
.selectize-control.multi .selectize-input > div.active {
    background: #fff;
    color: #666;
    border: 1px solid #0085cb;
}

.fake-input-file {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 40px;
    display: inline-block;
    margin-bottom: -11px;
    background-color: #fff;
    border: 1px solid #cccccc;
    color: #989a9c;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
}
.fake-input-file:hover {
    border-color: #1d87c8;
}
.fake-input-file.like-input {
    height: 37px;
    width: 100%;
}
.fake-input-file a, .fake-input-file span {
    color: #989a9c;
    font: 300 16px/40px 'Open Sans', sans-serif;
}
.fake-input-file:hover a, .fake-input-file:hover span {
    color: #1d87c8;
}
.fake-input-file input[type="file"] {
    position: absolute;
    top: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 52px;
    height: 40px;
    width: 690px;
    margin-left: -500px;
    cursor: pointer;
}
.fake-input-file.disabled {
    background-color: #808080;
}
.fake-input-file img {
    float: left;
    width: 32px;
    height: 32px;
}
.fake-input-file.like-input img {
    margin-left: 2px;
    margin-top: 2px;
}

#login-panel {
    width: 434px;
    margin: 0 auto;
    padding-top: 166px;
    padding-bottom: 150px;
}
#login-panel.register {
    padding-top: 40px;
    width: 1000px;
}
#login-panel p {
    text-align: center;
    font-size: .95em;
    margin: 0 auto;
}
#login-panel p.slogan {
    margin-top: -10px;
    margin-bottom: 20px;
}
#login-panel #message {
    margin-top: 30px;
}
#login-panel form {
    margin-top: 50px;
}
#login-panel .button {
    width: 290px;
    height: 40px;
    border-radius: 8px;
    background-color: #0E62BC;
    border-width: 0;
    color: #fff;
    clear: both;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}
#login-panel.register .button.login {
    margin: 0 auto;
    display: block;
}
#login-panel.register .button {
    display: inline-block;
    width: 200px;
    margin-right: 0;
}
#login-panel.register .about {
    float: left;
    margin: 0;
    text-align: left;
    margin-top: 50px;
}
#login-panel.register .about p {
    text-align: left;
}
#login-panel.register .about.left {
    width: 480px;
    padding-right: 120px;
}
#login-panel.register .about.right {
    width: 400px;
}
#login-panel input {
    border-color: #d6dbe2;
    border-width: 1px;
    border-style: solid;
    padding: 0;
    width: 248px;
    height: 38px;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
    background-color: #f8fafd;
    outline: none; /* to remove the system border */
    resize: none; /* to remove the system border */
}
#login-panel.register input {
    display: inline-block;
    width: 208px;
    margin-right: 10px;
}
#login-panel input:focus {
    box-shadow: inset 0 0 2px 1px #0E62BC;
}
#login-panel input[type="email"], #login-panel input[type="password"], #login-panel input[type="text"] {
    padding-left: 42px;
    font-size: .9em;
    background-repeat: no-repeat;
}

.rightWrapper {
    width: 50%;
    padding-left: 30px;
    float: right;
}
.rightWrapper.leftWrapper {
    float: left;
    width: 50%;
    padding-right: 30px;
    padding-left: 0px;
}
.rightWrapper.centerWrapper {
    padding-left: 0 !important;
    padding-right: 0;
    float: none;
    width: 100% !important;
}
.rightWrapper label {
    font: 13px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #6e6e6e;
}
.rightWrapper input[type="text"], .rightWrapper input[type="password"], .rightWrapper select, #content .rightWrapper textarea {
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    outline: none;
    color: #717782;
    background: #fff;
    font: 300 16px 'Open Sans', sans-serif;
    padding-left: 10px;
    margin: -1px 0px;
    width: 100%;
    transitions: all 100ms linear
}
.rightWrapper textarea {
    width: 160px;
}
.rightWrapper input[type="checkbox"] {
    border: 1px solid #ccc;
}
.rightWrapper input[type="submit"] {
    background: #4b5364;
    outline: none;
    float: right;
    font: 16px 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.app-main {
    /* set a z-index scope for the whole app */
    /* dialogs will have their own z-index scope outside of this */
    position: relative;
    z-index: 1;
}

#content .titleWrapper {
    height: 50px;
    width: 100%;
    line-height: 50px;
}
.titleWrapper span {
    float: left;
}
.circleShape {
    height: 20px;
    width: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #FFF;
    margin-top: 7px;
    margin-left: 7px;
    display: inline-block;
    float: left;
}
#appActive {
    width:250px;
    height:42px;
    padding:0 ;
    color: #717782;
    font: 15px/38px 'Open Sans', sans-serif;
    border: 1px solid #c2c4c6;
    cursor:pointer;
    -webkit-transition:height .5s;/*Crome/Safari*/
    -moz-transition:height .5s;/*Firefox*/
    -ms-transition:height .5s;/*IE-->No funciona todavía*/
    -o-transition:height .5s;/*Opera*/
    transition:height .5s;
    display: block;
    position: relative;
}
#appActive > ul {
    padding: 0;
    margin: 0;
    position: relative;
}
#appActive > ul > li {
    height: 40px;
    overflow: visible;
    -webkit-transition:height .5s;/*Crome/Safari*/
    -moz-transition:height .5s;/*Firefox*/
    -ms-transition:height .5s;/*IE-->No funciona todavía*/
    -o-transition:height .5s;/*Opera*/
    transition:height .5s;
    text-align: left;
    padding-left: 25px;
    padding-right: 30px;
    font-weight: 300;
    text-transform: capitalize;
    background: #fff;
}
#appActive .currentTitle {
    width: 100%;
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 38px;
    line-height: 40px;
}
#appActive svg, #appActive img {
    display: block;
    height: 22px;
    width: 22px;
    position: absolute;
    top: 8px;
    left: 24px;
}
#appActive svg path {
    fill: #4b5364;
}
#appActive span.selectArrow {
    display: inline-block;
    position: absolute;
    top: 3px;
    right: 6px;
    color: #c2c4c6;
    font-size: 20px;
}
#appActive ul li ul {
    position:absolute;
    width:250px;
    overflow-y: visible;
    display: none;
    top: 38px;
    border: 1px solid #c2c4c6;
    padding: 0;
    margin: 0;
    background: #f3f4f5;
    z-index: 100;
    left: -1px;
    max-height: 300px;
    overflow-y: auto;
    background: #fff;
}
#appActive ul li ul li {
    cursor:pointer;
    padding: 0;
    margin: 0;
}
#appActive ul li ul li a {
    color: #717782;
    padding:8px;
    display: block;
    font: 300 14px/20px 'Open Sans', sans-serif;
    border-bottom: 1px solid #d6d8db;
}
#appActive ul li ul li a:hover {
    color: #fff !important;
    background: #1d87c8;
}
#appActive ul li ul li:last-child a {
    border-bottom: 0px;
}
#appActive ul li ul li:hover a {
    color: #4b5364;
}


/* WIDGETS */
.splitColumns2 {
    padding-left: 5px;
    padding-right: 5px;
}
.splitColumns2 .splitColumn1 {
    float: left;
    margin-left: -5px;
    width: 50%;
}
.splitColumns2 .splitColumn2 {
    float: right;
    margin-right: -5px;
    width: 50%;
}

.splitColumns3 {
    padding-left: 10px;
    padding-right: 10px;
}
.splitColumns3 .splitColumn1 {
    float: left;
    margin-left: -10px;
    margin-right: 10px;
    width: 33.3%;
}
.splitColumns3 .splitColumn2 {
    float: left;
    width: 33.3%;
}
.splitColumns3 .splitColumn3 {
    float: right;
    margin-right: -10px;
    width: 33.3%;
}

.grid_log #yw0_c0 {
    width: 170px;
}
.grid_log #yw0_c1 {
    width: 200px;
}
.grid_log #yw0_c3 {
    width: 80px;
}
.grid_log #yw0_c4 {
    width: 80px;
}
.grid_log td {
    padding-left: 5px;
    padding-right: 5px;
}
.grid_log tr td:nth-child(4) {
    text-align: center;
}
.grid_log tr td:nth-child(5) {
    text-align: center;
}

#wrapperForm label {
    display: inline-block;
    vertical-align: middle;
}
#wrapperForm .btn.blue {
    padding: 10px 20px 9px;
}
#wrapperForm .fake-input-file {
    margin-bottom: 10px;
    vertical-align: middle;
}
#wrapperForm  .select_label {
    height: 50px;
}
#wrapperForm  input[type="text"] {
    height: 50px;
}

.b-close { cursor: pointer; }
.grid-view select {
    height: 40px;
    line-height: 40px;
}

#content .users-table table td {
    padding: 10px 8px;
}
#content .users-table table td:first-child {
    padding: 10px;
}
#content .users-table table td .update {
    margin-right: 10px;
}
#content .users-table .filters td {
    padding: 10px 8px;
}
#content .users-table .filters td input, #content .users-table .filters td select {
    margin-bottom: 0px;
}

#content .users-table .filters td select {
   border-radius: 0px;
   background: #fff;
   outline: none;
   color: #555;
   line-height: 20px;
}
#content .users-table .filters td:first-child {
    padding: 10px 0px;
}

#push_history th {

}
#push_history td, #push_history th {
    border-right: 1px solid #c3c5c8;
}
#push_history td:last-child, #push_history th:last-child {
    border-right: 0px;
    width: 90px;
}
#push_history td:last-child a {
    padding: 0px 2px;
}
#segmentBuilderModal form input {
    font: 300 14px/40px 'Open Sans', sans-serif;
    height: 40px;
    border: 0px;
    border-bottom: 1px solid #d9dada;
    outline: none;
}

#content.blurred * {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}
#content.blurred .notifybox, #content.blurred .notifybox * {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}
#content .blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#content .ui-sortable>* {
    background-color: #fff;
}



.plash {
    background: #fff;
    border: 1px solid #c2c4c6;
    position: relative;
}
.plash.plain {
    padding: 2px 0 11px 0;
}
.plashes a {
    color: #999;
    display: block;
    padding: 2px 0 11px 0;
}
.plash a:hover {
    background: #f3f4f5;
}
.plash .title {
    margin-top: 4px;
    font: 16px/30px 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.plash .image {
    float: left;
    width: 70px;
    font-size: 50px;
    text-align: center;
}
.plash .button {
    position: absolute;
    top: 11px;
    right: 11px;
}
.plash .value {
    color: #4b5364;
    font-size: 16px;
}

.plashes .plash_wrapper {
    padding-right: 10px;
    float: left;
}
.plashes .plash_wrapper:last-child {
    padding-right: 0;
    float: right;
}
.plashes_cols2 .plash_wrapper {
    width: 50%;
}
.plashes_cols3 .plash_wrapper {
    width: 33.33%;
}



.page_placeholder {
    margin-top: 20px;
    text-align: center;
}
.page_placeholder p {
    margin-bottom: 12px;
}



.textPage {
    background: #fff;
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    color: #000;
    line-height: 24px;
}
.textPage h1 {
    color: #000;
}
.textPage ul, .textPage ol {
    margin-left: 20px;
}


.no_background_image {
    background-image: none !important;
}


.actionLink {
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    color: #9f9f9f;
}
.actionLink:hover {
    text-decoration: none;
}

textarea.form-control {
    height: 300px;
    min-height: 0;
    border: 1px solid #ccc;
    outline: none;
    color: #717782;
    background: #fff;
    font: 300 16px 'Open Sans', sans-serif;
}


#content h1 {
    font-size: 19px !important;
    line-height: 20px;
    color: #32404d;
    margin-bottom: 12px;
}

#variant-selector-container .button {
    font-size: 16px;
    font-weight: bold;
    border-bottom: none;
}

#variant-selector-container .button:first-child,
#variant-selector-container .button:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
