.table {
    overflow-x: auto;
    margin: 12px 0;
}
.table table {
    width: 100%;
    border-collapse: collapse;
    background: #ecedee;
    border: 1px solid #c4c7cc;
    font: 12px/24px 'Open Sans', sans-serif;
    color: #797a7e;
    table-layout: fixed;
    margin: 0;
}
.table thead tr {
    background: #fff;
}
.table tfoot tr {
    background: #fff;
}
.table td,
.table th {
    text-align: left;
    border:none;
    padding: 5px 10px 5px 10px !important;
    height: 30px;
    overflow-x: hidden;
    font: 400 12px/24px 'Open Sans', sans-serif;
    color: #6e6e6e;
}
.table th{
    font-weight: bold !important;
    color: #1d87c8;
    font: 12px/15px 'Open Sans' !important;
    white-space: nowrap;
    position: relative;
    padding: 0 10px !important;
    vertical-align: middle;
    height: 38px;
}
.table th a {
    color: #1d87c8;
}
.table td a {
    color: inherit;
}
.table td a:hover {
    color: #1d87c8;
}

.table tbody tr:nth-of-type(even) {
    background: #ffffff;
}
.table tbody tr:nth-of-type(odd) {
    background: #f7f8f9;
}
.table tbody tr:hover {
    background: #e1e1e1;
}
.table tr.even {
    background: #ffffff;
}
.table tr.odd {
    background: #f7f8f9;
}
.table tr  {
    border-top: 1px solid #d1d2d5;
    height: 30px;
    overflow: hidden;
    font-size: 13px;
}
.table tr tr.draft {
    background: #b3b3b3;
    border:none;
}
.table tr.clickable:hover {
    background: #d0d0d2;
    cursor: pointer;
}
.table th.sortable {
    cursor: pointer;
}
.table.data td, .table.data th {
    border: 1px solid #c4c7cc;
}
.table .sortIcon {
    position: absolute;
    right: 6px;
    line-height: 12px;
    top: 50%;
    margin-top: -6px;
}
.table .smallHeader .sortIcon {
    top: auto;
    bottom: 2px;
    margin-top: 0;
    right:auto;
    left: 50%;
    margin-left: -7px;
}
.table .entypo, .table td i {
    color: #999;
}
.table i.disabled {
    color: #cccccc;
}

.table.columns2 {
    padding-top: 10px;
    padding-bottom: 4px;
    padding-right: 7px;
    padding-left: 7px;
}
.table.columns2 table {
    margin: 0 0 6px 0;
}
.table.columns2 .column1 {
    width: 50%;
    box-sizing: border-box;
    padding-right: 5px;
    float: left;
    padding-left: 10px;
}
.table.columns2 .column2 {
    width: 50%;
    box-sizing: border-box;
    padding-left: 5px;
    float: left;
    padding-right: 10px;
}
.table.columns2 .column {
    width: 50%;
    padding-left: 3px;
    padding-right: 3px;
    float: left;
}

.tableWrapper {
    background: #d5d7da;
}
.tableWrapper .tabContentTabs {
    margin-bottom: 0;
}

.table .checkboxColumn {
    padding-left: 18px !important;
    padding-top: 7px !important;
}
.table .checkboxHeader {
    width: 50px;
    min-width: 50px;
    padding-top: 4px !important;
    padding-left: 3px !important;
    padding-right: 0px !important;
}
.table .checkboxHeader .checkCheck {
    float: left;
    margin-left: 3px;
}

.table .searchColumn {
    padding: 0 !important;
    position: relative;
}
.table .searchColumn input {
    border: 0 none;
    width: 100%;
    cursor: auto;
    height: 34px;
    outline: none;
    padding-left: 45px;
    padding-right: 10px;
    color: #797a7e;
    font: 300 14px/34px 'Open Sans', sans-serif;
}
.table .searchColumn .icon-search {
    position: absolute;
    left: 15px;
    top: 5px;
    color: rgb(183, 185, 196);
    font-size: 16px;
}

.table .showMore td {
    text-align: center;
    cursor: pointer;
    color: #797a7e;
}
.table .showMore i {
    color: #797a7e;
    margin-right: 4px;
}

.table .udColumn {
    width: 90px;
    text-align: right;
    white-space: nowrap;
}
.table .udColumn span {
    margin-left: 4px;
}
.table .udColumn span:first-child {
    margin-left: 0;
}

.table .filters input {
    height: 30px;
    line-height: 30px;
}

.grid-view .table {
    border: 1px solid #c4c7cc;
    width: 100%;
    border-collapse: collapse;
    background: #e2e3e6;
    border: 1px solid #c4c7cc;
    font: 12px/24px 'Open Sans', sans-serif;
    color: #797a7e;
}
.grid {
    border: 0 none;
}

.table-title {
    font: 14px/36px 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 0 10px;
    background: #ffffff;
    border: 1px solid #c2c4c6;
    border-bottom: 0 none;
}

.pagination td {
    text-align: center;
}
.pagination li {
    display: inline-block;
}
.pagination .disabled {
    display: none;
}
.pagination a {
    display: inline-block;
    background: #ffffff;
    color: #797a7e;
    text-align: center;
    border: 1px solid #dadcde;
    font: 12px/24px 'Open Sans', sans-serif;
    padding: 2px 8px;
    min-width: 35px;
    border-radius: 2px;
}
.pagination a:hover, .pagination li.active a {
    background: #1d87c8;
    color: #ffffff;
}



table.table {
    width: 100%;
    table-layout: fixed;
}

.table .filters input {
    width: 100%;
    max-width: 100%;
}

.table .filters select {
    width: 100%;
    max-width: 100%;
    height: 30px;
    line-height: 30px;
}

.table .group {
    color: #a9a8a8;
    margin-left: 6px;
}

.tableNoMargin {
    margin: 0;
}

.table .alignCenter {
    text-align: center;
}

.table .noSortIcon .sortIcon {
    display: none;
}

.table th.smallHeader {
    font-size: 10px !important;
    padding: 0 5px;
}
.table th.centerHeader {
    text-align: center;
}

.table td .description {
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 2px;
    color: #888888;
}

.tableAuto table {
    table-layout: auto;
}

.table tr.greyedOut td {
    text-decoration: line-through;
}