/* TAB CONTENT */

.tabContentTabs {
    background: #ffffff;
    border: 1px solid #dddddd;
    padding: 8px;
    margin-bottom: 10px;
}
.tabContentHidden {
    height: 0;
    overflow: hidden;
    position: absolute;
}
.tabContentWrapperMerged {
    /*background: #d5d7da;*/
}
.tabContentWrapper .tabContentTabs {
    margin-bottom: 0;
    border-bottom: 0 none;
}
.tabContentWrapper .tabContentTabsExternal {
    margin-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}
.tabContentWrapperMerged .tabContents {
    padding: 0;
}
.tabContentWrapperMerged .table, .tabContentWrapperMerged table {
    margin: 0 !important;
}
.tabContentWrapperMergedDefault .tabContents {
    padding: 10px;
    border: 1px solid #c2c4c6;
    border-top-color: #eeeeee;
    background: #ffffff;
}


/* UI AUTOCOMPLETE */

.ui-autocomplete {
    z-index: 999999 !important;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ui-autocomplete li > div {
    padding-left: 6px;
    padding-right: 6px;
}
.ui-autocomplete .description {
    font-size: 11px;
    color: #666666;
    padding-left: 5px;
}
.ui-autocomplete .tags {
    font-size: 11px;
    color: #a9a8a8;
    margin-left: 5px;
}
.ui-autocomplete-loading {
    background-image: url(../../img/ajax-loader.gif) !important;
    background-repeat: no-repeat !important;
    background-position: right 5px center !important;
    background-size: 20px 20px !important;
}


.ui-datepicker {
    z-index: 999999 !important;
}


/* CONTENT EDITOR */

.contentEditor {
    position: relative;
}
.contentEditor .contentEditorToolbar {
    position: absolute;
    z-index: 1100;
    top: 10px;
    right: 8px;
}
.contentEditor .contentEditorToolbar i {
    color: #111111;
    cursor: pointer;
    margin-left: 8px;
    font-size: 12px;
    font-style: normal;
    vertical-align: bottom;
}
.contentEditor .contentEditorToolbar span {
    color: #111111;
    cursor: pointer;
    margin-left: 8px;
    font-size: 15px;
    vertical-align: middle;
    line-height: 18px;
}
.contentEditor.contentEditorWysiwyg .contentEditorToolbar {
    top: 7px;
    right: 10px;
}
.contentEditor.contentEditorWysiwyg .contentEditorToolbar i {
    margin-left: 12px;
}
.contentEditor.contentEditorWysiwyg .contentEditorToolbar span {
    margin-left: 12px;
}

.personalizationEditor .personalizationPopup {
    display: none;
    position: absolute;
    z-index: 2002;
    width: 400px;
    right: -1px;
    top: 35px;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
    padding: 12px;
    background: white;
}
.personalizationEditor .personalizationPopupRemoveButton {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 16px;
    cursor: pointer;
}

.emojisEditor .emojisPopup {
    display: none;
    position: absolute;
    z-index: 2002;
    width: 310px;
    right: -1px;
    top: 35px;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
    background: white;
}
.emojisEditor .emojisPopup .emojisMenu {
    background: #eaeaea;
}
.emojisEditor .emojisPopup .emojisCategory {
    height: 160px;
    overflow-x: hidden;
    overflow-y: auto;
}
.emojisEditor .emojisPopup .emojisTitle {
    margin: 4px;
    font-weight: bold;
    color: #666666;
}
.emojisEditor .emojisPopup .emojisItem {
    display: inline-block;
    font-size: 16px;
    text-align: center;
    width: 30px;
    margin: 4px;
    cursor: pointer;
}


.snippetEditor .snippetPopup {
    display: none;
    position: absolute;
    z-index: 2002;
    width: 400px;
    right: -1px;
    top: 35px;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
    padding: 12px;
    background: white;
}
.snippetEditor .snippetPopupRemoveButton {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 16px;
    cursor: pointer;
}


.contentEditor.personalizationEditor textarea,
.contentEditor.personalizationEditor input,
.contentEditor.emojisEditor textarea,
.contentEditor.emojisEditor input,
.contentEditor.snippetEditor textarea,
.contentEditor.snippetEditor input  {
    padding-right: 75px !important;
}
.contentEditor.emojisEditor.personalizationEditor.snippetEditor.optimoveEditor textarea,
.contentEditor.emojisEditor.personalizationEditor.snippetEditor.optimoveEditor input {
    padding-right: 100px !important;
}



/* PASSWORD TIP */

.password-tip {
    position: absolute;
    background: rgba(255,255,255,0.96);
    padding: 10px 20px;
    display: none;
    line-height: 22px;
    border: 1px solid #ddd;
    border-top: 0px;
    font-size: 14px;
}
.password-tip ul {
    padding-left: 14px;
}
.password-tip li {
    color: #eeb159;
    font-size: 12px;
    list-style: disc !important;
}
input:focus + .password-tip {
    display: block;
    z-index: 1000;
}
.password-tip li.active {
    opacity: 1;
    color: #5eb546;
}
.stdForm .password-tip {
    margin-top: 1px;
}

/* SEND TEST DIALOG */

.send-test-dialog .inputContainer label {
    color: #666;
}
.send-test-dialog .inputContainer input {
    width: 100%;
}
.send-test-dialog .inputContainer .inputError {
    position: initial;
    margin: 0;
}
.send-test-dialog .ui-dialog-buttonpane {
    text-align: center;
}
.send-test-dialog .ui-dialog-buttonpane  .ui-dialog-buttonset {
    float: none;
}
.send-test-dialog.ui-state-disabled {
    opacity: .6;
    filter: Alpha(Opacity=60);
}
.send-test-dialog.ui-state-disabled .ui-dialog-titlebar-close {
    display: none;
}

/* DIFFERENT */

.colorpicker {
    z-index: 1100;
}
.redactor-box .redactor-layer:hover {
    border-color: #1d87c8 !important;
}
.redactor-box .redactor-layer:focus {
    border-color: #1d87c8 !important;
    box-shadow: 0 0 7px rgba(29, 135, 200, 0.25);
}
.redactor-box .re-icon {
    font-family: 'RedactorFont' !important;
}
.aceeditor-container .ace_editor {
    border: 1px solid #ccc;
}

.searchBox {
    position: relative;
    background: #ffffff;
    border: 1px solid #c4c7cc;
}
.searchBox input {
    border: 0 none;
    width: 100%;
    cursor: auto;
    height: 34px;
    outline: none;
    padding-left: 45px;
    padding-right: 10px;
    color: #797a7e;
    font: 300 14px/34px 'Open Sans', sans-serif;
}
.searchBox i {
    position: absolute;
    left: 15px;
    top: 5px;
    color: rgb(183, 185, 196);
    font-size: 16px;
}

.column-list {
    display: block;
    background: white;
    border: 1px solid #c2c4c6;
    padding: 5px;
    position: fixed;
    overflow-y: auto;
}
.column-list .checkbox-container {
    margin-top: 2px;
}
.column-list .checkbox-container:first-child {
    margin-top: 0px;
}
.column-list .checkbox-list-title {
  margin-top: 5px;
  text-transform: uppercase;
}
.column-list .checkbox-list-title i {
  padding-right: 10px;
}
