<template>
  <rest-form-page
    :page-title="pageTitle"
    :fetch-endpoint="fetchEndpoint"
    :save-endpoint="{}"
    :model="model"
    :readonly="true"
  >
    <template slot="form" v-if="model">
      <form-section>
        <el-row>
          <el-col :span="12">
            <rest-form-item
              prop="endpoint"
              :label="$t('ApiIntegration_Field_Endpoint')"
            >
              <el-input v-model="apiEndpoint" :readonly="true" />
            </rest-form-item>
          </el-col>

          <el-col :span="12">
            <rest-form-item
              prop="apptoken"
              :label="$t('ApiIntegration_Field_AppToken')"
            >
              <el-input v-model="model.apptoken" :readonly="true" />
            </rest-form-item>
          </el-col>
        </el-row>
      </form-section>
    </template>
  </rest-form-page>
</template>

<script>
import RestFormPage from '@/common/components/rest/RestFormPage'
import RestFormItem from '@/common/components/rest/RestFormItem'
import FormSection from '@/common/components/form/FormSection'

export default {
  name: 'ApiIntegrationPage',

  components: {
    RestFormPage,
    RestFormItem,
    FormSection
  },

  data() {
    return {
      model: null
    }
  },

  computed: {
    pageTitle() {
      return this.$t(this.$route.meta.title)
    },

    fetchEndpoint() {
      return {
        method: 'get',
        url: `projects/${this.$route.query.project_id}`,
        handler: data => {
          this.model = data
        }
      }
    },

    apiEndpoint() {
      return 'https://' + this.$store.state.app.domains.external_api
    }
  }
}
</script>
