<template>
  <page layout="tabbed">
    <page-header-new
      :title="$t('ChannelSettings_Title')"
      :breadcrumbs="breadcrumbs"
    />
    <page-tabs :tabs="avaliableTabs"></page-tabs>
  </page>
</template>

<script>
import Page from '@/common/components/page/Page'
import PageHeaderNew from '@/common/components/page/PageHeaderNew'
import PageTabs from '@/common/components/page/PageTabs'
import { projectRoute } from '@/core/helpers'
import { $hasFeature } from '@/core/utils/VueAcl'

export default {
  name: 'ChannelSettingsPage',
  components: { PageTabs, PageHeaderNew, Page },
  data() {
    return {
      breadcrumbs: [
        {
          label: this.$t('Settings_Breadcrumb_Settings')
        },
        {
          label: this.$t('Settings_Breadcrumb_Channels')
        }
      ]
    }
  },
  computed: {
    avaliableTabs() {
      let tabs = [
        {
          title: this.$t('ChannelSettings_Tab_EnableChannels'),
          route: projectRoute({ name: 'EnableChannelsTab' })
        },
        {
          title: this.$t('ChannelSettings_Tab_EngagementRulesAndCategories'),
          route: projectRoute({ name: 'EngagementRulesAndCategoriesTab' })
        },
        {
          title: this.$t('ChannelSettings_Tab_UrlTracking'),
          route: projectRoute({ name: 'UrlTrackingTab' })
        }
      ]

      if ($hasFeature('email')) {
        tabs.push({
          title: this.$t('ChannelSettings_Tab_EmailSettings'),
          route: projectRoute({ name: 'EmailSettingsTab' })
        })
      }

      if ($hasFeature('sms')) {
        tabs.push({
          title: this.$t('ChannelSettings_Tab_SmsSettings'),
          route: projectRoute({ name: 'SmsFromNameTab' })
        })
      }

      if ($hasFeature('inbox')) {
        tabs.push({
          title: this.$t('ChannelSettings_Tab_InboxSettings'),
          route: projectRoute({ name: 'InboxSettingsTab' })
        })
      }

      if (
        $hasFeature('iosPush') ||
        $hasFeature('androidPush') ||
        $hasFeature('webPush')
      ) {
        tabs.push({
          title: this.$t('ChannelSettings_Tab_PushSettings'),
          route: projectRoute({ name: 'PushSettingsTab' })
        })
      }

      return tabs
    }
  }
}
</script>
