<template>
  <rest-form-page
    :page-title="pageTitle"
    :fetch-endpoint="fetchEndpoint"
    :save-endpoint="saveEndpoint"
    :model="model"
    :readonly="readonly"
  >
    <template slot="form" v-if="model">
      <form-section>
        <el-row>
          <el-col :span="12">
            <rest-form-item
              prop="all_time"
              :hint="$t('SegmentationSettings_Field_AllTime_Hint')"
            >
              <toggle
                v-model="model.all_time"
                :text="$t('SegmentationSettings_Field_AllTime')"
              />
            </rest-form-item>

            <rest-form-item
              prop="segment_channels_only"
              :hint="$t('SegmentationSettings_Field_SegmentChannelsOnly_Hint')"
            >
              <toggle
                v-model="model.segment_channels_only"
                :text="$t('SegmentationSettings_Field_SegmentChannelsOnly')"
              />
            </rest-form-item>

            <rest-form-item
              prop="sampling_level"
              :label="$t('SegmentationSettings_Field_SamplingLevel')"
              :hint="$t('SegmentationSettings_Field_SamplingLevel_Hint')"
            >
              <el-input v-model="model.sampling_level" placeholder="None" />
            </rest-form-item>

            <rest-form-item
              prop="campaign_prepare_interval"
              :label="$t('SegmentationSettings_Field_CampaignPrepareInterval')"
              :hint="
                $t('SegmentationSettings_Field_CampaignPrepareInterval_Hint')
              "
            >
              <el-input
                v-model="model.campaign_prepare_interval"
                placeholder="None"
              >
                <template slot="append">minutes upfront</template>
              </el-input>
            </rest-form-item>
          </el-col>
        </el-row>
      </form-section>
    </template>
  </rest-form-page>
</template>

<script>
import RestFormPage from '@/common/components/rest/RestFormPage'
import RestFormItem from '@/common/components/rest/RestFormItem'
import FormSection from '@/common/components/form/FormSection'
import Toggle from '@/common/components/form/Toggle'
import { projectEndpoint } from '@/core/helpers'

export default {
  name: 'SegmentationSettingsPage',

  components: {
    Toggle,
    RestFormPage,
    RestFormItem,
    FormSection
  },

  data() {
    return {
      model: null
    }
  },

  computed: {
    pageTitle() {
      return this.$t(this.$route.meta.title)
    },

    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: ``,
        params: {
          fields:
            'all_time,segment_channels_only,sampling_level,campaign_prepare_interval'
        },
        handler: data => {
          this.model = data
        }
      })
    },

    saveEndpoint() {
      return projectEndpoint({
        method: 'patch',
        url: ``,
        params: {
          data: this.model
        }
      })
    },

    readonly() {
      return !this.$isRole('admin')
    }
  }
}
</script>
