<template>
  <page>
    <page-header-new :title="pageTitle" :breadcrumbs="pageBreadcrumbs">
      <template slot="actions">
        <el-button
          type="primary"
          icon="el-icon-plus"
          v-if="!readonly"
          @click="addRow"
        >
          {{ $t('SubscriptionPreferences_Button_Create') }}
        </el-button>
      </template>
    </page-header-new>

    <page-content>
      <rest-list-editable
        ref="rest-list-editable"
        :payload="fetchEndpoint"
        :rules="rules"
        :add-endpoint="addEndpoint"
        :update-endpoint="updateEndpoint"
      >
        <rest-list-column
          prop="name"
          :editable="true"
          :title="$t('SubscriptionPreference_Field_Name')"
        >
          <template slot="input-edit" slot-scope="{ model }">
            <el-input v-model="model.name" />
          </template>
        </rest-list-column>

        <rest-list-column
          prop="display_name"
          :editable="true"
          :title="$t('SubscriptionPreference_Field_DisplayName')"
        >
          <template slot="input-edit" slot-scope="{ model }">
            <el-input v-model="model.display_name" />
          </template>
        </rest-list-column>

        <rest-list-column-enum
          prop="channel"
          :editable="true"
          :enum="SubscriptionPreferenceChannelLabels"
          :title="$t('SubscriptionPreference_Field_Channel')"
        ></rest-list-column-enum>

        <rest-list-column-actions v-if="!readonly" :editable="true">
          <template slot-scope="scope">
            <rest-list-action-delete :endpoint="deleteEndpoint(scope.row)" />
          </template>
        </rest-list-column-actions>
      </rest-list-editable>
    </page-content>
  </page>
</template>

<script>
import RestListColumn from '@/common/components/rest/RestListColumn'
import { projectEndpoint } from '@/core/helpers'
import RestListColumnEnum from '@/common/components/rest/RestListColumnEnum'
import { SubscriptionPreferenceChannelLabels } from '@/modules/settings/enum/SubscriptionPreferenceChannelEnum'
import RestListEditable from '@/common/components/rest/RestListEditable'
import PageHeaderNew from '@/common/components/page/PageHeaderNew'
import Page from '@/common/components/page/Page'
import PageContent from '@/common/components/page/PageContent'
import RestListColumnActions from '@/common/components/rest/RestListColumnActions'
import RestListActionDelete from '@/common/components/rest/RestListActionDelete'

export default {
  components: {
    RestListActionDelete,
    RestListColumnActions,
    PageContent,
    Page,
    PageHeaderNew,
    RestListEditable,
    RestListColumnEnum,
    RestListColumn
  },

  data() {
    return {
      SubscriptionPreferenceChannelLabels
    }
  },

  computed: {
    rules() {
      return {
        name: {
          required: true,
          trigger: 'blur'
        },
        channel: {
          required: true,
          trigger: 'blur'
        }
      }
    },

    pageTitle() {
      return this.$t(this.$route.meta.title)
    },

    pageBreadcrumbs() {
      return [
        {
          label: this.$t('Settings_Breadcrumb_Settings')
        },
        {
          label: this.$t('Settings_Breadcrumb_SubscriptionPreferences')
        }
      ]
    },

    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `subscription-preferences`,
        params: {}
      })
    },

    readonly() {
      return !this.$can('manageProjectTechnical')
    }
  },

  methods: {
    addEndpoint() {
      return projectEndpoint({
        method: 'post',
        url: `subscription-preferences`
      })
    },

    updateEndpoint(row) {
      return projectEndpoint({
        method: 'patch',
        url: `subscription-preferences/${row.id}`
      })
    },

    deleteEndpoint(row) {
      return projectEndpoint({
        method: 'delete',
        url: `subscription-preferences/${row.id}`
      })
    },

    addRow() {
      this.$refs['rest-list-editable'].addRow({})
    }
  }
}
</script>
