<template>
  <div class="section">
    <div class="container">
      <phone>
        <lock-screen>
          <push-preview-ios
            :message="message"
            :app-icon="appIcon"
            :app-name="appName"
          ></push-preview-ios>
        </lock-screen>
      </phone>
    </div>
  </div>
</template>

<script>
import PushPreviewIos from '@/common/components/push/PushPreviewIos'
import Phone from '@/common/components/phone/Phone'
import LockScreen from '@/common/components/phone/LockScreen'
import MessagesIosIcon from '@/img/icon/messages-ios.svg'

export default {
  name: 'SmsPreviewSection',
  components: {
    Phone,
    LockScreen,
    PushPreviewIos
  },
  data() {
    return {
      message: {}
    }
  },
  computed: {
    appIcon: function() {
      return MessagesIosIcon
    },
    appName: function() {
      return 'Messages'
    }
  }
}
</script>

<style scoped>
.container {
  text-align: center;
}
</style>
