<template>
  <div class="container">
    <onsite-popup-preview :config="configObject"></onsite-popup-preview>
  </div>
</template>

<script>
import OnsitePopupPreview from './OnsitePopupPreview'

export default {
  name: 'OnsitePopupPreviewSection',
  components: {
    OnsitePopupPreview
  },
  data() {
    return {
      configObject: {}
    }
  }
}
</script>

<style scoped>
.container {
  background: url('../../../img/checker-transparency.jpg') repeat;
}
</style>
