<template>
  <div class="onsite-preview-section">
    <div class="message-preview">
      <onsite-message-preview :message="message"></onsite-message-preview>
    </div>
  </div>
</template>

<script>
import OnsiteMessagePreview from './OnsiteMessagePreview'

export default {
  name: 'OnsitePreviewSection',
  components: {
    OnsiteMessagePreview
  },
  data() {
    return {
      message: {}
    }
  }
}
</script>

<style scoped>
.message-preview {
  width: 370px;
  margin: 25px auto;
}
</style>
