<template>
  <div ref="target"></div>
</template>

<script>
// eslint-disable-next-line no-undef
const getSwal = () => require('sweetalert2')

export default {
  name: 'OnsitePopupPreview',
  props: {
    config: {
      type: Object
    }
  },
  watch: {
    config() {
      this.config.target = this.$refs.target
      this.config.customClass = {
        container: 'relative-container'
      }

      this.swal.fire(this.config).then(
        value => this.$emit('resolve', value),
        reason => this.$emit('reject', reason)
      )
    }
  },
  mounted() {
    this.swal = getSwal()
  }
}
</script>

<style scoped>
>>> .relative-container {
  position: relative;
  max-width: none !important;
  transform: none !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

>>> p {
  font: inherit;
  margin: 0;
}

>>> h2 {
  width: auto;
  text-transform: none;
}
</style>
