<template>
  <div>
    <draggable-table>
      <el-table :show-header="false" class="table" :data="data" stripe>
        <el-table-column>
          <template slot-scope="scope">
            {{ scope.row }}
          </template>
        </el-table-column>

        <el-table-column width="40" align="center">
          <template>
            <i class="el-icon-rank"></i>
          </template>
        </el-table-column>

        <el-table-column width="40" align="center">
          <template slot-scope="scope">
            <i class="el-icon-delete" @click="deleteAttr(scope.$index)"></i>
          </template>
        </el-table-column>
      </el-table>
    </draggable-table>

    <el-button
      class="m-top-20"
      icon="el-icon-circle-plus-outline"
      type="primary"
      plain
      @click="showSelect()"
    >
      {{ $t('Audiences_Segment_Button_AddAttribute') }}
    </el-button>

    <el-select
      v-show="selectVisible"
      v-model="newAttr"
      ref="select"
      @visible-change="selectVisibleChange"
      @change="addAttr"
      :loading="selectLoading"
      :placeholder="$t('Audiences_Segment_Text_SelectAttribute')"
      filterable
      remote
      :remote-method="fetchAttributesRemote"
    >
      <el-option-group :label="$t('Audiences_Segment_Text_StandardAttributes')">
        <el-option
          v-for="(item, index) in standardAttributes.filter(
            opt => !data.includes(opt)
          )"
          :key="index"
          :label="item"
          :value="item"
        />
      </el-option-group>

      <el-option-group :label="$t('Audiences_Segment_Text_CustomAttributes')">
        <el-option
          v-for="(item, index) in attributes.filter(
            opt => !data.includes(opt.name)
          )"
          :key="index"
          :label="item.name"
          :value="item.name"
        />
      </el-option-group>
    </el-select>
  </div>
</template>

<script>
import RestApi from '@/core/services/RestApi'
import { projectEndpoint } from '@/core/helpers'
import DraggableTable from '@/common/components/table/DraggableTable'

export default {
  name: 'AttributesListDraggable',

  components: { DraggableTable },

  props: {
    profileAttributes: {
      type: Boolean,
      required: false,
      default: false
    },
    deviceAttributes: {
      type: Boolean,
      required: false,
      default: false
    },
    value: {
      required: true
    }
  },

  data() {
    return {
      data: [],
      attributes: [],
      newAttr: null,
      selectVisible: false,
      selectLoading: false,
      filterableAttributes: [
        'user_id',
        'email',
        'mobile_number',
        'whatsapp_number',
        'language',
        'timezone',
        'email_addressable',
        'email_subscription',
        'sms_addressable',
        'sms_subscription'
      ],
      search: ''
    }
  },

  created() {
    this.data = this.value || []

    this.fetchAttributes()
  },

  computed: {
    standardAttributes() {
      if (this.search === '') {
        return this.filterableAttributes
      } else {
        return this.filterableAttributes.filter(e => e.includes(this.search))
      }
    },

    attributesEndpoint() {
      let params = { sort: 'title' }
      if (this.profileAttributes) {
        params.attribute_profile = 1
      }
      if (this.deviceAttributes) {
        params.attribute_client = 1
      }
      return projectEndpoint({
        method: 'get',
        url: `tags`,
        params: params
      })
    }
  },

  methods: {
    showSelect() {
      this.selectVisible = true
      setTimeout(() => {
        this.$refs['select'].focus()
      }, 0)
    },

    selectVisibleChange(visible) {
      if (!visible) {
        this.selectVisible = false
      }
    },

    addAttr(attr) {
      this.data.push(attr)
      this.newAttr = null
    },

    deleteAttr(index) {
      this.data.splice(index, 1)
    },

    fetchAttributes() {
      this.selectLoading = true
      RestApi(this.attributesEndpoint)
        .then(({ data }) => {
          this.attributes = data
          this.selectLoading = false
        })
        .catch(error => {
          this.selectLoading = false
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
    },

    fetchAttributesRemote(query) {
      this.search = query

      let params = { sort: 'title' }

      if (this.profileAttributes) {
        params.attribute_profile = 1
      }

      if (this.deviceAttributes) {
        params.attribute_client = 1
      }

      if (query !== null && query !== '') {
        params.title = query
      }

      RestApi({
        ...this.attributesEndpoint,
        params: params
      })
        .then(({ data }) => {
          this.attributes = data
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
    }
  },

  watch: {
    data: {
      handler: function(value) {
        this.$emit('input', value)
      },
      deep: true
    }
  }
}
</script>

<style scoped lang="scss">
/deep/ .el-table {
  border-radius: 4px;
  border: 1px solid #dbdee7;
}

/deep/ .el-select input {
  height: 36px;
}
</style>
