<template>
  <el-form :model="model" :disabled="!!disabled">
    <el-row>
      <el-col :span="3">
        <form-item
          prop="frequency"
          :label="$t('RecurrenceSettings_Field_Frequency')"
        >
          <enum-select
            v-model="model.frequency"
            :placeholder="$t('RecurrenceSettings_Field_Frequency')"
            :options="FrequencyTypeLabel"
          />
        </form-item>
      </el-col>
      <el-col
        :span="3"
        :class="{ weekly: model.frequency === 'weekly' }"
        v-if="model.frequency !== 'daily'"
      >
        <form-item prop="day" :label="$t('RecurrenceSettings_Field_Day')">
          <template v-if="model.frequency === 'monthly'">
            <enum-select v-model="day" :options="FrequencyDayLabel" />
          </template>
          <template v-else>
            <el-button
              @click="selectDay(val)"
              class="day"
              :class="{ selected: isSelected(val) }"
              v-for="(label, val) in DayOfWeekLabel"
              :key="val"
            >
              {{ $t(label) }}
            </el-button>
          </template>
        </form-item>
      </el-col>
      <el-col :span="3" v-if="model.frequency === 'monthly' && !day">
        <form-item label=" ">
          <el-input-number
            controls-position="right"
            v-model="dayNumber"
            :min="1"
            :max="31"
          />
        </form-item>
      </el-col>
      <el-col :span="3">
        <form-item prop="time" :label="$t('RecurrenceSettings_Field_Time')">
          <el-time-picker
            v-model="model.time"
            format="HH:mm"
            value-format="HH:mm"
            :clearable="false"
          />
        </form-item>
      </el-col>
      <el-col :span="3">
        <form-item :label="$t('RecurrenceSettings_Field_Timezone')">
          <span class="timezone">{{ timezone }}</span>
        </form-item>
      </el-col>
    </el-row>
  </el-form>
</template>

<script>
import {
  FrequencyTypeLabel,
  FrequencyDayLabel,
  DayOfWeekLabel
} from '@/modules/automations/enum/RecurrenceEnum'
import EnumSelect from '@/common/components/form/EnumSelect'
import FormItem from '@/common/components/form/FormItem'

export default {
  name: 'RecurrenceSettings',
  components: { FormItem, EnumSelect },
  props: {
    model: {
      type: Object,
      required: true,
      default: {}
    },
    timezone: {
      type: String,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  mounted() {
    if (Object.keys(this.FrequencyDayLabel).includes(this.model.day)) {
      this.day = this.model.day
    } else if (!isNaN(this.model.day)) {
      this.dayNumber = this.model.day
    }
  },
  data() {
    return {
      day: '',
      dayNumber: null,
      defaultDayNumber: 1,
      FrequencyTypeLabel,
      FrequencyDayLabel,
      DayOfWeekLabel
    }
  },
  methods: {
    selectDay(day) {
      const index = this.model.day.indexOf(day)
      if (index > -1) {
        this.model.day.splice(index, 1)
      } else {
        this.model.day.push(day)
      }
      this.$forceUpdate()
    },
    isSelected(day) {
      return this.model.day.includes(day)
    }
  },
  watch: {
    day() {
      if (this.day === '') {
        this.dayNumber = this.defaultDayNumber
        this.model.day = this.dayNumber
      } else {
        this.model.day = this.day
      }
    },
    dayNumber(val) {
      this.model.day = val
    },
    'model.frequency': {
      deep: true,
      handler(frequency) {
        if (frequency === 'weekly') {
          this.model.day = []
        } else if (frequency === 'monthly') {
          this.dayNumber = this.defaultDayNumber
          this.model.day = this.dayNumber
        } else {
          this.model.day = null
        }
      }
    }
  }
}
</script>

<style scoped lang="scss">
.timezone {
  line-height: 40px;
}
.weekly {
  width: 430px;
}
.day {
  padding: 12px 8px;
  width: 50px;
  color: #606266;
  font-weight: inherit;

  &.selected {
    background: #e6f3fb;
    border: 1px solid #1d87c8;

    &:hover {
      color: #606266;
    }
  }
}
>>> .el-input-number {
  width: inherit;
}
>>> .el-input-number__decrease,
>>> .el-input-number__increase {
  width: 20px;
}
</style>
