<template>
  <form-section :title="$t('Automations_Title_BasicSettings')">
    <el-row>
      <el-col :span="16">
        <rest-form-item
          prop="name"
          :label="$t('Automations_Field_Name')"
          :hint="$t('Automations_Field_Name_Hint')"
        >
          <el-input v-model="model.name" />
        </rest-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="16">
        <rest-form-item
          prop="config.segment_id"
          :label="$t('Automations_Field_Segment')"
        >
          <el-select
            v-model="model.config.segment_id"
            filterable
            remote
            :remote-method="fetchSegmentsRemote"
          >
            <el-option
              v-for="item in segments"
              :key="item.id"
              :value="item.id.toString()"
              :label="item.title"
            />
          </el-select>
        </rest-form-item>
      </el-col>
    </el-row>
  </form-section>
</template>

<script>
import FormSection from '@/common/components/form/FormSection'
import RestFormItem from '@/common/components/rest/RestFormItem'
import RestApi from '@/core/services/RestApi'
import { projectEndpoint } from '@/core/helpers'
export default {
  name: 'StepExportDataSource',
  components: { RestFormItem, FormSection },
  props: {
    currentStep: {
      type: Object,
      required: true
    },
    steps: {
      type: Array,
      required: true
    },
    model: {
      default: null
    }
  },
  data() {
    return {
      segments: []
    }
  },
  mounted() {
    RestApi(this.fetchSegmentsEndpoint).then(({ data }) => {
      this.segments = data
    })
  },
  computed: {
    fetchSegmentsEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `segments`,
        handler: data => {
          this.segments = data
        }
      })
    }
  },
  methods: {
    fetchSegmentsRemote(query) {
      this.search = query

      let params = { sort: 'title' }
      if (query !== null && query !== '') {
        params.title = query
      }

      RestApi({
        ...this.fetchSegmentsEndpoint,
        params: params
      })
        .then(({ data }) => {
          this.segments = data
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
    }
  }
}
</script>

<style scoped></style>
