<template>
  <form-section :title="$t('Automations_Import_Title_Schedule')">
    <recurrence-settings
      :model="model.schedule"
      :timezone="$store.state.app.project.timezone"
      :disabled="readonly"
    />
  </form-section>
</template>

<script>
import FormSection from '@/common/components/form/FormSection'
import RecurrenceSettings from '@/modules/automations/components/RecurrenceSettings'
export default {
  name: 'StepImportSchedule',

  components: {
    RecurrenceSettings,
    FormSection
  },

  props: {
    steps: {
      type: Array,
      required: true
    },

    model: {
      type: Object,
      required: true
    },

    readonly: {
      type: Boolean,
      default: false,
      required: false
    },

    isEdit: {
      type: Boolean,
      default: false,
      required: false
    }
  },

  mounted() {
    if (!this.isEdit) {
      let schedule = {
        frequency: 'daily',
        time: '00:00'
      }
      this.$set(this.model, 'schedule', schedule)
      this.allowContinue()
    }
  },

  methods: {
    allowContinue() {
      this.$emit('can-continue', { value: true })
    }
  }
}
</script>

<style scoped></style>
