<template>
  <div>
    <form-section
      :title="$t('Automations_Title_ExportSource')"
      :description="$t('Automations_Title_ExportSource_Description')"
    >
      <el-row>
        <el-col :span="16">
          <rest-form-item
            prop="config.identity"
            :label="$t('Automations_Field_Identity')"
          >
            <radio-group v-model="model.config.identity" :inline="true">
              <radio
                label="profile"
                :title="$t('Audiences_Type_Users')"
                :description="$t('Audiences_Type_Users_Description')"
              ></radio>

              <radio
                label="device"
                :title="$t('Audiences_Type_Devices')"
                :description="$t('Audiences_Type_Devices_Description')"
              ></radio>
            </radio-group>
          </rest-form-item>
        </el-col>
      </el-row>
    </form-section>

    <form-section
      v-if="model.config.identity === 'profile'"
      :title="$t('Automations_Title_Attributes')"
      :description="$t('Automations_Title_Attributes_Description')"
    >
      <el-row>
        <el-col :span="16">
          <attributes-list-draggable
            v-model="model.config.attributes"
            :profile-attributes="true"
          />
        </el-col>
      </el-row>
    </form-section>
  </div>
</template>

<script>
import FormSection from '@/common/components/form/FormSection'
import AttributesListDraggable from '@/modules/automations/components/AttributesListDraggable'
import RestFormItem from '@/common/components/rest/RestFormItem'
import RadioGroup from '@/common/components/form/RadioGroup'
import Radio from '@/common/components/form/Radio'
export default {
  name: 'StepExportDataStructure',
  props: {
    model: {
      default: null
    }
  },
  mounted() {
    this.allowContinue()
  },
  data() {
    return {
      segments: []
    }
  },
  components: {
    Radio,
    RadioGroup,
    RestFormItem,
    AttributesListDraggable,
    FormSection
  },
  computed: {},
  methods: {
    allowContinue() {
      this.$emit('can-continue', { value: true })
    }
  }
}
</script>

<style scoped></style>
