<template>
  <rest-page :fetch-endpoint="fetchIntegrationsEndpoint">
    <form-section
      :title="$t('Automations_Title_Target')"
      :description="$t('Automations_Title_Target_Description')"
    >
      <el-row>
        <el-col :span="16">
          <rest-form-item
            :label="$t('Automations_Field_TargetType')"
            prop="target.type"
          >
            <el-select v-model="model.target.type" clearable>
              <el-option
                v-for="(item, index) in TargetLabel"
                :key="index"
                :value="index"
                :label="$t(item)"
              />
            </el-select>
          </rest-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="16">
          <rest-form-item
            v-if="model.target.type === 'sftp'"
            :label="$t('Automations_Field_SftpConnection')"
            prop="target.integration_id"
          >
            <el-select
              v-model="model.target.integration_id"
              :placeholder="$t('Automations_Field_SftpConnection')"
            >
              <el-option
                v-for="item in integrations"
                :key="item.id"
                :value="item.id"
                :label="item.name"
              />
            </el-select>
          </rest-form-item>
          <rest-form-item
            v-else-if="model.target.type === 'email'"
            prop="target.emails"
            :label="$t('Automations_Field_EmailsList')"
          >
            <el-select
              v-model="model.target.emails"
              multiple
              filterable
              allow-create
              default-first-option
              :placeholder="$t('Automations_Field_Emails')"
            />
          </rest-form-item>
        </el-col>
      </el-row>
    </form-section>
  </rest-page>
</template>

<script>
import FormSection from '@/common/components/form/FormSection'
import RestFormItem from '@/common/components/rest/RestFormItem'
import { TargetLabel } from '@/modules/automations/enum/TargetEnum'
import { projectEndpoint } from '@/core/helpers'
import RestPage from '@/common/components/rest/RestPage'

export default {
  name: 'StepExportTargetSettings',
  props: {
    model: {
      default: null
    }
  },
  data() {
    return {
      integrations: [],
      TargetLabel
    }
  },
  components: {
    RestPage,
    RestFormItem,
    FormSection
  },
  mounted() {
    this.allowContinue()
  },
  computed: {
    fetchIntegrationsEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `integrations`,
        params: {
          type: 'sftp',
          active: 1
        },
        handler: data => {
          this.integrations = data
        }
      })
    }
  },
  methods: {
    allowContinue() {
      this.$emit('can-continue', { value: true })
    }
  }
}
</script>

<style scoped></style>
