<template>
  <div>
    <form-section :title="$t('Integrations_Settings_BasicSettings')">
      <rest-form-item
        :label="$t('Integrations_Field_Name')"
        :hint="$t('Integrations_Field_Name_Description')"
        prop="name"
      >
        <el-input
          v-model="model.name"
          :placeholder="$t('Integrations_Field_Name')"
        />
      </rest-form-item>
    </form-section>

    <form-section :title="$t('Integrations_Settings_ConnectionSettings')">
      <rest-form-item
        :label="$t('Integrations_Optimove_Field_Username')"
        prop="params.username"
      >
        <el-input
          v-model="model.params.username"
          :placeholder="$t('Integrations_Optimove_Field_Username')"
        />
      </rest-form-item>

      <rest-form-item
        :label="$t('Integrations_Optimove_Field_Password')"
        prop="params.password"
      >
        <el-input
          v-model="model.params.password"
          :placeholder="$t('Integrations_Optimove_Field_Password')"
        />
      </rest-form-item>

      <rest-form-item
        :label="$t('Integrations_Optimove_Field_Endpoint')"
        prop="params.endpoint"
      >
        <el-input
          v-model="model.params.endpoint"
          :placeholder="$t('Integrations_Optimove_Field_Endpoint')"
        />
      </rest-form-item>
    </form-section>

    <form-section :title="$t('Integrations_Settings_MatchingSettings')">
      <rest-form-item
        prop="params.id_attribute"
        :label="$t('Integrations_Optimove_Field_IdAttribute')"
        :hint="$t('Integrations_Optimove_Field_IdAttribute_Description')"
      >
        <el-input
          v-model="model.params.id_attribute"
          :placeholder="
            $t('Integrations_Optimove_Field_IdAttribute_Placeholder')
          "
        />
      </rest-form-item>

      <rest-form-item
        prop="params.mobile_number_attribute"
        :label="$t('Integrations_Optimove_Field_MobileNumberAttribute')"
        :hint="
          $t('Integrations_Optimove_Field_MobileNumberAttribute_Description')
        "
      >
        <el-input
          v-model="model.params.mobile_number_attribute"
          :placeholder="
            $t('Integrations_Optimove_Field_MobileNumberAttribute_Placeholder')
          "
        />
      </rest-form-item>
    </form-section>
  </div>
</template>

<script>
import FormSection from '@/common/components/form/FormSection'
import RestFormItem from '@/common/components/rest/RestFormItem'

export default {
  name: 'OptimoveSettings',

  props: {
    model: {
      type: Object,
      required: true
    }
  },

  components: {
    FormSection,
    RestFormItem
  },

  data() {
    return {
      rules: {
        name: {
          required: true,
          message: this.$t('RestForm_FieldIsRequired')
        },
        params: {
          username: {
            required: true,
            message: this.$t('RestForm_FieldIsRequired')
          },
          password: {
            required: true,
            message: this.$t('RestForm_FieldIsRequired')
          },
          endpoint: {
            required: true,
            message: this.$t('RestForm_FieldIsRequired')
          }
        }
      }
    }
  }
}
</script>
