<template>
  <rest-list-page :page-title="pageTitle" :fetch-endpoint="fetchEndpoint">
    <template slot="actions">
      <div class="multi-button-container">
        <div
          v-for="(val, key) in types"
          :key="key"
          class="multi-button-spacing"
        >
          <router-link :to="createRoute(val)">
            <el-button type="primary" icon="el-icon-plus">
              {{ $t('ApplicationList_Add' + val) }}
            </el-button>
          </router-link>
        </div>
      </div>
    </template>

    <template slot="table">
      <rest-list-column-enum
        prop="type"
        :title="$t('ApplicationList_Field_Type')"
        :enum="types"
      />
      <rest-list-column prop="name" :title="$t('ApplicationList_Field_Name')" />
      <rest-list-column
        prop="appkey"
        :title="$t('ApplicationList_Field_AppKey')"
      />
      <rest-list-column-actions>
        <template slot-scope="scope">
          <rest-list-action
            icon="el-icon-bell"
            :title="$t('ApplicationList_Field_PushSettings')"
            :route="rowPushSettingsRoute(scope.row)"
          />

          <rest-list-action
            icon="el-icon-link"
            :title="$t('ApplicationList_Field_SdkIntegrations')"
            :route="rowSdkIntegrationRoute(scope.row)"
            v-if="scope.row.type === ApplicationTypes.web"
          />

          <rest-list-action-update
            v-if="!readonly"
            :route="rowUpdateRoute(scope.row)"
          />
          <rest-list-action-view v-else :route="rowViewRoute(scope.row)" />
        </template>
      </rest-list-column-actions>
    </template>
  </rest-list-page>
</template>

<script>
import RestListPage from '@/common/components/rest/RestListPage'
import { projectEndpoint, projectRoute } from '@/core/helpers'
import RestApi from '@/core/services/RestApi'
import RestListColumnEnum from '@/common/components/rest/RestListColumnEnum'
import RestListColumn from '@/common/components/rest/RestListColumn'
import RestListColumnActions from '@/common/components/rest/RestListColumnActions'
import RestListActionUpdate from '@/common/components/rest/RestListActionUpdate'
import RestListActionView from '@/common/components/rest/RestListActionView'
import { ApplicationTypes } from '@/modules/account/enum/ApplicationEnum'
import RestListAction from '@/common/components/rest/RestListAction'

export default {
  name: 'ApplicationListPage',

  components: {
    RestListAction,
    RestListActionView,
    RestListActionUpdate,
    RestListColumnActions,
    RestListColumn,
    RestListColumnEnum,
    RestListPage
  },

  data() {
    return {
      types: {},
      ApplicationTypes
    }
  },

  created() {
    RestApi.get(this.optionsEndpoint).then(({ data }) => {
      this.types = data.types
    })
  },

  computed: {
    pageTitle() {
      return this.$t(this.$route.meta.title)
    },

    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: 'applications',
        params: {}
      })
    },

    readonly() {
      return !this.$can('updateProjectItem')
    },

    optionsEndpoint() {
      return projectEndpoint({ url: 'applications/options' }).url
    }
  },

  methods: {
    createRoute(val) {
      return projectRoute({
        name: 'ApplicationCreate',
        query: { type: val }
      })
    },

    rowPushSettingsRoute(row) {
      return projectRoute({
        name: 'PushSettingsTab',
        query: { id: row.id }
      })
    },

    rowSdkIntegrationRoute(row) {
      return projectRoute({
        name: 'ApplicationSDKIntegration',
        query: { id: row.id }
      })
    },

    rowUpdateRoute(row) {
      return projectRoute({
        name: 'ApplicationUpdate',
        query: { id: row.id }
      })
    },

    rowViewRoute(row) {
      return projectRoute({
        name: 'ApplicationView',
        query: { id: row.id }
      })
    }
  }
}
</script>

<style scoped>
.multi-button-container {
  display: flex;
  justify-content: center;
}

.multi-button-spacing {
  margin: 0 10px;
}

.sdkOptions {
  display: flex;
}

.sdkOptions a {
  margin-left: 20px;
}
</style>
