@font-face {
  font-family: 'platform';
  src:  url('fonts/platform.eot?1nw4tf');
  src:  url('fonts/platform.eot?1nw4tf#iefix') format('embedded-opentype'),
  url('fonts/platform.ttf?1nw4tf') format('truetype'),
  url('fonts/platform.woff?1nw4tf') format('woff'),
  url('fonts/platform.svg?1nw4tf#platform') format('svg');
  font-weight: normal;
  font-style: normal;
}

i[class^="iconp-"]:before, i[class*=" iconp-"]:before {
  font-family: "platform" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.iconp-mirrored:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.iconp-image:before {
  content: "\e924";
}
.iconp-file-text:before {
  content: "\e925";
}
.iconp-stopwatch:before {
  content: "\e902";
}
.iconp-point-up:before {
  content: "\e926";
}
.iconp-pagebreak:before {
  content: "\e927";
}
.iconp-embed2:before {
  content: "\e90f";
}
.iconp-chrome:before {
  content: "\e916";
}
.iconp-safari:before {
  content: "\e917";
}
.iconp-firefox:before {
  content: "\e918";
}
.iconp-clock:before {
  content: "\e900";
}
.iconp-Pageviwes:before {
  content: "\e923";
}
.iconp-list:before {
  content: "\79";
}
.iconp-comment-alt:before {
  content: "\78";
}
.iconp-android-1:before {
  content: "\74";
}
.iconp-globe:before {
  content: "\71";
}
.iconp-coverflow-empty:before {
  content: "\6f";
}
.iconp-easel:before {
  content: "\6e";
}
.iconp-street-view:before {
  content: "\6a";
}
.iconp-sliders:before {
  content: "\67";
}
.iconp-list-alt:before {
  content: "\66";
}
.iconp-signal-1:before {
  content: "\65";
}
.iconp-group:before {
  content: "\64";
}
.iconp-apple:before {
  content: "\62";
}
.iconp-lifebuoy:before {
  content: "\61";
}
.iconp-graph:before {
  content: "\5e";
}
.iconp-attribution:before {
  content: "\5a";
}
.iconp-chart-bar:before {
  content: "\55";
}
.iconp-database:before {
  content: "\54";
}
.iconp-language:before {
  content: "\53";
}
.iconp-install:before {
  content: "\52";
}
.iconp-user-1:before {
  content: "\4f";
}
.iconp-tag:before {
  content: "\4e";
}
.iconp-cog-alt:before {
  content: "\4d";
}
.iconp-cog-1:before {
  content: "\4b";
}
.iconp-key:before {
  content: "\49";
}
.iconp-chart-pie:before {
  content: "\46";
}
.iconp-mobile:before {
  content: "\44";
}
.iconp-floppy:before {
  content: "\41";
}
.iconp-progress-2:before {
  content: "\3d";
}
.iconp-bookmark-1:before {
  content: "\35";
}
.iconp-bookmarks:before {
  content: "\34";
}
.iconp-location-1:before {
  content: "\25";
}
.iconp-funnels:before {
  content: "\24";
}
.iconp-mail:before {
  content: "\21";
}
.iconp-flow-tree:before {
  content: "\22";
}
.iconp-progress-3:before {
  content: "\2d";
}
.iconp-wrench:before {
  content: "\2e";
}
.iconp-progress-1:before {
  content: "\2f";
}
.iconp-hdd-1:before {
  content: "\31";
}
.iconp-signal-2:before {
  content: "\32";
}
.iconp-folder:before {
  content: "\36";
}
.iconp-cog:before {
  content: "\37";
}
.iconp-lightbulb:before {
  content: "\38";
}
.iconp-progress-0:before {
  content: "\3f";
}
.iconp-drive:before {
  content: "\42";
}
.iconp-docs-1:before {
  content: "\43";
}
.iconp-chart-pie-1:before {
  content: "\47";
}
.iconp-certificate:before {
  content: "\48";
}
.iconp-wrench-1:before {
  content: "\4a";
}
.iconp-key-1:before {
  content: "\4c";
}
.iconp-users:before {
  content: "\50";
}
.iconp-user-add:before {
  content: "\51";
}
.iconp-chart-line:before {
  content: "\56";
}
.iconp-chart-area:before {
  content: "\57";
}
.iconp-wifi:before {
  content: "\69";
}
.iconp-bullseye:before {
  content: "\6b";
}
.iconp-docs:before {
  content: "\6c";
}
.iconp-hdd:before {
  content: "\6d";
}
.iconp-comment:before {
  content: "\77";
}
.iconp-gauge:before {
  content: "\a3";
}
.iconp-CSV:before {
  content: "\e901";
}
.iconp-attributes:before {
  content: "\e922";
}
.iconp-sessions:before {
  content: "\e903";
}
.iconp-download:before {
  content: "\e904";
}
.iconp-identifier:before {
  content: "\e905";
}
.iconp-appopened:before {
  content: "\e906";
}
.iconp-Banner:before {
  content: "\e907";
}
.iconp-Full:before {
  content: "\e908";
}
.iconp-Html:before {
  content: "\e909";
}
.iconp-Landscape:before {
  content: "\e90a";
}
.iconp-Mobile:before {
  content: "\e90b";
}
.iconp-Portrait:before {
  content: "\e90c";
}
.iconp-Responsive:before {
  content: "\e90d";
}
.iconp-webpush:before {
  content: "\e90e";
}
.iconp-WebPush:before {
  content: "\e921";
}
.iconp-Website:before {
  content: "\e910";
}
.iconp-Graph:before {
  content: "\e911";
}
.iconp-Edit:before {
  content: "\e912";
}
.iconp-InApp:before {
  content: "\e913";
}
.iconp-Editor:before {
  content: "\e914";
}
.iconp-Brush:before {
  content: "\e915";
}
.iconp-inbox-campaign:before {
  content: "\e919";
}
.iconp-inbox-card:before {
  content: "\e91a";
}
.iconp-inbox-alert:before {
  content: "\e91b";
}
.iconp-InAppcampaign:before {
  content: "\e91c";
}
.iconp-push-campaign:before {
  content: "\e91d";
}
.iconp-Bouncerate:before {
  content: "\e91e";
}
.iconp-Webtriggered:before {
  content: "\e91f";
}
.iconp-Onsitecampaign:before {
  content: "\e920";
}
.iconp-emailcolumn:before {
  content: "\e92d";
}
.iconp-emailwide:before {
  content: "\e92e";
}
.iconp-linkedin:before {
  content: "\e92a";
}
.iconp-facebook:before {
  content: "\e92b";
}
.iconp-google-plus:before {
  content: "\e92c";
}
.iconp-twitter:before {
  content: "\e92f";
}
.iconp-foursquare:before {
  content: "\e93c";
}
.iconp-youtube:before {
  content: "\e930";
}
.iconp-link:before {
  content: "\e93d";
}
.iconp-pinterest:before {
  content: "\e93b";
}
.iconp-share:before {
  content: "\e928";
}
.iconp-White:before {
  content: "\e931";
}
.iconp-Grey:before {
  content: "\e932";
}
.iconp-Custom:before {
  content: "\e933";
}
.iconp-ArrowLeftRight:before {
  content: "\e934";
}
.iconp-SwitchYes:before {
  content: "\e935";
}
.iconp-SwitchNo:before {
  content: "\e936";
}
.iconp-IconBell:before {
  content: "\e937";
}
.iconp-IconX:before {
  content: "\e938";
}
.iconp-InboxSlide:before {
  content: "\e939";
}
.iconp-InboxPopUp:before {
  content: "\e93a";
}
.iconp-webhook:before {
  content: "\e929";
}
.iconp-popup:before {
  content: "\e93e";
}
.iconp-Optimove-Head:before {
  content: "\e93f";
}
.iconp-social:before {
  content: "\e940";
}
.iconp-arrow-down:before {
  content: "\e941";
}
.iconp-windows-logo:before {
  content: "\e942";
}
.iconp-maxautomation:before {
  content: "\e943";
}
.iconp-user-delete:before {
  content: "\e944";
}
.iconp-Overview-Web-App:before {
  content: "\e945";
}
