<link rel="stylesheet" href="fontello.css" type="text/css">

<i class="ico icon-camera"></i>
<i class="ico icon-layout"></i>
<i class="ico icon-menu"></i>
<i class="ico icon-check"></i>
<i class="ico icon-cancel"></i>
<i class="ico icon-attach"></i>
<i class="ico icon-lock"></i>
<i class="ico icon-lock-open"></i>
<i class="ico icon-eye"></i>
<i class="ico icon-tag"></i>
<i class="ico icon-feather"></i>
<i class="ico icon-print"></i>
<i class="ico icon-retweet"></i>
<i class="ico icon-keyboard"></i>
<i class="ico icon-comment"></i>
<i class="ico icon-doc-text"></i>
<i class="ico icon-doc-text-inv"></i>
<i class="ico icon-newspaper"></i>
<i class="ico icon-book-open"></i>
<i class="ico icon-book"></i>
<i class="ico icon-mute"></i>
<i class="ico icon-sound"></i>
<i class="ico icon-volume"></i>
<i class="ico icon-clock"></i>
<i class="ico icon-hourglass"></i>
<i class="ico icon-down-open"></i>
<i class="ico icon-left-open"></i>
<i class="ico icon-right-open"></i>
<i class="ico icon-up-open"></i>
<i class="ico icon-down-open-mini"></i>
<i class="ico icon-left-open-mini"></i>
<i class="ico icon-right-open-mini"></i>
<i class="ico icon-up-open-mini"></i>
<i class="ico icon-down-open-big"></i>
<i class="ico icon-left-open-big"></i>
<i class="ico icon-right-open-big"></i>
<i class="ico icon-up-open-big"></i>
<i class="ico icon-down"></i>
<i class="ico icon-left"></i>
<i class="ico icon-right"></i>
<i class="ico icon-up"></i>
<i class="ico icon-down-dir"></i>
<i class="ico icon-left-dir"></i>
<i class="ico icon-right-dir"></i>
<i class="ico icon-up-dir"></i>
<i class="ico icon-down-bold"></i>
<i class="ico icon-left-bold"></i>
<i class="ico icon-right-bold"></i>
<i class="ico icon-up-bold"></i>
<i class="ico icon-down-thin"></i>
<i class="ico icon-left-thin"></i>
<i class="ico icon-right-thin"></i>
<i class="ico icon-up-thin"></i>
<i class="ico icon-ccw"></i>
<i class="ico icon-cw"></i>
<i class="ico icon-arrows-ccw"></i>
<i class="ico icon-level-down"></i>
<i class="ico icon-level-up"></i>
<i class="ico icon-shuffle"></i>
<i class="ico icon-loop"></i>
<i class="ico icon-switch"></i>
<i class="ico icon-play"></i>
<i class="ico icon-stop"></i>
<i class="ico icon-pause"></i>
<i class="ico icon-record"></i>
<i class="ico icon-to-end"></i>
<i class="ico icon-to-start"></i>
<i class="ico icon-fast-forward"></i>
<i class="ico icon-fast-backward"></i>
<i class="ico icon-progress-0"></i>
<i class="ico icon-progress-1"></i>
<i class="ico icon-progress-2"></i>
<i class="ico icon-progress-3"></i>
<i class="ico icon-target"></i>
<i class="ico icon-palette"></i>
<i class="ico icon-list"></i>
<i class="ico icon-list-add"></i>
<i class="ico icon-signal"></i>
<i class="ico icon-trophy"></i>
<i class="ico icon-battery"></i>
<i class="ico icon-back-in-time"></i>
<i class="ico icon-monitor"></i>
<i class="ico icon-mobile"></i>
<i class="ico icon-network"></i>
<i class="ico icon-cd"></i>
<i class="ico icon-inbox"></i>
<i class="ico icon-install"></i>
<i class="ico icon-globe"></i>
<i class="ico icon-music"></i>
<i class="ico icon-search"></i>
<i class="ico icon-cloud"></i>
<i class="ico icon-cloud-thunder"></i>
<i class="ico icon-flash"></i>
<i class="ico icon-moon"></i>
<i class="ico icon-flight"></i>
<i class="ico icon-paper-plane"></i>
<i class="ico icon-leaf"></i>
<i class="ico icon-lifebuoy"></i>
<i class="ico icon-mouse"></i>
<i class="ico icon-briefcase"></i>
<i class="ico icon-suitcase"></i>
<i class="ico icon-dot"></i>
<i class="ico icon-dot-2"></i>
<i class="ico icon-dot-3"></i>
<i class="ico icon-brush"></i>
<i class="ico icon-magnet"></i>
<i class="ico icon-infinity"></i>
<i class="ico icon-erase"></i>
<i class="ico icon-chart-pie"></i>
<i class="ico icon-chart-line"></i>
<i class="ico icon-chart-bar"></i>
<i class="ico icon-chart-area"></i>
<i class="ico icon-tape"></i>
<i class="ico icon-graduation-cap"></i>
<i class="ico icon-language"></i>
<i class="ico icon-ticket"></i>
<i class="ico icon-water"></i>
<i class="ico icon-droplet"></i>
<i class="ico icon-air"></i>
<i class="ico icon-credit-card"></i>
<i class="ico icon-floppy"></i>
<i class="ico icon-clipboard"></i>
<i class="ico icon-megaphone"></i>
<i class="ico icon-database"></i>
<i class="ico icon-drive"></i>
<i class="ico icon-bucket"></i>
<i class="ico icon-thermometer"></i>
<i class="ico icon-key"></i>
<i class="ico icon-flow-cascade"></i>
<i class="ico icon-flow-branch"></i>
<i class="ico icon-flow-tree"></i>
<i class="ico icon-flow-line"></i>
<i class="ico icon-flow-parallel"></i>
<i class="ico icon-rocket"></i>
<i class="ico icon-gauge"></i>
<i class="ico icon-traffic-cone"></i>
<i class="ico icon-cc"></i>
<i class="ico icon-cc-by"></i>
<i class="ico icon-cc-nc"></i>
<i class="ico icon-cc-nc-eu"></i>
<i class="ico icon-cc-nc-jp"></i>
<i class="ico icon-cc-sa"></i>
<i class="ico icon-cc-nd"></i>
<i class="ico icon-cc-pd"></i>
<i class="ico icon-cc-zero"></i>
<i class="ico icon-cc-share"></i>
<i class="ico icon-cc-remix"></i>
<i class="ico icon-github"></i>
<i class="ico icon-github-circled"></i>
<i class="ico icon-flickr"></i>
<i class="ico icon-flickr-circled"></i>
<i class="ico icon-vimeo"></i>
<i class="ico icon-vimeo-circled"></i>
<i class="ico icon-twitter"></i>
<i class="ico icon-twitter-circled"></i>
<i class="ico icon-facebook"></i>
<i class="ico icon-facebook-circled"></i>
<i class="ico icon-facebook-squared"></i>
<i class="ico icon-gplus"></i>
<i class="ico icon-gplus-circled"></i>
<i class="ico icon-pinterest"></i>
<i class="ico icon-pinterest-circled"></i>
<i class="ico icon-tumblr"></i>
<i class="ico icon-tumblr-circled"></i>
<i class="ico icon-linkedin"></i>
<i class="ico icon-linkedin-circled"></i>
<i class="ico icon-dribbble"></i>
<i class="ico icon-dribbble-circled"></i>
<i class="ico icon-stumbleupon"></i>
<i class="ico icon-stumbleupon-circled"></i>
<i class="ico icon-lastfm"></i>
<i class="ico icon-lastfm-circled"></i>
<i class="ico icon-rdio"></i>
<i class="ico icon-rdio-circled"></i>
<i class="ico icon-spotify"></i>
<i class="ico icon-spotify-circled"></i>
<i class="ico icon-qq"></i>
<i class="ico icon-instagram"></i>
<i class="ico icon-dropbox"></i>
<i class="ico icon-evernote"></i>
<i class="ico icon-flattr"></i>
<i class="ico icon-skype"></i>
<i class="ico icon-skype-circled"></i>
<i class="ico icon-renren"></i>
<i class="ico icon-sina-weibo"></i>
<i class="ico icon-paypal"></i>
<i class="ico icon-picasa"></i>
<i class="ico icon-soundcloud"></i>
<i class="ico icon-mixi"></i>
<i class="ico icon-behance"></i>
<i class="ico icon-google-circles"></i>
<i class="ico icon-vkontakte"></i>
<i class="ico icon-smashing"></i>
<i class="ico icon-sweden"></i>
<i class="ico icon-db-shape"></i>
<i class="ico icon-logo-db"></i>
<i class="ico icon-flashlight"></i>
<i class="ico icon-mail"></i>
<i class="ico icon-heart"></i>
<i class="ico icon-heart-empty"></i>
<i class="ico icon-star"></i>
<i class="ico icon-star-empty"></i>
<i class="ico icon-user"></i>
<i class="ico icon-users"></i>
<i class="ico icon-user-add"></i>
<i class="ico icon-video"></i>
<i class="ico icon-picture"></i>
<i class="ico icon-cancel-circled"></i>
<i class="ico icon-cancel-squared"></i>
<i class="ico icon-plus"></i>
<i class="ico icon-plus-circled"></i>
<i class="ico icon-plus-squared"></i>
<i class="ico icon-minus"></i>
<i class="ico icon-minus-circled"></i>
<i class="ico icon-minus-squared"></i>
<i class="ico icon-help"></i>
<i class="ico icon-help-circled"></i>
<i class="ico icon-info"></i>
<i class="ico icon-info-circled"></i>
<i class="ico icon-back"></i>
<i class="ico icon-home"></i>
<i class="ico icon-link"></i>
<i class="ico icon-bookmark"></i>
<i class="ico icon-bookmarks"></i>
<i class="ico icon-flag"></i>
<i class="ico icon-thumbs-up"></i>
<i class="ico icon-thumbs-down"></i>
<i class="ico icon-download"></i>
<i class="ico icon-upload"></i>
<i class="ico icon-upload-cloud"></i>
<i class="ico icon-reply"></i>
<i class="ico icon-reply-all"></i>
<i class="ico icon-forward"></i>
<i class="ico icon-quote"></i>
<i class="ico icon-code"></i>
<i class="ico icon-export"></i>
<i class="ico icon-pencil"></i>
<i class="ico icon-chat"></i>
<i class="ico icon-bell"></i>
<i class="ico icon-attention"></i>
<i class="ico icon-alert"></i>
<i class="ico icon-vcard"></i>
<i class="ico icon-address"></i>
<i class="ico icon-location"></i>
<i class="ico icon-map"></i>
<i class="ico icon-direction"></i>
<i class="ico icon-compass"></i>
<i class="ico icon-cup"></i>
<i class="ico icon-trash"></i>
<i class="ico icon-doc"></i>
<i class="ico icon-docs"></i>
<i class="ico icon-doc-landscape"></i>
<i class="ico icon-folder"></i>
<i class="ico icon-archive"></i>
<i class="ico icon-box"></i>
<i class="ico icon-rss"></i>
<i class="ico icon-phone"></i>
<i class="ico icon-cog"></i>
<i class="ico icon-tools"></i>
<i class="ico icon-share"></i>
<i class="ico icon-shareable"></i>
<i class="ico icon-basket"></i>
<i class="ico icon-bag"></i>
<i class="ico icon-calendar"></i>
<i class="ico icon-login"></i>
<i class="ico icon-logout"></i>
<i class="ico icon-mic"></i>
<i class="ico icon-lamp"></i>
<i class="ico icon-light-down"></i>
<i class="ico icon-light-up"></i>
<i class="ico icon-adjust"></i>
<i class="ico icon-block"></i>
<i class="ico icon-resize-full"></i>
<i class="ico icon-resize-small"></i>
<i class="ico icon-popup"></i>
<i class="ico icon-publish"></i>
<i class="ico icon-window"></i>
<i class="ico icon-arrow-combo"></i>
<i class="ico icon-down-circled"></i>
<i class="ico icon-left-circled"></i>
<i class="ico icon-right-circled"></i>
<i class="ico icon-up-circled"></i>
<i class="ico icon-note"></i>
<i class="ico icon-note-beamed"></i>