@font-face {
  font-family: 'Xtremepush-Icons';
  src:  url('fonts/Xtremepush-Icons.eot?68xxyp');
  src:  url('fonts/Xtremepush-Icons.eot?68xxyp#iefix') format('embedded-opentype'),
    url('fonts/Xtremepush-Icons.ttf?68xxyp') format('truetype'),
    url('fonts/Xtremepush-Icons.woff?68xxyp') format('woff'),
    url('fonts/Xtremepush-Icons.svg?68xxyp#Xtremepush-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="xp-icon-"], [class*=" xp-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Xtremepush-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xp-icon-hamburger-menu:before {
  content: "\e900";
}
.xp-icon-arrow-down:before {
  content: "\e901";
}
.xp-icon-arrow-left:before {
  content: "\e902";
}
.xp-icon-arrow-right:before {
  content: "\e903";
}
.xp-icon-arrow-right_1:before {
  content: "\e904";
}
.xp-icon-laptop-message:before {
  content: "\e905";
}
.xp-icon-mobile-message:before {
  content: "\e906";
}
.xp-icon-inapp-message:before {
  content: "\e907";
}
.xp-icon-inbox:before {
  content: "\e908";
}
.xp-icon-popup:before {
  content: "\e909";
}
.xp-icon-location:before {
  content: "\e90a";
}
.xp-icon-location-multiple:before {
  content: "\e90b";
}
.xp-icon-desktop-screen:before {
  content: "\e90c";
}
.xp-icon-laptop:before {
  content: "\e90d";
}
.xp-icon-mobile:before {
  content: "\e90e";
}
.xp-icon-devices:before {
  content: "\e90f";
}
.xp-icon-analytics:before {
  content: "\e910";
}
.xp-icon-user-data:before {
  content: "\e911";
}
.xp-icon-device-data:before {
  content: "\e912";
}
.xp-icon-balls-event-trig:before {
  content: "\e913";
}
.xp-icon-bank:before {
  content: "\e914";
}
.xp-icon-bell:before {
  content: "\e915";
}
.xp-icon-calendar:before {
  content: "\e916";
}
.xp-icon-certificate:before {
  content: "\e917";
}
.xp-icon-chat:before {
  content: "\e918";
}
.xp-icon-check:before {
  content: "\e919";
}
.xp-icon-settings-horiz:before {
  content: "\e91a";
}
.xp-icon-settings-vert:before {
  content: "\e91b";
}
.xp-icon-cog:before {
  content: "\e91c";
}
.xp-icon-cogs:before {
  content: "\e91d";
}
.xp-icon-cog-dollar:before {
  content: "\e91e";
}
.xp-icon-dices:before {
  content: "\e91f";
}
.xp-icon-documents:before {
  content: "\e920";
}
.xp-icon-download:before {
  content: "\e921";
}
.xp-icon-crossing-arrows-horiz:before {
  content: "\e922";
}
.xp-icon-crossing-arrows-vert:before {
  content: "\e923";
}
.xp-icon-arrow-enter:before {
  content: "\e924";
}
.xp-icon-arrow-exit:before {
  content: "\e925";
}
.xp-icon-email:before {
  content: "\e926";
}
.xp-icon-eye:before {
  content: "\e927";
}
.xp-icon-funnel:before {
  content: "\e928";
}
.xp-icon-handshake:before {
  content: "\e929";
}
.xp-icon-lightbulb:before {
  content: "\e92a";
}
.xp-icon-map:before {
  content: "\e92b";
}
.xp-icon-message-settings:before {
  content: "\e92c";
}
.xp-icon-news:before {
  content: "\e92d";
}
.xp-icon-path-1:before {
  content: "\e92e";
}
.xp-icon-path-2:before {
  content: "\e92f";
}
.xp-icon-path-3:before {
  content: "\e930";
}
.xp-icon-path-4:before {
  content: "\e931";
}
.xp-icon-person-aware:before {
  content: "\e932";
}
.xp-icon-add-person:before {
  content: "\e933";
}
.xp-icon-person-message:before {
  content: "\e934";
}
.xp-icon-person-profile:before {
  content: "\e935";
}
.xp-icon-businessman:before {
  content: "\e936";
}
.xp-icon-person-delete:before {
  content: "\e962";
}
.xp-icon-person-dashed:before {
  content: "\e963";
}
.xp-icon-person:before {
  content: "\e937";
}
.xp-icon-people-1:before {
  content: "\e938";
}
.xp-icon-people-2:before {
  content: "\e939";
}
.xp-icon-AB-test-1:before {
  content: "\e93a";
}
.xp-icon-AB-test-2:before {
  content: "\e93b";
}
.xp-icon-info:before {
  content: "\e93c";
}
.xp-icon-plus:before {
  content: "\e93d";
}
.xp-icon-play:before {
  content: "\e93e";
}
.xp-icon-present:before {
  content: "\e93f";
}
.xp-icon-scale:before {
  content: "\e940";
}
.xp-icon-search-doc:before {
  content: "\e941";
}
.xp-icon-search:before {
  content: "\e942";
}
.xp-icon-shopping-cart:before {
  content: "\e943";
}
.xp-icon-stadium:before {
  content: "\e944";
}
.xp-icon-swiss-knife:before {
  content: "\e945";
}
.xp-icon-target:before {
  content: "\e946";
}
.xp-icon-text:before {
  content: "\e947";
}
.xp-icon-ticket:before {
  content: "\e948";
}
.xp-icon-translate:before {
  content: "\e949";
}
.xp-icon-world:before {
  content: "\e94a";
}
.xp-icon-around-globe:before {
  content: "\e94b";
}
.xp-icon-arrows-down:before {
  content: "\e94c";
}
.xp-icon-arrows-left:before {
  content: "\e94d";
}
.xp-icon-arrows-right:before {
  content: "\e94e";
}
.xp-icon-arrows-up:before {
  content: "\e94f";
}
.xp-icon-API-integration:before {
  content: "\e950";
}
.xp-icon-CRM-integration:before {
  content: "\e951";
}
.xp-icon-check-list:before {
  content: "\e952";
}
.xp-icon-edit-document:before {
  content: "\e953";
}
.xp-icon-code:before {
  content: "\e965";
}
.xp-icon-headset:before {
  content: "\e954";
}
.xp-icon-lifebuoy:before {
  content: "\e955";
}
.xp-icon-lock:before {
  content: "\e956";
}
.xp-icon-samples:before {
  content: "\e957";
}
.xp-icon-agile:before {
  content: "\e964";
}
.xp-icon-Reload:before {
  content: "\e966";
}
.xp-icon-Line-chart:before {
  content: "\e967";
}
.xp-icon-Pie-Chart:before {
  content: "\e968";
}
.xp-icon-Bar-Chart-Vert:before {
  content: "\e969";
}
.xp-icon-Bar-Chart-Horiz:before {
  content: "\e96a";
}
.xp-icon-Heatmap-Chart:before {
  content: "\e96b";
}
.xp-icon-Pencil:before {
  content: "\e96c";
}
.xp-icon-Paper-aeroplane:before {
  content: "\e96d";
}
.xp-icon-Home:before {
  content: "\e96e";
}
.xp-icon-Server:before {
  content: "\e971";
}
.xp-icon-Trend:before {
  content: "\e96f";
}
.xp-icon-Hide:before {
  content: "\e970";
}
.xp-icon-X:before {
  content: "\e972";
}
.xp-icon-bin:before {
  content: "\e973";
}
.xp-icon-doc-cancel:before {
  content: "\e974";
}
.xp-icon-facebook-1:before {
  content: "\e958";
}
.xp-icon-facebook-2:before {
  content: "\e959";
}
.xp-icon-google-plus-1:before {
  content: "\e95a";
}
.xp-icon-google-plus-2:before {
  content: "\e95b";
}
.xp-icon-jobbio-1:before {
  content: "\e95c";
}
.xp-icon-jobbio-2:before {
  content: "\e95d";
}
.xp-icon-linkedin-1:before {
  content: "\e95e";
}
.xp-icon-linkedin-2:before {
  content: "\e95f";
}
.xp-icon-twitter-1:before {
  content: "\e960";
}
.xp-icon-twitter-2:before {
  content: "\e961";
}
