<template>
  <rest-list-page
    :page-title="pageTitle"
    :fetch-endpoint="fetchEndpoint"
    :breadcrumbs="breadcrumbs"
  >
    <template slot="table">
      <rest-list-column
        prop="id"
        :title="$t('CampaignsList_Field_Id')"
        :width="120"
      />
      <rest-list-column-date
        v-if="status === 'past'"
        prop="deactivate_time"
        :title="$t('CampaignsList_Field_FinishDate')"
        :width="200"
      />
      <rest-list-column
        prop="title"
        :title="$t('CampaignsList_Field_Title')"
        :min-width="250"
      >
        <template v-slot:default="scope">
          <div class="campaign-column">
            <router-link :to="rowClickRoute(scope.row)">
              {{ scope.rowValue(scope) }}
            </router-link>
            <div v-if="scope.row.active && scope.row.workflow_status">
              <el-tag
                size="mini"
                effect="plain"
                class="tag"
                :type="scope.row.workflow_status === 3 ? 'warning' : 'success'"
              >
                {{ $t(campaignStatusLabels[scope.row.workflow_status]) }}
              </el-tag>
            </div>
          </div>
        </template>
      </rest-list-column>
      <rest-list-column-enum
        :enum="MessageTypeLabel"
        prop="type"
        :title="$t('CampaignsList_Field_MessageType')"
        :width="250"
        :sortable="false"
      />
      <rest-list-column-enum
        prop="trigger"
        :title="$t('CampaignsList_Field_Trigger')"
        :enum="campaignTypeLabels"
        :width="200"
        :sortable="false"
      />
      <rest-list-column
        v-if="status === 'live'"
        prop="schedule"
        :title="$t('CampaignsList_Field_Schedule')"
        :width="200"
        :filter-input="false"
        :sortable="false"
      />
      <rest-list-column-actions>
        <template slot-scope="scope">
          <rest-list-action
            :route="actionEndpoint(scope.row, 'info')"
            icon="el-icon-notebook-2"
            :title="$t('CampaignsList_Action_NotificationsLog')"
          />
          <rest-list-action-start
            v-if="
              !scope.row.active &&
                $can('sendPushCampaign') &&
                scope.row.send_type !== campaignSendTypeEnum.SEND_TYPE_NOW &&
                scope.row.campaign_type !== campaignTypeEnum.TYPE_WORKFLOW
            "
            :endpoint="rowStartEndpoint(scope.row)"
          />
          <rest-list-action-stop
            v-if="
              scope.row.active &&
                $can('sendPushCampaign') &&
                (scope.row.send_type !== campaignSendTypeEnum.SEND_TYPE_NOW ||
                  scope.row.campaign_type === campaignTypeEnum.TYPE_WORKFLOW)
            "
            :is-workflow="
              scope.row.campaign_type === campaignTypeEnum.TYPE_WORKFLOW
            "
            :endpoint="rowStopEndpoint(scope.row)"
          />
          <rest-list-action-close
            v-if="
              scope.row.active &&
                $can('sendPushCampaign') &&
                scope.row.campaign_type === campaignTypeEnum.TYPE_WORKFLOW &&
                scope.row.is_open === 1
            "
            :endpoint="rowCancelEndpoint(scope.row)"
          />
          <rest-list-action
            v-if="$can('updateProjectItem') && $can('sendPushCampaign')"
            :route="actionEndpoint(scope.row, 'update')"
            icon="el-icon-edit-outline"
            :title="
              scope.row.active
                ? $t('RestList_Action_Update')
                : $t('RestList_Action_ViewCampaign')
            "
          />
          <rest-list-action-view
            v-else
            :route="actionEndpoint(scope.row, 'view')"
          />
          <rest-list-action
            v-if="$can('createProjectItem')"
            :route="actionEndpoint(scope.row, 'copy')"
            icon="el-icon-document-copy"
            :title="$t('RestList_Action_Copy')"
          />
          <rest-list-action
            :route="analyticsEndpoint(scope.row)"
            icon="el-icon-data-analysis"
            :title="$t('RestList_Action_Analytics')"
          />
          <rest-list-action
            :v-if="$can('UserData::PersonalDataAccess')"
            :route="exportEndpoint(scope.row)"
            icon="el-icon-download"
            :title="$t('RestList_Action_Download')"
          />
          <rest-list-action-task
            :v-if="$can('UserData::PersonalDataAccess')"
            icon="el-icon-close"
            :title="$t('RestList_Action_Download_Failed')"
            :endpoint="downloadFailedEndpoint(scope.row)"
          />
          <rest-list-action-delete
            v-if="$isRole('admin')"
            :endpoint="rowDeleteEndpoint(scope.row)"
            :name="scope.row.title"
          />
        </template>
      </rest-list-column-actions>
    </template>
  </rest-list-page>
</template>

<script>
import { MessageTypeLabel } from '@/common/enum/MessageTypeEnum'
import RestListColumn from '@/common/components/rest/RestListColumn'
import { campaignTypeLabels } from '@/modules/analytics/enum/CampaignTypeLabels'
import { campaignStatusLabels } from '@/modules/analytics/enum/CampaignStatusLabels'
import { campaignSendTypeEnum } from '@/modules/campaigns/enum/CampaignSendTypeEnums'
import { campaignTypeEnum } from '@/modules/campaigns/enum/CampaignTypeEnum'
import RestListColumnEnum from '@/common/components/rest/RestListColumnEnum'
import RestListPage from '@/common/components/rest/RestListPageNew'
import { projectEndpoint, projectRoute } from '@/core/helpers'
import RestListActionStart from '@/modules/campaigns/components/RestListActionStart'
import RestListActionStop from '@/modules/campaigns/components/RestListActionStop'
import RestListActionView from '@/common/components/rest/RestListActionView'
import RestListAction from '@/common/components/rest/RestListAction'
import RestListActionDelete from '@/common/components/rest/RestListActionDelete'
import RestListActionTask from '@/common/components/rest/RestListActionTask'
import RestListColumnDate from '@/common/components/rest/RestListColumnDate'
import RestListColumnActions from '@/common/components/rest/RestListColumnActions'
import RestListActionClose from '@/modules/campaigns/components/RestListActionClose'
export default {
  name: 'CampaignsList',
  components: {
    RestListActionTask,
    RestListColumnActions,
    RestListActionClose,
    RestListActionStart,
    RestListColumnDate,
    RestListActionDelete,
    RestListAction,
    RestListActionView,
    RestListActionStop,
    RestListPage,
    RestListColumnEnum,
    RestListColumn
  },
  props: {
    status: {
      type: String,
      required: true
    },
    breadcrumbs: {
      type: Array,
      required: false
    }
  },
  data() {
    return {
      MessageTypeLabel,
      campaignStatusLabels,
      campaignTypeLabels,
      campaignSendTypeEnum,
      campaignTypeEnum
    }
  },
  computed: {
    pageTitle() {
      return this.$t(this.$route.meta.title)
    },
    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `campaigns`,
        params: {
          sort: '-id',
          status: this.status,
          expand:
            'deactivate_time,schedule,type,trigger,send_type,active,workflow_status,campaign_type,is_open'
        }
      })
    }
  },
  methods: {
    rowClickRoute(row) {
      if (this.$can('updateProjectItem') && this.$can('sendPushCampaign')) {
        return this.actionEndpoint(row, 'update')
      } else {
        return this.actionEndpoint(row, 'view')
      }
    },
    actionEndpoint(row, action) {
      return `/push/campaign/${action}?id=${row.id}&project_id=${this.$route.query.project_id}`
    },
    exportEndpoint(row) {
      return `/push/export/campaign?id=${row.id}&project_id=${this.$route.query.project_id}`
    },
    analyticsEndpoint(row) {
      return projectRoute({
        name: 'CampaignOverview',
        query: { id: row.id }
      })
    },
    downloadFailedEndpoint(row) {
      return projectEndpoint({
        method: 'post',
        url: `campaigns/${row.id}/export-failed`
      })
    },
    rowDeleteEndpoint(row) {
      return projectEndpoint({
        method: 'delete',
        url: `campaigns/${row.id}`
      })
    },
    rowStopEndpoint(row) {
      return projectEndpoint({
        method: 'post',
        url: `campaigns/${row.id}/stop`,
        params: { id: row.id }
      })
    },
    rowCancelEndpoint(row) {
      return projectEndpoint({
        method: 'post',
        url: `campaigns/${row.id}/close`,
        params: { id: row.id }
      })
    },
    rowStartEndpoint(row) {
      return projectEndpoint({
        method: 'post',
        url: `campaigns/${row.id}/start`
      })
    }
  }
}
</script>

<style scoped lang="scss">
.campaign-column {
  display: flex;

  .tag {
    margin-left: 5px;
  }
}
</style>
