<template>
  <div class="wrapper">
    <div class="vertical-layout">
      <div class="header">
        <div class="app-icon"><img :src="appIcon" /></div>
        <div class="app-name">{{ appName }}</div>
        <div class="separator">|</div>
        <div class="date">now</div>
        <div v-if="showToggler" class="toggler">
          <div class="down"><i class="icon-down-open"></i></div>
          <div class="up"><i class="icon-up-open"></i></div>
        </div>
      </div>

      <div class="horizontal-layout">
        <div class="content">
          <div class="title">{{ message.title }}</div>
          <div class="text">
            <p>{{ message.text }}</p>
          </div>
        </div>
        <div v-if="message.icon" class="icon">
          <img :src="message.icon" />
        </div>
      </div>
    </div>

    <div v-if="message.picture" class="picture">
      <img :src="message.picture" />
    </div>

    <div v-if="visibleActions.length" class="actions">
      <div v-for="action in visibleActions" class="action">{{ action }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PushPreviewAndroid',
  props: {
    message: Object,
    appIcon: String,
    appName: String
  },

  computed: {
    visibleActions: function() {
      if (this.message.actions && this.message.actions.length) {
        let actions = this.message.actions.slice(0, 2)
        actions.push('Settings')
        return actions
      } else {
        return []
      }
    },

    showToggler: function() {
      return this.message.picture || this.visibleActions.length
    }
  }
}
</script>

<style scoped>
.wrapper {
  border: 1px solid rgb(190, 190, 190);
  background: rgb(255, 255, 255);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
  position: relative;
  text-align: left;
}
.vertical-layout {
  padding: 0 10px;
}

.header {
  display: flex;
  color: #757575;
  height: 20px;
  line-height: 20px;
  font-size: 11px;
  margin-top: 4px;
  margin-bottom: 2px;
  white-space: nowrap;
}
.app-icon {
  margin-right: 5px;
}
.app-icon img {
  width: 18px;
  height: 18px;
}
.separator {
  margin: 0 5px;
  font-size: 10px;
  line-height: 18px;
}
.date {
  overflow: hidden;
  text-overflow: ellipsis;
}
.toggler {
  margin-left: 3px;
}
.toggler .up {
  display: none;
}
.wrapper:hover .up {
  display: block;
}
.wrapper:hover .down {
  display: none;
}

.horizontal-layout {
  display: flex;
  margin-bottom: 4px;
}
.content {
  flex: 1;
  font-size: 13px;
  line-height: 18px;
  min-width: 0;
}
.title {
  color: #0d0d0d;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 18px;
  margin-bottom: 3px;
  white-space: nowrap;
}
.text {
  color: #757575;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 18px;
  white-space: nowrap;
}
.wrapper:hover .text {
  max-height: 72px;
  white-space: normal;
}

.icon {
  float: right;
  width: 40px;
  margin-left: 10px;
}
.icon img {
  width: 40px;
  height: 40px;
}

.picture {
  margin: 10px;
  text-align: center;
  display: none;
}
.picture img {
  max-height: 220px;
  max-width: 100%;
}
.wrapper:hover .picture {
  display: block;
}

.actions {
  background-color: #eeeeee;
  margin-top: 10px;
  padding: 0 4px;
  display: none;
}
.actions .action {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  color: #757575;
  font-size: 12px;
}
.wrapper:hover .actions {
  display: flex;
}
</style>
