<template>
  <div class="section">
    <div class="container">
      <phone>
        <lock-screen>
          <push-preview-ios
            v-if="platform === 'ios'"
            :message="message"
            :app-icon="appIcon"
            :app-name="appName"
          ></push-preview-ios>

          <push-preview-android
            v-if="platform === 'android'"
            :message="message"
            :app-icon="appIcon"
            :app-name="appName"
          ></push-preview-android>
        </lock-screen>
      </phone>
    </div>
  </div>
</template>

<script>
import PushPreviewIos from '@/common/components/push/PushPreviewIos'
import PushPreviewAndroid from '@/common/components/push/PushPreviewAndroid'
import Phone from '@/common/components/phone/Phone'
import LockScreen from '@/common/components/phone/LockScreen'

export default {
  name: 'PushPreviewSection',
  components: {
    Phone,
    LockScreen,
    PushPreviewIos,
    PushPreviewAndroid
  },
  props: {
    platform: String,
    appIcon: String,
    appName: String
  },
  data() {
    return {
      message: {}
    }
  }
}
</script>

<style scoped>
.container {
  text-align: center;
}
</style>
