<template>
  <div class="push-preview-ios" :class="expanded ? 'expanded' : ''">
    <div class="message" @click="openMore">
      <div class="header">
        <div class="app-icon"><img :src="appIcon" /></div>
        <div class="app-name">{{ appName }}</div>
        <div v-if="!expanded" class="date">now</div>
        <div v-if="expanded" class="close" @click="closeMore">
          <i class="icon-cancel"></i>
        </div>
      </div>
      <div v-if="showPicture" class="picture">
        <img :src="message.picture" />
      </div>
      <div class="container">
        <div class="content">
          <div v-if="message.title" class="title">{{ message.title }}</div>
          <div class="text">
            <p>{{ message.text }}</p>
          </div>
          <div v-if="showTip" class="tip">Press for more</div>
        </div>
        <div v-if="showIcon" class="icon"><img :src="message.picture" /></div>
      </div>
    </div>
    <div v-if="showActions" class="actions">
      <div v-for="action in visibleActions" class="action">{{ action }}</div>
    </div>
  </div>
</template>

<script>
import '@/font/HelveticaNeue/stylesheet.css'

export default {
  name: 'PushPreviewIos',
  props: {
    message: Object,
    appIcon: String,
    appName: String
  },

  data() {
    return {
      expanded: false
    }
  },

  computed: {
    visibleActions: function() {
      if (this.message.actions) {
        return this.message.actions.slice(0, 2)
      } else {
        return []
      }
    },

    showActions: function() {
      return this.expanded && this.visibleActions.length
    },

    showPicture: function() {
      return this.expanded && this.message.picture
    },

    showIcon: function() {
      return !this.expanded && this.message.picture
    },

    showTip: function() {
      return (
        !this.expanded && (this.message.picture || this.visibleActions.length)
      )
    }
  },

  methods: {
    openMore: function() {
      this.expanded = true
    },

    closeMore: function(event) {
      this.expanded = false
      event.stopPropagation()
    }
  }
}
</script>

<style scoped>
.message {
  background: #cccccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-family: 'Helvetica Neue', sans-serif;
  cursor: default;
  position: relative;
  text-align: left;
}

.expanded .message {
  background: #eaeaea;
}

.header {
  background: #eaeaea;
  display: flex;
  justify-content: space-between;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 6px;
}

.expanded .header {
  border-bottom: 1px solid #bdbdbd;
}

.app-icon {
  font-size: 0;
}

.app-icon img {
  width: 20px;
  height: 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.app-name {
  flex: 1;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #60596a;
  font-size: 12px;
}

.date {
  line-height: 18px;
  font-size: 11px;
  margin-right: 6px;
}

.close {
  font-size: 16px;
}

.container {
  padding: 8px;
  font-size: 12px;
  line-height: 15px;
  display: flex;
}

.content {
  flex: 1;
  min-width: 0;
}

.title {
  color: #000000;
  margin-bottom: 3px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 15px;
  white-space: nowrap;
}

.text {
  color: #141414;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text p {
  font-size: 12px;
  white-space: pre-wrap;
}

.tip {
  margin-top: 3px;
  color: #4a3d51;
  font-size: 11px;
}

.picture {
  text-align: center;
}

.picture img {
  max-width: 100%;
}

.icon {
  margin-left: 10px;
}

.icon img {
  width: 32px;
  height: 32px;
}

.actions {
  margin-top: 10px;
  background: rgba(204, 204, 204, 0.5);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-family: 'Helvetica Neue', sans-serif;
  cursor: default;
  position: relative;
  text-align: center;
}

.action {
  height: 40px;
  line-height: 40px;
  color: #000000;
  font-size: 13px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}

.action:last-child {
  border: 0 none;
}
</style>
