<template>
  <analytics-chart-wrapper
    :title="title"
    chart-class="campaignsChart"
    :chart="chart"
    :settings="settings"
    :options="options"
    :items="items"
    :export-table-method="exportTableMethod"
  >
    <slot></slot>
  </analytics-chart-wrapper>
</template>

<script>
import CampaignsChart from '@/jquery/analytics/charts/campaignsChart'
import CampaignVariantsChart from '@/jquery/analytics/charts/campaignVariantsChart'
import CampaignWorkflowVariantsChart from '@/jquery/analytics/charts/campaignWorkflowVariantsChart'
import AnalyticsChartWrapper from '@/common/components/charts/AnalyticsChartWrapper'
import chartsMixin from '@/common/mixins/chartsMixin'
export default {
  name: 'CampaignsChart',
  mixins: [chartsMixin],
  components: { AnalyticsChartWrapper },
  props: {
    items: {
      type: Object,
      default: null
    },
    channel: {
      type: String
    },
    isCampaignVariant: {
      type: Boolean,
      required: false,
      default: false
    },
    exportTableMethod: {
      type: String,
      default: null
    },
    isWorkflowCampaign: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  computed: {
    project() {
      return this.$store.state.app.features
    },
    title() {
      if (this.isCampaignVariant) {
        return this.$t('Analytics_CampaignsVariantsChart_Title')
      } else {
        return this.$t('Analytics_CampaignsChart_Title')
      }
    },
    options() {
      return {
        campaign_id: this.$route.query.id
      }
    },
    chartSettings() {
      switch (this.channel) {
        case 'web_push':
          return {
            show_web_push: this.project.webPush,
            modifier: 'web_push_sent'
          }
        case 'mobile_push':
          return {
            show_mobile_push: this.project.mobile,
            modifier: 'mobile_push_sent'
          }
        case 'inapp':
          return {
            show_inapp: this.project.inapp,
            modifier: 'inapp_sent'
          }
        case 'onsite':
          return {
            show_inweb: this.project.onsite,
            modifier: 'inweb_sent'
          }
        case 'email':
          return {
            show_email: this.project.email,
            modifier: 'email_sent'
          }
        case 'sms':
          return {
            show_sms: this.project.sms,
            modifier: 'sms_sent'
          }
        case 'inbox':
          return {
            show_inbox: this.project.inbox,
            modifier: 'inbox_sent'
          }
        default:
          return {
            show_web_push: this.project.webPush,
            show_mobile_push: this.project.mobile,
            show_inapp: this.project.inapp,
            show_inbox: this.project.inbox,
            show_email: this.project.email,
            show_sms: this.project.sms,
            show_facebook: this.project.facebook,
            show_whatsapp: this.project.whatsapp,
            show_inweb: this.project.onsite,
            show_conversions: true,
            modifier: ''
          }
      }
    }
  },

  methods: {
    chart() {
      this.chartSettings.element = $('.chart-wrapper.campaignsChart')
      this.chartSettings.mode = 'timeline'

      if (this.isCampaignVariant) {
        if (this.isWorkflowCampaign) {
          return new CampaignWorkflowVariantsChart(this.chartSettings)
        }
        return new CampaignVariantsChart(this.chartSettings)
      }

      return new CampaignsChart(this.chartSettings)
    }
  }
}
</script>
