<template>
  <analytics-chart-wrapper
    :title="$t('Analytics_EmailStatisticsChart_Title')"
    chart-class="emailStatisticsChart"
    :chart="chart"
    :settings="settings"
  />
</template>
<script>
import EmailStatisticsChart from '@/jquery/analytics/charts/emailStatisticsChart'
import AnalyticsChartWrapper from '@/common/components/charts/AnalyticsChartWrapper'
import chartsMixin from '@/common/mixins/chartsMixin'
export default {
  name: 'EmailStatisticsChart',
  mixins: [chartsMixin],
  components: { AnalyticsChartWrapper },
  methods: {
    chart() {
      return new EmailStatisticsChart({
        element: $('.chart-wrapper.emailStatisticsChart'),
        table: undefined
      })
    }
  }
}
</script>

<style scoped lang="scss"></style>
