<template>
  <analytics-chart-wrapper
    :title="$t('Analytics_OptInsChart_Title')"
    chart-class="optInsChart"
    :chart="chart"
    :settings="settings"
  />
</template>

<script>
import OptInsChart from '@/jquery/analytics/charts/optInsChart'
import AnalyticsChartWrapper from '@/common/components/charts/AnalyticsChartWrapper'
import chartsMixin from '@/common/mixins/chartsMixin'
export default {
  name: 'OptInsChart',
  mixins: [chartsMixin],
  components: { AnalyticsChartWrapper },
  methods: {
    chart() {
      return new OptInsChart({
        element: $('.chart-wrapper.optInsChart'),
        table: undefined
      })
    }
  }
}
</script>

<style scoped lang="scss"></style>
