<template>
  <analytics-chart-wrapper
    :title="$t('Analytics_OptOutsChart_Title')"
    chart-class="optOutsChart"
    :chart="chart"
    :settings="settings"
  />
</template>

<script>
import OptOutsChart from '@/jquery/analytics/charts/optOutsChart'
import AnalyticsChartWrapper from '@/common/components/charts/AnalyticsChartWrapper'
import chartsMixin from '@/common/mixins/chartsMixin'
export default {
  name: 'OptOutsChart',
  mixins: [chartsMixin],
  components: { AnalyticsChartWrapper },
  methods: {
    chart() {
      return new OptOutsChart({
        element: $('.chart-wrapper.optOutsChart'),
        table: undefined
      })
    }
  }
}
</script>

<style scoped lang="scss"></style>
