<template>
  <analytics-chart-wrapper
    :title="$t('Analytics_PushesStatisticsChart_Title')"
    chart-class="pushesStatisticsChart"
    :chart="chart"
    :settings="settings"
  />
</template>
<script>
import PushesStatisticsChart from '@/jquery/analytics/charts/pushesStatisticsChart'
import AnalyticsChartWrapper from '@/common/components/charts/AnalyticsChartWrapper'
import chartsMixin from '@/common/mixins/chartsMixin'
export default {
  mixins: [chartsMixin],
  name: 'PushesStatisticsChart',
  components: { AnalyticsChartWrapper },
  props: {
    showPushDeliveries: {
      required: false,
      default: false
    }
  },
  methods: {
    chart() {
      return new PushesStatisticsChart({
        element: $('.chart-wrapper.pushesStatisticsChart'),
        table: undefined,
        show_push_deliveries: this.showPushDeliveries
      })
    }
  }
}
</script>

<style scoped lang="scss"></style>
