<template>
  <analytics-chart-wrapper
    :title="title"
    :chart-class="chartClass"
    :chart="chart"
    :settings="settings"
  />
</template>
<script>
import UsersEBChart from '@/jquery/analytics/charts/usersEBChart'
import AnalyticsChartWrapper from '@/common/components/charts/AnalyticsChartWrapper'
export default {
  name: 'UsersEBChart',
  components: { AnalyticsChartWrapper },
  props: {
    projectId: {
      required: true
    },
    method: {
      required: true,
      default: 'users_ebs'
    },
    title: {
      required: true,
      default: 'users_ebs'
    }
  },
  data() {
    return {
      chartClass: new Date().getTime().toString()
    }
  },
  computed: {
    settings() {
      return {
        project_id: this.projectId
      }
    }
  },
  methods: {
    chart() {
      const chart = new UsersEBChart(
        {
          element: $(`.chart-wrapper.${this.chartClass}`),
          table: undefined
        },
        true
      )
      chart.method = this.method
      chart.init()
      return chart
    }
  }
}
</script>

<style scoped lang="scss"></style>
