<template>
  <analytics-chart-wrapper
    :title="$t('Dashboard_ActiveUsers')"
    chart-class="usersChart"
    :chart="chart"
    :settings="settings"
  />
</template>
<script>
import UsersChart from '@/jquery/analytics/charts/usersChart'
import AnalyticsChartWrapper from '@/common/components/charts/AnalyticsChartWrapper'
import chartsMixin from '@/common/mixins/chartsMixin'
export default {
  name: 'UsersChart',
  mixins: [chartsMixin],
  components: { AnalyticsChartWrapper },
  props: {
    mobilePlatform: {
      type: String,
      required: false
    },
    platform: {
      type: String,
      required: false
    }
  },
  methods: {
    chart() {
      return new UsersChart({
        element: $('.chart-wrapper.usersChart'),
        table: undefined
      })
    }
  }
}
</script>

<style scoped lang="scss"></style>
