<template>
  <page-section :title="$t('ProfilesEvents_Title')">
    <rest-list :payload="fetchEndpoint">
      <rest-list-column-date
        :sortable="true"
        prop="create_time"
        :title="$t('ProfilesEvents_Field_CreateTime')"
        :width="200"
      />

      <rest-list-column
        prop="event_title"
        :title="$t('ProfilesEvents_Field_Title')"
        :sortable="false"
      />

      <el-table-column :sortable="false">
        <template slot="header" slot-scope="{}">
          <span>
            {{ $t('ProfilesEvents_Field_Value') }}
          </span>
          <rest-list-filter-input prop="value" />
        </template>
        <template slot-scope="scope">
          <el-button
            size="mini"
            v-if="isValidJson(scope.row.value)"
            @click="showDataPopup(scope.row.value)"
          >
            {{ $t('ProfilesEvents_JSON_Button_title') }}
            <el-icon name="view" />
          </el-button>
          <template v-else>{{ scope.row.value }}</template>
        </template>
      </el-table-column>

      <rest-list-column-enum
        prop="application_id"
        :key="applicationsLoaded"
        :title="$t('ProfilesEvents_Field_Application')"
        :enum="applications"
        :width="200"
        :sortable="false"
      />

      <rest-list-column
        prop="device_id"
        :title="$t('ProfilesEvents_Field_Device')"
        :route="rowClickDeviceIdRoute"
        :width="200"
        :sortable="false"
      />
    </rest-list>

    <el-dialog
      :title="$t('ProfilesEvents_JSON_Data_Title')"
      :visible="dataPopup"
      :modal="false"
      :modal-append-to-body="false"
      :before-close="closeDataPopup"
    >
      <vue-json-pretty :data="jsonData" class="json-wrapper"></vue-json-pretty>
    </el-dialog>
  </page-section>
</template>

<script>
import RestList from '@/common/components/rest/RestList'
import RestListColumn from '@/common/components/rest/RestListColumn'
import RestListColumnEnum from '@/common/components/rest/RestListColumnEnum'
import RestListColumnDate from '@/common/components/rest/RestListColumnDate'
import { projectEndpoint, projectRoute } from '@/core/helpers'
import VueJsonPretty from 'vue-json-pretty'
import RestListFilterInput from '@/common/components/rest/RestListFilterInput'
import RestApi from '@/core/services/RestApi'
import PageSection from '@/common/components/page/PageSection'

export default {
  name: 'EventsListPage',
  components: {
    PageSection,
    RestListFilterInput,
    RestListColumnDate,
    RestList,
    RestListColumnEnum,
    RestListColumn,
    VueJsonPretty
  },
  data() {
    return {
      dataPopup: false,
      jsonData: null,
      applications: {},
      applicationsLoaded: false
    }
  },
  created() {
    RestApi.get(this.optionsEndpoint).then(({ data }) => {
      data.forEach(val => {
        this.applications[val.id] = val.name
      })
      this.applicationsLoaded = true
    })
  },

  methods: {
    showDataPopup(json) {
      this.jsonData = JSON.parse(json)
      this.dataPopup = true
    },
    closeDataPopup() {
      this.dataPopup = false
    },
    isValidJson(value) {
      try {
        if (JSON.parse(value)) {
          return true
        }
      } catch (e) {
        return false
      }
      return false
    },
    rowClickDeviceIdRoute(row) {
      return projectRoute({
        name: 'Device',
        query: {
          device_id: row.device_id
        }
      })
    }
  },
  computed: {
    optionsEndpoint() {
      return projectEndpoint({ url: 'applications' }).url
    },
    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `event-hits`,
        params: {
          expand: 'event_title',
          profile_id: this.$route.query.profile_id
        }
      })
    }
  }
}
</script>

<style scoped>
.json-wrapper {
  overflow-y: auto;
  max-height: 400px;
}
</style>
