<template>
  <el-row>
    <el-col :span="12">
      <basic-attributes :profile-id="profileId" />
      <featured-attributes :profile-id="profileId" />
    </el-col>

    <el-col :span="12">
      <latest-sessions :profile-id="profileId" v-if="features.mobile" />
      <recent-events :profile-id="profileId" />
      <recent-messages :profile-id="profileId" />
    </el-col>
  </el-row>
</template>

<script>
import BasicAttributes from '@/modules/profiles/components/BasicAttributes'
import FeaturedAttributes from '@/modules/profiles/components/FeaturedAttributes'
import RecentEvents from '@/modules/profiles/components/RecentEvents'
import LatestSessions from '@/modules/profiles/components/LatestSessions'
import RecentMessages from '@/modules/profiles/components/LatestMessages'

export default {
  name: 'ProfileOverviewPage',

  components: {
    RecentMessages,
    BasicAttributes,
    FeaturedAttributes,
    RecentEvents,
    LatestSessions
  },

  props: {
    readonly: {
      type: Boolean,
      required: true
    },

    profileId: {
      type: String,
      required: true
    }
  },

  computed: {
    features() {
      return this.$store.state.app.features
    }
  }
}
</script>
