<template>
  <rest-page ref="marketing-rest-page" :fetch-endpoint="fetchEndpoint">
    <el-row v-if="model">
      <el-col :span="12">
        <page-section :title="$t('Profiles_Channels_Title_Channels')">
          <channels-menu :items="channelItems" />
        </page-section>
      </el-col>

      <el-col :span="12">
        <page-section :title="$t('Profiles_Channels_Title_MarketingOptIn')">
          <channels-menu :items="marketingOptItems">
            <template slot="actions" slot-scope="{ prop }">
              <el-dropdown trigger="click" :key="prop" v-if="!readonly">
                <i class="el-icon-more"></i>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item
                    v-if="model[prop] !== 1"
                    icon="el-icon-success"
                    @click.native="updateSubscription(prop, 'subscribe')"
                  >
                    {{ $t('Profiles_Channels_Action_Subscribe') }}
                  </el-dropdown-item>
                  <el-dropdown-item
                    v-if="model[prop] !== 0"
                    icon="el-icon-error"
                    @click.native="updateSubscription(prop, 'unsubscribe')"
                  >
                    {{ $t('Profiles_Channels_Action_Unsubscribe') }}
                  </el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </template>
          </channels-menu>

          <subscription-preferences-popup
            ref="subscription-preferences"
            :readonly="readonly"
            :profile-id="$route.query.profile_id"
            channel=""
          />
        </page-section>
      </el-col>
    </el-row>

    <page-section
      v-if="model"
      :title="$t('Profiles_Channels_Title_PushSubscriptions')"
      class="m-top-20"
    >
      <profile-push-subscriptions :profile-id="$route.query.profile_id" />
    </page-section>
  </rest-page>
</template>

<script>
import RestPage from '@/common/components/rest/RestPage'
import ChannelsMenu from '@/modules/profiles/components/ChannelsMenu'
import RestApi from '@/core/services/RestApi'
import { projectEndpoint } from '@/core/helpers'
import PageSection from '@/common/components/page/PageSection'
import ProfilePushSubscriptions from '@/modules/profiles/components/ProfilePushSubscriptions'
import SubscriptionPreferencesPopup from '@/modules/profiles/components/SubscriptionPreferencesPopup'

export default {
  name: 'ProfileChannelsPage',

  components: {
    SubscriptionPreferencesPopup,
    ProfilePushSubscriptions,
    PageSection,
    ChannelsMenu,
    RestPage
  },

  data() {
    return {
      model: {},
      subscriptionPreferencesStatus: [],
      subscriptionPreferences: []
    }
  },

  computed: {
    readonly() {
      return !this.$can('Profile::Update')
    },

    marketingOptItems() {
      return [
        {
          title: this.$t('Profiles_Channels_NavItem_EmailMarketing'),
          icon: this.getMarketingStatusIcon(this.model.email_subscription),
          prop: 'email_subscription',
          actions: true,
          click: this.getMargetingStatusClickHandler('email'),
          status: this.getMargetingStatusLabel(
            this.model.email_subscription,
            'email'
          )
        },
        {
          title: this.$t('Profiles_Channels_NavItem_SmsMarketing'),
          icon: this.getMarketingStatusIcon(this.model.sms_subscription),
          prop: 'sms_subscription',
          actions: true,
          click: this.getMargetingStatusClickHandler('sms'),
          status: this.getMargetingStatusLabel(
            this.model.sms_subscription,
            'sms'
          )
        },
        {
          title: this.$t('Profiles_Channels_NavItem_WhatsappMarketing'),
          icon: this.getMarketingStatusIcon(this.model.whatsapp_subscription),
          prop: 'whatsapp_subscription',
          actions: true,
          click: this.getMargetingStatusClickHandler('whatsapp'),
          status: this.getMargetingStatusLabel(
            this.model.whatsapp_subscription,
            'whatsapp'
          )
        }
      ]
    },

    channelItems() {
      return [
        {
          title: this.$t('Profiles_Channels_NavItem_EmailAddress'),
          icon: this.getChannelStatusIcon(
            this.model.email_addressable,
            this.model.email
          ),
          status: this.getChannelStatusLabel(
            this.model.email_addressable,
            this.model.email
          )
        },
        {
          title: this.$t('Profiles_Channels_NavItem_MobileNumber'),
          icon: this.getChannelStatusIcon(
            this.model.sms_addressable,
            this.model.mobile_number
          ),
          status: this.getChannelStatusLabel(
            this.model.sms_addressable,
            this.model.mobile_number
          )
        },
        {
          title: this.$t('Profiles_Channels_NavItem_WhatsappNumber'),
          icon: this.getChannelStatusIcon(
            this.model.whatsapp_addressable,
            this.model.whatsapp_number
          ),
          status: this.getChannelStatusLabel(
            this.model.whatsapp_addressable,
            this.model.whatsapp_number
          )
        }
      ]
    },

    fetchEndpoint() {
      return [
        projectEndpoint({
          method: 'get',
          url: `user-profiles/${this.$route.query.profile_id}`,
          handler: data => {
            this.model = data
          }
        }),

        projectEndpoint({
          method: 'get',
          url: `profiles/${this.$route.query.profile_id}/subscription-preferences`,
          params: {
            channel: ['email', 'sms']
          },
          handler: data => {
            this.subscriptionPreferencesStatus = data
          }
        }),

        projectEndpoint({
          method: 'get',
          url: `subscription-preferences`,
          handler: data => {
            this.subscriptionPreferences = data
          }
        })
      ]
    },

    saveEndpoint() {
      return projectEndpoint({
        method: 'patch',
        url: `user-profiles/${this.$route.query.profile_id}`
      })
    }
  },

  methods: {
    updateSubscription(prop, option) {
      switch (option) {
        case 'subscribe':
          this.updateModel(prop, 1)
          break
        case 'unsubscribe':
          this.updateModel(prop, 0)
          break
      }
    },

    updateModel(prop, newValue) {
      this.$refs['marketing-rest-page'].loading = true
      let oldValue = this.model[prop]
      this.model[prop] = newValue
      RestApi({ ...this.saveEndpoint, ...{ data: this.model } })
        .then(() => {
          this.$message({
            message: this.$t('Profiles_Channels_UpdateSuccessMessage'),
            type: 'success'
          })
          this.$refs['marketing-rest-page'].loading = false
        })
        .catch(error => {
          this.model[prop] = oldValue
          this.$refs['marketing-rest-page'].loading = false
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
    },

    getMarketingStatusIcon(value) {
      if (value === 0) {
        return 'el-icon-error'
      } else if (value === 1) {
        return 'el-icon-success'
      } else if (value === 2) {
        return undefined
      }
    },

    getMargetingStatusLabel(value, channel) {
      if (value === 0) {
        return this.$t('Profiles_Channels_StatusUnsubscribed')
      } else if (value === 1) {
        let label = this.$t('Profiles_Channels_StatusSubscribed')

        if (this.getAllPreferencesCount(channel)) {
          return (
            label +
            ' (' +
            this.getSubscribedPreferencesCount(channel) +
            '/' +
            this.getAllPreferencesCount(channel) +
            ')'
          )
        }

        return label
      } else if (value === 2) {
        return this.$t('Profiles_Channels_StatusNotProvided')
      }
    },

    getMargetingStatusClickHandler(channel) {
      if (this.getAllPreferencesCount(channel)) {
        return () => this.showSubscriptionPreferences(channel)
      } else {
        return null
      }
    },

    getChannelStatusLabel(status, value) {
      if (value === null || value === '') {
        return this.$t('Profiles_Channels_StatusNotProvided')
      } else if (status === 1) {
        return this.$t('Profiles_Channels_StatusAddressable')
      } else if (status === 0) {
        return this.$t('Profiles_Channels_StatusNotAddressable')
      }
    },

    getChannelStatusIcon(status, value) {
      if (value === null || value === '') {
        return undefined
      } else if (status === 1) {
        return 'el-icon-success'
      } else if (status === 0) {
        return 'el-icon-error'
      }
    },

    getSubscribedPreferencesCount(channel) {
      return this.subscriptionPreferencesStatus.filter(value => {
        return (
          value.subscription_preference_channel === channel &&
          value.status === 1
        )
      }).length
    },

    getAllPreferencesCount(channel) {
      return this.subscriptionPreferences.filter(value => {
        return value.channel === channel
      }).length
    },

    showSubscriptionPreferences(channel) {
      this.$refs['subscription-preferences'].channel = channel
      this.$refs['subscription-preferences'].show()
    }
  }
}
</script>
<style scoped>
.el-icon-more {
  transform: rotate(90deg);
  font-size: 14px;
}
</style>
