<template>
  <div>
    <profile-basic-data-card
      @update-email="emailUpdated"
      :readonly="readonly"
    />
    <profile-attributes-list
      @attribute-updated="attributeUpdated"
      :readonly="readonly"
    />
  </div>
</template>

<script>
import ProfileBasicDataCard from '@/modules/profiles/components/ProfileBasicDataCard'
import ProfileAttributesList from '@/modules/profiles/components/ProfileAttributesList'

export default {
  name: 'ProfileDataPage',

  components: {
    ProfileBasicDataCard,
    ProfileAttributesList
  },

  props: {
    readonly: {
      type: Boolean,
      required: true
    }
  },

  methods: {
    emailUpdated(newEmail) {
      this.$emit('email-updated', newEmail)
    },

    attributeUpdated(attributeModel) {
      this.$emit('attribute-updated', attributeModel)
    }
  }
}
</script>
