<template>
  <rest-list-page
    :page-title="pageTitle"
    :fetch-endpoint="fetchEndpoint"
    :breadcrumbs="breadcrumbs"
  >
    <template slot="actions">
      <router-link :to="createRoute" v-if="!readonly">
        <el-button type="primary" icon="el-icon-plus">
          {{ $t('UserProfiles_ProfileList_Create') }}
        </el-button>
      </router-link>

      <router-link :to="importRoute" v-if="!readonly">
        <el-button type="primary" icon="el-icon-upload">
          {{ $t('UserProfiles_ProfileList_Import') }}
        </el-button>
      </router-link>
    </template>

    <template slot="table">
      <rest-list-column
        v-if="selectedColumns.id"
        prop="id"
        :title="$t('UserProfiles_Field_Id')"
        :route="rowClickRoute"
        :min-width="280"
      />

      <rest-list-column-enum
        v-if="selectedColumns.identifier"
        prop="identifier"
        :enum="profileIdentifiersLabels"
        :title="$t('UserProfiles_Field_Identifier')"
        :min-width="120"
      />

      <rest-list-column
        v-if="selectedColumns.user_id"
        prop="user_id"
        :title="$t('UserProfiles_Field_UserId')"
        :min-width="180"
      />

      <rest-list-column
        v-if="selectedColumns.email"
        prop="email"
        :title="$t('UserProfiles_Field_Email')"
        :min-width="180"
      />

      <rest-list-column
        v-if="selectedColumns.mobile_number"
        prop="mobile_number"
        :title="$t('UserProfiles_Field_MobileNumber')"
        :min-width="180"
      />

      <rest-list-column
        v-if="selectedColumns.whatsapp_number"
        prop="whatsapp_number"
        :title="$t('UserProfiles_Field_WhatsappNumber')"
        :min-width="180"
      />

      <rest-list-column-boolean
        v-if="selectedColumns.email_addressable"
        prop="email_addressable"
        :title="$t('UserProfiles_Field_EmailAddressable')"
        :min-width="140"
      />

      <rest-list-column-boolean
        v-if="selectedColumns.email_subscription"
        prop="email_subscription"
        :title="$t('UserProfiles_Field_EmailSubscription')"
        :min-width="140"
      />

      <rest-list-column-boolean
        v-if="selectedColumns.sms_addressable"
        prop="sms_addressable"
        :title="$t('UserProfiles_Field_SmsAddressable')"
        :min-width="140"
      />

      <rest-list-column-boolean
        v-if="selectedColumns.sms_subscription"
        prop="sms_subscription"
        :title="$t('UserProfiles_Field_SmsSubscription')"
        :min-width="140"
      />

      <rest-list-column-boolean
        v-if="selectedColumns.whatsapp_addressable"
        prop="whatsapp_addressable"
        :title="$t('UserProfiles_Field_WhatsappAddressable')"
        :min-width="140"
      />

      <rest-list-column-boolean
        v-if="selectedColumns.whatsapp_subscription"
        prop="whatsapp_subscription"
        :title="$t('UserProfiles_Field_WhatsappSubscription')"
        :min-width="140"
      />

      <el-table-column :width="50" align="center">
        <template slot="header" slot-scope="{}">
          <rest-list-column-settings
            storage-key="profiles-list-columns"
            :title="$t('Profiles_Field_Settings')"
            :columns="columns"
            v-model="selectedColumns"
          />
        </template>
      </el-table-column>
    </template>
  </rest-list-page>
</template>

<script>
import RestListPage from '@/common/components/rest/RestListPageNew'
import RestListColumn from '@/common/components/rest/RestListColumn'
import RestListColumnEnum from '@/common/components/rest/RestListColumnEnum'
import RestListColumnBoolean from '@/common/components/rest/RestListColumnBoolean'
import RestListColumnSettings from '@/common/components/rest/RestListColumnSettings'
import { projectEndpoint, projectRoute } from '@/core/helpers'
import { profileIdentifiersLabels } from '@/modules/profiles/enum/ProfileIdentifiersEnum'

export default {
  name: 'ProfileListPage',

  components: {
    RestListColumnBoolean,
    RestListColumnEnum,
    RestListColumn,
    RestListPage,
    RestListColumnSettings
  },

  data() {
    return {
      selectedColumns: {},
      profileIdentifiersLabels
    }
  },

  computed: {
    pageTitle() {
      return this.$t(this.$route.meta.title)
    },

    breadcrumbs() {
      return [
        {
          label: this.$t('Users_Breadcrumb_Data')
        },
        {
          label: this.$t('Users_Breadcrumb_Profiles')
        }
      ]
    },

    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `user-profiles`,
        params: {}
      })
    },

    createRoute() {
      return projectRoute({
        name: 'ProfileCreate'
      })
    },

    importRoute() {
      return projectRoute({
        name: 'ImportCreate'
      })
    },

    readonly() {
      return !this.$can('Profile::Update')
    },

    features() {
      return this.$store.state.app.features
    },

    columns() {
      return {
        id: {
          title: this.$t('UserProfiles_Field_Id'),
          defaultValue: true,
          validation: true
        },
        identifier: {
          title: this.$t('UserProfiles_Field_Identifier'),
          defaultValue: false,
          validation: true
        },
        user_id: {
          title: this.$t('UserProfiles_Field_UserId'),
          defaultValue: true,
          validation: this.$can('UserData::PersonalDataAccess')
        },
        email: {
          title: this.$t('UserProfiles_Field_Email'),
          defaultValue: false,
          validation: this.$can('UserData::PersonalDataAccess')
        },
        mobile_number: {
          title: this.$t('UserProfiles_Field_MobileNumber'),
          defaultValue: false,
          validation: this.$can('UserData::PersonalDataAccess')
        },
        whatsapp_number: {
          title: this.$t('UserProfiles_Field_WhatsappNumber'),
          defaultValue: false,
          validation:
            this.features.whatsapp && this.$can('UserData::PersonalDataAccess')
        },
        email_addressable: {
          title: this.$t('UserProfiles_Field_EmailAddressable'),
          defaultValue: false,
          validation: true
        },
        email_subscription: {
          title: this.$t('UserProfiles_Field_EmailSubscription'),
          defaultValue: false,
          validation: true
        },
        sms_addressable: {
          title: this.$t('UserProfiles_Field_SmsAddressable'),
          defaultValue: false,
          validation: true
        },
        sms_subscription: {
          title: this.$t('UserProfiles_Field_SmsSubscription'),
          defaultValue: false,
          validation: true
        },
        whatsapp_addressable: {
          title: this.$t('UserProfiles_Field_WhatsappAddressable'),
          defaultValue: false,
          validation: this.features.whatsapp
        },
        whatsapp_subscription: {
          title: this.$t('UserProfiles_Field_WhatsappSubscription'),
          defaultValue: false,
          validation: this.features.whatsapp
        }
      }
    }
  },

  methods: {
    rowClickRoute(row) {
      return projectRoute({
        name: 'ProfileOverview',
        query: {
          profile_id: row.id
        }
      })
    },

    rowDeleteEndpoint(row) {
      return projectEndpoint({
        method: 'delete',
        url: `user-profiles/${row.id}`
      })
    }
  }
}
</script>

<style scoped>
.columnSelection {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}
</style>
