<template>
  <tr class="el-table__row block">
    <td class="block">
      <div class="cell">
        <slot>
          {{ value }}
        </slot>
      </div>
    </td>
  </tr>
</template>

<script>
export default {
  name: 'ValueTableRow',

  props: {
    value: {
      required: true
    }
  }
}
</script>

<style scoped>
.block {
  display: block;
}
</style>
