<template>
  <rest-page :fetch-endpoint="fetchEndpoint">
    <page-header :title="pageTitle" />

    <page-content>
      <notification-error :model="model" />

      <notification-details :model="model" />

      <notification-recipients
        v-if="$can('UserData::ReadAccess')"
        :model="model"
      />

      <notification-interactions :model="model" />
    </page-content>
  </rest-page>
</template>

<script>
import RestPage from '@/common/components/rest/RestPage'
import PageHeader from '@/common/components/page/PageHeader'
import PageContent from '@/common/components/page/PageContent'
import NotificationDetails from '@/modules/notifications-log/components/NotificationDetails'
import NotificationInteractions from '@/modules/notifications-log/components/NotificationInteractions'
import NotificationRecipients from '@/modules/notifications-log/components/NotificationRecipients'
import NotificationError from '@/modules/notifications-log/components/NotificationError'
import { projectEndpoint } from '@/core/helpers'

export default {
  name: 'NotificationLogListPage',

  components: {
    NotificationDetails,
    NotificationRecipients,
    NotificationInteractions,
    NotificationError,
    RestPage,
    PageHeader,
    PageContent
  },
  data() {
    return {
      model: {
        application: {}
      }
    }
  },

  computed: {
    pageTitle() {
      return this.$t(this.$route.meta.title)
    },

    fetchEndpoint() {
      if (this.$route.query.id) {
        return projectEndpoint({
          method: 'get',
          url: `actions/${this.$route.query.id}`,
          params: { expand: 'campaign_title,application_name' },
          handler: data => {
            Object.assign(this.model, data)
          }
        })
      } else {
        return null
      }
    }
  }
}
</script>
