<template>
  <page>
    <page-content>
      <date-filter @change="value = $event" />
      <campaigns-chart
        :project-id="this.$route.query.project_id"
        :items="{ 1: { id: '1', title: 'Campaign name' } }"
        :start-date="startDate"
        :end-date="endDate"
      />
      <opt-ins-chart
        :project-id="this.$route.query.project_id"
        :start-date="startDate"
        :end-date="endDate"
      />
      <opt-outs-chart
        :project-id="this.$route.query.project_id"
        :start-date="startDate"
        :end-date="endDate"
      />
      <pushes-statistics-chart
        :project-id="this.$route.query.project_id"
        :start-date="startDate"
        :end-date="endDate"
      />
      <email-statistics-chart
        :project-id="this.$route.query.project_id"
        :start-date="startDate"
        :end-date="endDate"
      />
      <users-chart
        :project-id="this.$route.query.project_id"
        :start-date="startDate"
        :end-date="endDate"
      />
      <users-e-b-chart
        :project-id="this.$route.query.project_id"
        method="users_ebs"
        title="Users Engagement By Sessions"
      />
      <users-e-b-chart
        :project-id="this.$route.query.project_id"
        method="users_ebla"
        title="Users Engagement by Last Activity"
      />
    </page-content>
  </page>
</template>

<script>
import Page from '@/common/components/page/Page'
import PageContent from '@/common/components/page/PageContent'
import DateFilter from '@/common/components/dashboard/DateFilter'
import CampaignsChart from '@/modules/analytics/components/CampaignsChart'
import OptInsChart from '@/modules/analytics/components/OptInsChart'
import OptOutsChart from '@/modules/analytics/components/OptOutsChart'
import PushesStatisticsChart from '@/modules/analytics/components/PushesStatisticsChart'
import EmailStatisticsChart from '@/modules/analytics/components/EmailStatisticsChart'
import UsersChart from '@/modules/analytics/components/UsersChart'
import UsersEBChart from '@/modules/analytics/components/UsersEBChart'
export default {
  name: 'ChartsTest',
  components: {
    UsersEBChart,
    UsersChart,
    EmailStatisticsChart,
    PushesStatisticsChart,
    OptOutsChart,
    OptInsChart,
    CampaignsChart,
    DateFilter,
    PageContent,
    Page
  },
  data() {
    return {
      value: ''
    }
  },
  computed: {
    startDate() {
      return this.value.start
        ? this.value.start.toISOString().split('T')[0]
        : ''
    },
    endDate() {
      return this.value.end ? this.value.end.toISOString().split('T')[0] : ''
    }
  }
}
</script>

<style scoped></style>
