<template>
  <div class="filter">
    <el-select
      v-model="value"
      :multiple="allowMultiple"
      collapse-tags
      @change="filter"
      :clearable="clearable"
    >
      <el-option
        v-for="(item, index) in options"
        :key="index"
        :value="index"
        :label="item"
      />
    </el-select>
  </div>
</template>

<script>
export default {
  name: 'RestListFilterSelect',

  inject: ['restList'],

  props: {
    prop: {
      type: String,
      required: false
    },

    options: {
      required: true
    },

    allowMultiple: {
      type: Boolean,
      default: false
    },

    clearable: {
      type: Boolean,
      default: true
    },

    defaultValue: {
      required: false
    }
  },

  data() {
    return {
      value: null
    }
  },

  mounted() {
    if (this.defaultValue) {
      this.value = this.allowMultiple
        ? this.defaultValue.split(',')
        : this.defaultValue
      this.filter()
    }
  },

  methods: {
    filter() {
      this.restList.filterField(
        this.prop,
        this.allowMultiple ? this.value.join(',') : this.value
      )
    }
  }
}
</script>
