<template>
  <rest-list-column
    :prop="prop"
    :title="title"
    :route="route"
    :width="width"
    :min-width="minWidth"
    :formatter="formatter"
    :filter-date-range="true"
    :date-picker-props="datePickerProps"
    :sortable="sortable"
    :fixed="fixed"
  />
</template>

<script>
import RestListColumn from '@/common/components/rest/RestListColumn'
import { projectTimezoneDate } from '@/core/helpers'

export default {
  name: 'RestListColumnDate',

  components: { RestListColumn },

  props: {
    prop: {
      type: String,
      required: true
    },

    title: {
      type: String,
      required: true
    },

    readonly: {
      type: Boolean,
      default: false
    },

    route: {
      type: Function,
      required: false
    },

    width: {
      type: Number,
      required: false
    },

    minWidth: {
      type: Number,
      required: false,
      default: 180
    },

    dateFormat: {
      type: String,
      required: false,
      default: 'DD MMM YYYY HH:mm:ss'
    },

    datePickerProps: {
      type: Object,
      required: false,
      default: () => {
        return {
          type: 'datetimerange',
          value_format: 'yyyy-MM-dd HH:mm:ss',
          default_time: ['00:00:00', '23:59:59']
        }
      }
    },

    sortable: {
      required: false
    },

    fixed: {
      type: [Boolean, String],
      required: false,
      default: false
    }
  },

  methods: {
    formatter(value) {
      if (value) {
        return projectTimezoneDate(value).format(this.dateFormat)
      } else {
        return '-'
      }
    }
  }
}
</script>
