<template>
  <router-link v-if="isDropdown && route" :to="route" :target="target">
    <el-dropdown-item>
      <i :class="icon" :title="title"></i>
      {{ title }}
    </el-dropdown-item>
  </router-link>
  <el-dropdown-item
    v-else-if="isDropdown"
    @click.native="click(row)"
    :title="title"
  >
    <i :class="icon"></i>
    {{ title }}
  </el-dropdown-item>

  <span v-else>
    <router-link v-if="route" :to="route" :target="target">
      <i :class="icon" :title="title"></i>
    </router-link>
    <i v-else :class="icon" @click="click" :title="title"></i>
  </span>
</template>

<script>
export default {
  name: 'RestListAction',
  computed: {
    isDropdown() {
      return this.isChildOf('ElDropdown')
    }
  },
  methods: {
    isChildOf(componentName) {
      let parent = this.$parent
      while (parent) {
        if (parent.$options.name === componentName) {
          return true
        }
        parent = parent.$parent
      }
      return false
    }
  },
  props: {
    icon: {
      type: String,
      required: true
    },

    title: {
      type: String,
      required: false
    },

    click: {
      type: Function,
      required: false
    },
    row: {
      type: Object,
      required: false
    },
    route: {
      required: false
    },
    target: {
      type: String,
      required: false
    }
  }
}
</script>

<style scoped>
i {
  cursor: pointer;
  margin: 0 8px;
}
</style>
