<template>
  <rest-list-column
    :prop="prop"
    :title="title"
    :route="route"
    :width="width"
    :min-width="minWidth"
    :filter-options="filterOptions"
    :formatter="formatter || defaultFormat"
    :sortable="sortable"
    :allow-multiple="allowMultiple"
    :clearable="clearable"
    :editable="editable"
    :number="number"
    :fixed="fixed"
  >
    <template slot="input-edit" slot-scope="{ model }">
      <slot name="input-edit" :model="model">
        <enum-select
          v-model="model[prop]"
          :options="filterOptions"
          :number="number"
        />
      </slot>
    </template>
  </rest-list-column>
</template>

<script>
import RestListColumn from '@/common/components/rest/RestListColumn'
import { getEnumTranslations } from '@/core/helpers'
import EnumSelect from '@/common/components/form/EnumSelect'

export default {
  name: 'RestListColumnEnum',

  components: { EnumSelect, RestListColumn },

  props: {
    prop: {
      type: String,
      required: true
    },

    enum: {
      type: Object,
      required: true
    },

    title: {
      type: String,
      required: true
    },

    route: {
      type: Function,
      required: false
    },

    width: {
      type: Number,
      required: false
    },

    minWidth: {
      type: Number,
      required: false
    },

    formatter: {
      type: Function,
      required: false
    },

    sortable: {
      required: false
    },

    translate: {
      required: false,
      default: true
    },

    allowMultiple: {
      type: Boolean,
      default: false
    },

    clearable: {
      type: Boolean,
      default: true
    },

    editable: {
      type: Boolean,
      required: false,
      default: false
    },

    number: {
      type: Boolean,
      default: false
    },

    fixed: {
      type: [Boolean, String],
      required: false,
      default: false
    }
  },

  computed: {
    filterOptions() {
      if (this.translate) {
        return getEnumTranslations(this.enum)
      }

      return this.enum
    }
  },

  methods: {
    defaultFormat(value) {
      if (value || value === 0) {
        if (this.enum[value]) {
          if (this.translate) {
            return this.$t(this.enum[value])
          } else {
            return this.enum[value]
          }
        } else {
          return value
        }
      } else {
        return '-'
      }
    }
  }
}
</script>
