<template>
  <el-dropdown trigger="click" @visible-change="saveColumns">
    <icon glyph="cog" size="20" />
    <el-dropdown-menu slot="dropdown" :style="dropdownCustomStyle">
      <div class="settings-title">
        {{ title }}
        <el-input
          v-if="dynamicColumns"
          class="filter-input"
          :placeholder="$t('RestList_Column_Filter')"
          suffix-icon="el-icon-search"
          v-model="searchInput"
          size="small"
          @input="updateColumns"
        />
      </div>
      <div class="columnSelection">
        <el-checkbox
          v-for="(column, index) in validatedColumns"
          v-model="selectedColumns[index]"
          :key="index"
        >
          {{ column.title }}
        </el-checkbox>
      </div>
    </el-dropdown-menu>
  </el-dropdown>
</template>

<script>
export default {
  name: 'RestListColumnSettings',

  data() {
    return {
      selectedColumns: {},
      dropdownCustomStyle: {
        padding: '0px',
        overflowY: 'auto',
        maxHeight: '100%'
      },
      searchInput: ''
    }
  },

  props: {
    title: {
      required: true,
      type: String
    },

    columns: {
      type: Object,
      required: true
    },

    storageKey: {
      required: true,
      type: String
    },

    value: {
      type: Object
    },

    dynamicColumns: {
      type: Boolean,
      default: false
    }
  },

  created() {
    let savedColumns = JSON.parse(localStorage.getItem(this.storageKey))

    Object.keys(this.columns)
      .filter(key => {
        return this.columns[key].validation
      })
      .map(key => {
        if (savedColumns && savedColumns[key] !== undefined) {
          this.$set(this.selectedColumns, key, savedColumns[key])
        } else {
          this.$set(this.selectedColumns, key, this.columns[key].defaultValue)
        }
      })
  },

  computed: {
    validatedColumns() {
      let validatedColumns = {}
      Object.keys(this.columns)
        .filter(key => {
          return this.columns[key].validation
        })
        .map(key => {
          validatedColumns[key] = this.columns[key]
        })
      return validatedColumns
    }
  },

  methods: {
    saveColumns(val) {
      if (!val) {
        localStorage.setItem(
          this.storageKey,
          JSON.stringify(this.selectedColumns)
        )
      }
    },

    updateColumns(searchInputValue) {
      this.$emit('update-columns', searchInputValue)
    }
  },

  watch: {
    selectedColumns: {
      deep: true,
      handler(selectedColumns) {
        this.$emit('input', selectedColumns)
        this.$emit('updated')
      }
    }
  }
}
</script>

<style scoped>
.columnSelection {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 14px;
}

.settings-title {
  width: 200px;
  background-color: #fafafa;
  padding: 10px;
  color: #333333;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid #eaebec;
}

>>> .el-checkbox {
  margin-top: 5px;
}

>>> .el-checkbox__input .el-checkbox__inner {
  border-radius: 4px;
  border: 1px solid #dbdee7;
}

>>> .el-checkbox__input.is-checked .el-checkbox__inner {
  border-radius: 4px;
  background-color: #1d87c8;
  border-color: #1d87c8;
  color: #333333;
}

.filter-input {
  margin-top: 5px;
}
</style>
