<template>
  <el-table-column width="100" align="center">
    <template slot-scope="scope">
      <div
        v-if="!isEdit(scope)"
        :class="{ 'actions-box': updateEndpoint && deleteEndpoint }"
      >
        <div class="actions-button">
          <i
            v-if="updateEndpoint"
            class="el-icon-edit-outline"
            @click="editRow(scope)"
            :title="$t('RestList_Action_Update')"
          ></i>
        </div>
        <i
          v-if="deleteEndpoint"
          class="el-icon-delete"
          @click="deleteRow(scope)"
          :title="$t('RestList_Action_Delete')"
        ></i>
      </div>

      <div v-else class="actions-box">
        <div class="actions-button actions-button-save">
          <i
            v-if="!isNew(scope) && updateEndpoint"
            class="ico icon-floppy"
            @click="updateRow(scope, updateEndpoint(scope.row))"
            :title="$t('RestList_Action_Save')"
          ></i>
          <i
            v-else-if="addEndpoint"
            class="ico icon-floppy"
            @click="addRow(scope, addEndpoint)"
            :title="$t('RestList_Action_Save')"
          ></i>
        </div>
        <i
          class="el-icon-circle-close"
          @click="cancelEditRow(scope)"
          :title="$t('RestList_Action_Cancel')"
        ></i>
      </div>
    </template>
  </el-table-column>
</template>

<script>
import RestApi from '@/core/services/RestApi'

export default {
  name: 'RestListActionEditColumn',

  inject: ['restList'],

  props: {
    updateEndpoint: {
      type: Function,
      required: false
    },

    deleteEndpoint: {
      type: Function,
      required: false
    },

    addEndpoint: {
      type: Object,
      required: false
    },

    label: {
      type: String,
      required: false
    }
  },

  methods: {
    isEdit(scope) {
      return this.restList.isEditingRow(scope.$index)
    },

    isNew(scope) {
      return this.restList.isNewRow(scope.$index)
    },

    deleteRow(scope) {
      this.$msgbox({
        title: this.$t('RestList_DeleteTitle'),
        message: this.label
          ? this.$t('RestList_DeletePrompt', { label: scope.row[this.label] })
          : this.$t('RestList_DeletePromptNoLabel'),
        showCancelButton: true,
        confirmButtonText: this.$t('RestList_DeleteConfirmButton'),
        cancelButtonText: this.$t('RestList_DeleteCancelButton'),
        center: true
      }).then(() => {
        this.restList.loading = true
        RestApi(this.deleteEndpoint(scope.row))
          .then(() => {
            this.$message({
              message: this.$t('RestList_DeleteSuccessMessage'),
              type: 'success'
            })
            this.restList.refresh()
            this.$emit('row-deleted', scope.row, scope.$index)
          })
          .catch(error => {
            this.restList.loading = false
            this.$message({
              message: error.message,
              type: 'error'
            })
          })
      })
    },

    editRow(scope) {
      this.restList.editRow(scope.$index)
    },

    cancelEditRow(scope) {
      if (this.isEdit(scope) && !this.isNew(scope)) {
        this.restList.cancelEditRow(scope.$index)
      } else {
        this.restList.removeRow(scope.$index)
      }
    },

    addRow(scope, endpoint) {
      let updatedData = this.restList.editRowData(scope.$index)

      if (updatedData.new) {
        delete updatedData.new
      }

      RestApi({
        ...endpoint,
        ...{ data: updatedData }
      })
        .then(({ data }) => {
          this.$message({
            message: this.$t('RestList_SaveSuccessMessage'),
            type: 'success'
          })

          if (endpoint.handler) {
            this.restList.updateRow(scope.$index, endpoint.handler(data))
          } else {
            this.restList.updateRow(scope.$index, data)
          }

          this.$emit('row-updated', updatedData, scope.$index)
        })
        .catch(error => {
          this.$set(updatedData, 'new', true)
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
    },

    updateRow(scope, endpoint) {
      let updatedData = this.restList.editRowData(scope.$index)

      if (updatedData.new) {
        delete updatedData.new
      }

      RestApi({
        ...endpoint,
        ...{ data: updatedData }
      })
        .then(() => {
          this.$message({
            message: this.$t('RestList_SaveSuccessMessage'),
            type: 'success'
          })

          this.restList.updateRow(scope.$index, updatedData)

          this.$emit('row-updated', updatedData, scope.$index)
        })
        .catch(error => {
          this.$set(updatedData, 'new', false)
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
    }
  }
}
</script>

<style scoped>
i {
  cursor: pointer;
}

.actions-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.actions-button {
  width: 30px;
}

.actions-button-save {
  background-color: #1d87c8;
  border-color: #1d87c8;
  color: #ffffff;
  border-radius: 4px;
  transition: all 0.3s;
}

.actions-button-save:hover {
  background-color: #53aee6;
  border-color: #53aee6;
  color: #ffffff;
  cursor: pointer;
}
</style>
