<template>
  <rest-list-action
    icon="el-icon-tickets"
    :title="title ? title : $t('RestList_Action_View')"
    :route="route"
  />
</template>

<script>
import RestListAction from '@/common/components/rest/RestListAction'

export default {
  name: 'RestListActionView',

  components: { RestListAction },

  props: {
    route: {
      type: Object,
      required: true
    },
    title: {
      type: String,
      required: false
    }
  }
}
</script>
