<template>
  <rest-list-action
    icon="el-icon-delete"
    :title="$t('RestList_Action_Delete')"
    :click="click"
  />
</template>

<script>
import RestApi from '@/core/services/RestApi'
import RestListAction from '@/common/components/rest/RestListAction'

export default {
  name: 'RestListActionDelete',
  components: { RestListAction },
  inject: ['restList'],

  props: {
    endpoint: {
      type: Object,
      required: true
    },

    name: {
      type: String,
      required: false
    },

    deleteMessage: {
      type: String,
      required: false
    }
  },

  methods: {
    click() {
      this.$msgbox({
        title: this.$t('RestList_DeleteTitle'),
        message: this.deleteMessage
          ? this.deleteMessage
          : this.$t('RestList_DeletePrompt', { label: this.name }),
        showCancelButton: true,
        confirmButtonText: this.$t('RestList_DeleteConfirmButton'),
        cancelButtonText: this.$t('RestList_DeleteCancelButton'),
        center: true
      }).then(() => {
        this.restList.loading = true
        RestApi(this.endpoint)
          .then(() => {
            this.$message({
              message: this.$t('RestList_DeleteSuccessMessage'),
              type: 'success'
            })
            this.restList.refresh()
          })
          .catch(error => {
            this.restList.loading = false
            this.$message({
              message: error.message,
              type: 'error'
            })
          })
      })
    }
  }
}
</script>
