<template>
  <rest-list-column
    :prop="prop"
    :title="title"
    :width="width"
    :min-width="minWidth"
    :formatter="formatter"
    :filter-options="filterOptions"
    :sortable="sortable"
    :editable="editable"
  >
    <template slot="input-edit" slot-scope="{ model }">
      <slot name="input-edit" :model="model">
        <el-switch v-model="model[prop]"></el-switch>
      </slot>
    </template>
  </rest-list-column>
</template>

<script>
import RestListColumn from '@/common/components/rest/RestListColumn'

export default {
  name: 'RestListColumnBoolean',

  components: { RestListColumn },

  props: {
    prop: {
      type: String,
      required: true
    },

    title: {
      type: String,
      required: true
    },

    width: {
      type: Number,
      required: false
    },

    minWidth: {
      type: Number,
      required: false
    },

    activeLabel: {
      type: String,
      required: false,
      default: 'Yes'
    },

    inactiveLabel: {
      type: String,
      required: false,
      default: 'No'
    },

    sortable: {
      required: false
    },

    editable: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  computed: {
    filterOptions() {
      return {
        0: this.inactiveLabel,
        1: this.activeLabel
      }
    }
  },

  methods: {
    formatter(value) {
      return value ? this.activeLabel : this.inactiveLabel
    }
  }
}
</script>
