<template>
  <page-stepped
    ref="page"
    :title="$t('Imports_Title_CreateImport')"
    :steps="steps"
    :model="model"
    :fetch-endpoint="fetchEndpoint"
    :save-endpoint="saveEndpoint"
    :rules="rules"
    :save-button="$t('Imports_Button_RunImport')"
    :breadcrumbs="breadcrumbs"
    :after-save="afterSave"
  />
</template>

<script>
import PageStepped from '@/common/components/page/PageStepped'
import StepImportDataSource from '@/modules/imports/components/StepImportDataSource'
import StepImportDataMapping from '@/modules/imports/components/StepImportDataMapping'
import { projectEndpoint, projectRoute } from '@/core/helpers'

export default {
  name: 'ImportFormPage',

  components: {
    PageStepped
  },

  data() {
    let validateUserIdCol = (rule, value, callback) => {
      if (this.currentStepName === 'data_mapping') {
        if (value.some(e => e.attribute === 'user_id') === true) {
          callback()
        } else {
          this.$message({
            message:
              this.model.source.type === 'upload'
                ? this.$t('Imports_Message_IdNotAssigned')
                : this.$t('Imports_Message_RefreshSchemaIdRequired'),
            type: 'error'
          })
        }
      } else {
        callback()
      }
    }
    return {
      model: {
        name: '',
        type: 'profiles',
        source: {
          type: ''
        },
        config: {
          columns: []
        },
        schedule: {
          frequency: 'daily',
          time: '00:00'
        },
        active: 1
      },
      steps: [
        {
          name: 'data_source',
          title: this.$t('Imports_Tab_DataSource'),
          component: StepImportDataSource,
          completed: false,
          rules: {
            name: {
              required: true,
              message: this.$t('RestForm_FieldIsRequired')
            },
            config: {
              columns: [
                {
                  type: 'array',
                  required: true,
                  message: this.$t('RestForm_SchemaIsRequired'),
                  min: 1
                },
                {
                  validator: validateUserIdCol
                }
              ]
            },
            source: {
              type: {
                required: true,
                message: this.$t('RestForm_FieldIsRequired')
              },
              integration_id: {
                required: true,
                message: this.$t('RestForm_FieldIsRequired')
              },
              file_selection: {
                required: true,
                message: this.$t('RestForm_FieldIsRequired')
              },
              file_directory: {
                required: true,
                message: this.$t('RestForm_FieldIsRequired')
              },
              file_name: {
                required: true,
                message: this.$t('RestForm_FieldIsRequired')
              }
            }
          },
          props: {}
        },
        {
          name: 'data_mapping',
          title: this.$t('Imports_Tab_DataMapping'),
          component: StepImportDataMapping,
          completed: false,
          rules: {},
          props: {
            attributes: [],
            filterableAttributes: [
              'user_id',
              'email',
              'mobile_number',
              'whatsapp_number',
              'language',
              'timezone',
              'email_addressable',
              'email_subscription',
              'sms_addressable',
              'sms_subscription'
            ],
            integrations: {}
          }
        }
      ]
    }
  },

  computed: {
    fetchEndpoint() {
      return [this.sftpIntegrationsEndpoint, this.attributesEndpoint]
    },

    sftpIntegrationsEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `integrations`,
        params: {
          type: 'sftp'
        },
        handler: data => {
          this.$set(this.steps[0].props, 'integrations', data)
        }
      })
    },

    attributesEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `tags`,
        params: {
          sort: 'title',
          attribute_profile: 1
        },
        handler: data => {
          this.steps[1].props.attributes = data
        }
      })
    },

    saveEndpoint() {
      return projectEndpoint({
        method: 'POST',
        url: `imports/import`
      })
    },

    rules() {
      return this.steps.reduce(
        (obj, item) => Object.assign(obj, item.rules),
        {}
      )
    },

    breadcrumbs() {
      return [
        {
          label: this.$t('Imports_Breadcrumb_Imports')
        },
        {
          label: this.$t('Imports_Breadcrumb_CreateImport')
        }
      ]
    },

    currentStepName() {
      return this.$refs.page.currentStep.name
    }
  },

  methods: {
    afterSave(data) {
      this.$router.push(
        projectRoute({
          name: 'TaskHistoryView',
          query: { id: data.task_id }
        })
      )
    }
  }
}
</script>

<style scoped></style>
