<template>
  <rest-page :fetch-endpoint="fetchEndpoint">
    <page-header-new
      v-if="model"
      :title="pageTitle"
      :breadcrumbs="breadcrumbs"
    ></page-header-new>

    <page-content>
      <notification-list ref="list" :campaign-id="this.$route.query.id" />
    </page-content>
  </rest-page>
</template>

<script>
import { projectEndpoint, projectRoute } from '@/core/helpers'
import RestPage from '@/common/components/rest/RestPage'
import PageHeaderNew from '@/common/components/page/PageHeaderNew'
import PageContent from '@/common/components/page/PageContent'
import NotificationList from '@/modules/notifications-log/components/NotificationList'

export default {
  name: 'CampaignMessagesPage',

  components: {
    NotificationList,
    PageContent,
    PageHeaderNew,
    RestPage
  },

  data() {
    return {
      model: null
    }
  },

  created() {
    setInterval(() => {
      this.$refs.list.refresh()
    }, 2500)
  },

  computed: {
    pageTitle() {
      return this.model.title + ' - Notifications Log'
    },

    breadcrumbs() {
      return [
        { label: this.$t('Campaigns_Breadcrumb_Campaigns') },
        {
          label: this.model.title,
          route: projectRoute({
            name: 'ViewCampaign',
            query: { id: this.$route.query.id }
          })
        },
        { label: 'Notifications Log' }
      ]
    },

    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: 'campaigns/' + this.$route.query.id,
        handler: model => {
          this.model = model
        }
      })
    }
  }
}
</script>
