<template>
  <campaigns-list :breadcrumbs="breadcrumbs" status="live" />
</template>

<script>
import CampaignsList from '@/modules/campaigns/components/CampaignsList'
export default {
  name: 'LiveCampaignsPage',
  components: {
    CampaignsList
  },
  data() {
    return {}
  },
  computed: {
    breadcrumbs() {
      return [
        { label: this.$t('Campaigns_Breadcrumb_Campaigns') },
        { label: this.$t('Campaigns_Breadcrumb_LiveCampaigns') }
      ]
    }
  }
}
</script>

<style scoped></style>
