<template>
  <campaigns-list :breadcrumbs="breadcrumbs" status="past" />
</template>

<script>
import CampaignsList from '@/modules/campaigns/components/CampaignsList'
export default {
  name: 'PastCampaignsPage',
  components: {
    CampaignsList
  },
  data() {
    return {}
  },
  computed: {
    breadcrumbs() {
      return [
        { label: this.$t('Campaigns_Breadcrumb_Campaigns') },
        { label: this.$t('Campaigns_Breadcrumb_PastCampaigns') }
      ]
    }
  }
}
</script>

<style scoped></style>
