<template>
  <rest-page :fetch-endpoint="fetchEndpoint">
    <page-header :title="pageTitle" />
    <page-content>
      <members-preview-list-dialog
        :profile-ids="previewProfileIds"
        :date="model.create_time"
        v-if="previewProfileIds"
      />
      <key-value-table :left-width="30" :right-width="70">
        <key-value-table-row
          :label="$t('TaskHistoryList_Field_Identifier')"
          :value="$t(identifierLabel[model.identifier])"
        />

        <key-value-table-row
          v-for="(item, index) in model.paramDetails"
          :key="index"
          :label="item.label"
        >
          <template>
            <el-tooltip v-if="item.tooltip" class="item" effect="dark">
              <div slot="content" v-html="item.tooltip"></div>
              <span v-html="item.value"></span>
            </el-tooltip>

            <div v-else v-html="item.value"></div>
          </template>
        </key-value-table-row>

        <key-value-table-row
          :label="$t('TaskHistoryList_Field_CreateTime')"
          :value="createDate"
        />

        <key-value-table-row :label="$t('TaskHistoryList_Field_Status')">
          <template>
            <el-tag effect="plain" :type="taskTag.type">
              <i :class="taskTag.icon"></i>
              {{ taskTag.message }}
            </el-tag>
          </template>
        </key-value-table-row>
      </key-value-table>

      <br />

      <key-value-table
        v-if="displayResultsTable"
        :left-width="30"
        :right-width="70"
      >
        <key-value-table-row
          v-if="isSegmentPreview"
          :label="$t('TaskHistoryList_Field_Result')"
        >
          <el-link @click="showPreviewModal" icon="icon-export">
            {{ $t('TaskHistoryList_ProfilePreview') }}
          </el-link>
        </key-value-table-row>

        <key-value-table-row
          v-else
          v-for="(item, index) in model.resultDetails"
          :key="index"
          :label="item.label"
        >
          <div v-html="item.value"></div>
        </key-value-table-row>
      </key-value-table>

      <br />

      <key-value-table
        v-if="displayErrorTable"
        :left-width="30"
        :right-width="70"
      >
        <div v-for="(errors, index) in model.errors" :key="index">
          <value-table-row
            v-for="(error, errorIndex) in errors"
            :key="errorIndex"
            :value="error"
          />
        </div>
      </key-value-table>
    </page-content>
  </rest-page>
</template>

<script>
import RestPage from '@/common/components/rest/RestPage'
import PageHeader from '@/common/components/page/PageHeader'
import PageContent from '@/common/components/page/PageContent'
import KeyValueTable from '@/common/components/table/KeyValueTable'
import KeyValueTableRow from '@/common/components/table/KeyValueTableRow'
import ValueTableRow from '@/common/components/table/ValueTableRow'
import { projectEndpoint, projectTimezoneDate } from '@/core/helpers'
import {
  taskIdentifierLabel,
  taskStatusLabel,
  taskStatusEnum
} from '@/modules/tasks/enum/TaskRecordEnums'
import RestApi from '@/core/services/RestApi'
import MembersPreviewListDialog from '@/modules/audiences/components/MembersPreviewListDialog'
import { EventBus } from '@/core/EventBus'

export default {
  components: {
    MembersPreviewListDialog,
    RestPage,
    PageHeader,
    PageContent,
    KeyValueTable,
    KeyValueTableRow,
    ValueTableRow
  },

  data() {
    return {
      model: {},
      identifierLabel: taskIdentifierLabel,
      statusLabel: taskStatusLabel,
      statusEnum: taskStatusEnum,
      interval: null,
      loadTask: true,
      previewProfileIds: null
    }
  },

  mounted() {
    EventBus.$on('members-preview-list-close', this.membersPreviewListClose)
    let taskStatusEndpoint = projectEndpoint({
      method: 'get',
      url: `task-histories/${this.$route.query.id}`
    })

    this.interval = setInterval(() => {
      RestApi(taskStatusEndpoint)
        .then(({ data }) => {
          if (
            data.status !== this.statusEnum.NEW &&
            data.status !== this.statusEnum.EXECUTING
          ) {
            this.model = data
            this.loadTask = false
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
    }, 2500)
  },

  watch: {
    loadTask(newValue) {
      if (newValue === false) {
        clearInterval(this.interval)
      }
    }
  },

  beforeDestroy() {
    clearInterval(this.interval)
  },

  computed: {
    pageTitle() {
      return this.$t(this.$route.meta.title)
    },

    fetchEndpoint() {
      if (this.$route.query.id) {
        return projectEndpoint({
          method: 'get',
          url: `task-histories/${this.$route.query.id}`,
          handler: data => {
            this.model = data
          }
        })
      } else {
        return null
      }
    },

    createDate() {
      return projectTimezoneDate(this.model.create_time).format(
        'DD MMM YYYY HH:mm:ss'
      )
    },

    taskTag() {
      if (
        this.model.status === this.statusEnum.NEW ||
        this.model.status === this.statusEnum.EXECUTING
      ) {
        return {
          icon: 'el-icon-loading',
          type: 'warning',
          message: this.$t('TaskHistory_StatusLoading')
        }
      } else if (
        this.model.status === this.statusEnum.ERROR ||
        this.model.status === this.statusEnum.FATAL
      ) {
        return {
          icon: 'el-icon-error',
          type: 'danger',
          message: this.$t(this.statusLabel[this.model.status])
        }
      } else {
        return {
          icon: 'el-icon-success',
          type: 'success',
          message: this.$t(this.statusLabel[this.model.status])
        }
      }
    },

    displayErrorTable() {
      return (
        this.model.status !== this.statusEnum.NEW &&
        this.model.status !== this.statusEnum.EXECUTING &&
        this.model.errors &&
        Object.entries(this.model.errors).length > 0
      )
    },

    displayResultsTable() {
      return (
        this.model.status !== this.statusEnum.NEW &&
        this.model.status !== this.statusEnum.EXECUTING &&
        this.model.status !== this.statusEnum.ERROR &&
        this.model.status !== this.statusEnum.FATAL &&
        this.model.resultDetails &&
        this.model.resultDetails.length > 0
      )
    },

    isSegmentPreview() {
      return this.model.identifier === 'segment_preview_recipients'
    }
  },

  methods: {
    membersPreviewListClose() {
      this.previewProfileIds = null
    },

    showPreviewModal() {
      this.previewProfileIds = this.model.resultDetails[0].value.recipients
    }
  }
}
</script>

<style scoped>
.status-loading {
  width: 16px;
  margin-right: 8px;
  margin-top: 3px;
}

>>> .el-tooltip {
  text-decoration: underline;
  cursor: default;
}
</style>
