<template>
  <rest-page :fetch-endpoint="fetchEndpoint" layout="tabbed">
    <page-header :title="title" :breadcrumbs="breadcrumbs">
      <template slot="actions">
        <el-button v-if="!finalStep" type="primary" @click="nextStep">
          {{ nextStepButton ? nextStepButton : $t('Button_NextStep') }}
          <i class="el-icon-arrow-right el-icon-right"></i>
        </el-button>
        <el-button
          v-else
          :disabled="readonly || !stepsCompleted"
          @click="save"
          type="primary"
        >
          <i class="ico icon-floppy"></i>
          {{ saveButton ? saveButton : $t('Button_Save') }}
        </el-button>
      </template>
    </page-header>

    <page-steps
      ref="stepper"
      @can-continue-updated="canContinueUpdated"
      @next-button-updated="updateNextButton"
      @final-step-updated="updateFinalStep"
      :steps="steps"
      :model="model"
      :rules="rules"
      :save-endpoint="saveEndpoint"
      :after-save="afterSave"
      :is-edit="isEdit"
      :readonly="readonly"
    />
  </rest-page>
</template>

<script>
import RestPage from '@/common/components/rest/RestPage'
import PageHeader from '@/common/components/page/PageHeaderNew'
import PageSteps from '@/common/components/page/PageSteps'

export default {
  name: 'PageStepped',

  components: {
    RestPage,
    PageHeader,
    PageSteps
  },

  props: {
    title: {
      type: String,
      required: true
    },

    steps: {
      type: Array,
      required: true
    },

    breadcrumbs: {
      type: Array,
      required: false,
      default: () => []
    },

    model: {
      type: Object,
      required: true
    },

    props: {
      type: Object,
      required: false
    },

    fetchEndpoint: {
      type: [Object, Array],
      required: false,
      default: {}
    },

    saveEndpoint: {
      type: Object,
      required: true
    },
    afterSave: {
      type: Function,
      required: false
    },

    rules: {
      type: Object,
      required: true
    },

    isEdit: {
      type: Boolean,
      default: false,
      required: false
    },

    readonly: {
      type: Boolean,
      default: false,
      required: false
    },

    saveButton: {
      type: String,
      required: false
    },

    nextStepButton: {
      type: String,
      required: false
    }
  },

  data() {
    return {
      nextButton: {},
      finalStep: false,
      isAllowedToContinue: false
    }
  },

  methods: {
    nextStep() {
      this.$refs.stepper
        .validate()
        .then(valid => {
          if (valid) {
            this.$refs.stepper.completeStep(
              this.$refs.stepper.currentStep.index
            )
            this.$refs.stepper.proceed({ value: true })
            this.$refs.stepper.nextStep()
          }
        })
        .catch(error => {
          let errors = Object.values(error).map(e => e[0].field)
          return errors
        })
    },

    updateNextButton(newValue) {
      Object.assign(this.nextButton, newValue)
    },

    updateFinalStep(newValue) {
      this.finalStep = newValue
    },

    canContinueUpdated(newValue) {
      this.isAllowedToContinue = newValue
    },

    save() {
      this.$refs.stepper.save()
    }
  },

  computed: {
    stepsCompleted() {
      return this.steps.every(element => element.completed === true)
    },

    isLastStep() {
      if (this.$refs.stepper) {
        return this.$refs.stepper.finalStep
      } else {
        return false
      }
    },

    currentStep() {
      return this.$refs.stepper.currentStep
    }
  }
}
</script>

<style scoped></style>
