<template>
  <div class="page" :class="layoutClass" v-loading="loading">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'Page',

  provide() {
    return {
      page: this
    }
  },

  props: {
    loading: {
      type: Boolean,
      required: false,
      default: false
    },

    layout: {
      type: String,
      reuired: false
    }
  },

  computed: {
    layoutClass() {
      if (this.layout) {
        return 'layout-' + this.layout
      } else {
        return null
      }
    }
  }
}
</script>

<style scoped>
.page {
  flex: 1;
  overflow: auto;
  height: 100%;
}

.page {
  background: #f2f5f9;
}

.page.layout-tabbed {
  background: #ffffff;
}

.page.layout-tabbed >>> .page {
  background: #ffffff !important;
}

.page.layout-tabbed .header {
  border-bottom: 0 none;
}
</style>
