<template>
  <rest-page :fetch-endpoint="fetchEndpoint">
    <rest-form
      ref="form"
      :save-endpoint="saveEndpoint"
      :after-save="afterSave"
      :model="model"
      :rules="rules"
      :disabled="false"
    >
      <el-dialog
        :title="$t('ProjectSettings_ChannelSettingsTab_ConfirmTitle')"
        :visible="emailPopup"
        :modal="true"
        :modal-append-to-body="false"
        :before-close="emailPopupClose"
      >
        <p class="description">
          {{ $t('ProjectSettings_ChannelSettingsTab_ConfirmMessage') }}
        </p>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" plain @click="emailVerificationRefusal">
            {{ $t('ProjectSettings_ChannelSettingsTab_ConfirmCancel') }}
          </el-button>
          <el-button
            type="primary"
            @click="emailVerificationRequest"
            :loading="emailConfirmLoading"
          >
            {{ $t('ProjectSettings_ChannelSettingsTab_ConfirmYes') }}
          </el-button>
        </span>
      </el-dialog>

      <form-section
        :title="$t('ProjectSettings_ChannelSettingsTab_ChannelSettings')"
        :description="
          $t('ProjectSettings_ChannelSettingsTab_ChannelSettings_Desc')
        "
      >
        <input type="hidden" v-model="model.email_verification" />
        <template slot="controls">
          <save-button :click="save" />
        </template>
        <el-form :model="model">
          <el-row>
            <el-col :span="12">
              <ToggleList :data="dataList1" :model="model" />
            </el-col>
            <el-col :span="12">
              <ToggleList :data="dataList2" :model="model" />
            </el-col>
          </el-row>
        </el-form>
      </form-section>

      <form-section
        :title="$t('ProjectSettings_ChannelSettingsTab_ExternalServices')"
        :description="
          $t('ProjectSettings_ChannelSettingsTab_ExternalServices_Desc')
        "
      >
        <el-form :model="model">
          <el-row>
            <el-col :span="12">
              <ToggleList :data="dataList3" :model="model" />
            </el-col>
          </el-row>
        </el-form>
      </form-section>
    </rest-form>
  </rest-page>
</template>

<script>
import RestForm from '@/common/components/rest/RestForm'
import { projectEndpoint } from '@/core/helpers'
import ToggleList from '@/common/components/form/ToggleList'
import RestPage from '@/common/components/rest/RestPage'
import FormSection from '@/common/components/form/FormSection'
import SaveButton from '@/common/components/form/SaveButton'
import RestApi from '@/core/services/RestApi'
import { emailVerificationEnum } from '@/modules/settings/enum/EmailVerificationEnum'
export default {
  name: 'EnableChannelsTab',
  components: { SaveButton, FormSection, RestPage, ToggleList, RestForm },
  props: {
    projectId: {
      required: false
    }
  },
  data() {
    return {
      model: {
        email: 0,
        sms: 0,
        inapp: 0,
        onsite: 0,
        webhook: 0,
        inbox: 0,
        whatsapp: 0,
        facebook: 0,
        email_verification: 0
      },
      dataList1: [
        {
          code: 'sms',
          name: this.$t('ProjectSettings_ChannelSettingsTab_Sms')
        },
        {
          code: 'email',
          name: this.$t('ProjectSettings_ChannelSettingsTab_Email')
        },
        {
          code: 'whatsapp',
          name: this.$t('ProjectSettings_ChannelSettingsTab_Whatsapp')
        },
        {
          code: 'facebook',
          name: this.$t('ProjectSettings_ChannelSettingsTab_Facebook')
        }
      ],
      dataList2: [
        {
          code: 'inbox',
          name: this.$t('ProjectSettings_ChannelSettingsTab_Inbox')
        },
        {
          code: 'onsite',
          name: this.$t('ProjectSettings_ChannelSettingsTab_OnSite')
        },
        {
          code: 'inapp',
          name: this.$t('ProjectSettings_ChannelSettingsTab_InApp')
        }
      ],
      dataList3: [
        {
          code: 'webhook',
          name: this.$t('ProjectSettings_ChannelSettings_WebHook')
        }
      ],
      emailPopup: false,
      emailConfirmLoading: false,
      emailVerificationEnum
    }
  },
  methods: {
    save() {
      if (this.isVerificationWaiting()) {
        this.emailPopupOpen()
        return
      }
      this.$refs['form'].save()
    },
    afterSave(data, finishLoading) {
      finishLoading.apply()
      location.reload()
    },
    emailPopupOpen() {
      this.emailPopup = true
    },
    emailPopupClose() {
      this.emailPopup = false
    },
    emailVerificationRefusal() {
      this.model.email = 0
      this.model.email_verification = emailVerificationEnum.NOT_VERIFIED
      this.emailPopupClose()
      this.save()
    },
    emailVerificationRequest() {
      this.emailConfirmLoading = true
      RestApi(
        projectEndpoint({
          method: 'post',
          url: `email-request`
        })
      )
        .then(() => {
          this.model.email_verification = emailVerificationEnum.SENT
          this.emailPopupClose()
          this.save()
        })
        .catch(error => {
          this.model.email = 0
          this.model.email_verification = emailVerificationEnum.NOT_VERIFIED
          this.emailPopupClose()
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
        .finally(() => {
          this.emailConfirmLoading = false
        })
    },
    isVerificationWaiting() {
      return (
        this.model.email &&
        this.model.email_verification === emailVerificationEnum.NOT_VERIFIED
      )
    },
    isVerificationSent() {
      return (
        this.model.email &&
        this.model.email_verification === emailVerificationEnum.SENT
      )
    }
  },
  computed: {
    fetchEndpoint() {
      return projectEndpoint(
        {
          method: 'get',
          url: '',
          params: {
            expand: 'inbox,email_verification'
          },
          handler: data => {
            this.model = {
              email: data.email,
              sms: data.sms,
              inapp: data.inapp,
              onsite: data.onsite,
              webhook: data.webhook,
              inbox: data.inbox,
              whatsapp: data.whatsapp,
              facebook: data.facebook,
              email_verification: data.email_verification
            }

            if (this.isVerificationSent()) {
              this.dataList1[1].description = this.$t(
                'ProjectSettings_ChannelSettingsTab_VerificationSent'
              )
            }
          }
        },
        this.projectId || this.$route.query.project_id
      )
    },
    saveEndpoint() {
      return projectEndpoint(
        {
          method: 'patch',
          url: ''
        },
        this.projectId || this.$route.query.project_id
      )
    },
    rules() {
      return {}
    }
  }
}
</script>
<style scoped lang="scss">
.description {
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: #808080;
  word-break: break-word;
}
</style>
