<template>
  <rest-page :fetch-endpoint="fetchEndpoint">
    <rest-form
      ref="form"
      :save-endpoint="saveEndpoint"
      :after-save="afterSave"
      :readonly="readonly"
      :model="model"
      :rules="rules"
      v-if="model"
    >
      <el-row>
        <el-col :span="24">
          <el-row>
            <el-col>
              <rest-form-item
                :label="$t('Engagement_Category_Title')"
                prop="title"
              >
                <el-input v-model="model.title" />
              </rest-form-item>
            </el-col>
          </el-row>

          <el-row>
            <el-col :span="12">
              <rest-form-item
                :label="$t('Engagement_Category_Segments')"
                prop="segment_id"
              >
                <el-select
                  v-model="model.segment_id"
                  filterable
                  remote
                  :placeholder="$t('Category_Segments_Placeholder')"
                  :remote-method="fetchSegmentsDropdown"
                  clearable
                  :loading="loadingSegments"
                >
                  <el-option
                    :value="null"
                    :label="$t('Category_Segments_Placeholder')"
                  />
                  <el-option
                    v-for="(item, segmentIndex) in segments"
                    :key="segmentIndex"
                    :label="item"
                    :value="segmentIndex"
                  >
                  </el-option>
                </el-select>
              </rest-form-item>
            </el-col>

            <el-col :span="4">
              <rest-form-item
                :label="$t('Engagement_Category_Ignore_Subscription')"
                prop="ignore_subscription"
              >
                <el-switch v-model="model.ignore_subscription" />
              </rest-form-item>
            </el-col>

            <el-col :span="4">
              <rest-form-item
                :label="$t('Engagement_Category_Limits')"
                prop="limits_enabled"
              >
                <el-switch
                  v-model="limits_enabled"
                  :active-value="true"
                  :inactive-value="false"
                />
              </rest-form-item>
            </el-col>

            <el-col :span="4">
              <rest-form-item
                :label="$t('Engagement_Category_Collapse')"
                prop="collapse"
              >
                <el-switch v-model="model.collapse" />
              </rest-form-item>
            </el-col>
          </el-row>

          <el-row v-if="limits_enabled">
            <el-col :span="4">
              <rest-form-item
                :label="$t('Engagement_Category_Max_Day')"
                prop="max_per_day"
              >
                <el-input placeholder="∞" v-model="model.max_per_day" />
              </rest-form-item>
            </el-col>

            <el-col :span="4">
              <rest-form-item
                :label="$t('Engagement_Category_Max_Week')"
                prop="max_per_week"
              >
                <el-input placeholder="∞" v-model="model.max_per_week" />
              </rest-form-item>
            </el-col>

            <el-col :span="4">
              <rest-form-item
                :label="$t('Engagement_Category_Max_Month')"
                prop="max_per_month"
              >
                <el-input placeholder="∞" v-model="model.max_per_month" />
              </rest-form-item>
            </el-col>

            <el-col :span="4">
              <rest-form-item
                :label="$t('Engagement_Category_Limit_Per_Channel')"
                prop="limit_per_channel"
              >
                <el-switch v-model="model.apply_across_channels" />
              </rest-form-item>
            </el-col>
          </el-row>

          <el-row v-if="limits_enabled">
            <el-col :span="4">
              <rest-form-item
                :label="$t('Engagement_Category_Cooldown_Amount')"
                prop="cooldown_amount"
              >
                <el-input placeholder="∞" v-model="model.cooldown_amount" />
              </rest-form-item>
            </el-col>

            <el-col :span="8">
              <rest-form-item
                :label="$t('Engagement_Category_Cooldown_Measure')"
                prop="cooldown_measure"
              >
                <enum-select
                  v-model="model.cooldown_measure"
                  :options="categoryCooldownLabels"
                />
              </rest-form-item>
            </el-col>
          </el-row>
        </el-col>
      </el-row>

      <el-row>
        <el-col>
          <div class="save-button" v-if="!readonly">
            <save-button :click="save" />
          </div>
        </el-col>
      </el-row>

      <slot name="form" :model="model"></slot>
    </rest-form>
  </rest-page>
</template>

<script>
import RestPage from '@/common/components/rest/RestPage'
import RestForm from '@/common/components/rest/RestForm'
import RestFormItem from '@/common/components/rest/RestFormItem'
import EnumSelect from '@/common/components/form/EnumSelect'
import { projectEndpoint } from '@/core/helpers'
import { categoryCooldownLabels } from '@/common/enum/CategoryEnums'
import SaveButton from '@/common/components/form/SaveButton'
import RestApi from '@/core/services/RestApi'

export default {
  name: 'EngagementCategoryForm',

  props: {
    categoryId: {
      default: null,
      type: Number
    },
    readonly: {
      default: false,
      type: Boolean
    },
    afterSaveCategory: {
      type: Function
    },
    index: {
      type: Number
    }
  },

  components: {
    SaveButton,
    RestFormItem,
    EnumSelect,
    RestForm,
    RestPage
  },

  mounted() {
    this.init()
  },

  data() {
    return {
      model: null,
      limits_enabled: false,
      category_id: null,
      segments: {},
      categoryCooldownLabels,
      loadingSegments: false
    }
  },

  computed: {
    rules() {
      let validateLimit = (rule, value, callback) => {
        if (value === '' || value === null) {
          callback()
        } else if (/^[0]+$/.test(value)) {
          callback(new Error('Value must be more than 0'))
        } else if (!/^[0-9]+$/.test(value)) {
          callback(new Error('Value must be a number'))
        } else {
          callback()
        }
      }

      let validateAtLeastOntLimit = (rule, value, callback) => {
        if (
          this.limits_enabled &&
          !this.model.max_per_day &&
          !this.model.max_per_week &&
          !this.model.max_per_month &&
          !this.model.cooldown_amount
        ) {
          callback(
            new Error(this.$t('Engagement_Category_AtLeastOneLimitRequired'))
          )
        } else {
          callback()
        }
      }

      return {
        title: [
          {
            required: true,
            message: this.$t('Engagement_Category_Title_Required')
          }
        ],
        limits_enabled: [
          {
            validator: validateAtLeastOntLimit,
            trigger: 'submit'
          }
        ],
        max_per_day: [{ validator: validateLimit }],
        max_per_week: [{ validator: validateLimit }],
        max_per_month: [{ validator: validateLimit }],
        cooldown_amount: [{ validator: validateLimit }],
        cooldown_measure: [
          {
            required: !!this.model.cooldown_amount,
            message: this.$t('Engagement_Category_Cooldown_Measure_Required')
          }
        ]
      }
    },

    fetchEndpoint() {
      return [this.fetchCategoryEndpoint, this.fetchSegmentsEndpoint]
    },

    fetchCategoryEndpoint() {
      if (this.categoryId) {
        return projectEndpoint({
          method: 'get',
          url: `categories/${this.categoryId}`,
          handler: data => {
            this.limits_enabled = !!(
              data.max_per_day ||
              data.max_per_week ||
              data.max_per_month ||
              data.cooldown_amount
            )

            this.model = data
          }
        })
      } else {
        return null
      }
    },

    fetchSegmentsEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: 'segments',
        handler: data => {
          data.forEach(segment => {
            Object.assign(this.segments, { [segment.id]: segment.title })
          })
        }
      })
    },

    saveEndpoint() {
      if (this.category_id) {
        return projectEndpoint({
          method: 'patch',
          url: `categories/${this.category_id}`
        })
      } else {
        return projectEndpoint({
          method: 'post',
          url: 'categories'
        })
      }
    }
  },

  methods: {
    init() {
      if (this.categoryId) {
        this.category_id = this.categoryId
      } else {
        this.model = {
          title: null,
          ignore_subscription: 0,
          collapse: 0,
          max_per_day: null,
          max_per_week: null,
          max_per_month: null,
          cooldown_amount: null,
          cooldown_measure: null,
          apply_across_channels: 0
        }
      }
    },

    afterSave(data, finishLoading) {
      this.category_id = data.id
      finishLoading()
      if (this.afterSaveCategory) {
        if (this.index !== null) {
          this.afterSaveCategory(this.index)
        }
      }
    },

    save() {
      this.$refs['form'].save()
    },
    fetchSegmentsDropdown(query) {
      this.loadingSegments = true

      let params = { sort: 'title' }

      if (query !== null && query !== '') {
        params.title = query
      }

      let endpoint = projectEndpoint({
        method: 'get',
        url: 'segments',
        params: params
      })

      RestApi(endpoint)
        .then(({ data }) => {
          this.segments = {}
          data.forEach(segment => {
            Object.assign(this.segments, { [segment.id]: segment.title })
          })
          this.loadingSegments = false
        })
        .catch(error => {
          this.loadingSegments = false
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
    }
  },

  watch: {
    limits_enabled: {
      handler(val) {
        if (!val) {
          this.model.max_per_day = null
          this.model.max_per_week = null
          this.model.max_per_month = null
          this.model.cooldown_amount = null
          this.model.cooldown_measure = null
          this.model.apply_across_channels = 0
        }
      }
    }
  }
}
</script>

<style scoped>
.save-button {
  float: right;
}
>>> .el-switch {
  margin-top: 8px;
}
>>> .el-input {
  width: 100%;
}
</style>
