<template>
  <div>
    <rest-page :fetch-endpoint="fetchEndpoint">
      <rest-form
        :save-endpoint="saveRulesEndpoint"
        :after-save="afterSaveRules"
        :model="model"
        :rules="{}"
        :readonly="readonly"
        ref="rulesForm"
      >
        <template v-if="model">
          <form-section
            :title="$t('ProjectSettings_EngagementRules_Title')"
            :description="$t('ProjectSettings_EngagementRules_Description')"
          >
            <el-row>
              <el-col :span="18">
                <toggle-list :data="rulesList" :model="model" />
              </el-col>
            </el-row>
            <template slot="controls">
              <save-button :click="saveRules" />
            </template>
          </form-section>
        </template>
      </rest-form>

      <form-section
        :title="$t('ProjectSettings_EngagementCategories_Title')"
        :description="$t('ProjectSettings_EngagementCategories_Description')"
        v-if="engagementConditionsLoaded"
      >
        <rest-list
          :payload="categoriesFetchEndpoint"
          :key="incrementalKey"
          :show-header="false"
          :outline="false"
        >
          <template>
            <el-table-column type="expand" ref="expander">
              <template slot-scope="scope">
                <EngagementCategoryForm
                  :category-id="scope.row.id"
                  :after-save-category="afterSaveNewCategory"
                  :index="scope.$index"
                ></EngagementCategoryForm>
              </template>
            </el-table-column>
            <el-table-column
              :label="$t('ProjectSettings_Field_Title')"
              prop="title"
            />
            <rest-list-column-actions v-if="!readonly">
              <template slot-scope="scope">
                <rest-list-action-delete
                  :endpoint="rowDeleteEndpoint(scope.row)"
                  :name="scope.row.title"
                />
              </template>
            </rest-list-column-actions>
          </template>
        </rest-list>

        <form-section v-if="addNewCategoryForm" class="m-top-15">
          <EngagementCategoryForm
            :after-save-category="afterSaveNewCategory"
          ></EngagementCategoryForm>
        </form-section>

        <div v-if="!addNewCategoryForm" class="m-top-15">
          <el-button
            type="primary"
            icon="el-icon-circle-plus"
            @click="addCategory()"
          >
            {{ $t('ProjectSettings_EngagementCategories_Create_Btn') }}
          </el-button>
        </div>
      </form-section>

      <form-section
        :title="$t('ProjectSettings_EngagementConditions_Title')"
        :description="$t('ProjectSettings_EngagementConditions_Description')"
      >
        <toggle
          v-model="engagementConditionsEnabled"
          :text="$t('ProjectSettings_EngagementConditions_Enable')"
        />

        <conditions-editor
          class="m-top-20"
          ref="conditions-editor"
          v-if="engagementConditionsEnabled"
          :conditions="engagementConditions"
          :menu="engagementConditionsMenu"
          :single-level="true"
        />

        <template slot="controls">
          <save-button :click="saveEngagementConditions" />
        </template>
      </form-section>
    </rest-page>
  </div>
</template>

<script>
import { projectEndpoint, projectRoute } from '@/core/helpers'
import FormSection from '@/common/components/form/FormSection'
import RestPage from '@/common/components/rest/RestPage'
import RestForm from '@/common/components/rest/RestForm'
import RestListColumnActions from '@/common/components/rest/RestListColumnActions'
import RestListActionDelete from '@/common/components/rest/RestListActionDelete'
import RestList from '@/common/components/rest/RestList'
import EngagementCategoryForm from '@/modules/settings/components/EngagementCategoryForm'
import ToggleList from '../../../common/components/form/ToggleList'
import SaveButton from '@/common/components/form/SaveButton'
import ConditionsEditor from '@/modules/audiences/components/ConditionsEditor'
import RestApi from '@/core/services/RestApi'
import Toggle from '@/common/components/form/Toggle'

export default {
  name: 'EngagementRulesAndCategoriesTab',
  components: {
    Toggle,
    ConditionsEditor,
    SaveButton,
    ToggleList,
    RestList,
    FormSection,
    RestPage,
    RestForm,
    RestListColumnActions,
    RestListActionDelete,
    EngagementCategoryForm
  },

  data() {
    return {
      model: {},
      addNewCategoryForm: false,
      incrementalKey: 1,
      engagementConditions: null,
      engagementConditionsEnabled: null,
      engagementConditionsLoaded: false
    }
  },

  computed: {
    fetchEndpoint() {
      if (this.$route.query.project_id) {
        return projectEndpoint({
          method: 'get',
          url: ``,
          params: { expand: 'engagement_conditions' },
          handler: data => {
            this.model = {
              broadcast_disabled: data.broadcast_disabled,
              target_application_enabled: data.target_application_enabled,
              categories_required: data.categories_required,
              calculate_recipients: data.calculate_recipients
            }

            if (data.engagement_conditions) {
              this.engagementConditionsEnabled = 1
              this.engagementConditions = data.engagement_conditions
            } else {
              this.engagementConditionsEnabled = 0
              this.engagementConditions = {
                operator: 'AND',
                '0': {
                  operator: 'AND',
                  '0': {}
                }
              }
            }

            this.engagementConditionsLoaded = true
          }
        })
      } else {
        return null
      }
    },

    saveRulesEndpoint() {
      return projectEndpoint({
        method: 'patch',
        url: ``,
        params: {
          data: this.model
        }
      })
    },

    rulesList() {
      return [
        {
          code: 'broadcast_disabled',
          name: this.$t('ProjectSettings_EngagementRules_BroadcastDisabled'),
          description: this.$t(
            'ProjectSettings_EngagementRules_BroadcastDisabled_Description'
          )
        },
        {
          code: 'calculate_recipients',
          name: this.$t('ProjectSettings_EngagementRules_CalculateRecipient'),
          description: this.$t(
            'ProjectSettings_EngagementRules_CalculateRecipient_Description'
          )
        },
        {
          code: 'categories_required',
          name: this.$t('ProjectSettings_EngagementRules_CategoriesRequired'),
          description: this.$t(
            'ProjectSettings_EngagementRules_CategoriesRequired_Description'
          )
        },
        {
          code: 'target_application_enabled',
          name: this.$t(
            'ProjectSettings_EngagementRules_TargetApplicationEnabled'
          ),
          description: this.$t(
            'ProjectSettings_EngagementRules_TargetApplicationEnabled_Description'
          )
        }
      ]
    },

    engagementConditionsMenu() {
      return {
        'main-choices': {
          tags_attribute: {
            title: 'Attribute',
            icon: 'attributes',
            has_submenu: false
          }
        }
      }
    },

    categoriesFetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: 'categories',
        params: {}
      })
    },

    createRoute() {
      return projectRoute({
        name: 'EngagementCategoryCreate'
      })
    },

    readonly() {
      return !this.$can('manageProjectTechnical')
    }
  },

  methods: {
    afterSaveRules(resp, loading) {
      this.$store.dispatch('reloadProjectConfig').then(loading())
    },

    saveRules() {
      this.$refs['rulesForm'].save()
    },

    rowUpdateRoute(row) {
      return projectRoute({
        name: 'EngagementCategoryUpdate',
        query: { id: row.id }
      })
    },

    rowDeleteEndpoint(row) {
      return projectEndpoint({
        method: 'delete',
        url: `categories/${row.id}`
      })
    },

    rowViewRoute(row) {
      return projectRoute({
        name: 'EngagementCategoryView',
        query: { id: row.id }
      })
    },

    addCategory() {
      this.addNewCategoryForm = true
    },

    afterSaveNewCategory(index) {
      this.incrementalKey++
      this.addNewCategoryForm = false
    },

    saveEngagementConditions() {
      if (this.engagementConditionsEnabled) {
        let conditions = this.$refs['conditions-editor'].serialize()
        this.updateEngagementConditions(conditions)
      } else {
        this.updateEngagementConditions(null)
      }
    },

    updateEngagementConditions(conditions) {
      RestApi(
        projectEndpoint({
          method: 'patch',
          url: ``,
          data: { engagement_conditions: conditions }
        })
      )
        .then(() => {
          this.$message({
            message: this.$t(
              'ProjectSettings_EngagementConditions_SuccessfullySaved'
            ),
            type: 'success'
          })
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
    }
  }
}
</script>
