<template>
  <rest-page class="" :fetch-endpoint="fetchEndpoint">
    <el-row>
      <el-col :xs="9" :sm="9" :md="8" :lg="6">
        <global-settings-nav
          :router="true"
          :handle-select="handleSelect"
          :default-active="currentTabIndex"
          :items="tabs"
        />
      </el-col>
      <el-col :xs="15" :sm="15" :md="16" :lg="18" class="form-preview-wrapper">
        <inbox-message-settings-global v-if="currentTabIndex === 'global'" />

        <div v-if="currentTabIndex === 'ios'">
          <inbox-message-settings-ios
            v-if="devicesAvailability.ios"
            :after-save-action="afterSave"
          />
          <div v-else>
            <h2>{{ $t('PushSettingsTab_NoIosApps') }}</h2>
            <div class="desc" v-html="$t('PushSettingsTab_NoIosApps_Desc')" />
          </div>
        </div>

        <div v-if="currentTabIndex === 'android'">
          <inbox-message-settings-android
            v-if="devicesAvailability.android"
            :after-save-action="afterSave"
          />
          <div v-else>
            <h2>{{ $t('PushSettingsTab_NoAndroidApps') }}</h2>
            <div
              class="desc"
              v-html="$t('PushSettingsTab_NoAndroidApps_Desc')"
            />
          </div>
        </div>

        <div v-if="currentTabIndex === 'web'">
          <inbox-message-settings-web
            v-if="devicesAvailability.web"
            :after-save-action="afterSave"
          />
          <div v-else>
            <h2>{{ $t('PushSettingsTab_NoWebApps') }}</h2>
            <div class="desc" v-html="$t('PushSettingsTab_NoWebApps_Desc')" />
          </div>
        </div>
      </el-col>
    </el-row>
  </rest-page>
</template>

<script>
import GlobalSettingsNav from '@/common/components/navigation/GlobalSettingsNav'
import InboxMessageSettingsGlobal from '@/modules/settings/components/InboxMessageSettingsGlobal'
import InboxMessageSettingsAndroid from '@/modules/settings/components/InboxMessageSettingsAndroid'
import InboxMessageSettingsIos from '@/modules/settings/components/InboxMessageSettingsIos'
import InboxMessageSettingsWeb from '@/modules/settings/components/InboxMessageSettingsWeb'
import { projectEndpoint, projectRoute } from '@/core/helpers'
import { ApplicationTypes } from '@/modules/account/enum/ApplicationEnum'
import RestPage from '@/common/components/rest/RestPage'

export default {
  name: 'InboxSettingsTab',
  components: {
    InboxMessageSettingsGlobal,
    GlobalSettingsNav,
    InboxMessageSettingsAndroid,
    InboxMessageSettingsIos,
    InboxMessageSettingsWeb,
    RestPage
  },
  data() {
    return {
      ApplicationTypes,
      devicesAvailability: {
        ios: false,
        web: false,
        android: false
      },
      inbox_ios: 0,
      inbox_android: 0,
      inbox_web: 0,
      currentTabIndex: 'global'
    }
  },
  computed: {
    fetchEndpoint() {
      return [
        projectEndpoint({
          method: 'get',
          url: 'applications',
          params: {},
          handler: data => {
            data.forEach(app => {
              this.devicesAvailability[app.type] = true
            })
          }
        }),
        projectEndpoint({
          method: 'get',
          url: '',
          params: { expand: 'inbox_web,inbox_android,inbox_ios' },
          handler: data => {
            this.inbox_ios = data.inbox_ios
            this.inbox_android = data.inbox_android
            this.inbox_web = data.inbox_web
          }
        })
      ]
    },
    tabs() {
      return [
        {
          index: 'global',
          title: this.$t('ProjectSettings_Inbox_Global_Tab_Title'),
          route: this.createRoute('', 'global')
        },
        {
          index: ApplicationTypes.ios,
          icon: this.inbox_ios ? 'el-icon-success' : 'el-icon-empty-icon',
          title: this.$t('ProjectSettings_Inbox_Ios_Tab_Title'),
          route: this.createRoute('', ApplicationTypes.ios)
        },
        {
          index: ApplicationTypes.android,
          icon: this.inbox_android ? 'el-icon-success' : 'el-icon-empty-icon',
          title: this.$t('ProjectSettings_Inbox_Android_Tab_Title'),
          route: this.createRoute('', ApplicationTypes.android)
        },
        {
          index: ApplicationTypes.web,
          icon: this.inbox_web ? 'el-icon-success' : 'el-icon-empty-icon',
          title: this.$t('ProjectSettings_Inbox_Web_Tab_Title'),
          route: this.createRoute('', ApplicationTypes.web)
        }
      ]
    }
  },
  mounted() {
    this.handleSelect(this.$route.query.type || 'global')
  },
  methods: {
    createRoute(id, appType) {
      let route = {
        name: 'InboxSettingsTab',
        query: {}
      }
      if (appType) {
        route.query.type = appType
      } else {
        route.query.id = id
      }
      return projectRoute(route, this.$route.query.project_id)
    },
    afterSave(data) {
      this.inbox_ios = data.inbox_ios
      this.inbox_android = data.inbox_android
      this.inbox_web = data.inbox_web
    },
    handleSelect(index) {
      this.currentTabIndex = index
    }
  }
}
</script>

<style scoped></style>
