<template>
  <rest-page :fetch-endpoint="fetchEndpoint">
    <form-section>
      <el-row :gutter="30">
        <el-col :span="12">
          <inbox-message-settings-form
            v-if="model.inbox_settings"
            type="android"
            v-model="model"
            :after-save-action="afterSaveAction"
          ></inbox-message-settings-form>
        </el-col>

        <el-col :span="12">
          <div class="preview-frame">
            <android-inbox-preview
              v-if="model.inbox_settings"
              logo-url="/img/powered_by_XP.png"
              :push-notification-switch="model.inbox_settings.switch"
              :position="model.inbox_settings.position"
              :colors="model.inbox_settings.colors"
            />
          </div>
        </el-col>
      </el-row>
    </form-section>
  </rest-page>
</template>

<script>
import RestPage from '@/common/components/rest/RestPage'
import { projectEndpoint } from '@/core/helpers'
import AndroidInboxPreview from '@/modules/settings/components/AndroidInboxPreview'
import InboxMessageSettingsForm from '@/modules/settings/components/InboxMessageSettingsForm'
import FormSection from '@/common/components/form/FormSection'
export default {
  name: 'InboxMessageSettingsAndroid',
  components: {
    FormSection,
    AndroidInboxPreview,
    RestPage,
    InboxMessageSettingsForm
  },
  props: {
    projectId: {
      required: false
    },
    afterSaveAction: {
      type: Function,
      default: () => {}
    }
  },
  data() {
    return {
      inbox_settings_default: {
        color: 'light',
        colors: {
          inbox_background_color: '',
          inbox_border_color: '',
          inbox_separator_color: '',
          header_background_color: '',
          header_border_color: '',
          header_text_color: '',
          header_icon_color: '',
          switch_on_color: '',
          switch_off_color: '',
          notification_title_color: '',
          notification_text_color: '',
          notification_date_color: ''
        },
        position: 'left',
        switch: 0,
        enabled: 0
      },
      model: {}
    }
  },
  methods: {
    save() {
      this.$refs['form'].save()
    },
    afterSave(data, finishLoading) {
      finishLoading.apply()
    }
  },
  computed: {
    saveEndpoint() {
      return projectEndpoint(
        {
          method: 'patch',
          url: ''
        },
        this.projectId || this.$route.query.project_id
      )
    },
    rules() {
      return {
        inbox_badge: {
          required: true
        },
        inbox_remove: {
          required: true
        },
        inbox_remove_after: {
          required: false
        }
      }
    },
    fetchEndpoint() {
      return projectEndpoint(
        {
          method: 'get',
          url: '',
          params: { expand: 'inbox_android,inbox_android_settings' },
          handler: data => {
            if (data.inbox_android_settings) {
              data.inbox_android_settings.enabled = data.inbox_android
              data.inbox_android_settings.switch = parseInt(
                data.inbox_android_settings.switch
              )
            }
            this.model = {
              inbox_settings:
                data.inbox_android_settings || this.inbox_settings_default,
              inbox_android: data.inbox_android || null
            }
          }
        },
        this.projectId
      )
    }
  }
}
</script>

<style scoped lang="scss">
.preview-frame {
  height: 700px;
  width: 420px;
}
</style>
