<template>
  <form-section
    :title="$t('ApplicationForm_Row_ApplicationSettingsTitle')"
    :description="$t('ApplicationForm_Row_iOSPushNotificationSettingsInfo')"
  >
    <template slot="controls">
      <save-button :click="saveForm" />
    </template>

    <el-form :model="model" :disabled="readonly">
      <el-row>
        <el-col :span="8">
          <form-item
            prop="ios_production_key_file"
            :label="$t('ApplicationForm_Field_ProductionCertificate')"
            :hint="productionExpiryDate"
          >
            <certificate-upload
              :value="model.ios_production_key"
              :file.sync="model.ios_production_key_file"
              :password.sync="model.ios_production_key_password"
            />
          </form-item>
        </el-col>
        <el-col :span="8">
          <form-item
            prop="ios_sandbox_key_file"
            :label="$t('ApplicationForm_Field_SandboxCertificate')"
            :hint="sandboxExpiryDate"
          >
            <certificate-upload
              :value="model.ios_sandbox_key"
              :file.sync="model.ios_sandbox_key_file"
              :password.sync="model.ios_sandbox_key_password"
            />
          </form-item>
        </el-col>
        <el-col :span="8" v-if="this.$isRole('admin')">
          <form-item
            prop="ios_apns_http2"
            :label="$t('ApplicationForm_Field_IosPushProtocol')"
          >
            <toggle
              v-model="model.ios_apns_http2"
              :text="$t('ApplicationForm_Field_IosApnsHttp2')"
            />
          </form-item>
        </el-col>
      </el-row>
    </el-form>
  </form-section>
</template>

<script>
import FormSection from '@/common/components/form/FormSection'
import FormItem from '@/common/components/form/FormItem'
import CertificateUpload from '@/common/components/form/CertificateUpload'
import SaveButton from '@/common/components/form/SaveButton'
import Toggle from '@/common/components/form/Toggle'
import moment from 'moment'
export default {
  name: 'PushSettingsIos',
  components: { Toggle, SaveButton, CertificateUpload, FormItem, FormSection },
  data() {
    return {}
  },
  props: {
    save: {
      type: Function,
      required: true
    },
    model: {
      required: true,
      type: Object
    },
    readonly: {
      type: Boolean,
      default: false
    },
    dateFormat: {
      type: String,
      default: 'YYYY-MM-DD HH:mm'
    }
  },
  computed: {
    productionExpiryDate() {
      if (!this.model.iosProductionCertificateExpiryDate) {
        return
      }
      return this.$t('PushSettingsTab_ExpiryDate', {
        date: moment
          .unix(this.model.iosProductionCertificateExpiryDate)
          .format(this.dateFormat)
      })
    },
    sandboxExpiryDate() {
      if (!this.model.iosSandboxCertificateExpiryDate) {
        return
      }

      return this.$t('PushSettingsTab_ExpiryDate', {
        date: moment
          .unix(this.model.iosSandboxCertificateExpiryDate)
          .format(this.dateFormat)
      })
    }
  },
  methods: {
    saveForm() {
      this.save()
    }
  }
}
</script>

<style scoped lang="scss"></style>
