<template>
  <form-section
    :title="$t('ApplicationForm_Row_AndroidPushNotificationSettingsTitle')"
    :description="$t('ApplicationForm_Row_AndroidPushNotificationSettingsInfo')"
  >
    <template slot="controls">
      <save-button :click="saveForm" />
    </template>

    <el-form :model="model" :disabled="readonly">
      <el-row>
        <el-col :span="14">
          <form-item
            prop="android_sender_id"
            :label="$t('ApplicationForm_Field_FCMGCMProject')"
          >
            <el-input v-model="model.android_sender_id" />
          </form-item>
          <form-item
            prop="new_android_key"
            :label="$t('ApplicationForm_Field_FCMGCMApi')"
          >
            <el-input
              :placeholder="
                model.android_key ? $t('ApplicationForm_Field_Change') : ''
              "
              v-model="model.new_android_key"
            />
          </form-item>
        </el-col>
      </el-row>
      <el-row v-if="model.android_sender_id_2">
        <el-col :span="14">
          <form-item
            prop="android_sender_id_2"
            :label="$t('ApplicationForm_Field_FCMGCMProject')"
          >
            <el-input v-model="model.android_sender_id_2" />
          </form-item>
          <form-item
            prop="new_android_key"
            :label="$t('ApplicationForm_Field_FCMGCMApi')"
          >
            <el-input
              :placeholder="
                model.android_key_2 ? $t('ApplicationForm_Field_Change') : ''
              "
              v-model="model.new_android_key_2"
            />
          </form-item>
        </el-col>
      </el-row>
    </el-form>
  </form-section>
</template>

<script>
import FormSection from '@/common/components/form/FormSection'
import FormItem from '@/common/components/form/FormItem'
import SaveButton from '@/common/components/form/SaveButton'
export default {
  name: 'PushSettingsAndroid',
  components: { SaveButton, FormItem, FormSection },
  data() {
    return {}
  },
  props: {
    save: {
      type: Function,
      required: true
    },
    model: {
      required: true,
      default: {
        android_sender_id: null,
        new_android_key: null
      }
    },
    readonly: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    saveForm() {
      this.save()
    }
  }
}
</script>

<style scoped lang="scss"></style>
