<template>
  <form-section
    :title="$t('SmsFromName_List_Title')"
    :description="$t('SmsFromName_List_Description')"
  >
    <template slot="controls">
      <el-button
        type="primary"
        icon="el-icon-circle-plus-outline"
        @click="create"
      >
        {{ $t('SmsFromName_Form_CreateButton') }}
      </el-button>
    </template>
    <rest-list-editable
      :payload="fetchEndpoint"
      :rules="rules"
      :add-endpoint="addEndpoint"
      :update-endpoint="updateEndpoint"
      :show-header="false"
      :outline="false"
      ref="list"
    >
      <rest-list-column
        :editable="true"
        prop="from_name"
        :title="$t('SmsFromName_Field_FromName')"
      />
      <rest-list-column-actions :editable="true">
        <template slot-scope="scope">
          <rest-list-action-delete
            :endpoint="rowDeleteEndpoint(scope.row)"
            :name="scope.row.from_name"
          />
        </template>
      </rest-list-column-actions>
    </rest-list-editable>
  </form-section>
</template>

<script>
import { projectEndpoint } from '@/core/helpers'
import RestListColumn from '@/common/components/rest/RestListColumn'
import RestListColumnActions from '@/common/components/rest/RestListColumnActions'
import FormSection from '@/common/components/form/FormSection'
import RestListActionDelete from '@/common/components/rest/RestListActionDelete'
import RestListEditable from '@/common/components/rest/RestListEditable'

export default {
  name: 'SmsFromNameTab',
  components: {
    RestListEditable,
    RestListActionDelete,
    FormSection,
    RestListColumnActions,
    RestListColumn
  },
  props: {
    projectId: {
      required: false
    }
  },
  data() {
    return {
      model: []
    }
  },
  methods: {
    updateEndpoint(row) {
      return projectEndpoint(
        {
          method: 'patch',
          url: `sms-from-names/${row.id}`
        },
        this.projectId
      )
    },
    rowDeleteEndpoint(row) {
      return projectEndpoint({
        method: 'delete',
        url: `sms-from-names/${row.id}`
      })
    },
    create() {
      this.$refs.list.addRow({
        from_name: ''
      })
    }
  },
  computed: {
    fetchEndpoint() {
      return projectEndpoint(
        {
          method: 'get',
          url: `sms-from-names`,
          params: {},
          handler: data => {
            this.model = data
          }
        },
        this.projectId || this.$route.query.project_id
      )
    },
    addEndpoint() {
      return projectEndpoint(
        {
          method: 'post',
          url: `sms-from-names`
        },
        this.projectId
      )
    },
    rules() {
      return {
        from_name: [
          {
            required: true
          },
          {
            max: 11,
            message: this.$t(
              'ProjectSettings_ChannelSettings_Sms_Sender_Validation_Min_Max'
            )
          },
          {
            pattern: /^[a-z0-9 ]+$/i,
            message: this.$t(
              'ProjectSettings_ChannelSettings_Sms_Sender_Validation_Alphanumeric'
            )
          }
        ]
      }
    }
  }
}
</script>
