<template>
  <el-dialog
    :visible.sync="display"
    :modal-append-to-body="false"
    :title="$t('SubscriptionPreferenceCreatePopup_Title')"
    width="30%"
    center
  >
    <rest-form
      ref="form"
      :model="model"
      :save-endpoint="saveEndpoint"
      :after-save="afterSave"
    >
      <rest-form-item
        prop="name"
        :label="$t('SubscriptionPreference_Field_Name')"
      >
        <el-input v-model="model.name" />
      </rest-form-item>

      <rest-form-item
        prop="display_name"
        :label="$t('SubscriptionPreference_Field_DisplayName')"
      >
        <el-input v-model="model.display_name" />
      </rest-form-item>

      <rest-form-item
        prop="channel"
        :label="$t('SubscriptionPreference_Field_Channel')"
      >
        <enum-select
          v-model="model.channel"
          :options="SubscriptionPreferenceChannelLabels"
        />
      </rest-form-item>
    </rest-form>

    <span slot="footer" class="dialog-footer">
      <el-button type="primary" @click="save" icon="ico icon-floppy">
        {{ $t('SubscriptionPreferenceCreatePopup_Button_Create') }}
      </el-button>
    </span>
  </el-dialog>
</template>

<script>
import RestForm from '@/common/components/rest/RestForm'
import RestFormItem from '@/common/components/rest/RestFormItem'
import EnumSelect from '@/common/components/form/EnumSelect'
import { projectEndpoint } from '@/core/helpers'
import { SubscriptionPreferenceChannelLabels } from '@/modules/settings/enum/SubscriptionPreferenceChannelEnum'

export default {
  name: 'SubscriptionPreferenceCreatePopup',

  components: { EnumSelect, RestFormItem, RestForm },

  data() {
    return {
      model: {},
      display: false,
      SubscriptionPreferenceChannelLabels
    }
  },

  computed: {
    saveEndpoint() {
      return projectEndpoint({
        method: 'post',
        url: `subscription-preferences`
      })
    }
  },

  methods: {
    save() {
      this.$refs['form'].save()
    },

    afterSave(model) {
      this.display = false
      this.$emit('on-add-success', model)
    },

    show() {
      this.model = {}
      this.display = true
    }
  }
}
</script>
