<template>
  <data-manager-layout>
    <el-button
      v-if="!readonly"
      slot="actions"
      type="primary"
      icon="el-icon-circle-plus"
      @click="addRow"
    >
      {{ $t('DataManager_Button_CreateTag') }}
    </el-button>

    <rest-list-editable
      :payload="fetchEndpoint"
      :after-fetch="transformTags"
      ref="rest-list-editable"
      :rules="rules"
      :add-endpoint="rowAddEndpoint"
      :update-endpoint="rowUpdateEndpoint"
    >
      <rest-list-column
        prop="title"
        :title="$t('DataManager_Tags_Field_Title')"
        :editable="true"
      >
        <template slot="input-edit" slot-scope="{ model }">
          <el-input v-model="model.title" :disabled="!!model.id" />
        </template>
      </rest-list-column>

      <rest-list-column
        prop="name"
        :title="$t('DataManager_Tags_Field_Name')"
        :editable="true"
      />

      <rest-list-column
        prop="alias"
        :title="$t('DataManager_Tags_Field_Alias')"
        :editable="true"
      >
        <template slot="input-edit" slot-scope="{ model }">
          <el-autocomplete
            v-model="model.alias"
            :fetch-suggestions="aliasAutocomplete"
          />
        </template>
      </rest-list-column>

      <rest-list-column-enum
        prop="type"
        :title="$t('DataManager_Tags_Field_Type')"
        :editable="true"
        :number="true"
        :enum="TagTypeLabels"
      />

      <rest-list-column-boolean
        prop="attribute_client"
        :title="$t('DataManager_Tags_Field_AttributeClient')"
        :editable="true"
      />

      <rest-list-column-boolean
        v-if="profileEnabled"
        prop="attribute_profile"
        :title="$t('DataManager_Tags_Field_AttributeProfile')"
        :editable="true"
      />

      <rest-list-column-boolean
        v-else
        prop="attribute_external"
        :title="$t('DataManager_Tags_Field_AttributeExternal')"
        :editable="true"
      />

      <rest-list-column-actions v-if="!readonly" :editable="true">
        <template slot-scope="scope">
          <rest-list-action-delete
            :endpoint="rowDeleteEndpoint(scope.row)"
            :name="scope.row.title"
          />

          <rest-list-action
            v-if="
              scope.row.attribute_profile &&
                scope.row.type !== TagType.ARRAY &&
                !scope.row.index_attribute
            "
            icon="el-icon-folder-add"
            :title="$t('DataManager_Tags_Action_CreateAttributeIndex')"
            :click="() => createAttributeIndex(scope.row)"
          />

          <rest-list-action
            v-if="
              scope.row.attribute_profile &&
                scope.row.type !== TagType.ARRAY &&
                scope.row.index_attribute
            "
            icon="el-icon-folder-remove"
            :title="$t('DataManager_Tags_Action_RemoveAttributeIndex')"
            :click="() => removeAttributeIndex(scope.row)"
          />
        </template>
      </rest-list-column-actions>
    </rest-list-editable>
  </data-manager-layout>
</template>

<script>
import RestListColumn from '@/common/components/rest/RestListColumn'
import RestListColumnEnum from '@/common/components/rest/RestListColumnEnum'
import RestListColumnBoolean from '@/common/components/rest/RestListColumnBoolean'
import RestApi from '@/core/services/RestApi'
import { TagType, TagTypeLabels } from '@/modules/data-manager/enum/TagTypeEnum'
import { projectEndpoint, projectRoute } from '@/core/helpers'
import RestListActionDelete from '@/common/components/rest/RestListActionDelete'
import DataManagerLayout from '@/modules/data-manager/pages/DataManagerLayout'
import RestListEditable from '@/common/components/rest/RestListEditable'
import RestListColumnActions from '@/common/components/rest/RestListColumnActions'
import RestListAction from '@/common/components/rest/RestListAction'

export default {
  name: 'DataManagerAttributesTagsPage',

  components: {
    RestListAction,
    RestListColumnActions,
    RestListEditable,
    DataManagerLayout,
    RestListActionDelete,
    RestListColumn,
    RestListColumnEnum,
    RestListColumnBoolean
  },

  data() {
    return {
      aliases: [],
      TagType,
      TagTypeLabels
    }
  },

  computed: {
    rules() {
      return {
        title: {
          required: true,
          trigger: 'blur'
        },
        type: {
          required: true,
          trigger: 'blur'
        }
      }
    },
    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `tags`,
        params: {
          sort: 'title'
        }
      })
    },

    rowAddEndpoint() {
      return projectEndpoint({
        method: 'post',
        url: `tags`,
        handler: this.tranformTag
      })
    },

    profileEnabled() {
      return this.$store.state.app.features.profileEnabled
    },

    readonly() {
      return !this.$can('manageProjectTechnical')
    },

    restList() {
      return this.$refs['rest-list-editable'].$refs['restList']
    }
  },

  methods: {
    addRow() {
      this.$refs['rest-list-editable'].addRow({})
    },

    rowDeleteEndpoint(row) {
      return projectEndpoint({
        method: 'delete',
        url: `tags/${row.id}`
      })
    },

    rowUpdateEndpoint(row) {
      return projectEndpoint({
        method: 'patch',
        url: `tags/${row.id}`,
        handler: this.tranformTag
      })
    },

    transformTags() {
      // eslint-disable-next-line standard/computed-property-even-spacing
      this.$refs['rest-list-editable'].$refs['restList'].data = this.$refs[
        'rest-list-editable'
      ].$refs['restList'].data.map(item => {
        return this.tranformTag(item)
      })
    },

    tranformTag(item) {
      return {
        ...item,
        title: item.name,
        name: item.display_name
      }
    },

    aliasAutocomplete(queryString, cb) {
      RestApi(
        projectEndpoint({
          method: 'get',
          url: `tags`,
          params: {
            title: queryString,
            alias_id: 0
          }
        })
      ).then(({ data }) => {
        let list = data.reduce((arr, tag) => {
          arr.push({ value: tag.name })
          return arr
        }, [])

        cb(list)
      })
    },

    createAttributeIndex(row) {
      this.restList.loading = true
      RestApi(
        projectEndpoint({
          method: 'post',
          url: `tags/${row.id}/create-attribute-index`
        })
      )
        .then(({ data }) => {
          this.$router.push(
            projectRoute({
              name: 'TaskHistoryView',
              query: { id: data.task_id }
            })
          )
        })
        .catch(error => {
          this.restList.loading = false
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
    },

    removeAttributeIndex(row) {
      this.restList.loading = true
      RestApi(
        projectEndpoint({
          method: 'post',
          url: `tags/${row.id}/remove-attribute-index`
        })
      )
        .then(() => {
          this.$message({
            message: this.$t('RestList_DeleteSuccessMessage'),
            type: 'success'
          })
          this.restList.refresh()
        })
        .catch(error => {
          this.restList.loading = false
          this.$message({
            message: error.response.data.message,
            type: 'error'
          })
        })
    }
  }
}
</script>

<style scoped>
>>> .el-select {
  width: 100%;
}

>>> .cell > .el-switch {
  display: flex;
  justify-content: center;
}

>>> .el-autocomplete {
  width: 100%;
}
</style>
