<template>
  <data-manager-layout>
    <el-button
      v-if="!readonly"
      slot="actions"
      type="primary"
      icon="el-icon-circle-plus"
      @click="addRow"
    >
      {{ $t('DataManager_Button_CreateEvent') }}
    </el-button>

    <rest-list-editable
      :payload="fetchEndpoint"
      :add-endpoint="rowAddEndpoint"
      :update-endpoint="rowUpdateEndpoint"
      :rules="rules"
      ref="rest-list"
    >
      <rest-list-column
        prop="title"
        :title="$t('DataManager_Events_Field_Name')"
        :editable="true"
      >
        <template slot="input-edit" slot-scope="{ model }">
          <el-input
            :placeholder="$t('DataManager_Events_Field_Name')"
            v-model="model.title"
          />
        </template>
      </rest-list-column>

      <rest-list-column-actions v-if="!readonly" :editable="true">
        <template slot-scope="scope">
          <rest-list-action-delete
            :endpoint="rowDeleteEndpoint(scope.row)"
            :name="scope.row.title"
          />
        </template>
      </rest-list-column-actions>
    </rest-list-editable>
  </data-manager-layout>
</template>

<script>
import RestListColumn from '@/common/components/rest/RestListColumn'
import DataManagerLayout from '@/modules/data-manager/pages/DataManagerLayout'
import { projectEndpoint } from '@/core/helpers'
import RestListEditable from '@/common/components/rest/RestListEditable'
import RestListColumnActions from '@/common/components/rest/RestListColumnActions'
import RestListActionDelete from '@/common/components/rest/RestListActionDelete'

export default {
  name: 'DataManagerEventsPage',

  components: {
    RestListActionDelete,
    RestListColumnActions,
    RestListEditable,
    DataManagerLayout,
    RestListColumn
  },

  computed: {
    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `events`,
        params: {
          sort: 'title'
        }
      })
    },

    rowAddEndpoint() {
      return projectEndpoint({
        method: 'post',
        url: `events`
      })
    },

    readonly() {
      return !this.$can('manageProjectTechnical')
    },
    rules() {
      return {
        title: { required: true }
      }
    }
  },

  methods: {
    addRow() {
      const model = {
        id: '',
        type: 'custom',
        title: ''
      }
      this.$refs['rest-list'].addRow(model)
    },

    rowDeleteEndpoint(row) {
      return projectEndpoint({
        method: 'delete',
        url: `events/${row.id}`
      })
    },

    rowUpdateEndpoint(row) {
      return projectEndpoint({
        method: 'patch',
        url: `events/${row.id}`
      })
    }
  }
}
</script>

<style scoped></style>
