@font-face {
	font-family: 'Mobile';
	src:url('Mobile.eot?idn3xl');
	src:url('Mobile.eot?#iefixidn3xl') format('embedded-opentype'),
		url('Mobile.ttf?idn3xl') format('truetype'),
		url('Mobile.woff?idn3xl') format('woff'),
		url('Mobile.svg?idn3xl#Mobile') format('svg');
	font-weight: normal;
	font-style: normal;
}

i.mobileicon {
	font-family: 'Mobile';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    vertical-align: text-bottom;
}

.mobileicon-Banner {
    font-family: 'Mobile' !important;
}
.mobileicon-Responsive {
    font-family: 'Mobile' !important;
}
.mobileicon-Landscape {
    font-family: 'Mobile' !important;
}
.mobileicon-Portrait {
    font-family: 'Mobile' !important;
}
.mobileicon-Full {
    font-family: 'Mobile' !important;
}
.mobileicon-Html {
    font-family: 'Mobile' !important;
}

.mobileicon-Banner:before {
	content: "\e604";
}
.mobileicon-Responsive:before {
	content: "\e600";
}
.mobileicon-Landscape:before {
	content: "\e601";
}
.mobileicon-Portrait:before {
	content: "\e602";
}
.mobileicon-Full:before {
	content: "\e603";
}
.mobileicon-Html:before {
	content: "\e605";
}
