<template>
  <div>
    <form-section :title="$t('Integrations_Settings_BasicSettings')">
      <rest-form-item
        :label="$t('Integrations_Field_Name')"
        :hint="$t('Integrations_Field_Name_Description')"
        prop="name"
      >
        <el-input
          v-model="model.name"
          :placeholder="$t('Integrations_Field_Name')"
        />
      </rest-form-item>
    </form-section>

    <form-section :title="$t('Integrations_Settings_ConnectionSettings')">
      <rest-form-item
        :label="$t('Integrations_SbTech_Field_Username')"
        prop="params.username"
      >
        <el-input
          v-model="model.params.username"
          :placeholder="$t('Integrations_SbTech_Field_Username')"
        />
      </rest-form-item>

      <rest-form-item
        :label="$t('Integrations_SbTech_Field_Password')"
        prop="params.password"
      >
        <el-input
          v-model="model.params.password"
          :placeholder="$t('Integrations_SbTech_Field_Password')"
        />
      </rest-form-item>
    </form-section>
    <form-section
      :title="$t('Integrations_Settings_CustomUserID')"
      :description="$t('Integrations_Settings_CustomUserID_Description')"
    >
      <rest-form-item prop="params.id_attribute">
        <el-select
          v-model="model.params.id_attribute"
          filterable
          remote
          :remote-method="fetchAttributesRemote"
          :placeholder="$t('Integrations_Settings_CustomUserID_Placeholder')"
        >
          <el-option
            v-for="(item, index) in attributes"
            :key="index"
            :label="item.name"
            :value="item.name"
          />
        </el-select>
      </rest-form-item>
    </form-section>
  </div>
</template>

<script>
import FormSection from '@/common/components/form/FormSection'
import RestFormItem from '@/common/components/rest/RestFormItem'
import { projectEndpoint } from '@/core/helpers'
import RestApi from '@/core/services/RestApi'

export default {
  name: 'SbTechSettings',

  components: {
    FormSection,
    RestFormItem
  },

  props: {
    model: {
      type: Object,
      required: true
    }
  },
  created() {
    this.fetchAttributes()
  },
  methods: {
    fetchAttributesRemote(query) {
      let params = { sort: 'title' }
      if (query !== null && query !== '') {
        params.title = query
      }

      RestApi({
        ...this.attributesEndpoint,
        params: params
      })
        .then(({ data }) => {
          this.attributes = data
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
    },
    fetchAttributes() {
      RestApi(this.attributesEndpoint)
        .then(({ data }) => {
          this.attributes = data
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
    }
  },
  computed: {
    attributesEndpoint() {
      let params = { sort: 'title' }
      params.attribute_profile = 1
      return projectEndpoint({
        method: 'get',
        url: `tags`,
        params: params
      })
    }
  },
  data() {
    return {
      attributes: [],
      rules: {
        name: {
          required: true,
          message: this.$t('RestForm_FieldIsRequired')
        },
        params: {
          username: {
            required: true,
            message: this.$t('RestForm_FieldIsRequired')
          },
          password: {
            required: true,
            message: this.$t('RestForm_FieldIsRequired')
          }
        }
      }
    }
  }
}
</script>

<style scoped></style>
