<template>
  <div class="wrapper" :class="browser">
    <div class="left-icon">
      <img :src="leftIcon" />
    </div>

    <div class="content">
      <div class="title">{{ message.title }}</div>
      <div v-if="visibleDomain" class="domain">{{ visibleDomain }}</div>
      <div class="text">{{ message.text }}</div>
    </div>

    <div
      v-if="rightIcon"
      class="right-icon"
      :class="{ 'hide-on-hover': showButtons && !showActions }"
    >
      <img :src="rightIcon" />
    </div>

    <div
      v-if="showButtons"
      class="buttons"
      :class="{ 'show-on-hover': !showActions }"
    >
      <div class="button">Close</div>
      <div v-if="!showActions" class="button">Settings</div>
      <div
        v-if="showActions"
        class="button"
        :class="{ active: actionsOpened }"
        @click="openActions"
      >
        More
      </div>
    </div>

    <div v-if="actionsOpened" v-click-outside="closeActions" class="actions">
      <div v-for="action in visibleActions" class="action">{{ action }}</div>
    </div>
  </div>
</template>

<script>
import '@/font/HelveticaNeue/stylesheet.css'
import ChromeIcon from '@/img/icon/chrome.svg'
import FirefoxIcon from '@/img/icon/firefox.svg'
import UploadImageIcon from '@/img/upload-image.png'

export default {
  name: 'WebpushPreviewMac',
  props: {
    browser: String,
    message: Object,
    domain: String,
    websiteIcon: String
  },

  data() {
    return {
      actionsOpened: false
    }
  },

  computed: {
    leftIcon: function() {
      switch (this.browser) {
        case 'safari':
          return this.websiteIcon ? this.websiteIcon : UploadImageIcon
        case 'chrome':
          return ChromeIcon
        case 'firefox':
          return FirefoxIcon
      }
    },

    rightIcon: function() {
      if (this.browser !== 'safari') {
        return this.message.icon
      } else {
        return null
      }
    },

    visibleDomain: function() {
      switch (this.browser) {
        case 'safari':
          return null
        case 'chrome':
          return this.domain
        case 'firefox':
          return 'via ' + this.domain
      }
    },

    visibleActions: function() {
      if (this.message.actions) {
        let actions = this.message.actions.slice(0, 2)
        actions.push('Settings')
        return actions
      } else {
        return []
      }
    },

    showButtons: function() {
      return this.browser !== 'safari'
    },

    showActions: function() {
      return (
        this.browser === 'chrome' &&
        this.message.actions &&
        this.message.actions.length
      )
    }
  },

  methods: {
    openActions: function() {
      this.actionsOpened = true
    },

    closeActions: function() {
      this.actionsOpened = false
    }
  }
}
</script>

<style scoped>
.wrapper {
  border: 1px solid rgb(190, 190, 190);
  background: rgb(240, 240, 240);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  height: 66px;
  font-family: 'Helvetica Neue', sans-serif;
  display: flex;
  cursor: default;
  position: relative;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  line-height: 15px;
  margin-right: 8px;
  min-width: 0;
}
.title,
.domain {
  color: rgb(77, 77, 77);
  text-overflow: ellipsis;
  margin-bottom: 3px;
  max-height: 15px;
  overflow: hidden;
  white-space: nowrap;
}
.text {
  color: #333333;
  font-weight: 100;
  text-overflow: ellipsis;
  max-height: 30px;
  overflow: hidden;
}
.firefox .text,
.chrome .text {
  max-height: 15px;
}

.left-icon {
  float: initial;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-icon img {
  width: 36px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.right-icon {
  float: initial;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-icon img {
  width: 48px;
  height: 48px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wrapper:hover .right-icon.hide-on-hover {
  display: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(240, 240, 240);
  width: 70px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 4px;
}
.buttons .button {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 14px;
  border-left: 1px solid #cccccc;
}
.buttons .button:first-child {
  border-bottom: 1px solid #cccccc;
}
.buttons.show-on-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.wrapper:not(:hover) .buttons.show-on-hover {
  display: none;
}
.buttons .button.active {
  background-color: rgb(20, 126, 251);
  color: #ffffff;
}

.actions {
  position: absolute;
  top: 100%;
  right: -1px;
  background: rgb(231, 235, 238);
  border: 1px solid rgb(195, 195, 195);
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 86px;
  z-index: 1;
}
.actions .action {
  padding: 6px 10px 7px 20px;
  border-bottom: 1px solid rgb(209, 212, 217);
}
.actions .action:last-child {
  border-bottom: 0 none;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.actions .action:hover {
  background-color: rgb(60, 146, 259);
  color: #ffffff;
}
</style>
