<template>
  <div class="section">
    <tabs default="windows">
      <tab name="windows" icon="iconp-windows-logo">
        <div class="item-wrapper">
          <div class="browser-icon">
            <img src="@/img/icon/chrome.svg" />
          </div>
          <div class="message-preview">
            <webpush-preview-windows
              browser="chrome"
              :message="message"
              :domain="domain"
            ></webpush-preview-windows>
          </div>
        </div>

        <div class="item-wrapper">
          <div class="browser-icon">
            <img src="@/img/icon/firefox.svg" />
          </div>
          <div class="message-preview">
            <webpush-preview-windows
              browser="firefox"
              :message="message"
              :domain="domain"
            ></webpush-preview-windows>
          </div>
        </div>
      </tab>

      <tab name="macos" icon="iconp-apple">
        <div class="item-wrapper">
          <div class="browser-icon">
            <img src="@/img/icon/safari.svg" />
          </div>
          <div class="message-preview">
            <webpush-preview-mac
              browser="safari"
              :message="message"
              :domain="domain"
              :website-icon="websiteIcon"
            ></webpush-preview-mac>
          </div>
        </div>

        <div class="item-wrapper">
          <div class="browser-icon">
            <img src="@/img/icon/chrome.svg" />
          </div>
          <div class="message-preview">
            <webpush-preview-mac
              browser="chrome"
              :message="message"
              :domain="domain"
            ></webpush-preview-mac>
          </div>
        </div>

        <div class="item-wrapper">
          <div class="browser-icon">
            <img src="@/img/icon/firefox.svg" />
          </div>
          <div class="message-preview">
            <webpush-preview-mac
              browser="firefox"
              :message="message"
              :domain="domain"
            ></webpush-preview-mac>
          </div>
        </div>
      </tab>

      <tab name="android" icon="iconp-android-1">
        <div class="item-wrapper">
          <div class="browser-icon">
            <img src="@/img/icon/chrome.svg" />
          </div>
          <div class="message-preview">
            <webpush-preview-android
              browser="chrome"
              :message="message"
              :domain="domain"
            ></webpush-preview-android>
          </div>
        </div>

        <div class="item-wrapper">
          <div class="browser-icon">
            <img src="@/img/icon/firefox.svg" />
          </div>
          <div class="message-preview">
            <webpush-preview-android
              browser="firefox"
              :message="message"
              :domain="domain"
            ></webpush-preview-android>
          </div>
        </div>
      </tab>
    </tabs>
  </div>
</template>

<script>
import Tab from '@/common/components/tabs/Tab.vue'
import Tabs from '@/common/components/tabs/Tabs.vue'
import WebpushPreviewWindows from '@/common/components/webpush/WebpushPreviewWindows.vue'
import WebpushPreviewMac from '@/common/components/webpush/WebpushPreviewMac.vue'
import WebpushPreviewAndroid from '@/common/components/webpush/WebpushPreviewAndroid.vue'

export default {
  name: 'WebpushPreviewSection',
  components: {
    Tabs,
    Tab,
    WebpushPreviewWindows,
    WebpushPreviewMac,
    WebpushPreviewAndroid
  },
  props: {
    domain: String,
    websiteIcon: String
  },
  data() {
    return {
      message: {}
    }
  }
}
</script>

<style scoped>
.section {
  display: flex;
  justify-content: center;
}

.item-wrapper {
  margin: 25px auto;
  display: flex;
}

.browser-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.browser-icon img {
  height: 32px;
  width: 32px;
}

.message-preview {
  width: 340px;
}
</style>
