<template>
  <div class="wrapper" :class="browser">
    <div v-if="browser === 'chrome'" class="vertical-layout">
      <div class="horizontal-layout">
        <div class="icon">
          <img :src="icon" />
        </div>
        <div class="content">
          <div class="title">{{ message.title }}</div>
          <div class="text">{{ message.text }}</div>
          <div v-if="visibleDomain" class="domain">{{ visibleDomain }}</div>
        </div>
      </div>
      <div v-if="message.picture" class="picture">
        <img :src="message.picture" />
      </div>
      <div v-if="visibleActions" class="actions">
        <div v-for="action in visibleActions" class="action">{{ action }}</div>
      </div>
    </div>

    <div v-if="browser === 'firefox'" class="vertical-layout">
      <div class="title">{{ message.title }}</div>
      <div class="horizontal-layout">
        <div v-if="icon" class="icon">
          <img :src="icon" />
        </div>
        <div class="content">
          <div class="text">{{ message.text }}</div>
          <div v-if="visibleDomain" class="domain">{{ visibleDomain }}</div>
        </div>
      </div>
    </div>

    <div class="buttons">
      <div class="close">
        <i class="icon-cancel"></i>
      </div>
      <div class="settings">
        <i class="icon-cog"></i>
      </div>
    </div>
  </div>
</template>

<script>
import UploadImageIcon from '@/img/upload-image.png'

export default {
  name: 'WebpushPreviewWindows',
  props: {
    browser: String,
    message: Object,
    domain: String
  },

  computed: {
    icon: function() {
      if (this.message.icon) {
        return this.message.icon
      } else if (this.browser === 'chrome') {
        return UploadImageIcon
      } else {
        return null
      }
    },

    visibleDomain: function() {
      if (this.browser === 'firefox') {
        return 'via ' + this.domain
      } else {
        return this.domain
      }
    },

    visibleActions: function() {
      if (this.message.actions) {
        return this.message.actions.slice(0, 2)
      } else {
        return []
      }
    }
  }
}
</script>

<style scoped>
.wrapper {
  border: 1px solid rgb(190, 190, 190);
  background: rgb(255, 255, 255);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
  position: relative;
}

.vertical-layout {
  flex: 1;
}
.firefox .vertical-layout {
  padding-left: 6px;
  padding-right: 8px;
}
.horizontal-layout {
  display: flex;
  padding-right: 10px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 11px;
  line-height: 15px;
}
.firefox .content {
  min-height: 40px;
}
.title {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 6px;
}
.chrome .title {
  max-height: 40px;
  line-height: 20px;
  font-size: 13px;
  color: #777777;
  padding-right: 45px;
}
.firefox .title {
  max-height: 15px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 12px;
  color: #333333;
  padding-right: 20px;
}
.text {
  color: #777777;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 60px;
}
.domain {
  color: #999999;
  font-size: 11px;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  max-height: 15px;
  overflow: hidden;
}
.chrome .domain {
  margin-top: 8px;
}
.firefox .domain {
  font-size: 10px;
  padding-right: 10px;
}

.icon {
  float: initial;
}
.chrome .icon {
  margin-right: 14px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chrome .icon img {
  max-width: 80px;
  max-height: 80px;
}
.firefox .icon {
  margin-right: 10px;
}
.firefox .icon img {
  width: 80px;
  height: 80px;
}

.picture {
  margin: 10px;
  text-align: center;
}
.picture img {
  max-height: 220px;
  max-width: 100%;
}

.buttons div {
  position: absolute;
}
.buttons .close {
  right: 6px;
  top: 6px;
}
.chrome .buttons .settings {
  right: 26px;
  top: 6px;
}
.firefox .buttons .settings {
  right: 6px;
  bottom: 6px;
}

.actions {
  margin-top: 10px;
}
.actions .action {
  white-space: nowrap;
  height: 36px;
  line-height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  color: #777777;
  font-size: 13px;
  border-top: 1px solid #f1f1f1;
}
.actions .action:hover {
  background-color: #f5f5f5;
}
</style>
