<template>
  <rest-page :fetch-endpoint="fetchEndpoint">
    <page-header-new :title="pageTitle" :breadcrumbs="breadcrumbs">
      <template slot="actions">
        <save-button :click="saveSettings" />
      </template>
    </page-header-new>
    <page-content>
      <rest-form
        :save-endpoint="saveEndpoint"
        :after-save="afterSave"
        :model="model"
        :rules="rules"
        :readonly="readonly"
        ref="form"
      >
        <template v-if="model">
          <form-section>
            <el-row>
              <el-col :span="24">
                <rest-form-item
                  prop="title"
                  :label="$t('ProjectSettings_Field_Title')"
                >
                  <el-input v-model="model.title" />
                </rest-form-item>
              </el-col>
            </el-row>

            <el-row v-if="isAdmin">
              <el-col :span="12">
                <rest-form-item
                  prop="provider_id"
                  :label="$t('ProjectSettings_Field_Provider')"
                >
                  <el-select
                    v-model="model.provider_id"
                    @change="delete model.company_id"
                  >
                    <el-option
                      v-for="provider in providers"
                      :key="provider.id"
                      :value="provider.id"
                      :label="provider.title"
                    />
                  </el-select>
                </rest-form-item>
              </el-col>

              <el-col :span="12">
                <rest-form-item
                  prop="company_id"
                  :label="$t('ProjectSettings_Field_Company')"
                >
                  <el-select
                    v-model="model.company_id"
                    :disabled="!model.provider_id"
                  >
                    <el-option
                      v-for="company in companiesByProvider"
                      :key="company.id"
                      :value="company.id"
                      :label="company.name"
                    />
                  </el-select>
                </rest-form-item>
              </el-col>
            </el-row>

            <el-row>
              <el-col :span="12">
                <rest-form-item
                  prop="timezone"
                  :label="$t('ProjectSettings_Field_Timezone')"
                >
                  <el-select
                    v-model="model.timezone"
                    :disabled="!isCreatePage"
                    filterable
                  >
                    <el-option
                      v-for="(time, index) in timezones"
                      :key="index"
                      :value="index"
                    >
                      {{ time }}
                    </el-option>
                  </el-select>
                </rest-form-item>
              </el-col>

              <el-col :span="12">
                <rest-form-item
                  prop="region"
                  :label="$t('ProjectSettings_Field_Region')"
                >
                  <el-select v-model="model.region" :disabled="true">
                    <el-option
                      :value="model.region"
                      :label="model.region.toUpperCase()"
                    ></el-option>
                  </el-select>
                </rest-form-item>
              </el-col>
            </el-row>

            <el-row v-if="isAdmin">
              <el-col :span="12">
                <rest-form-item
                  :label="$t('ProjectSettings_Field_MobileApiLogs')"
                  prop="mobile_api_logs"
                >
                  <el-select v-model="model.mobile_api_logs">
                    <el-option
                      v-for="item in logOptions"
                      :key="item.value"
                      :value="item.value"
                      :label="item.label"
                    />
                  </el-select>
                </rest-form-item>
              </el-col>
              <el-col :span="12">
                <rest-form-item
                  :label="$t('ProjectSettings_Field_ExternalApiLogs')"
                  prop="external_api_logs"
                >
                  <el-select v-model="model.external_api_logs">
                    <el-option
                      v-for="item in logOptions"
                      :key="item.value"
                      :value="item.value"
                      :label="item.label"
                    />
                  </el-select>
                </rest-form-item>
              </el-col>
            </el-row>

            <el-row>
              <el-col :span="12">
                <rest-form-item
                  prop="description"
                  :label="$t('ProjectSettings_Field_Description')"
                >
                  <el-input
                    type="textarea"
                    class="description"
                    v-model="model.description"
                  />
                </rest-form-item>
              </el-col>

              <el-col :span="12">
                <rest-form-item
                  prop="icon"
                  :label="$t('ProjectSettings_Field_Icon')"
                >
                  <icon-upload
                    :value="model.icon"
                    :file.sync="model.icon_file"
                    accepts=".gif,.jpg,.jpeg,.png,.ico"
                    size="large"
                  />
                </rest-form-item>
              </el-col>
            </el-row>
          </form-section>
          <form-section
            v-if="isEncryptionSettingsVisible"
            :title="$t('ProjectSettings_Row_Features')"
          >
            <el-form :model="model" :disabled="isEncryptionSettingsDisabled">
              <el-row>
                <el-col :span="12">
                  <form-item
                    prop="push_encryption"
                    :label="$t('ProjectSettings_Field_Encryption')"
                    :description="$t('ProjectSettings_Field_Encryption_Desc')"
                  >
                    <toggle
                      v-model="model.push_encryption"
                      :active-text="$t('ProjectSettings_Encryption_Enabled')"
                      :inactive-text="$t('ProjectSettings_Encryption_Disabled')"
                    />
                  </form-item>
                </el-col>
                <el-col :span="12">
                  <form-item
                    prop="push_delivery_receipts"
                    :label="$t('ProjectSettings_Field_PushDeliveryReceipts')"
                    :description="
                      $t('ProjectSettings_Field_PushDeliveryReceipts_Desc')
                    "
                  >
                    <toggle
                      v-model="model.push_delivery_receipts"
                      :active-text="$t('ProjectSettings_Encryption_Enabled')"
                      :inactive-text="$t('ProjectSettings_Encryption_Disabled')"
                    />
                  </form-item>
                </el-col>
              </el-row>
            </el-form>
          </form-section>
        </template>
      </rest-form>
    </page-content>
    <save-features-dialog
      :features="changedFeatures"
      @close="showDialog = false"
      v-if="showDialog"
      :save="save"
    />
  </rest-page>
</template>

<script>
import RestFormItem from '@/common/components/rest/RestFormItem'
import FormSection from '@/common/components/form/FormSection'
import { projectRoute } from '@/core/helpers'
import IconUpload from '@/common/components/form/IconUpload'
import FormItem from '@/common/components/form/FormItem'
import Toggle from '@/common/components/form/Toggle'
import PageHeaderNew from '@/common/components/page/PageHeaderNew'
import RestForm from '@/common/components/rest/RestForm'
import RestPage from '@/common/components/rest/RestPage'
import PageContent from '@/common/components/page/PageContent'
import SaveButton from '@/common/components/form/SaveButton'
import SaveFeaturesDialog from '@/modules/project/components/SaveFeaturesDialog'

export default {
  name: 'ProjectSettingsPage',

  components: {
    SaveFeaturesDialog,
    SaveButton,
    PageContent,
    RestPage,
    RestForm,
    PageHeaderNew,
    Toggle,
    FormItem,
    IconUpload,
    RestFormItem,
    FormSection
  },

  data() {
    return {
      model: this.defaultModel(),
      companies: [],
      providers: [],
      timezones: [],
      features: [],
      showDialog: false,
      breadcrumbs: [
        { label: this.$t('Settings_Breadcrumb_Settings') },
        { label: this.$t('LeftNavigation_ProjectSettings') }
      ],
      logOptions: [
        { value: 0, label: this.$t('ProjectSettings_Logs_Off') },
        { value: 1, label: this.$t('ProjectSettings_Logs_On') },
        { value: 2, label: this.$t('ProjectSettings_Logs_Batched') }
      ]
    }
  },

  computed: {
    pageTitle() {
      return this.$t(this.$route.meta.title)
    },

    fetchEndpoint() {
      return [
        this.fetchModelEndpoint,
        this.fetchCompaniesProvidersEndpoint,
        this.fetchTimezonesEndpoint
      ]
    },

    fetchModelEndpoint() {
      if (this.$route.query.project_id) {
        return {
          method: 'get',
          url: `projects/${this.$route.query.project_id}`,
          handler: data => {
            this.model = {
              title: data.name,
              ...data
            }
            this.features = {
              push_encryption: this.model.push_encryption,
              push_delivery_receipts: this.model.push_delivery_receipts
            }
          }
        }
      } else {
        return null
      }
    },

    fetchCompaniesProvidersEndpoint() {
      return {
        method: 'get',
        url: `companies-providers`,
        handler: data => {
          this.companies = data.companies
          this.providers = data.providers
        }
      }
    },

    fetchTimezonesEndpoint() {
      return {
        method: 'get',
        url: `timezones`,
        handler: data => {
          this.timezones = data
        }
      }
    },

    saveEndpoint() {
      if (this.$route.query.project_id) {
        return {
          method: 'patch',
          url: `projects/${this.$route.query.project_id}`
        }
      } else {
        return {
          method: 'post',
          url: `projects`
        }
      }
    },

    rules() {
      return {
        title: {
          required: true
        },
        provider_id: {
          required: true
        },
        company_id: {
          required: true
        },
        timezone: {
          required: true
        },
        region: {
          required: true
        }
      }
    },

    companiesByProvider() {
      return this.companies.filter(
        company => company.provider_id === this.model.provider_id
      )
    },

    isAdmin() {
      return (
        this.$isRole('admin') ||
        this.$isRole('admin-support') ||
        this.$isRole('admin-viewer') ||
        this.$isRole('provider-admin') ||
        this.$isRole('provider-admin-viewer')
      )
    },

    readonly() {
      return !this.$can('updateProject')
    },

    isCreatePage() {
      return !this.$route.query.project_id
    },
    isEncryptionSettingsVisible() {
      return this.$can('XpEmailConfiguration:ReadAccess')
    },
    isEncryptionSettingsDisabled() {
      return !this.$can('XpEmailConfiguration:FullAccess')
    },
    changedFeatures() {
      return Object.keys(this.features).reduce((changedFeatures, key) => {
        if (this.features[key] !== this.model[key]) {
          changedFeatures.push({
            name: key,
            status: this.model[key]
          })
        }
        return changedFeatures
      }, [])
    }
  },

  methods: {
    defaultModel() {
      if (this.$route.query.project_id) {
        return null
      } else {
        return {
          region: this.$store.state.app.region
        }
      }
    },

    save() {
      this.$refs['form'].save()
      this.showDialog = false
    },
    saveSettings() {
      if (this.changedFeatures.length) {
        this.showDialog = true
      } else {
        this.$refs['form'].save()
      }
    },
    afterSave(model) {
      setTimeout(() => {
        if (!this.$route.query.project_id) {
          location.href = this.$router.resolve(
            projectRoute({ name: 'ProjectSettings' }, model.id)
          ).href
        } else {
          this.$router.go()
        }
      }, 1000)
    }
  }
}
</script>

<style scoped>
.description >>> .el-textarea__inner {
  height: 148px;
}
</style>
