<template>
  <div :class="layoutClass">
    <div id="content-container">
      <left-nav v-if="projectLayout" />
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Layout',
  computed: {
    projectLayout() {
      return !!this.$store.getters.projectId
    },

    layoutClass() {
      if (this.$store.getters.projectId) {
        return 'layout-project'
      } else {
        return 'layout-basic'
      }
    }
  }
}
</script>
