<template>
  <div v-if="$can('viewProjectItem')" class="buttonCt">
    <a :href="`/push/campaign/active?project_id=${projectId}`">
      <el-button>
        {{ $t('ProjectOverview_ViewLiveCampaigns') }}
      </el-button>
    </a>

    <a
      v-if="$can('createProjectItem')"
      :href="`/push/campaign/create?project_id=${projectId}`"
    >
      <el-button>
        {{ $t('ProjectOverview_CreateNewCampaign') }}
      </el-button>
    </a>

    <a
      v-else-if="$can('sendPushCampaign')"
      :href="`/push/campaign/approve?project_id=${projectId}`"
    >
      <el-button>
        {{ $t('ProjectOverview_ApproveCampaigns') }}
      </el-button>
    </a>

    <a v-else :href="`/push/campaign/past?project_id=${projectId}`">
      <el-button>
        {{ $t('ProjectOverview_ViewPastCampaigns') }}
      </el-button>
    </a>

    <router-link :to="`/analytics/analytics/index?project_id=${projectId}`">
      <el-button class="viewProjectBtn" type="primary">
        {{ $t('ProjectOverview_ViewProject') }}
      </el-button>
    </router-link>
  </div>

  <div v-else class="buttonCt">
    <a
      v-if="$can('CampaignTemplate::Read')"
      :href="`/push/campaign-template/index?project_id=${projectId}`"
    >
      <el-button>
        {{ $t('ProjectOverview_Templates') }}
      </el-button>
    </a>

    <router-link
      v-if="$can('ContentSnippet::Read')"
      :to="`/content/snippet/index?project_id=${projectId}`"
    >
      <el-button>
        {{ $t('ProjectOverview_Snippets') }}
      </el-button>
    </router-link>
  </div>
</template>
<script>
export default {
  name: 'ProjectOverviewButtons',

  props: {
    projectId: {
      type: Number,
      required: true
    }
  }
}
</script>
<style scoped>
.buttonCt {
  margin-bottom: 5px;
}

button {
  padding: 6px 12px;
  font-size: 12px;
  line-height: 18px;
  color: #a6a6a6;
  margin-right: 10px;
}

.viewProjectBtn {
  margin-right: 0;
  float: right;
}
</style>
