<template>
  <panel class="project-overview-ct">
    <div class="header">
      <a :href="projectUrl">
        <img v-if="projectIcon" class="icon" :src="projectIcon" />
        <img v-else src="@/img/icon/app-ico.png" class="icon" />
      </a>
      <a :href="projectUrl">
        <h3>{{ projectName }}</h3>
      </a>
    </div>

    <div class="metrics">
      <template v-for="(metric, index) in metrics">
        <metric
          :key="index"
          :title="
            metricLabels.hasOwnProperty(metric.name)
              ? $t(metricLabels[metric.name])
              : metric.name
          "
          :metric="metric.value"
          :type="metric.type"
          class="metric"
        />
      </template>
    </div>

    <buttons :project-id="projectId" />
  </panel>
</template>

<script>
import Panel from '@/common/components/Panel'
import Metric from '@/common/components/Metric'
import Buttons from '@/common/components/ProjectOverviewButtons'
import { metricLabels } from '@/common/components/dashboard/Labels'

export default {
  name: 'ProjectOverview',

  components: { Panel, Metric, Buttons },

  props: {
    projectId: {
      type: Number,
      required: true
    },
    projectName: {
      type: String,
      required: true
    },
    projectIcon: {
      type: String,
      required: false
    },
    metrics: {
      type: Array,
      required: true
    }
  },

  data() {
    return {
      metricLabels
    }
  },
  computed: {
    projectUrl() {
      return this.$can('viewProjectItem')
        ? `/analytics/analytics/index?project_id=${this.projectId}`
        : `/push/campaign-template/index?project_id=${this.projectId}`
    }
  }
}
</script>

<style scoped>
.project-overview-ct {
  width: 536px;
}

.metrics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.metrics .metric {
  margin-bottom: 20px;
  height: 52px;
  flex-basis: 33%;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}

h3 {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1d87c8;
  display: inline-block;
}

.icon {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 18px;
}
</style>
