<template>
  <v-tour name="tutorial" :steps="cards" :callbacks="myCallbacks">
    <template slot-scope="tour">
      <transition name="fade">
        <div class="overlay" v-if="isActive"></div>
      </transition>

      <transition name="fade">
        <!--  @todo this button have to be moved on admin menu      -->
        <!--        <div class="help-button" v-if="!isActive">-->
        <!--          <a @click="restart()">-->
        <!--            <el-icon name="question" style="fontSize:16px"></el-icon>-->
        <!--          </a>-->
        <!--        </div>-->
        <v-step
          class="tour-step"
          v-if="tour.currentStep === index"
          v-for="(step, index) of tour.steps"
          :key="index"
          :step="step"
          :previous-step="tour.previousStep"
          :next-step="tour.nextStep"
          :stop="tour.stop"
          :is-first="tour.isFirst"
          :is-last="tour.isLast"
          :labels="tour.labels"
        >
          <div
            slot="content"
            class="tutorial-content"
            v-html="step.content"
          ></div>
          <div slot="actions" :class="{ actions: !tour.isLast }">
            <template v-if="!tour.isLast">
              <a @click="tour.stop" href="#" class="skip-link btn">{{
                $t('TutorialCards_Skip_Button')
              }}</a>
              <div>
                <el-button type="primary" @click="tour.nextStep" size="small">
                  {{ $t('TutorialCards_Next_Button') }}
                  <el-icon name="right" class="m-left-10" />
                </el-button>
              </div>
            </template>
            <template v-else>
              <el-button type="primary" size="small" @click="tour.stop">
                {{ $t('TutorialCards_Finish_Button') }}
                <el-icon name="check" class="m-left-10" />
              </el-button>
            </template>
          </div>
        </v-step>
      </transition>
    </template>
  </v-tour>
</template>

<script>
import store from '@/core/store'

export default {
  name: 'TutorialCards',
  props: {
    name: {
      type: String,
      required: true
    },
    cards: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      tutorialInstance: {},
      myCallbacks: {
        onStop: this.onStop
      }
    }
  },
  methods: {
    onStop() {
      store.dispatch('saveTutorialCard', {
        [this.name]: 1
      })
    },
    restart() {
      this.tutorialInstance.currentStep = 0
      store.dispatch('saveTutorialCard', {
        [this.name]: 0
      })
    }
  },
  computed: {
    isActive() {
      return this.tutorialInstance.isRunning
    }
  },
  beforeCreate() {
    store.dispatch('fetchTutorialCards')
  },
  mounted() {
    this.tutorialInstance = this.$tours['tutorial']
    if (
      !store.getters.tutorialCards ||
      store.getters.tutorialCards[this.name] !== 1
    ) {
      this.tutorialInstance.start()
    }
  }
}
</script>

<style scoped>
.tour-step {
  background-color: white;
}
>>> .v-step .v-step__arrow {
  border-color: white;
}
>>> .v-step {
  z-index: 9999;
  min-width: 250px;
  max-width: 360px;
}
.overlay {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #5a5a5a42;
  top: 0px;
  left: 0px;
}
.skip-link {
  color: #1d87c8;
  text-decoration: underline;
  line-height: 35px;
}
.actions {
  display: flex;
  justify-content: space-between;
}
.tutorial-content {
  color: #606266;
  margin: 0px 0px 15px;
  font-size: 16px;
  text-align: left;
}
.help-button {
  position: fixed;
  top: 20px;
  left: 318px;
  z-index: 9999;
}
.help-button i {
  font-size: 25px !important;
  color: white;
  cursor: pointer;
}
>>> .tutorial-content a {
  color: #0c648c;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
