
body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #666;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
