html {
  background: #fff;
  height: 100%;
  min-height: 100%;
}

body {
  background: #eaebec;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#content-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  top: 0px;
  padding-top: 64px;
  margin: 0;
  display: flex;
  overflow: auto;
  min-width: 1280px;
  min-height: 500px;
  background: #eaebec;
}

.layout-admin #content-container {
  left: 240px;
  right: 0;
}

.layout-admin #content {
  overflow-x: auto;
}

.layout-basic #content-container {
  min-width: 1200px;
  left: 0;
  right: 0;
}

#content {
  flex: 1;
  height: 100%;
  margin: 0;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.layout-basic #content {
  padding: 0
}

/* set a z-index scope for the whole app */
/* dialogs will have their own z-index scope outside of this */
.app-main {
  height: 100%;
  position: relative;
  z-index: 1;
}
