/* Font */
$--font-weight-primary: 400 !default;

/* Pagination */
$--pagination-button-width: 30px;
$--pagination-button-height: 30px;
$--pagination-font-size: 16px;
$--pagination-hover-fill: 0;
$--pagination-color: black;

/* Buttons */
$--button-padding-vertical: 10px;
$--button-padding-horizontal: 20px;
$--button-border-radius: 4px;
$--button-primary-fill: #32404d !default;
$--button-primary-color: #ffffff !default;

/* Tooltips */
$--tooltip-fill: #303133;

/* Menu */
$--menu-item-hover-fill: #f2f6fc !default;

/* Primary Color */
$--color-primary: #32404d;

/* Ui elements color*/
$--color-ui-element: #1D87C8;;

/* Table */
$--table-header--background: black;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';

/* Nav menu */
.el-zoom-in-left-enter-active,
.el-zoom-in-left-leave-active {
  opacity: 1;
  transform: unset;
}

.theme-xp {
  /* Forms */
  .el-select-dropdown.el-popper {
    max-width: 0;
  }
  .el-form-item .el-input {
    width: 100%;
  }

  .el-form-item .el-autocomplete {
    width: 100%;
  }

  .el-form-item .el-select {
    width: 100%;
  }

  .el-form-item__label {
    padding: 0;
    margin: 0;
    height: 30px;
    line-height: 30px;
  }

  /* Tables */

  .el-table.shadow {
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .el-table thead {
    color: #333333;
  }

  .el-table th {
    font-weight: 600;
  }

  .el-table th .el-input {
    width: 100%;
  }

  .el-table th .el-select {
    width: 100%;
  }

  .el-table th .el-range-editor {
    width: 100%;
  }

  .el-table .cell {
    word-break: break-word;
    white-space: nowrap;
  }

  .el-table a {
    text-decoration: underline;
  }

  /* Buttons */

  /* Tertiary Button (has to be defined before the others to don't be overwritten)  */

  .el-button--default {
    background-color: transparent;
    border: 1px solid #d9d9d9;
    color: #a6a6a6;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s;
  }

  .el-button--default:hover {
    background-color: #53aee6;
    border-color: #53aee6;
    color: #ffffff;
  }

  .el-button--default:active {
    background-color: #1d87c8;
    border-color: #1d87c8;
    color: #ffffff;
  }

  .el-button--default.is-disabled,
  .el-button--default.is-disabled:hover {
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    color: #e6e6e6;
  }

  /* Primary Button */

  .el-button--primary {
    background-color: #1d87c8;
    border-color: #1d87c8;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s;
  }

  .el-button--primary:hover {
    background-color: #53aee6;
    border-color: #53aee6;
    color: #ffffff;
  }

  .el-button--primary:active {
    background-color: #1d87c8;
    border-color: #1d87c8;
    color: #ffffff;
  }

  .el-button--primary.is-disabled,
  .el-button--primary.is-disabled:hover {
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    color: #ffffff;
  }

  /* Secondary Button */

  .el-message-box__btns .el-button--default:not(.el-button--primary), /* Secondary button for MessageBox */
  .el-button--primary.is-plain {
    background-color: transparent;
    border-color: #1d87c8;
    color: #1d87c8;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s;
  }

  .el-message-box__btns .el-button--default:hover:not(.el-button--primary),
  .el-button--primary.is-plain:hover {
    background-color: #53aee6;
    border-color: #53aee6;
    color: #ffffff;
  }

  .el-message-box__btns .el-button--default:active:not(.el-button--primary),
  .el-button--primary.is-plain:active {
    background-color: #1d87c8;
    border-color: #1d87c8;
    color: #ffffff;
  }

  .el-button--primary.is-plain.is-disabled,
  .el-button--primary.is-plain.is-disabled:hover {
    background-color: #ffffff;
    color: #e6e6e6;
    border-color: #e6e6e6;
  }

  .el-button--default.el-button--small,
  .el-button--primary.el-button--small,
  .el-button--primary.el-button--mini, {
    font-size: 12px !important;
  }

  /* Avoid styling in buttons appended in inputs */

  .el-input-group__append button.el-button--default {
    background-color: transparent !important;
    border: 0 none !important;
    color: #a6a6a6 !important;
  }

  .el-button--text {
    font-size: 12px;
    color: #32404d;
    font-weight: 600;
  }

  .el-button--text:hover {
    opacity: 0.8;
  }

  .el-button--default.is-plain:hover {
    background-color: #32404d;
    opacity: 0.8;
    color: #ffffff;
  }

  .el-button--default.is-plain.is-disabled,
  .el-button--default.is-plain.is-disabled:hover {
    background-color: #f5f7fa;
  }

  /* Pagination */

  .el-pagination {
    font-size: 16px;
    font-weight: 400;
  }

  .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #32404d;
  }

  /* Menus */

  .el-menu--horizontal > .el-menu-item.is-active {
    background-color: inherit;
  }

  .el-menu--horizontal > .el-menu-item {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
  }

  .el-dropdown-menu .columnSelection {
    display: flex;
    flex-direction: column;
  }

  .el-dropdown-menu .columnSelection .el-checkbox {
    margin: 5px 10px;
    height: 25px;
  }

  /* Checkbox */

  .el-checkbox {
    vertical-align: middle;
  }

  .el-checkbox.is-bordered {
    padding-left: 20px;
  }

  .el-checkbox-button.is-focus .el-checkbox-button__inner {
    background-color: #32404d;
    color: #fff;
  }

  .el-checkbox-button .el-checkbox-button__inner {
    border: 1px solid #dcdfe6;
    border-right: none;
  }

  .el-checkbox-button.is-focus
    + .el-checkbox-button
    .el-checkbox-button__inner {
    border-left: 1px solid #32404d;
  }

  .el-checkbox-button:last-child .el-checkbox-button__inner {
    border-right: 1px solid #dcdfe6;
  }

  .el-checkbox-button:last-child.is-focus .el-checkbox-button__inner {
    border-right: 1px solid #32404d;
  }

  /* Dialog */

  .el-dialog__headerbtn {
    font-size: 10px;
    border: 2px solid #a6a6a6;
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }

  .el-dialog__headerbtn i {
    -webkit-text-stroke: 1px #909399;
  }

  .el-dialog__headerbtn:hover {
    border-color: #bfbfbf;
  }

  .el-dialog__headerbtn:hover i {
    -webkit-text-stroke: 1px #bfbfbf;
  }

  .el-dialog__wrapper {
    background: rgba(29, 135, 200, 0.75);
  }

  /* Message Box */

  .el-message-box__headerbtn {
    font-size: 10px;
    border: 2px solid #a6a6a6;
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }

  .el-message-box__headerbtn i {
    -webkit-text-stroke: 1px #909399;
  }

  .el-message-box__headerbtn:hover {
    border-color: #bfbfbf;
  }

  .el-message-box__headerbtn:hover i {
    -webkit-text-stroke: 1px #bfbfbf;
  }

  .el-message-box__wrapper {
    background: rgba(29, 135, 200, 0.75);
  }

  /* Labels */

  .form-item-label {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
  }

  /* Radio */

  .el-radio__inner{
    width: 22px;
    height: 22px;
  }

  .el-radio__inner::after{
    width: 10px;
    height: 10px;
    background-color: $--color-ui-element;
  }

  .el-radio__input.is-checked .el-radio__inner{
    background: #ffffff;
    border-color: $--color-ui-element;
  }

  /* Switch */
  .el-switch.is-checked .el-switch__core{
    border-color: $--color-ui-element;
    background-color: $--color-ui-element;
  }

  /* Tabs */
  .el-tabs__active-bar{
    background-color: $--color-ui-element;
  }

  .el-tabs__item:hover{
    color: $--color-ui-element;
  }
  .el-tabs__item.is-active{
    font-weight: 600;
  }

  /* Components */

  .el-color-dropdown__btns .el-button.is-plain {
    border-color: #32404d;
    color: #32404d;
  }

  .el-color-dropdown__btns .el-button.is-plain:hover {
    color: #fff;
  }

  .el-date-editor .el-range__icon {
    line-height: 0 !important;
  }

  .el-picker-panel__sidebar {
    width: 115px;
  }

  .el-autocomplete-suggestion .el-scrollbar .el-autocomplete-suggestion__wrap {
    overflow: auto !important;
  }

  /* Other */

  .borderless-btn {
    border: 0;
    background-color: transparent;
  }

  .borderless-btn:hover {
    color: inherit;
    border-color: #ccc;
    cursor: pointer;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }
}
