//variables
$spacing-range-start: 1 !default
$spacing-range-end: 100 !default
$spacing-interval: 1 !default

// spacing helpers settings
$range-start: $spacing-range-start
$range-end: $spacing-range-end
$interval: $spacing-interval
$sides: (top, bottom, left, right)

$current: $range-start
@while $current < $range-end
  .m-#{$current}
    margin: #{$current}px !important
  .p-#{$current}
    padding: #{$current}px !important

  @each $side in $sides
    .m-#{$side}-#{$current}
      margin-#{$side}: #{$current}px !important

    .p-#{$side}-#{$current}
      padding-#{$side}: #{$current}px !important
  $current: $current + $interval

@each $side in $sides
  .is-#{$side}-marginless
    margin-#{$side}: 0 !important
  .is-#{$side}-paddingless
    padding-#{$side}: 0 !important

.m-auto
  margin: auto !important

@each $side in $sides
  .m-#{$side}-auto
    margin-#{$side}: auto !important
