<template>
  <div>
    <form-section :title="$t('Imports_Title_Description')">
      <rest-form-item
        :label="$t('Imports_Field_Name')"
        :hint="$t('Imports_Field_Name_Description')"
        prop="name"
      >
        <el-input
          v-model="model.name"
          :placeholder="$t('Imports_Field_Name')"
        />
      </rest-form-item>
    </form-section>

    <form-section
      :title="$t('Imports_Title_DataSource')"
      :description="$t('Imports_Title_DataSource_Description')"
      v-loading="loading"
    >
      <template slot="controls" v-if="model.source.type === 'fs'">
        <rest-form-item
          v-show="model.config.columns < 1"
          prop="config.columns"
        />
        <el-button
          @click="getSchema"
          :disabled="disableButton"
          icon="el-icon-refresh-right"
        >
          {{ $t('Imports_Button_RefreshSchema') }}
        </el-button>
      </template>

      <el-row>
        <el-col :span="6">
          <rest-form-item :label="$t('Imports_Field_Type')" prop="source.type">
            <enum-select v-model="model.source.type" :options="sourceEnum" />
          </rest-form-item>
        </el-col>

        <el-col :span="6" v-if="model.source.type === 'upload'">
          <rest-form-item
            :label="$t('Imports_Field_Type_Upload')"
            prop="config.columns"
          >
            <csv-upload
              :loading.sync="loading"
              :columns.sync="model.config.columns"
              @init="init"
              :file-id.sync="model.source.file_id"
            />
          </rest-form-item>
        </el-col>

        <el-col :span="6" v-else-if="model.source.type === 'fs'">
          <rest-form-item
            :label="$t('Imports_Field_FileStorage')"
            prop="source.integration_id"
          >
            <el-select v-model="model.source.integration_id" value-key="name">
              <el-option
                v-for="item in steps[currentStep.index].props.integrations"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </rest-form-item>
        </el-col>
      </el-row>

      <el-row v-if="model.source.type === 'fs'">
        <el-col :span="6">
          <rest-form-item
            :label="$t('Imports_Field_SelectionRule')"
            prop="source.file_selection"
          >
            <enum-select
              v-model="model.source.file_selection"
              :options="selectionRulesLabels"
            />
          </rest-form-item>
        </el-col>

        <el-col :span="6">
          <rest-form-item
            :label="$t('Imports_Field_FileDirectory')"
            prop="source.file_directory"
          >
            <el-input
              v-model="model.source.file_directory"
              :placeholder="$t('Imports_Field_FileDirectory')"
            />
          </rest-form-item>
        </el-col>

        <el-col :span="6">
          <rest-form-item
            :label="$t('Imports_Field_FileName')"
            prop="source.file_name"
          >
            <el-input
              v-model="model.source.file_name"
              :placeholder="$t('Imports_Field_FileName')"
            />
          </rest-form-item>
        </el-col>
      </el-row>
    </form-section>
  </div>
</template>

<script>
import FormSection from '@/common/components/form/FormSection'
import RestFormItem from '@/common/components/rest/RestFormItem'
import CsvUpload from '@/modules/imports/components/CsvUpload'
import EnumSelect from '@/common/components/form/EnumSelect'
import {
  sourceTypesLabels,
  selectionRulesLabels
} from '@/modules/imports/enum/ImportsEnum'
import RestApi from '@/core/services/RestApi'
import { projectEndpoint } from '@/core/helpers'

export default {
  name: 'StepImportDataSource',

  components: {
    FormSection,
    RestFormItem,
    CsvUpload,
    EnumSelect
  },

  props: {
    model: {
      type: Object,
      required: true
    },

    steps: {
      type: Array,
      required: true
    },

    currentStep: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      sourceTypesLabels,
      selectionRulesLabels,
      loading: false
    }
  },

  watch: {
    type() {
      this.init()
    },

    'model.config.columns': {
      deep: true,
      handler() {
        this.updateCols()
      }
    }
  },

  computed: {
    schemaEndpoint() {
      return projectEndpoint({
        method: 'post',
        url: `imports/preview`
      })
    },

    disableButton() {
      if (
        !this.model.source.integration_id ||
        !this.model.source.file_selection ||
        !this.model.source.file_directory ||
        !this.model.source.file_name
      ) {
        return true
      } else {
        return false
      }
    },

    type() {
      return this.model.source.type
    },

    sourceEnum() {
      if (
        this.steps[this.currentStep.index].props.hasOwnProperty('sources') &&
        Object.keys(this.steps[this.currentStep.index].props.sources).length > 0
      ) {
        return this.steps[this.currentStep.index].props.sources
      } else {
        return this.sourceTypesLabels
      }
    }
  },

  methods: {
    init() {
      this.model.config.columns = []
    },

    getSchema() {
      this.init()
      this.loading = true
      RestApi({
        ...this.schemaEndpoint,
        ...{
          data: {
            type: this.model.source.type,
            integration_id: this.model.source.integration_id,
            file_directory: this.model.source.file_directory,
            file_name: this.model.source.file_name
          }
        }
      })
        .then(({ data }) => {
          this.model.config.columns = data.columns
          this.updateCols()
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
    },

    updateCols() {
      let attrs = this.steps[1].props.attributes
      let filterableAttributes = this.steps[1].props.filterableAttributes
      this.model.config.columns.forEach(col => {
        if (
          attrs.findIndex(
            e => e.name.toUpperCase() === col.name.toUpperCase()
          ) >= 0
        ) {
          let attrName = attrs.find(
            e => e.name.toUpperCase() === col.name.toUpperCase()
          ).name
          if (!this.isEdit) {
            this.$set(col, 'attribute', attrName)
          }
        }
        if (
          filterableAttributes.findIndex(
            e => e.toUpperCase() === col.name.toUpperCase()
          ) >= 0
        ) {
          let attrName = filterableAttributes.find(
            e => e.toUpperCase() === col.name.toUpperCase()
          )
          if (!this.isEdit) {
            this.$set(col, 'attribute', attrName)
          }
        }
      })
    }
  }
}
</script>

<style scoped></style>
