<template>
  <form-section
    :title="$t('Imports_Title_DataMapping')"
    :description="$t('Imports_Title_DataMapping_Description')"
  >
    <template slot="controls">
      <rest-form-item
        v-show="!model.config.columns.some(e => e.attribute === 'user_id')"
        prop="config.columns"
      />
    </template>
    <el-table :data="model.config.columns" :stripe="true">
      <el-table-column :label="$t('Imports_Label_Column')">
        <template slot-scope="scope">
          <div>
            {{ model.config.columns[scope.$index].name }}
          </div>
        </template>
      </el-table-column>

      <el-table-column :label="$t('Imports_Label_Sample')">
        <template slot-scope="scope">
          <div>
            {{ model.config.columns[scope.$index].sample }}
          </div>
        </template>
      </el-table-column>

      <el-table-column :label="$t('Imports_Label_MapTo')">
        <template slot-scope="scope">
          <el-select
            v-model="model.config.columns[scope.$index].attribute"
            @change="addAttr"
            :placeholder="$t('Imports_Text_DontImport')"
            filterable
            remote
            :remote-method="fetchAttributesRemote"
            @visible-change="selectVisibleChange"
          >
            <el-option :value="null">
              {{ $t('Imports_Text_DontImport') }}
            </el-option>
            <el-option-group :label="$t('Imports_Text_StandardAttributes')">
              <el-option
                v-for="(item, index) in standardAttributes.filter(
                  opt => !data.includes(opt)
                )"
                :key="index"
                :label="item"
                :value="item"
              />
            </el-option-group>

            <el-option-group :label="$t('Imports_Text_CustomAttributes')">
              <el-option
                v-for="(item, index) in steps[1].props.attributes.filter(
                  opt => !data.includes(opt.name)
                )"
                :key="index"
                :label="item.name"
                :value="item.name"
              />
            </el-option-group>
          </el-select>
          <p
            v-if="!model.config.columns[scope.$index].attribute"
            class="error-field"
          >
            {{ model.config.columns[scope.$index].name }}
            {{ $t('Imports_Text_AttributeNotRecognized') }}
          </p>
        </template>
      </el-table-column>
    </el-table>
  </form-section>
</template>

<script>
import FormSection from '@/common/components/form/FormSection'
import RestFormItem from '@/common/components/rest/RestFormItem'
import RestApi from '@/core/services/RestApi'
import { projectEndpoint } from '@/core/helpers'
import _ from 'lodash'

export default {
  name: 'StepImportDataMapping',

  components: {
    FormSection,
    RestFormItem
  },

  props: {
    steps: {
      type: Array,
      required: true
    },

    model: {
      type: Object,
      required: true
    },

    isEdit: {
      type: Boolean,
      default: false,
      required: false
    }
  },

  data() {
    return {
      uploadProps: ['file_id'],
      fsProps: [
        'integration_id',
        'file_directory',
        'file_name',
        'file_selection'
      ],
      data: [],
      oldAttr: [],
      search: ''
    }
  },

  mounted() {
    this.clearModelForType()
    this.findDefaultAttrsCols()
    this.toggleStep()
    if (this.$route.name === 'ImportCreate') {
      if (this.stepIsCompleted === false) {
        this.$message({
          message: this.$t('Imports_Message_IdNotAssigned'),
          type: 'error'
        })
      }
    }
  },

  watch: {
    data: {
      handler: function(value) {
        this.$emit('input', value)
      },
      deep: true
    },
    stepIsCompleted(newValue) {
      this.toggleStep()
      if (newValue === false) {
        this.$message({
          message: this.$t('Imports_Message_IdRequired'),
          type: 'error'
        })
      }
    }
  },

  computed: {
    standardAttributes() {
      if (this.search === '') {
        return this.steps[1].props.filterableAttributes
      } else {
        return this.steps[1].props.filterableAttributes.filter(e =>
          e.includes(this.search)
        )
      }
    },

    attributesEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `tags`
      })
    },

    stepIsCompleted() {
      return this.model.config.columns.some(
        e =>
          e.attribute &&
          e.attribute !== '' &&
          e.attribute !== null &&
          e.attribute === 'user_id'
      )
    }
  },

  methods: {
    clearModelForType() {
      switch (this.model.source.type) {
        case 'upload':
          this.clearModelSchedule()
          this.clearModelSource(this.uploadProps)
          break
        case 'fs':
          this.clearModelSource(this.fsProps)
          break
      }
    },

    clearModelSource(propsArray) {
      for (const key in this.model.source) {
        if (!propsArray.includes(key) && key !== 'type') {
          this.$delete(this.model.source, key)
        }
      }
    },

    clearModelSchedule() {
      if (this.model.hasOwnProperty('schedule')) {
        this.$delete(this.model, 'schedule')
      }
    },

    findDefaultAttrsCols() {
      let attrs = this.steps[1].props.attributes
      let filterableAttributes = this.steps[1].props.filterableAttributes
      this.model.config.columns.forEach(col => {
        if (attrs.findIndex(e => e.name === col.attribute) >= 0) {
          let attrName = attrs.find(e => e.name === col.attribute).name
          this.data.push(attrName)
        } else {
          let findAttr = this.fetchAttr(col.name)
          findAttr.then(({ data }) => {
            if (data.length > 0) {
              let newAttr = data.find(e => e.name === col.name)
              if (newAttr) {
                this.$set(col, 'attribute', col.name)
                this.data.push(col.name)
                this.steps[1].props.attributes.push(newAttr)
              }
            }
          })
        }

        if (filterableAttributes.findIndex(e => e === col.attribute) >= 0) {
          let attrName = filterableAttributes.find(e => e === col.attribute)
          this.data.push(attrName)
        }
      })
    },

    fetchAttr(attr) {
      return RestApi({
        ...this.attributesEndpoint,
        params: {
          title: attr
        }
      })
    },

    addAttr(attr) {
      let oldIndexAttr = null
      for (let i = 0; i < this.oldAttr.length; i++) {
        if (
          JSON.stringify(this.oldAttr[i]) !==
          JSON.stringify(this.model.config.columns[i])
        ) {
          oldIndexAttr = this.data.findIndex(
            e => e === this.oldAttr[i].attribute
          )
          if (
            this.model.config.columns[i].attribute !== undefined &&
            oldIndexAttr > -1
          ) {
            if (attr === null) {
              this.data.splice(oldIndexAttr, 1)
            } else {
              this.data[oldIndexAttr] = this.model.config.columns[i].attribute
            }
          }
        }
      }
      if (attr !== null) {
        let oldDataIndexAttr = this.data.findIndex(e => e === attr)
        if (oldDataIndexAttr < 0) {
          this.data.push(attr)
        }
      }
    },

    selectVisibleChange(open) {
      if (open) {
        Object.assign(this.oldAttr, _.cloneDeep(this.model.config.columns))
      } else {
        this.oldAttr = []
      }
      this.search = ''
    },

    fetchAttributesRemote(query) {
      this.search = query

      let params = { sort: 'title' }

      params.attribute_profile = 1

      if (query !== null && query !== '') {
        params.title = query
      }

      RestApi({
        ...this.attributesEndpoint,
        params: params
      })
        .then(({ data }) => {
          this.steps[1].props.attributes = data
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
    },

    toggleStep() {
      this.$emit('can-continue', { value: this.stepIsCompleted })
    }
  }
}
</script>

<style scoped>
.error-field {
  font-size: 12px;
  line-height: 2;
  padding-top: 4px;
}
</style>
