<template>
  <el-form-item
    :prop="prop"
    :label="label"
    :rules="rules"
    :error="error"
    :class="{ 'no-description': !description }"
  >
    <div v-if="description" class="description">
      {{ description }}
    </div>

    <slot></slot>

    <div v-if="hint" class="hint">
      {{ hint }}
    </div>
  </el-form-item>
</template>

<script>
export default {
  name: 'FormItem',

  props: {
    prop: {
      type: String,
      required: false
    },

    label: {
      type: String,
      required: false
    },

    description: {
      type: String,
      required: false
    },

    hint: {
      type: String,
      required: false
    },

    rules: {
      type: Object,
      required: false
    },

    error: {
      type: String,
      required: false
    }
  }
}
</script>

<style scoped>
>>> .el-form-item__label {
  color: #5c6374;
  font-size: 14px;
}

>>> .el-form-item__content {
  line-height: unset;
}

.description {
  color: #7e8596;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 8px;
}

.hint {
  color: #7e8596;
  font-size: 12px;
  line-height: 18px;
  margin-top: 8px;
}

.no-description >>> .el-radio-group {
  margin-top: 8px;
}

.no-description >>> .el-radio-group.is-bordered {
  margin-top: 0;
}
</style>
