<template>
  <div class="form-item-group">
    <div v-if="title" class="title">
      {{ title }}
    </div>

    <div v-if="description" class="description">
      {{ description }}
    </div>

    <div class="content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FormItemGroup',

  props: {
    title: {
      type: String,
      required: false
    },

    description: {
      type: String,
      required: false
    }
  }
}
</script>

<style scoped>
.form-item-group {
  margin-bottom: 20px;
}

.title {
  color: #4b515f;
  font-size: 16px;
}

.description {
  color: #5c6374;
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}

.content {
  margin-top: 12px;
}

>>> .el-form-item .el-form-item__label {
  color: #7e8596;
}
</style>
