<template>
  <el-card class="form-section" shadow="never">
    <form-section-header
      v-if="title || description"
      :title="title"
      :description="description"
    >
      <template slot="controls">
        <slot name="controls"></slot>
      </template>
    </form-section-header>

    <div class="content">
      <slot></slot>
    </div>
  </el-card>
</template>

<script>
import FormSectionHeader from '@/common/components/form/FormSectionHeader'

export default {
  name: 'FormSection',
  components: { FormSectionHeader },
  props: {
    title: {
      type: String,
      required: false
    },

    description: {
      type: String,
      required: false
    }
  }
}
</script>

<style scoped>
.form-section {
  border: 1px solid #dbdee7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  margin-bottom: 20px;
}
</style>
