<template>
  <div class="form-section-header">
    <div class="info">
      <div class="title">
        {{ title }}
      </div>

      <div class="description" v-if="description">
        {{ description }}
      </div>
    </div>

    <div class="controls">
      <slot name="controls" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'FormSectionHeader',

  props: {
    title: {
      type: String,
      required: true
    },

    description: {
      type: String,
      required: false
    }
  }
}
</script>

<style scoped>
.form-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #4b515f;
}

.description {
  color: #7e8596;
  margin-top: 14px;
  font-size: 12px;
}

.controls {
  white-space: nowrap;
  padding-left: 20px;
}

.controls > * {
  margin-right: 20px;
}

.controls > *:last-child {
  margin-right: 0;
}
</style>
