<template>
  <div>
    <rest-form-item :label="$t('ChannelConfig_Mobivate_User')" prop="user">
      <el-input
        v-model="model.params.user"
        :placeholder="$t('ChannelConfig_Mobivate_User_Placeholder')"
      />
    </rest-form-item>
    <rest-form-item
      :label="$t('ChannelConfig_Mobivate_Password')"
      prop="password"
    >
      <el-input
        v-model="model.params.password"
        :placeholder="$t('ChannelConfig_Mobivate_Password_Placeholder')"
      />
    </rest-form-item>
    <rest-form-item :label="$t('ChannelConfig_Mobivate_Route')" prop="route">
      <el-input
        v-model="model.params.route"
        :placeholder="$t('ChannelConfig_Mobivate_Route_Placeholder')"
      />
    </rest-form-item>
  </div>
</template>

<script>
import RestFormItem from '@/common/components/rest/RestFormItem'

export default {
  components: { RestFormItem },
  props: {
    model: {
      type: Object,
      required: true
    }
  },

  created() {
    if (!this.$route.query.id) {
      this.$set(this.model, 'type', 'sms')
      this.$set(this.model, 'channel', 'mobivate')
      this.$set(this.model, 'params', {})
    }
  }
}
</script>
