<template>
  <page-section :title="$t('Profiles_Devices_Title_CustomAttributes')">
    <el-button
      v-if="!readonly"
      slot="controls"
      type="primary"
      icon="el-icon-circle-plus"
      @click="addRow"
    >
      {{ $t('Profiles_Button_CreateAttribute') }}
    </el-button>

    <rest-list-editable
      :payload="fetchEndpoint"
      :add-endpoint="addEndpoint"
      :update-endpoint="updateEndpoint"
      ref="rest-list"
    >
      <rest-list-column
        prop="name"
        :title="$t('ProfileAttributes_Attribute_Name')"
        :min-width="180"
        :editable="true"
      >
        <template slot="input-edit" slot-scope="{ model }">
          <el-select
            :disabled="!model.new"
            v-model="model.tag"
            value-key="name"
            filterable
            remote
            :placeholder="autocompletePlaceholder"
            :remote-method="autocompleteSearch"
            :loading="searching"
            @change="setTagId(model.tag)"
            @focus="autocompleteSearch()"
          >
            <el-option
              v-for="item in options"
              :key="item.name"
              :label="item.title || item.name"
              :value="item"
            />
          </el-select>
        </template>
      </rest-list-column>

      <rest-list-column
        prop="value"
        :title="$t('ProfileAttributes_Field_Value')"
        :min-width="180"
        :editable="true"
        :formatter="personalDataFormatter"
      />

      <rest-list-column-date
        prop="update_time"
        :title="$t('ProfileAttributes_Field_UpdateTime')"
      />

      <rest-list-column-actions :editable="true" v-if="!readonly">
        <template slot-scope="scope">
          <rest-list-action-delete :endpoint="deleteEndpoint(scope.row)" />
        </template>
      </rest-list-column-actions>
    </rest-list-editable>
  </page-section>
</template>

<script>
import PageSection from '@/common/components/page/PageSection'
import RestListColumn from '@/common/components/rest/RestListColumn'
import RestListColumnDate from '@/common/components/rest/RestListColumnDate'
import { projectEndpoint } from '@/core/helpers'
import RestListEditable from '@/common/components/rest/RestListEditable'
import RestListColumnActions from '@/common/components/rest/RestListColumnActions'
import RestListActionDelete from '@/common/components/rest/RestListActionDelete'
import memoize from 'memoizee'
import RestApi from '@/core/services/RestApi'

const fetchAttributes = memoize(
  (queryString, deviceID) =>
    RestApi(
      projectEndpoint({
        method: 'get',
        url: `attributes`,
        params: {
          name: queryString,
          attribute_client: 1,
          exclude_assigned_to_device: deviceID
        }
      })
    ).then(({ data }) => data),
  {
    promise: true,
    maxAge: 10000
  }
)

export default {
  name: 'DeviceAttributesList',

  components: {
    RestListActionDelete,
    RestListColumnActions,
    RestListEditable,
    PageSection,
    RestListColumn,
    RestListColumnDate
  },

  props: {
    readonly: {
      type: Boolean,
      required: true
    },

    deviceId: {
      required: true
    }
  },

  data() {
    return {
      options: [],
      searching: false,
      suggestionsListLength: 1
    }
  },

  computed: {
    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `devices/${this.deviceId}/attributes`,
        params: {
          sort: 'name'
        }
      })
    },
    addEndpoint() {
      return projectEndpoint({
        method: 'post',
        url: `devices/${this.deviceId}/attributes`
      })
    },
    autocompletePlaceholder() {
      if (this.suggestionsListLength < 1) {
        return this.$t('Profiles_Text_AttributesNotAvailable')
      }
      return this.$t('Profiles_Text_SelectAttribute')
    }
  },

  methods: {
    updateEndpoint(row) {
      return projectEndpoint({
        method: 'patch',
        url: `devices/${this.deviceId}/attributes/${row.tag.name}`
      })
    },

    deleteEndpoint(row) {
      return projectEndpoint({
        method: 'delete',
        url: `devices/${this.deviceId}/attributes/${row.tag.name}`
      })
    },

    addRow() {
      this.$refs['rest-list'].addRow({
        new: true,
        device_id: this.deviceId,
        tag: {}
      })
    },

    personalDataFormatter(value) {
      if (!value) {
        return '-'
      } else if (this.$can('UserData::PersonalDataAccess')) {
        return value
      } else {
        return '******'
      }
    },

    setTagId(tag) {
      const restList = this.$refs['rest-list']
      restList.editableData[restList.index].tag_id = tag.id
    },
    autocompleteSearch(queryString) {
      const model = this.$refs['rest-list'].editableRow
      this.searching = true
      fetchAttributes(queryString, this.deviceId).then(data => {
        this.suggestionsListLength = data.length
        this.options = data
          .filter(item => {
            if (item.name === model.tag.name && item.name === queryString) {
              return
            }
            return item
          })
          .reduce((arr, tag) => {
            arr.push({ id: `${tag.id}`, name: tag.name, title: tag.title })
            return arr
          }, [])
          .sort(function(a, b) {
            var textA = a.name.toUpperCase()
            var textB = b.name.toUpperCase()
            return textA < textB ? -1 : textA > textB ? 1 : 0
          })
        this.searching = false
      })
    }
  }
}
</script>
