<template>
  <div v-if="isActive">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'Tab',
  props: ['name', 'icon'],
  data() {
    return {
      isActive: false
    }
  }
}
</script>
