<template>
  <div>
    <div class="tabs-header">
      <div
        v-for="tab in tabs"
        class="item"
        :class="{ active: isTabActive(tab.name) }"
        @click="selectTab(tab.name)"
      >
        <i :class="tab.icon"></i>
      </div>
    </div>

    <div class="tabs-content">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Tabs',
  props: ['default'],

  data() {
    return {
      activeTab: '',
      tabs: []
    }
  },

  mounted() {
    this.tabs = this.$children

    if (this.default) {
      this.selectTab(this.default)
    } else if (this.tabs.length) {
      this.selectTab(this.tabs[0].name)
    }
  },

  methods: {
    isTabActive: function(tabName) {
      return this.activeTab === tabName
    },

    selectTab: function(tabName) {
      this.activeTab = tabName

      this.tabs.forEach(tab => {
        tab.isActive = tab.name === tabName
      })
    }
  }
}
</script>

<style scoped>
.tabs-header {
  text-align: center;
}

.tabs-header .item {
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  display: inline-block;
  padding: 0 10px;
  border: 1px solid #c2c4c6;
  height: 32px;
  line-height: 32px;
  font-size: 22px;
  color: #82858b;
  overflow: hidden;
}

.tabs-header .item:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.tabs-header .item:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tabs-header .item:not(:last-child) {
  border-right: 0;
}

.tabs-header .item.active {
  background-color: #32404d !important;
  color: #fff !important;
  border-color: #4b5364;
}
</style>
