<template>
  <div>
    <el-col :span="colSpan">
      <el-card @click.native="showIntegrationPopup">
        <el-tag
          v-if="connectionsNumber > 0"
          class="tag-status"
          type="success"
          effect="plain"
        >
          {{
            $t('Integrations_Text_NumberConfiguredConnections', {
              number: connectionsNumber
            })
          }}
        </el-tag>

        <div class="card-container">
          <img
            :style="customImageStyles"
            class="card-image"
            :src="integration.image"
          />
        </div>

        <div class="card-content">
          <span class="card-title">{{ $t(integration.title) }}</span>
          <span class="card-description">
            <overflow-tooltip :value="$t(integration.category)" />
          </span>
        </div>
      </el-card>
    </el-col>

    <integration-popup
      ref="IntegrationPopup"
      :integration="integration"
      :connections-number="connectionsNumber"
      @on-request-success="showIntegrationRequestedPopup"
    />

    <integration-requested-popup
      ref="IntegrationRequestedPopup"
      :integration="integration"
    />
  </div>
</template>

<script>
import IntegrationPopup from '@/modules/integrations/components/IntegrationPopup'
import IntegrationRequestedPopup from '@/modules/integrations/components/IntegrationRequestedPopup'
import OverflowTooltip from '@/common/components/form/OverflowTooltip'
import RestApi from '@/core/services/RestApi'
import { projectEndpoint } from '@/core/helpers'

export default {
  name: 'IntegrationCard',

  components: {
    IntegrationPopup,
    IntegrationRequestedPopup,
    OverflowTooltip
  },

  props: {
    integration: {
      type: Object,
      required: true
    },

    customImageStyles: {
      type: Object,
      required: false
    }
  },

  data() {
    return {
      windowWidth: window.innerWidth,
      connectionsNumber: 0
    }
  },

  mounted() {
    window.addEventListener('resize', () => {
      this.windowWidth = window.innerWidth
    })

    if (this.fetchEndpoint) {
      RestApi(this.fetchEndpoint).then(({ data }) => {
        this.connectionsNumber = Object.keys(data).length
      })
    }
  },

  computed: {
    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `integrations`,
        params: {
          type: this.integration.type
        }
      })
    },

    colSpan() {
      return this.windowWidth <= 1500 ? 6 : 4
    }
  },

  methods: {
    showIntegrationPopup() {
      this.$refs.IntegrationPopup.show()
    },

    showIntegrationRequestedPopup() {
      this.$refs.IntegrationRequestedPopup.show()
    }
  }
}
</script>

<style scoped>
>>> .el-card {
  margin-bottom: 16px;
  flex-grow: 1;
  border: 1px solid #dbdee7;
}

>>> .el-card:hover {
  box-shadow: rgba(67, 90, 111, 0.3) 0px 0px 1px,
    rgba(67, 90, 111, 0.47) 0px 8px 10px -4px;
  transform: translateY(-2px);
  cursor: pointer;
}

>>> .el-card__body {
  padding: 0;
}

.card-container {
  height: 190px;
  width: 100%;
  background: #f5f7fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image {
  max-width: 90%;
  max-height: 100%;
}

.card-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 8px;
}

.card-description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #808080;
}

.tag-status {
  position: absolute;
  margin-top: 10px;
  margin-left: 9px;
  font-weight: 600;
  font-size: 10px;
}
</style>
