<template>
  <el-dropdown trigger="click" @command="handleCommand">
    <el-button type="primary" class="dropdown-button" :loading="loading">
      {{ $t('Integrations_Button_Actions') }}
      <i class="dropdown-icon el-icon-arrow-down el-icon--right"></i>
    </el-button>

    <el-dropdown-menu>
      <el-dropdown-item
        v-for="(action, index) in integration.actions"
        :key="index"
        :icon="action.icon"
        :command="{ type: 'action', index }"
      >
        {{ $t(action.label) }}
      </el-dropdown-item>

      <el-dropdown-item
        v-if="model.active && updateEndpoint"
        icon="el-icon-turn-off"
        :command="{ type: 'toggle' }"
      >
        {{ $t('Integrations_Button_Deactivate') }}
      </el-dropdown-item>

      <el-dropdown-item
        v-else-if="!model.active && updateEndpoint"
        icon="el-icon-open"
        :command="{ type: 'toggle' }"
      >
        {{ $t('Integrations_Button_Activate') }}
      </el-dropdown-item>

      <el-dropdown-item
        v-if="deleteEndpoint"
        icon="el-icon-delete"
        :command="{ type: 'delete' }"
      >
        {{ $t('Integrations_Button_Delete') }}
      </el-dropdown-item>
    </el-dropdown-menu>

    <div
      v-for="(action, index) in integration.actions"
      :key="index"
      :is="action.dialog"
      :model="model"
      :ref="`action_${index}_dialog`"
    ></div>
  </el-dropdown>
</template>

<script>
import RestApi from '@/core/services/RestApi'
import { projectEndpoint, projectRoute } from '@/core/helpers'

export default {
  name: 'IntegrationActionsDropdown',

  props: {
    integration: {
      type: Object,
      required: true
    },

    model: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      loading: false
    }
  },

  computed: {
    deleteEndpoint() {
      return projectEndpoint({
        method: 'delete',
        url: `integrations/${this.model.id}`
      })
    },

    updateEndpoint() {
      return projectEndpoint({
        method: 'patch',
        url: `integrations/${this.model.id}`
      })
    }
  },

  methods: {
    handleCommand(command) {
      switch (command.type) {
        case 'delete':
          this.confirmDelete()
          break
        case 'toggle':
          this.confirmStatusChange()
          break
        case 'action':
          this.showActionDialog(command.index)
          break
      }
    },

    confirmDelete() {
      this.$msgbox({
        title: this.$t('Integrations_DialogDelete_Title'),
        message: this.$t('Integrations_DialogDelete_Prompt'),
        showCancelButton: true,
        confirmButtonText: this.$t('Integrations_Button_Confirm'),
        cancelButtonText: this.$t('Integrations_Button_Cancel'),
        center: true
      }).then(() => {
        this.loading = true
        RestApi(this.deleteEndpoint)
          .then(() => {
            this.$message({
              message: this.$t('Integrations_Message_DeleteSuccess'),
              type: 'success'
            })

            this.loading = false

            this.$router.push(
              projectRoute({
                name: 'IntegrationsList'
              })
            )
          })
          .catch(error => {
            this.$message({
              message: error.message,
              type: 'error'
            })
            this.loading = false
          })
      })
    },

    confirmStatusChange() {
      this.$msgbox({
        title: this.model.active
          ? this.$t('Integrations_DialogDeactivate_Title')
          : this.$t('Integrations_DialogActivate_Title'),
        message: this.model.active
          ? this.$t('Integrations_DialogDeactivate_Prompt')
          : this.$t('Integrations_DialogActivate_Prompt'),
        showCancelButton: true,
        confirmButtonText: this.$t('Integrations_Button_Confirm'),
        cancelButtonText: this.$t('Integrations_Button_Cancel'),
        center: true
      }).then(() => {
        this.loading = true
        let newStatus = !this.model.active
        RestApi({
          ...this.updateEndpoint,
          ...{ data: { active: newStatus } }
        })
          .then(() => {
            this.model.active = newStatus
            this.$emit('update')
            this.$message({
              message: newStatus
                ? this.$t('Integrations_Message_ActivateSuccess')
                : this.$t('Integrations_Message_DeactivateSuccess'),
              type: 'success'
            })
            this.loading = false
          })
          .catch(error => {
            this.$message({
              message: error.message,
              type: 'error'
            })
            this.loading = false
          })
      })
    },

    showActionDialog(index) {
      this.$refs['action_' + index + '_dialog'][0].show()
    }
  }
}
</script>

<style scoped>
.dropdown-button {
  padding-left: 20px;
  padding-right: 10px;
}
.dropdown-icon {
  margin-left: 10px;
}
>>> .el-dropdown-menu__item i {
  margin-right: 15px;
}
</style>
