<template>
  <rest-form
    ref="form"
    :save-endpoint="saveEndpoint"
    :model="model"
    :rules="rules"
    :validate-on-rule-change="false"
    :disabled="readonly"
    v-if="model"
  >
    <component
      ref="settings"
      :is="integration.components.settings"
      :model="model"
    />
  </rest-form>
</template>

<script>
import RestForm from '@/common/components/rest/RestForm'

export default {
  name: 'IntegrationSettingsForm',

  components: { RestForm },

  data() {
    return {
      rules: {}
    }
  },

  props: {
    integration: {
      type: Object,
      required: true
    },

    model: {
      type: Object,
      required: true
    },

    saveEndpoint: {
      type: Object,
      required: true
    }
  },

  mounted() {
    this.rules = this.$refs['settings'].rules
  },

  methods: {
    save() {
      return this.$refs['form'].save()
    }
  },

  computed: {
    readonly() {
      return !this.$can('manageProjectTechnical')
    }
  }
}
</script>
