<template>
  <el-dialog
    :visible.sync="display"
    width="30%"
    :modal-append-to-body="false"
    center
  >
    <div class="logo">
      <img class="image" :src="imagePath" />
    </div>

    <p class="description">
      {{ $t(integration.description) }}
    </p>

    <p class="active-connections" v-if="connectionsNumber > 0">
      <router-link :to="createdConnectionsRoute">
        {{
          $t('Integrations_Text_NumberIntegrationsAlreadyConfigured', {
            number: connectionsNumber
          })
        }}
      </router-link>
    </p>

    <span
      slot="footer"
      class="dialog-footer"
      v-if="showRequestButton || showConnectButton"
    >
      <el-button v-if="showConnectButton" type="primary" @click="goToCreate">
        {{ connectButtonLabel }}
      </el-button>

      <el-button
        v-if="showRequestButton"
        type="primary"
        @click="requestConnection"
        :loading="loading"
      >
        {{ requestButtonLabel }}
      </el-button>
    </span>
  </el-dialog>
</template>

<script>
import RestApi from '@/core/services/RestApi'
import { projectRoute, projectEndpoint } from '@/core/helpers'

export default {
  name: 'IntegrationPopup',

  props: {
    integration: {
      type: Object,
      required: true
    },
    connectionsNumber: {
      required: true
    }
  },

  data() {
    return {
      display: false,
      loading: false
    }
  },

  computed: {
    createdConnectionsRoute() {
      return projectRoute({
        name: 'IntegrationsList',
        query: {
          type: this.integration.type
        }
      })
    },

    createRoute() {
      return projectRoute({
        name: 'IntegrationCreate',
        query: { type: this.integration.type }
      })
    },

    imagePath() {
      return this.integration.image
    },

    showConnectButton() {
      if (this.integration.requiresAdmin && !this.$isRole('admin')) {
        return false
      }

      return this.$can('manageProjectTechnical')
    },

    showRequestButton() {
      return (
        this.integration.requiresAdmin &&
        !this.$isRole('admin') &&
        this.$can('manageProjectTechnical')
      )
    },

    connectButtonLabel() {
      return this.connectionsNumber > 0
        ? this.$t('Integrations_Button_ConnectNew')
        : this.$t('Integrations_Button_Connect')
    },

    requestButtonLabel() {
      if (this.loading) {
        return this.$t('Integrations_Button_Requesting')
      }

      return this.connectionsNumber > 0
        ? this.$t('Integrations_Button_RequestNew')
        : this.$t('Integrations_Button_Request')
    }
  },

  methods: {
    show() {
      this.display = true
    },

    hide() {
      this.display = false
    },

    goToCreate() {
      this.$router.push(this.createRoute)
    },

    requestConnection() {
      this.startLoading()
      RestApi(
        projectEndpoint({
          method: 'post',
          url: `integrations/request`,
          params: {
            type: this.integration.type
          }
        })
      )
        .then(() => {
          this.stopLoading()
          this.hide()
          this.$emit('on-request-success')
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: 'error'
          })
          this.stopLoading()
          this.hide()
        })
    },

    startLoading() {
      this.loading = true
    },

    stopLoading() {
      this.loading = false
    }
  }
}
</script>

<style scoped>
.logo {
  margin: auto;
  height: 160px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 90%;
  max-height: 100%;
}

.description {
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: #808080;
  word-break: break-word;
}

.active-connections {
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: #808080;
  margin-top: 16px;
}
</style>
