<template>
  <page layout="tabbed">
    <page-header-new :title="$t('Audiences_Title')" :breadcrumbs="breadcrumbs">
      <template slot="actions" v-if="!readonly">
        <el-button
          @click="createUserListDialog"
          type="primary"
          icon="el-icon-plus"
          v-if="currentRoute === 'AudienceUserList'"
        >
          {{ $t('Lists_CreateUserList') }}
        </el-button>

        <router-link
          :to="segmentCreateRoute"
          v-if="currentRoute === 'AudienceSegmentList'"
        >
          <el-button
            type="primary"
            icon="el-icon-plus"
            v-if="currentRoute === 'AudienceSegmentList'"
          >
            {{ $t('Audience_Segment_Create_Button') }}
          </el-button>
        </router-link>

        <el-button
          @click="createSuppressionListDialog"
          type="primary"
          icon="el-icon-plus"
          v-if="currentRoute === 'AudienceSuppressionList'"
        >
          {{ $t('Lists_CreateSuppressionList') }}
        </el-button>

        <el-button
          v-if="currentRoute === 'AudienceAutomationsList'"
          @click="$router.push(automationCreateRoute)"
          type="primary"
          icon="el-icon-plus"
        >
          {{ $t('Automations_Button_CreateAutomation') }}
        </el-button>
      </template>
    </page-header-new>
    <page-tabs :tabs="availableTabs"></page-tabs>
  </page>
</template>

<script>
import PageHeaderNew from '@/common/components/page/PageHeaderNew'
import Page from '@/common/components/page/Page'
import PageTabs from '@/common/components/page/PageTabs'
import { projectRoute } from '@/core/helpers'
import { EventBus } from '@/core/EventBus'

export default {
  name: 'Audiences',
  components: { PageTabs, PageHeaderNew, Page },
  data() {
    return {}
  },
  methods: {
    createSuppressionListDialog() {
      EventBus.$emit('create-suppression-list')
    },
    createUserListDialog() {
      EventBus.$emit('create-user-list')
    }
  },
  computed: {
    segmentCreateRoute() {
      return projectRoute({
        name: 'AudienceSegmentCreate'
      })
    },
    automationCreateRoute() {
      return projectRoute({
        name: 'AudienceAutomationCreate'
      })
    },
    currentRoute() {
      return this.$route.name
    },
    readonly() {
      return !this.$can('createProjectItem')
    },
    availableTabs() {
      let tabs = [
        {
          title: this.$t('Audiences_SegmentListTab'),
          route: projectRoute({ name: 'AudienceSegmentList' })
        },
        {
          title: this.$t('Audiences_UserListTab'),
          route: projectRoute({ name: 'AudienceUserList' })
        },
        {
          title: this.$t('Audiences_SuppressionListTab'),
          route: projectRoute({ name: 'AudienceSuppressionList' })
        }
      ]

      return tabs
    },
    breadcrumbs() {
      return [
        {
          label: 'Data'
        },
        {
          label: 'Audiences'
        }
      ]
    }
  }
}
</script>
