<template>
  <rest-page :fetch-endpoint="fetchEndpoint">
    <template v-if="model">
      <page-header-new :title="title" :breadcrumbs="breadcrumbs">
        <template slot="actions" v-if="!readonly">
          <list-export-button :list-id="listId" />
          <list-import-button :list-id="listId" />
          <el-button @click="addItem" type="primary" icon="el-icon-plus">
            {{ $t('Lists_ListItemsList_Create') }}
          </el-button>
        </template>
      </page-header-new>

      <page-content>
        <rest-list-editable
          ref="items"
          :payload="fetchItemsEndpoint"
          :add-endpoint="rowAddEndpoint"
          :additional-payload="{ list_id: listId }"
        >
          <template>
            <rest-list-column
              prop="value"
              :title="$t('ListItem_Field_Value')"
              :filterable="true"
              :editable="true"
            ></rest-list-column>

            <rest-list-column-actions v-if="!readonly" :editable="true">
              <template slot-scope="scope">
                <rest-list-action-delete
                  :endpoint="rowDeleteEndpoint(scope.row)"
                  :name="scope.row.value"
                />
              </template>
            </rest-list-column-actions>
          </template>
        </rest-list-editable>
      </page-content>
    </template>
  </rest-page>
</template>

<script>
import { projectEndpoint, projectRoute } from '@/core/helpers'
import RestListColumn from '@/common/components/rest/RestListColumn'
import RestListColumnActions from '@/common/components/rest/RestListColumnActions'
import RestListActionDelete from '@/common/components/rest/RestListActionDelete'
import PageHeaderNew from '@/common/components/page/PageHeaderNew'
import PageContent from '@/common/components/page/PageContent'
import RestPage from '@/common/components/rest/RestPage'
import RestListEditable from '@/common/components/rest/RestListEditable'
import ListImportButton from '@/modules/audiences/components/ListImportButton'
import ListExportButton from '@/modules/audiences/components/ListExportButton'

export default {
  components: {
    ListExportButton,
    ListImportButton,
    RestListEditable,
    RestPage,
    PageContent,
    PageHeaderNew,
    RestListColumn,
    RestListColumnActions,
    RestListActionDelete
  },

  props: {
    suppress: {
      type: Number,
      required: true
    }
  },

  data() {
    return {
      model: null
    }
  },

  computed: {
    title() {
      return this.model.name
    },

    breadcrumbs() {
      if (this.suppress) {
        return [
          {
            label: 'Data'
          },
          {
            label: this.$t('Audiences_Breadcrumb_Audiences'),
            route: projectRoute({ name: 'AudienceSuppressionList' })
          },
          {
            label: this.$t('Audiences_Breadcrumb_SuppressionList')
          }
        ]
      } else {
        return [
          {
            label: 'Data'
          },
          {
            label: this.$t('Audiences_Breadcrumb_Audiences'),
            route: projectRoute({ name: 'AudienceUserList' })
          },
          {
            label: this.$t('Audiences_Breadcrumb_UserList')
          }
        ]
      }
    },

    listId() {
      return this.$route.query.list_id
    },

    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `lists/${this.$route.query.list_id}`,
        handler: model => {
          this.model = model
        }
      })
    },

    fetchItemsEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `lists/${this.$route.query.list_id}/items`,
        params: {}
      })
    },

    rowAddEndpoint() {
      return projectEndpoint({
        method: 'post',
        url: `lists/${this.$route.query.list_id}/items`
      })
    },

    readonly() {
      return !this.$can('updateProjectItem')
    }
  },

  methods: {
    addItem() {
      this.$refs['items'].addRow({})
    },

    rowDeleteEndpoint(row) {
      return projectEndpoint({
        method: 'delete',
        url: `lists/${this.$route.query.list_id}/items/${row.value}`
      })
    }
  }
}
</script>
