<template>
  <div>
    <rest-list-editable
      ref="rest-list-editable"
      :payload="fetchEndpoint"
      :update-endpoint="rowUpdateRoute"
      :rules="rules"
    >
      <rest-list-column
        prop="name"
        :title="$t('List_Field_Name')"
        :filterable="true"
        :route="rowViewRoute"
        :editable="true"
      />
      <rest-list-column-enum
        :editable="true"
        prop="identifier"
        :title="$t('List_Field_Identifier')"
        :enum="identifierList"
      />
      <rest-list-column-actions :editable="true" v-if="!readonly">
        <template slot-scope="scope">
          <rest-list-action-view
            :route="rowViewRoute(scope.row)"
            :title="$t('Audiences_UserList_Action_View')"
          />
          <rest-list-action-delete
            :endpoint="rowDeleteEndpoint(scope.row)"
            :name="scope.row.name"
          />
        </template>
      </rest-list-column-actions>
    </rest-list-editable>

    <list-create-dialog
      v-if="createPopup"
      :on-close="closeCreatePopup"
      :suppress="suppress"
    ></list-create-dialog>
  </div>
</template>

<script>
import { EventBus } from '@/core/EventBus'
import RestListColumn from '@/common/components/rest/RestListColumn'
import RestListColumnEnum from '@/common/components/rest/RestListColumnEnum'
import RestListActionDelete from '@/common/components/rest/RestListActionDelete'
import RestListColumnActions from '@/common/components/rest/RestListColumnActions'
import { listIdentifierLabel } from '@/modules/audiences/enum/ListRecordEnums'
import { projectEndpoint, projectRoute } from '@/core/helpers'
import { validateIdentifier } from '@/modules/audiences/utils'
import _ from 'lodash'
import RestListEditable from '@/common/components/rest/RestListEditable'
import ListCreateDialog from '@/modules/audiences/components/ListCreateDialog'
import RestListActionView from '@/common/components/rest/RestListActionView'

export default {
  components: {
    RestListActionView,
    ListCreateDialog,
    RestListEditable,
    RestListColumn,
    RestListColumnEnum,
    RestListActionDelete,
    RestListColumnActions
  },

  props: {
    suppress: {
      type: Number,
      required: true
    }
  },

  data() {
    return {
      createPopup: false,
      listIdentifierLabel
    }
  },

  mounted() {
    EventBus.$on(this.createEventName, () => {
      this.openCreatePopup()
    })
  },

  destroyed() {
    EventBus.$off(this.createEventName)
  },

  computed: {
    createEventName() {
      if (this.suppress) {
        return 'create-suppression-list'
      } else {
        return 'create-user-list'
      }
    },

    rules() {
      return {
        identifier: {
          required: true,
          trigger: 'blur'
        },
        name: {
          required: true,
          trigger: 'blur'
        }
      }
    },

    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `lists`,
        params: {
          suppress: this.suppress,
          sort: 'name',
          page: 1
        }
      })
    },

    readonly() {
      return !this.$can('updateProjectItem')
    },

    features() {
      return this.$store.state.app.features || {}
    },

    identifierList() {
      const filtered = Object.keys(this.listIdentifierLabel).filter(key =>
        validateIdentifier(key, this.features)
      )
      return _.pick(this.listIdentifierLabel, filtered)
    }
  },

  methods: {
    rowViewRoute(row) {
      if (this.suppress) {
        return projectRoute({
          name: 'AudienceSuppressionListItems',
          query: { list_id: row.id }
        })
      } else {
        return projectRoute({
          name: 'AudienceUserListItems',
          query: { list_id: row.id }
        })
      }
    },

    rowUpdateRoute(row) {
      return projectEndpoint({
        method: 'patch',
        url: `lists/${row.id}`
      })
    },

    rowDeleteEndpoint(row) {
      return projectEndpoint({
        method: 'delete',
        url: `lists/${row.id}`
      })
    },

    openCreatePopup() {
      this.createPopup = true
    },

    closeCreatePopup() {
      this.createPopup = false
    }
  }
}
</script>
