<template>
  <div>
    <page :loading="isLoading">
      <rest-list :payload="listEndpoint">
        <template>
          <rest-list-column-date
            prop="create_time"
            :title="$t('TaskHistoryList_Field_CreateTime')"
            :width="200"
          />
          <rest-list-column-enum
            prop="identifier"
            :title="$t('Audiences_SegmentEvaluations_TitleCol')"
            :enum="evaluateIdentifierLabel"
          />
          <rest-list-column-enum
            prop="status"
            :title="$t('TaskHistoryList_Field_Status')"
            :enum="statusLabel"
          />
          <rest-list-column-single-action>
            <template slot-scope="scope">
              <i
                class="el-icon-view"
                @click="fetchTaskData(scope.row.id)"
                v-if="
                  scope.row.status === 2 &&
                    (scope.row.identifier === 'segment_count_recipients' ||
                      scope.row.identifier === 'segment_count_channels')
                "
              />
              <i
                class="el-icon-view"
                @click="fetchTaskData(scope.row.id)"
                v-if="
                  scope.row.status === 2 &&
                    scope.row.identifier === 'segment_preview_recipients' &&
                    $can('UserData::PersonalDataAccess')
                "
              />
              <i
                class="el-icon-view"
                @click="fatal = true"
                v-if="scope.row.status === 4"
              />
              <i
                class="el-icon-view"
                @click="error = true"
                v-if="scope.row.status === 3"
              />
              <i
                class="el-icon-download"
                @click="downloadExport(scope.row)"
                v-if="
                  scope.row.status === 2 &&
                    $can('UserData::PersonalDataAccess') &&
                    (scope.row.identifier === 'segment_export_devices' ||
                      scope.row.identifier === 'segment_export_profiles')
                "
              />
            </template>
          </rest-list-column-single-action>
        </template>
      </rest-list>
      <members-preview-list-dialog
        :profile-ids="taskData.resultDetails[0].value.recipients"
        :date="dateCreated"
        v-if="taskData && taskData.identifier === 'segment_preview_recipients'"
      />
      <calculate-size-preview-dialog
        v-if="taskData && taskData.identifier === 'segment_count_recipients'"
        :task-data="taskData"
      />
      <channel-reach-preview-dialog
        v-if="taskData && taskData.identifier === 'segment_count_channels'"
        :task-data="taskData"
      />
      <fatal-dialog v-if="fatal" />
      <error-dialog v-if="error" />
    </page>
  </div>
</template>

<script>
import RestList from '@/common/components/rest/RestList'
import { baseUrl, projectEndpoint } from '@/core/helpers'
import RestListColumnEnum from '@/common/components/rest/RestListColumnEnum'
import RestListColumnDate from '@/common/components/rest/RestListColumnDate'
import {
  evaluateTaskIdentifierLabel as evaluateIdentifierLabel,
  taskStatusEnum as statusEnum,
  taskStatusLabel as statusLabel
} from '@/modules/tasks/enum/TaskRecordEnums'
import RestListColumnSingleAction from '@/common/components/rest/RestListColumnSingleAction'
import MembersPreviewListDialog from '@/modules/audiences/components/MembersPreviewListDialog'
import RestApi from '@/core/services/RestApi'
import { EventBus } from '@/core/EventBus'
import CalculateSizePreviewDialog from '@/modules/audiences/components/CalculateSizePreviewDialog'
import moment from 'moment'
import Page from '@/common/components/page/Page'
import axios from 'axios'
import ChannelReachPreviewDialog from '@/modules/audiences/components/ChannelReachPreviewDialog'
import FatalDialog from '@/modules/audiences/components/FatalDialog'
import ErrorDialog from '@/modules/audiences/components/ErrorDialog'
export default {
  name: 'SegmentEvaluations',
  components: {
    ErrorDialog,
    FatalDialog,
    ChannelReachPreviewDialog,
    Page,
    CalculateSizePreviewDialog,
    MembersPreviewListDialog,
    RestListColumnSingleAction,
    RestList,
    RestListColumnEnum,
    RestListColumnDate
  },
  mounted() {
    EventBus.$on('members-preview-list-close', this.resetTaskData)
    EventBus.$on('close-calculate-size-preview-dialog', this.resetTaskData)
    EventBus.$on('close-channel-reach-preview-dialog', this.resetTaskData)
    EventBus.$on('fatal-ok', () => {
      this.fatal = false
    })
    EventBus.$on('error-ok', () => {
      this.error = false
    })
  },
  destroyed() {
    EventBus.$off('close-calculate-size-preview-dialog')
    EventBus.$off('close-channel-reach-preview-dialog')
    EventBus.$off('fatal-ok')
    EventBus.$off('error-ok')
  },
  data() {
    return {
      statusEnum,
      evaluateIdentifierLabel,
      statusLabel,
      taskData: null,
      isLoading: false,
      fatal: false,
      error: false
    }
  },
  methods: {
    downloadExport(task) {
      let url = `${baseUrl()}file/private/download?id=${task.task.file.id}`
      let label = `${task.task.file.name}.csv`
      axios
        .get(url, { responseType: 'blob' })
        .then(response => {
          const blob = new Blob([response.data], { type: 'text/csv' })
          const link = document.createElement('a')
          link.href = URL.createObjectURL(blob)
          link.download = label
          link.click()
          URL.revokeObjectURL(link.href)
          this.onClose()
        })
        .catch(console.error)
    },
    resetTaskData() {
      this.taskData = false
    },
    taskEndpoint() {
      projectEndpoint({
        method: 'get',
        url: `task-histories/${this.$route.query.id}`
      })
    },
    fetchTaskData(taskId) {
      this.isLoading = true
      RestApi(
        projectEndpoint({
          method: 'get',
          url: `task-histories/${taskId}`
        })
      )
        .then(({ data }) => {
          this.isLoading = false
          this.taskData = data
        })
        .catch(error => {
          this.isLoading = false
          this.$message({
            message: error.message,
            type: 'error'
          })
        })
    }
  },
  computed: {
    dateCreated() {
      return this.taskData
        ? moment(this.taskData.create_time * 1000).format('DD-MMM-YYYY HH:mm')
        : null
    },
    listEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `task-histories`,
        params: {
          sort: '-create_time',
          segment_id: this.$route.query.id
        }
      })
    }
  }
}
</script>
<style scoped>
.el-icon-view,
.el-icon-download {
  cursor: pointer;
}
>>> .el-loading-spinner {
  top: 250px;
}
</style>
