<template>
  <rest-page :fetch-endpoint="fetchEndpoint">
    <conditions-editor
      v-if="model"
      :key="key"
      :preview="true"
      :conditions="model.conditions"
    />
  </rest-page>
</template>

<script>
import ConditionsEditor from '@/modules/audiences/components/ConditionsEditor'
import { projectEndpoint } from '@/core/helpers'
import RestPage from '@/common/components/rest/RestPage'

export default {
  components: { RestPage, ConditionsEditor },

  data() {
    return {
      key: new Date().toTimeString(),
      model: null
    }
  },

  computed: {
    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `segments/${this.$route.query.id}`,
        handler: data => {
          this.model = data
        }
      })
    }
  }
}
</script>
