<template>
  <rest-page :fetch-endpoint="fetchEndpoint" layout="tabbed">
    <page-header-new
      v-if="model"
      :breadcrumbs="breadcrumbs"
      :title="model.name"
      :description="description"
      :icon="integration.image"
      :tag="statusTag"
    >
      <template slot="actions">
        <a
          v-if="integration.urls.guide"
          :href="integration.urls.guide"
          target="_blank"
        >
          <el-button type="primary" plain>
            {{ $t('Integrations_Button_Guide') }}
          </el-button>
        </a>

        <integration-actions-dropdown
          v-if="!readonly"
          :integration="integration"
          :model="model"
        />

        <el-button
          v-if="$route.name === 'IntegrationSettings' && !readonly"
          type="primary"
          @click="saveSettings"
        >
          {{ $t('Integrations_Button_Save') }}
        </el-button>
      </template>
    </page-header-new>

    <page-tabs :tabs="tabs" v-if="model">
      <template slot="router">
        <router-view
          ref="router-component"
          :model="model"
          :model-id="model.id"
          :integration="integration"
        ></router-view>
      </template>
    </page-tabs>
  </rest-page>
</template>

<script>
import RestPage from '@/common/components/rest/RestPage'
import PageTabs from '@/common/components/page/PageTabs'
import PageHeaderNew from '@/common/components/page/PageHeaderNew'
import Integrations from '@/modules/integrations/types'
import IntegrationActionsDropdown from '@/modules/integrations/components/IntegrationActionsDropdown'
import { projectRoute, projectEndpoint } from '@/core/helpers'

export default {
  name: 'IntegrationPage',

  components: {
    RestPage,
    PageTabs,
    PageHeaderNew,
    IntegrationActionsDropdown
  },

  data() {
    return {
      model: null
    }
  },

  computed: {
    breadcrumbs() {
      return [
        {
          label: this.$t('Integrations_Breadcrumb_Settings')
        },
        {
          label: this.$t('Integrations_Breadcrumb_Integrations'),
          route: projectRoute({
            name: 'IntegrationsList'
          })
        },
        {
          label: this.$t('Integrations_Breadcrumb_IntegrationDetails')
        }
      ]
    },

    description() {
      return (
        this.$t(this.integration.category) +
        ' ' +
        this.$t('Integrations_Text_Integration')
      )
    },

    tabs() {
      return [
        {
          title: this.$t('Integrations_Tab_Overview'),
          route: projectRoute({
            name: 'IntegrationOverview',
            query: { id: this.$route.query.id }
          })
        },
        {
          title: this.$t('Integrations_Tab_Settings'),
          route: projectRoute({
            name: 'IntegrationSettings',
            query: { id: this.$route.query.id }
          })
        }
      ]
    },

    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `integrations/${this.$route.query.id}`,
        handler: data => {
          this.model = data
        }
      })
    },

    statusTag() {
      if (this.model.active === true || this.model.active === 1) {
        return {
          type: 'success',
          label: this.$t('Integrations_Field_StatusActive')
        }
      } else {
        return {
          type: 'info',
          label: this.$t('Integrations_Field_StatusInactive')
        }
      }
    },

    integration() {
      return this.model.type ? Integrations[this.model.type] : {}
    },

    readonly() {
      return !this.$can('manageProjectTechnical')
    }
  },

  methods: {
    saveSettings() {
      this.$refs['router-component'].save().then(model => {
        this.model = model
      })
    }
  }
}
</script>
