<template slot="block-content">
  <el-row>
    <integration-card :integration="Integrations.crowdtwist" />
    <integration-card :integration="Integrations.segment" />
    <integration-card :integration="Integrations.optimove" />
    <integration-card :integration="Integrations.activedirectory" />
    <integration-card :integration="Integrations.kochava" />
    <integration-card
      :integration="Integrations.sftp"
      :custom-image-styles="sftpCustomImgStyle"
    />
    <integration-card :integration="Integrations.sbtech" />
  </el-row>
</template>

<script>
import IntegrationCard from '@/modules/integrations/components/IntegrationCard'
import Integrations from '@/modules/integrations/types'

export default {
  name: 'IntegrationsMarketplace',

  components: {
    IntegrationCard
  },

  data() {
    return {
      Integrations,
      sftpCustomImgStyle: {
        maxWidth: '60%',
        marginTop: '40px'
      }
    }
  }
}
</script>
