<template>
  <rest-list :payload="fetchEndpoint" @row-click="rowClick">
    <el-table-column
      :label="$t('Integrations_Field_Integration')"
      class="integration-column"
    >
      <template slot-scope="scope">
        <div class="integration-container">
          <div class="integration-logo">
            <img
              class="integration-logo-image"
              :src="Integrations[scope.row.type].image"
            />
          </div>
          <span class="integration-title">{{ scope.row.name }}</span>
        </div>
      </template>
    </el-table-column>

    <el-table-column
      :label="$t('Integrations_Field_Status')"
      align="center"
      width="200"
    >
      <template slot-scope="scope">
        <el-tag :type="scope.row.active ? 'success' : 'info'" effect="plain">
          {{
            scope.row.active
              ? $t('Integrations_Field_StatusActive')
              : $t('Integrations_Field_StatusInactive')
          }}
        </el-tag>
      </template>
    </el-table-column>
  </rest-list>
</template>

<script>
import RestList from '@/common/components/rest/RestList'
import Integrations from '@/modules/integrations/types'
import { projectEndpoint, projectRoute } from '@/core/helpers'

export default {
  name: 'IntegrationsList',

  components: {
    RestList
  },

  data() {
    return {
      Integrations
    }
  },

  computed: {
    fetchEndpoint() {
      return projectEndpoint({
        method: 'get',
        url: `integrations`,
        params: {
          type: this.$route.query.type
        }
      })
    },

    clickable() {
      return this.$can('viewProjectTechnical')
    }
  },

  methods: {
    rowUpdateRoute(row) {
      return projectRoute({
        name: 'IntegrationOverview',
        query: { id: row.id }
      })
    },

    rowClick(row) {
      if (this.clickable) {
        let route = this.rowUpdateRoute(row)
        this.$router.push(route)
      }
    }
  }
}
</script>

<style scoped>
>>> .el-table__row:hover {
  cursor: pointer;
}

.integration-container {
  display: flex;
  align-items: center;
}

.integration-title {
  margin-left: 20px;
  font-weight: normal;
  font-size: 14px;
}

.integration-logo {
  height: 35px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.integration-logo-image {
  max-width: 90%;
  max-height: 100%;
}
</style>
