<template>
  <rest-page :fetch-endpoint="null">
    <page-header-new
      :breadcrumbs="breadcrumbs"
      :title="title"
      :description="description"
      :icon="integration.image"
    >
      <template slot="actions">
        <a
          v-if="integration.urls.guide"
          :href="integration.urls.guide"
          target="_blank"
        >
          <el-button type="primary" plain>
            {{ $t('Integrations_Button_Guide') }}
          </el-button>
        </a>

        <el-button type="primary" @click="saveIntegration">
          {{ $t('Integrations_Button_Connect') }}
        </el-button>
      </template>
    </page-header-new>

    <page-content>
      <integration-settings-form
        ref="form"
        :model="model"
        :integration="integration"
        :save-endpoint="saveEndpoint"
      ></integration-settings-form>
    </page-content>
  </rest-page>
</template>

<script>
import RestPage from '@/common/components/rest/RestPage'
import PageContent from '@/common/components/page/PageContent'
import PageHeaderNew from '@/common/components/page/PageHeaderNew'
import Integrations from '@/modules/integrations/types'
import IntegrationSettingsForm from '@/modules/integrations/components/IntegrationSettingsForm'
import { projectEndpoint, projectRoute } from '@/core/helpers'

export default {
  name: 'IntegrationCreatePage',

  components: {
    RestPage,
    PageContent,
    PageHeaderNew,
    IntegrationSettingsForm
  },

  data() {
    return {
      model: {
        type: this.$route.query.type,
        project_id: this.$route.query.project_id,
        name: this.$t(Integrations[this.$route.query.type].title),
        params: {},
        active: 1
      }
    }
  },

  methods: {
    saveIntegration() {
      this.$refs['form'].save().then(model => {
        this.$router.push(this.redirectRoute(model))
      })
    },

    redirectRoute(model) {
      return projectRoute({
        name: 'IntegrationOverview',
        query: { id: model.id }
      })
    }
  },

  computed: {
    title() {
      return (
        this.$t('Integrations_Text_Connect') +
        ' ' +
        this.$t(this.integration.title)
      )
    },

    description() {
      return (
        this.$t(this.integration.category) +
        ' ' +
        this.$t('Integrations_Text_Integration')
      )
    },

    breadcrumbs() {
      return [
        {
          label: this.$t('Integrations_Breadcrumb_Settings')
        },
        {
          label: this.$t('Integrations_Breadcrumb_Integrations'),
          route: projectRoute({
            name: 'IntegrationsMarketplace'
          })
        },
        {
          label: this.$t('Integrations_Breadcrumb_ConnectNew')
        }
      ]
    },

    saveEndpoint() {
      return projectEndpoint({
        method: 'post',
        url: `integrations`
      })
    },

    integration() {
      return Integrations[this.$route.query.type]
    }
  }
}
</script>
