<template>
  <div class="inbox-preview-section">
    <tabs>
      <tab v-if="enableWeb" name="web" icon="iconp-Website">
        <div class="message-preview">
          <inbox-message-preview
            :message="message"
            :message-type="messageType"
            :message-style="messageStyle"
            :global-styles="stylesWeb"
          ></inbox-message-preview>
        </div>
      </tab>

      <tab v-if="enableIos" name="ios" icon="iconp-apple">
        <div class="message-preview">
          <inbox-message-preview
            :message="message"
            :message-type="messageType"
            :message-style="messageStyle"
            :global-styles="stylesIos"
          ></inbox-message-preview>
        </div>
      </tab>

      <tab v-if="enableAndroid" name="android" icon="iconp-android-1">
        <div class="message-preview">
          <inbox-message-preview
            :message="message"
            :message-type="messageType"
            :message-style="messageStyle"
            :global-styles="stylesAndroid"
          ></inbox-message-preview>
        </div>
      </tab>
    </tabs>
  </div>
</template>

<script>
import Tab from '@/common/components/tabs/Tab.vue'
import Tabs from '@/common/components/tabs/Tabs.vue'
import InboxMessagePreview from '@/common/components/inbox/InboxMessagePreview'

export default {
  name: 'InboxPreviewSection',
  components: {
    Tab,
    Tabs,
    InboxMessagePreview
  },
  props: {
    platform: String,
    enableWeb: Number,
    enableIos: Number,
    enableAndroid: Number,
    stylesWeb: Object,
    stylesIos: Object,
    stylesAndroid: Object
  },
  data() {
    return {
      message: {},
      messageType: 0,
      messageStyle: {}
    }
  }
}
</script>

<style scoped>
.message-preview {
  width: 300px;
  margin: 25px auto;
}
</style>
