<template>
  <div>
    <router-link
      v-if="item.routeName"
      :to="generateRoute(item.routeName)"
      @click.native="saveActiveIndex(item.index)"
    >
      <el-menu-item
        :class="[
          cssClass,
          $route.name === 'ProjectOverview'
            ? 'activeItemDashboard'
            : ((item.subRouteName && item.subRouteName.includes($route.name)) ||
                item.routeName === $route.name) &&
              item.index !== '1'
            ? 'activeItem'
            : ''
        ]"
        :index="item.index"
      >
        <icon v-if="icon" :glyph="item.icon" size="20" />
        <span slot="title">{{ $t(item.sectionName) }}</span>
      </el-menu-item>
    </router-link>
    <a v-else :href="item.url()">
      <el-menu-item :class="cssClass" :index="item.index">
        <icon v-if="icon" :glyph="item.icon" size="20" />
        <span slot="title">{{ $t(item.sectionName) }}</span>
      </el-menu-item>
    </a>
  </div>
</template>
<script>
export default {
  name: 'LeftNavigationItem',

  props: {
    item: {
      type: Object,
      required: true
    },
    icon: {
      type: Boolean,
      required: false
    },
    cssClass: {
      type: String,
      required: true
    }
  },

  data() {
    return {
      activeItem: ''
    }
  },

  methods: {
    generateRoute(routeName) {
      return {
        name: routeName,
        query: { project_id: this.$store.getters.projectId }
      }
    },

    saveActiveIndex(index) {
      window.sessionStorage.setItem(
        this.$store.getters.projectId + '-active-nav-item',
        index
      )
    },

    setActiveItem() {
      this.activeItem = window.sessionStorage.getItem(
        this.$store.getters.projectId + '-active-nav-item'
      )
    }
  },

  watch: {
    $route: {
      immediate: true,
      handler() {
        this.setActiveItem()
      }
    }
  }
}
</script>
<style scoped>
.dashboard-item {
  color: #ffffff;
  height: 64px;
  line-height: 62px;
}

.dashboard-item span {
  margin-left: 20px;
}

.activeItemDashboard {
  background-color: #115178;
}

.activeItem {
  background-color: #176ca0;
}

.level2 >>> .el-submenu__title {
  height: 48px;
  line-height: 46px;
}

.level2 span {
  padding-left: 45px;
}

.level2 .level3 {
  height: 32px;
  line-height: 30px;
  background-color: #115178;
  user-select: none;
}

.level2 .level3:hover {
  background-color: #1d87c8;
}

.level3 {
  font-size: 12px;
}

.nav-menu-popup-ct .level3 span {
  padding-left: 45px;
}

.level3 span {
  padding-left: 25px;
}
</style>
