<template>
  <div class="top-nav">
    <!-- Left project section -->
    <div v-if="user" class="top-nav-item">
      <project-dropdown v-if="$can('viewProject')" />
    </div>

    <!-- Middle logo section -->
    <div :class="{ 'top-nav-item': true, 'center-logo': !user }">
      <a class="top-nav-logo" href="/">
        <img v-if="providerLogo" :src="providerLogo" />
        <img v-else src="@/img/xtreme-logo-color.svg" />
      </a>
    </div>

    <!-- Right user section -->
    <div class="top-nav-item" v-if="user">
      <user-dropdown />
    </div>
  </div>
</template>

<script>
import ProjectDropdown from '@/common/components/navigation/TopToolbarProjectDropdown'
import UserDropdown from '@/common/components/navigation/TopToolbarUserDropdown'

export default {
  components: {
    ProjectDropdown,
    UserDropdown
  },

  data() {
    return {
      providerLogo: xp.providerLogo // eslint-disable-line
    }
  },

  computed: {
    user() {
      return this.$store.state.app.user
    }
  }
}
</script>

<style scoped>
.top-nav {
  display: flex;
  position: fixed;
  z-index: 2000;
  width: 100%;
  margin: 0;
  background: #1d87c8;
  color: #fff;
  height: 64px;
}

.top-nav-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.top-nav-logo img {
  height: 25px;
}

.top-nav-item {
  display: flex;
}

.top-nav-item:first-child,
.top-nav-item:last-child {
  flex: 1;
}

.center-logo {
  justify-content: center;
}
</style>
