<template>
  <el-row>
    <el-col :span="12">
      <el-form>
        <el-form-item label="Push Notification switch">
          <el-switch v-model="PushNotificationSwitch"></el-switch>
        </el-form-item>
        <el-form-item label="Logo Url">
          <el-input v-model="logoUrl"></el-input>
        </el-form-item>
        <el-form-item label="Position">
          <el-radio-group v-model="position">
            <el-radio label="left">Left</el-radio>
            <el-radio label="right">Right</el-radio>
          </el-radio-group>
        </el-form-item>
        <color-picker-field
          v-model="colors.inbox_background_color"
          label-text="Inbox background"
        />

        <color-picker-field
          v-model="colors.inbox_border_color"
          label-text="Inbox border"
        />
        <color-picker-field
          v-model="colors.header_background_color"
          label-text="Header background"
        />
        <color-picker-field
          v-model="colors.header_border_color"
          label-text="Header Border"
        />
        <color-picker-field
          v-model="colors.header_icon_color"
          label-text="Header Icon"
        />
        <color-picker-field
          v-model="colors.switch_on_color"
          label-text="Switch On"
        />
        <color-picker-field
          v-model="colors.switch_off_color"
          label-text="Header Switch Off"
        />
        <color-picker-field
          v-model="colors.notification_title_color"
          label-text="Message title"
        />
        <color-picker-field
          v-model="colors.header_text_color"
          label-text="Header Text"
        />
        <color-picker-field
          v-model="colors.notification_text_color"
          label-text="Message Text"
        />
        <color-picker-field
          v-model="colors.inbox_separator_color"
          label-text="Inbox separator"
        />
        <color-picker-field
          v-model="colors.notification_date_color"
          label-text="Message Date"
        />
      </el-form>
    </el-col>
    <el-col :span="5">
      <div class="testing-frame">
        <android-inbox-preview
          :logo-url="logoUrl"
          :push-notification-switch="PushNotificationSwitch"
          :position="position"
          :colors="colors"
        ></android-inbox-preview>
      </div>
    </el-col>
  </el-row>
</template>

<script>
import AndroidInboxPreview from '@/modules/settings/components/AndroidInboxPreview'
import ColorPickerField from '@/common/components/form/ColorPickerField'

export default {
  name: 'AndroidInboxPreviewTest',
  components: { AndroidInboxPreview, ColorPickerField },
  data() {
    return {
      logoUrl: 'https://local.xpu.sh/img/powered_by_XP.png',
      PushNotificationSwitch: 1,
      position: 'right',
      colors: {
        inbox_background_color: '#FFFFFF',
        inbox_border_color: '#888888',
        inbox_separator_color: '#F3F3F3',
        header_background_color: '#FFFFFF',
        header_border_color: '#D9D9D9',
        header_icon_color: '#666666',
        header_text_color: '#666666',
        switch_on_color: '#2fa9d6',
        switch_off_color: '#9e9e9e',
        notification_title_color: '#666666',
        notification_text_color: '#666666',
        notification_date_color: '#B7B7B7'
      }
    }
  }
}
</script>

<style scoped>
.testing-frame {
  height: 750px;
  resize: both;
  overflow: hidden;
  width: 420px;
  border: 1px dashed black;
}
</style>
