<template>
  <page-content>
    <email-settings-tab :project-id="1" />
  </page-content>
</template>

<script>
import EmailSettingsTab from '@/modules/settings/components/EmailSettingsTab'
import PageContent from '@/common/components/page/PageContent'
export default {
  name: 'EmailSettingsTabTest',
  components: { PageContent, EmailSettingsTab }
}
</script>

<style scoped></style>
