<template>
  <page-content>
    <enable-channels-tab :project-id="projectId" />
  </page-content>
</template>
<script>
import PageContent from '@/common/components/page/PageContent'
import EnableChannelsTab from '@/modules/settings/components/EnableChannelsTab'
import RestApi from '@/core/services/RestApi'
var MockAdapter = require('axios-mock-adapter')
var mock = new MockAdapter(RestApi)

mock.onGet(/\/projects\/.+/).reply(200, {
  email: 1,
  sms: 0,
  inapp: 1,
  onsite: 0,
  webhook: 1,
  inbox: 0,
  whatsapp: 0,
  facebook: 0
})
mock.onPatch(/\/projects\/.+/).reply(200, {})

export default {
  name: 'EnableChannelsTabTest',
  components: { EnableChannelsTab, PageContent },
  data() {
    return {
      projectId: 'mocked'
    }
  },
  computed: {}
}
</script>

<style scoped></style>
