<template>
  <page-content>
    <div class="testing-frame">
      <EngagementCategoryForm :category-id="1"></EngagementCategoryForm>
    </div>
  </page-content>
</template>

<script>
import PageContent from '@/common/components/page/PageContent'
import RestApi from '@/core/services/RestApi'
import EngagementCategoryForm from '@/modules/settings/components/EngagementCategoryForm'
var MockAdapter = require('axios-mock-adapter')
var mock = new MockAdapter(RestApi)
var respCode = 200
var respBody = {}

mock.onGet(/\/projects\/.+\/segments/).reply(config => {
  respBody = []
  return [respCode, respBody]
})
mock.onGet(/\/projects\/.+\/categories\/.+/).reply(config => {
  respBody = {
    id: 1,
    project_id: 1,
    title: 'test title',
    segment_id: null,
    max_per_day: 2,
    max_per_week: 14,
    max_per_month: 50,
    cooldown_amount: null,
    cooldown_measure: '',
    collapse: 0,
    ignore_subscription: 0,
    apply_across_channels: 1
  }
  return [respCode, respBody]
})
mock.onPatch(/\/projects\/.+\/categories\/.+/).reply(config => {
  respBody = {
    id: 1,
    project_id: 1,
    title: 'saved title',
    segment_id: null,
    max_per_day: 0,
    max_per_week: 14,
    max_per_month: 50,
    cooldown_amount: null,
    cooldown_measure: '',
    collapse: 0,
    ignore_subscription: 0,
    apply_across_channels: 1
  }
  return [respCode, respBody]
})

export default {
  name: 'EngagementCategoryFormTest',
  components: { PageContent, EngagementCategoryForm },
  beforeDestroy: function() {
    mock.restore()
  }
}
</script>

<style scoped>
.testing-frame {
  height: 600px;
  resize: both;
  overflow: hidden;
  width: 550px;
  border: 1px dashed black;
}
</style>
