<template>
  <div class="testing-frame">
    <EngagementRulesAndCategoriesTab></EngagementRulesAndCategoriesTab>
  </div>
</template>

<script>
import RestApi from '@/core/services/RestApi'

import EngagementRulesAndCategoriesTab from '@/modules/settings/components/EngagementRulesAndCategoriesTab'
var MockAdapter = require('axios-mock-adapter')
var mock = new MockAdapter(RestApi, { delayResponse: 50 })
let respBody = {}
let respCode = 200
export default {
  name: 'EngagementRulesAndCategoriesTabTest',
  components: { EngagementRulesAndCategoriesTab },
  mounted() {
    mock.onPatch(/\/projects\/.+/).reply(config => {
      respBody = {}
      respBody = JSON.parse(config.data)
      return [respCode, respBody]
    })
    mock.onGet(/\/projects\/.+\/segments/).reply(config => {
      respBody = []
      return [respCode, respBody]
    })

    mock.onGet(/\/projects\/.+\/categories$/).reply(config => {
      respBody = [
        {
          id: 1,
          project_id: 2,
          title: 'sadasdas',
          segment_id: null,
          max_per_day: 4,
          max_per_week: 5,
          max_per_month: 6,
          cooldown_amount: null,
          cooldown_measure: null,
          collapse: 1,
          ignore_subscription: 0,
          apply_across_channels: 0
        },
        {
          id: 2,
          project_id: 2,
          title: 'test 2',
          segment_id: null,
          max_per_day: null,
          max_per_week: null,
          max_per_month: null,
          cooldown_amount: null,
          cooldown_measure: null,
          collapse: 0,
          ignore_subscription: 0,
          apply_across_channels: 0
        }
      ]

      return [
        respCode,
        respBody,
        {
          'X-Pagination-Current-Page': 1,
          'X-Pagination-Page-Count': 1,
          'X-Pagination-Per-Page': 50,
          'X-Pagination-Total-Count': 1
        }
      ]
    })
    mock.onGet(/\/projects\/.+\/categories\/.+/).reply(config => {
      respBody = {
        id: 1,
        project_id: 1,
        title: 'test title',
        segment_id: null,
        max_per_day: 2,
        max_per_week: 14,
        max_per_month: 50,
        cooldown_amount: null,
        cooldown_measure: '',
        collapse: 0,
        ignore_subscription: 0,
        apply_across_channels: 1
      }
      return [respCode, respBody]
    })

    mock.onGet(/\/projects\/.+/).reply(config => {
      respBody = {
        id: 2,
        name: 'Test 2',
        icon: '',
        timezone: 'Africa/Bamako',
        company_id: 1,
        provider_id: 1,
        apptoken: '7K0qQZb1J-6OnpSnkUtwWTFhvZPBXMJH',
        description: null,
        mobile_api_logs: 0,
        external_api_logs: 0,
        sms: 0,
        email: 0,
        onsite: 0,
        inapp: 0,
        facebook: 0,
        whatsapp: 0,
        webhook: 0,
        broadcast_disabled: 1,
        categories_required: 0,
        device_clearing: 0,
        device_expiry_days: null,
        default_device_expiry_days: { web_activity: '720', web_session: '90' },
        company: { name: 'Xtremepush' },
        provider: { name: 'Xtremepush' },
        region: 'R1',
        applications: []
      }

      return [respCode, respBody]
    })

    mock.onPatch(/\/projects\/.+\/categories\/.+/).reply(config => {
      respBody = {
        id: 1,
        project_id: 1,
        title: 'saved title',
        segment_id: null,
        max_per_day: 0,
        max_per_week: 14,
        max_per_month: 50,
        cooldown_amount: null,
        cooldown_measure: '',
        collapse: 0,
        ignore_subscription: 0,
        apply_across_channels: 1
      }
      return [respCode, respBody]
    })

    mock.onPost(/\/projects\/.+\/categories/).reply(config => {
      respBody = {
        id: 1,
        project_id: 1,
        title: 'test title',
        segment_id: null,
        max_per_day: 2,
        max_per_week: 14,
        max_per_month: 50,
        cooldown_amount: null,
        cooldown_measure: '',
        collapse: 0,
        ignore_subscription: 0,
        apply_across_channels: 1
      }
      return [respCode, respBody]
    })
    mock.onDelete(/\/projects\/.+\/categories/).reply(config => {
      respBody = {}
      return [respCode, respBody]
    })
  }
}
</script>

<style scoped>
.testing-frame {
  min-height: 700px;
  resize: both;
  overflow: hidden;
  width: 1200px;
  border: 1px dashed black;
  padding: 10px;
}
</style>
