<template>
  <inbox-settings-tab />
</template>

<script>
import InboxSettingsTab from '@/modules/settings/components/InboxSettingsTab.vue'
import RestApi from '@/core/services/RestApi'
var MockAdapter = require('axios-mock-adapter')
var mock = new MockAdapter(RestApi)

var resp = {
  logoUrl: '/img/powered_by_XP.png',
  switch: 1,
  position: 'right',
  color: 'light',
  custom_colors: null,
  colors: {
    inbox_background_color: '#FFFFFF',
    inbox_border_color: '#888888',
    inbox_separator_color: '#F3F3F3',
    header_background_color: '#FFFFFF',
    header_border_color: '#D9D9D9',
    header_icon_color: '#666666',
    header_text_color: '#666666',
    switch_on_color: '#2fa9d6',
    switch_off_color: '#9e9e9e',
    notification_title_color: '#666666',
    notification_text_color: '#666666',
    notification_date_color: '#B7B7B7'
  }
}
mock.onGet(/\/projects\/.+\/inbox-settings.+/).reply(200, resp)
mock.onPatch(/\/projects\/.+\/inbox-settings.+/).reply(200, resp)

mock.onGet(/\/projects\/.+\/message-settings/).reply(200, {
  inbox_badge: 2,
  inbox_remove: 1,
  inbox_remove_after: {
    count: 12,
    period: 'days'
  }
})
mock.onPatch(/\/projects\/.+\/message-settings/).reply(200, {})
export default {
  name: 'InboxSettingsTabTest',
  components: { InboxSettingsTab }
}
</script>

<style scoped></style>
