<template>
  <page-content>
    <inbox-message-settings-global :model="model" :project-id="projectId" />
  </page-content>
</template>

<script>
import PageContent from '@/common/components/page/PageContent'
import InboxMessageSettingsGlobal from '@/modules/settings/components/InboxMessageSettingsGlobal'
import RestApi from '@/core/services/RestApi'
var MockAdapter = require('axios-mock-adapter')
var mock = new MockAdapter(RestApi)

mock.onGet(/\/projects\/.+/).reply(200, {
  inbox_badge: 2,
  inbox_remove: 1,
  inbox_remove_after: {
    count: 12,
    period: 'days'
  }
})
mock.onPatch(/\/projects\/.+/).reply(200, {})

export default {
  name: 'InboxMessageSettingsGlobalTest',
  components: { InboxMessageSettingsGlobal, PageContent },
  data() {
    return {
      projectId: 'mocked',
      model: {
        inbox_badge: 0,
        inbox_remove: 0,
        inbox_remove_after: {
          count: 0,
          period: 'days'
        }
      }
    }
  },
  computed: {}
}
</script>

<style scoped></style>
