<template>
  <rest-page
    class="inbox-message-settings-android"
    :fetch-endpoint="fetchEndpoint"
  >
    <el-row>
      <el-col :span="12">
        <el-button-group>
          <el-button
            v-for="device in types"
            :key="device"
            @click="changeDevice(device)"
          >
            {{ device }}
          </el-button>
        </el-button-group>
        <el-row>
          <el-col :span="12">
            <div class="testing-frame">
              <InboxMessageSettingsForm
                :key="selectedType"
                :type="selectedType"
                v-model="model"
                v-if="selectedType"
              ></InboxMessageSettingsForm>
            </div>
          </el-col>
        </el-row>
      </el-col>
      <el-col :span="10">
        <div class="logs-wrap">
          <el-row>
            <el-button @click="logs = []" type="primary">Clear Logs</el-button>
          </el-row>
          <h1>Mocked requests logs</h1>
          <div class="logs">
            <pre v-for="log in logs" :key="log.randomKey">{{ log.msg }}</pre>
          </div>
        </div>
      </el-col>
    </el-row>
  </rest-page>
</template>

<script>
import RestApi from '@/core/services/RestApi'
import InboxMessageSettingsForm from '@/modules/settings/components/InboxMessageSettingsForm'
import RestPage from '@/common/components/rest/RestPage'
import { projectEndpoint } from '@/core/helpers'

var MockAdapter = require('axios-mock-adapter')
var mock = new MockAdapter(RestApi, { delayResponse: 500 })
let respBody = {}
let respCode = 200

export default {
  name: 'InboxMessageSettingsFormTest',
  components: { InboxMessageSettingsForm, RestPage },
  computed: {
    fetchEndpoint() {
      return projectEndpoint(
        {
          method: 'get',
          url: 'inbox-settings',
          params: { expand: 'inbox_badge,inbox_remove,inbox_remove_after' },
          handler: data => {
            this.model = data
          }
        },
        this.projectId
      )
    }
  },
  mounted() {
    mock.onGet(/\/projects\/.+\/inbox-settings/).reply(config => {
      respBody = {
        logoUrl: 'https://local.xpu.sh/img/powered_by_XP.png',
        switch: 1,
        position: 'right',
        color: 'light',
        custom_color: {
          inbox_background_color: '#FFFFFF',
          inbox_border_color: '#888888',
          inbox_separator_color: '#F3F3F3',
          header_background_color: '#FFFFFF',
          header_border_color: '#D9D9D9',
          header_icon_color: '#666666',
          header_text_color: '#666666',
          switch_on_color: '#2fa9d6',
          switch_off_color: '#9e9e9e',
          notification_title_color: '#666666',
          notification_text_color: '#666666',
          notification_date_color: '#B7B7B7'
        }
      }
      this.printLog('Request')
      this.printLog(`${config.method.toUpperCase()} ${config.url}`)
      this.printLog('params')
      this.printLog(JSON.stringify(config.params))
      this.printLog('Response')
      this.printLog(JSON.stringify(respBody, null, 2))
      return [respCode, respBody]
    })
    mock.onPatch(/\/projects\/.+\/inbox-settings/).reply(config => {
      respBody = {
        enabled: 0,
        color: 'custom',
        colors: this.all_color_presets.custom,
        position: 'left',
        switch: 1,
        layout: null,
        button: null,
        all_color_presets: this.all_color_presets
      }
      respBody = JSON.parse(config.data)
      this.printLog('Request')
      this.printLog(`${config.method.toUpperCase()} ${config.url}`)
      this.printLog(JSON.parse(config.data))
      this.printLog('Response')
      this.printLog(JSON.stringify(respBody, null, 2))
      return [respCode, respBody]
    })

    Object.keys(this.all_color_presets).forEach((key, value) => {
      this.all_color_presets[key] = this.getRandomColorScheme()
    })
  },
  data() {
    return {
      logs: [],
      types: ['ios', 'android', 'web'],
      selectedType: 'ios',
      model: {},
      all_color_presets: {
        light: null,
        dark: null,
        custom: null
      },
      all_colors: [
        'inbox_background_color',
        'inbox_border_color',
        'inbox_separator_color',
        'header_background_color',
        'header_border_color',
        'header_icon_color',
        'header_text_color',
        'switch_on_color',
        'switch_off_color',
        'notification_title_color',
        'notification_text_color',
        'notification_date_color'
      ]
    }
  },
  methods: {
    changeDevice(device) {
      this.selectedType = null
      this.selectedType = device
    },
    randomColor() {
      return `#${Math.floor(Math.random() * 16777215).toString(16)}`
    },
    getRandomColorScheme() {
      let scheme = {}
      this.all_colors.forEach(color => {
        scheme[color] = this.randomColor()
      })
      return scheme
    },
    printLog(str) {
      this.logs.push({
        randomKey: Math.random()
          .toString(36)
          .substr(2, 9),
        msg: str
      })
    }
  },
  beforeDestroy: function() {
    mock.restore()
  }
}
</script>

<style scoped>
.testing-frame {
  min-height: 500px;
  resize: both;
  overflow: hidden;
  width: 420px;
  border: 1px dashed black;
  padding: 5px;
}
.logs {
  height: 600px;
  overflow-y: auto;
  width: 500px;
  background: white;
  padding: 10px;
  font-size: 15px;
}
.logs-wrap {
  position: fixed;
}
</style>
