<template>
  <page-content>
    <el-row>
      <el-col :span="12">
        <el-form>
          <el-form-item label="Push Notification switch">
            <el-switch v-model="PushNotificationSwitch"></el-switch>
          </el-form-item>
          <el-form-item label="Logo Url">
            <el-input v-model="logoUrl"></el-input>
          </el-form-item>
          <color-picker-field
            v-model="colors.inboxBackground"
            label-text="Inbox background"
          />

          <color-picker-field
            v-model="colors.inboxBorder"
            label-text="Inbox border"
          />
          <color-picker-field
            v-model="colors.headerBackground"
            label-text="Header background"
          />
          <color-picker-field
            v-model="colors.headerBorder"
            label-text="Header Border"
          />
          <color-picker-field
            v-model="colors.headerIcon"
            label-text="Header Icon"
          />
          <color-picker-field
            v-model="colors.switchOn"
            label-text="Switch On"
          />

          <color-picker-field
            v-model="colors.messageTitle"
            label-text="Message title"
          />
          <color-picker-field
            v-model="colors.headerText"
            label-text="Header Text"
          />
          <color-picker-field
            v-model="colors.messageText"
            label-text="Message Text"
          />
          <color-picker-field
            v-model="colors.inboxSeparator"
            label-text="Inbox separator"
          />
          <color-picker-field
            v-model="colors.messageDate"
            label-text="Message Date"
          />
        </el-form>
      </el-col>
      <el-col :span="5">
        <div class="testing-frame">
          <InboxPreview
            :logo-url="logoUrl"
            :push-notification-switch="PushNotificationSwitch"
            :inbox-background-color="colors.inboxBackground"
            :inbox-border-color="colors.inboxBorder"
            :header-background-color="colors.headerBackground"
            :header-border-color="colors.headerBorder"
            :header-icon-color="colors.headerIcon"
            :switch-on-color="colors.switchOn"
            :message-title-color="colors.messageTitle"
            :header-text-color="colors.headerText"
            :message-text-color="colors.messageText"
            :inbox-separator-color="colors.inboxSeparator"
            :message-date-color="colors.messageDate"
          ></InboxPreview>
        </div>
      </el-col>
    </el-row>
  </page-content>
</template>

<script>
import PageContent from '@/common/components/page/PageContent'
import InboxPreview from '@/modules/settings/components/InboxPreview'
import ColorPickerField from '@/common/components/form/ColorPickerField'

export default {
  name: 'InboxPreviewTest',
  components: { PageContent, ColorPickerField, InboxPreview },
  mounted() {},
  data() {
    return {
      logoUrl: 'https://local.xpu.sh/img/powered_by_XP.png',
      PushNotificationSwitch: 1,
      position: 'right',
      colors: {
        inboxBackground: '#FFFFFF',
        inboxBorder: '#6C71A2',
        inboxSeparator: '#5F71A6',
        headerBackground: '#1E201F',
        headerBorder: '#1560EB',
        headerIcon: '#FFFFFF',
        headerText: '#FFFFFF',
        switchOn: '#658CF1',
        messageTitle: '#5E5E5E',
        messageText: '#666262',
        messageDate: '#FFFFFF'
      }
    }
  },
  methods: {}
}
</script>

<style scoped>
.testing-frame {
  width: 335px;
  height: 618px;
  resize: both;
  overflow: hidden;
  border: 1px dashed black;
  padding: 10px;
}
</style>
