<template>
  <page-content>
    <div class="testing-frame">
      <inbox-message-settings-web :project-id="projectId" />
    </div>
  </page-content>
</template>

<script>
import PageContent from '@/common/components/page/PageContent'
import InboxMessageSettingsWeb from '@/modules/settings/components/InboxMessageSettingsWeb'
import RestApi from '@/core/services/RestApi'
var MockAdapter = require('axios-mock-adapter')
var mock = new MockAdapter(RestApi)

var resp = {
  logoUrl: '/img/powered_by_XP.png',
  switch: 1,
  position: 'right',
  color: 'light',
  custom_colors: null,
  layout: 'pop_up',
  button: 'custom_badge',
  colors: {
    inbox_background_color: '#FFFFFF',
    inbox_border_color: '#888888',
    inbox_separator_color: '#F3F3F3',
    header_background_color: '#FFFFFF',
    header_border_color: '#D9D9D9',
    header_icon_color: '#666666',
    header_text_color: '#666666',
    switch_on_color: '#2fa9d6',
    switch_off_color: '#9e9e9e',
    notification_title_color: '#666666',
    notification_text_color: '#666666',
    notification_date_color: '#B7B7B7'
  }
}
mock.onGet(/\/projects\/.+/).reply(200, resp)
mock.onPatch(/\/projects\/.+/).reply(200, resp)

export default {
  name: 'InboxMessageSettingsWebTest',
  components: { InboxMessageSettingsWeb, PageContent },
  data() {
    return {
      projectId: 1
    }
  },
  computed: {}
}
</script>

<style scoped>
.testing-frame {
  width: 950px;
}
</style>
