<template>
  <page-content>
    <rest-page :fetch-endpoint="fetchEndpoint">
      <rest-form
        ref="form"
        :save-endpoint="saveEndpoint"
        :after-save="afterSave"
        :model="model"
        :rules="rules"
        :disabled="false"
      >
        <push-settings-web
          :model="model"
          :files="files"
          :save="save"
          :readonly="false"
        />
      </rest-form>
    </rest-page>
  </page-content>
</template>

<script>
import { projectEndpoint } from '@/core/helpers'
import RestPage from '@/common/components/rest/RestPage'
import PageContent from '@/common/components/page/PageContent'
import RestForm from '@/common/components/rest/RestForm'
import PushSettingsWeb from '@/modules/settings/components/PushSettingsWeb'
import RestApi from '@/core/services/RestApi'
var MockAdapter = require('axios-mock-adapter')
var mock = new MockAdapter(RestApi)

mock.onGet(/\/projects\/.+/).reply(200, {
  is_chrome: 1,
  is_firefox: 1,
  webpush_domain_hosted: 1,
  webpush_window_mode: 0,
  webpush_domain: null,
  chrome_sender_id: null,
  chrome_key: null,
  is_safari: 0,
  safari_push_id: null,
  safari_key: null,
  safari_key_password: null
})
mock.onPatch(/\/projects\/.+/).reply(200, {})

export default {
  name: 'PushSettingsWebTest',
  components: { PushSettingsWeb, RestForm, PageContent, RestPage },
  data() {
    return {
      project_id: 'mocked',
      model: {
        is_chrome: 0,
        is_firefox: 0,
        webpush_domain_hosted: null,
        webpush_window_mode: null,
        webpush_domain: null,
        chrome_sender_id: null,
        chrome_key: null,
        is_safari: 0,
        safari_push_id: null,
        safari_key: null,
        safari_key_password: null
      },
      files: {
        safari_key_file: {},
        web_icon_small_file: {},
        web_icon_large_file: {}
      }
    }
  },
  computed: {
    pageTitle() {
      return this.$t(this.$route.meta.title)
    },

    fetchEndpoint() {
      if (this.$route.query.id) {
        return projectEndpoint(
          {
            method: 'get',
            url: `applications/${this.$route.query.id}`,
            handler: data => {
              this.model = data
            }
          },
          this.project_id
        )
      } else {
        return null
      }
    },

    saveEndpoint() {
      if (this.$route.query.id) {
        return projectEndpoint(
          {
            method: 'patch',
            url: `applications/${this.$route.query.id}`
          },
          this.project_id
        )
      } else {
        return null
      }
    },
    rules() {
      return {}
    }
  },
  methods: {
    save() {
      this.$refs['form'].save()
    },
    afterSave(data, finishLoading) {
      finishLoading.apply()
      // dummy data just for test
      this.model.new_chrome_key = null
      this.model.chrome_key = 'key'
    }
  }
}
</script>

<style scoped>
.page-content {
  width: 900px;
}
</style>
