<template>
  <page-content>
    <rest-page :fetch-endpoint="fetchEndpoint">
      <rest-form
        ref="form"
        :save-endpoint="saveEndpoint"
        :after-save="afterSave"
        :model="model"
        :rules="rules"
        :disabled="false"
      >
        <push-settings-android :model="model" :save="save" />
      </rest-form>
    </rest-page>
  </page-content>
</template>

<script>
import PushSettingsAndroid from '@/modules/settings/components/PushSettingsAndroid'
import { projectEndpoint } from '@/core/helpers'
import RestPage from '@/common/components/rest/RestPage'
import PageContent from '@/common/components/page/PageContent'
import RestForm from '@/common/components/rest/RestForm'
import RestApi from '@/core/services/RestApi'
var MockAdapter = require('axios-mock-adapter')
var mock = new MockAdapter(RestApi)

mock.onGet(/\/projects\/.+/).reply(200, {
  android_sender_id: ''
})
mock.onPatch(/\/projects\/.+/).reply(200, {})

export default {
  name: 'PushSettingsAndroidTest',
  components: { RestForm, PageContent, RestPage, PushSettingsAndroid },
  data() {
    return {
      project_id: 'mocked',
      model: {
        android_sender_id: null,
        new_android_key: null
      }
    }
  },
  computed: {
    pageTitle() {
      return this.$t(this.$route.meta.title)
    },

    fetchEndpoint() {
      if (this.$route.query.id) {
        return projectEndpoint(
          {
            method: 'get',
            url: `applications/${this.$route.query.id}`,
            handler: data => {
              this.model = data
            }
          },
          this.project_id
        )
      } else {
        return null
      }
    },

    saveEndpoint() {
      if (this.$route.query.id) {
        return projectEndpoint(
          {
            method: 'patch',
            url: `applications/${this.$route.query.id}`
          },
          this.project_id
        )
      } else {
        return null
      }
    },
    rules() {
      return {}
    }
  },
  methods: {
    save() {
      this.$refs['form'].save()
    },
    afterSave(data, finishLoading) {
      finishLoading.apply()
      // dummy data just for test
      this.model.new_android_key = null
      this.model.android_key = 'key'
    }
  }
}
</script>

<style scoped>
.page-content {
  position: fixed;
  width: 70%;
}
</style>
