<template>
  <page-content>
    <rest-page :fetch-endpoint="fetchEndpoint">
      <rest-form
        ref="form"
        :save-endpoint="saveEndpoint"
        :after-save="afterSave"
        :model="model"
        :rules="rules"
        :disabled="false"
      >
        <push-settings-ios
          :model="model"
          :files="files"
          :save="save"
          :readonly="false"
        />
      </rest-form>
    </rest-page>
  </page-content>
</template>

<script>
import { projectEndpoint } from '@/core/helpers'
import RestPage from '@/common/components/rest/RestPage'
import PageContent from '@/common/components/page/PageContent'
import RestForm from '@/common/components/rest/RestForm'
import PushSettingsIos from '@/modules/settings/components/PushSettingsIos'
import RestApi from '@/core/services/RestApi'
var MockAdapter = require('axios-mock-adapter')
var mock = new MockAdapter(RestApi)

mock.onGet(/\/projects\/.+/).reply(200, {
  ios_sandbox_key: null,
  ios_production_key: null
})
mock.onPatch(/\/projects\/.+/).reply(200, {})

export default {
  name: 'PushSettingsAndroidTest',
  components: { PushSettingsIos, RestForm, PageContent, RestPage },
  data() {
    return {
      project_id: 'mocked',
      model: {
        ios_production_key: null,
        ios_sandbox_key: null
      },
      files: {
        ios_production_key_file: {},
        ios_sandbox_key_file: {}
      }
    }
  },
  computed: {
    pageTitle() {
      return this.$t(this.$route.meta.title)
    },

    fetchEndpoint() {
      if (this.$route.query.id) {
        return projectEndpoint(
          {
            method: 'get',
            url: `applications/${this.$route.query.id}`,
            handler: data => {
              this.model = data
            }
          },
          this.project_id
        )
      } else {
        return null
      }
    },

    saveEndpoint() {
      if (this.$route.query.id) {
        return projectEndpoint(
          {
            method: 'patch',
            url: `applications/${this.$route.query.id}`
          },
          this.project_id
        )
      } else {
        return null
      }
    },
    rules() {
      return {}
    }
  },
  methods: {
    save() {
      this.$refs['form'].save()
    },
    afterSave(data, finishLoading) {
      finishLoading.apply()
    }
  }
}
</script>

<style scoped>
.page-content {
  position: fixed;
  width: 70%;
}
</style>
