<template>
  <page-content>
    <sms-from-name-tab :project-id="projectId" />
  </page-content>
</template>

<script>
import PageContent from '@/common/components/page/PageContent'
import SmsFromNameTab from '@/modules/settings/components/SmsFromNameTab'
import RestApi from '@/core/services/RestApi'
var MockAdapter = require('axios-mock-adapter')
var mock = new MockAdapter(RestApi)

mock.onGet(/\/projects\/.+/).reply(
  200,
  [
    { id: 2, from_name: 'From name 1' },
    { id: 3, from_name: 'Another From name' },
    { id: 4, from_name: 'Name' }
  ],
  {
    'X-Pagination-Current-Page': 1,
    'X-Pagination-Page-Count': 1,
    'X-Pagination-Per-Page': 50,
    'X-Pagination-Total-Count': 2
  }
)
mock.onPatch(/\/projects\/.+/).reply(200, {})
mock.onPost(/\/projects\/.+/).reply(200, {})
mock.onDelete(/\/projects\/.+/).reply(200, {})

export default {
  name: 'SmsFromNameTabTest',
  components: { SmsFromNameTab, PageContent },
  data() {
    return {
      projectId: 'mocked'
    }
  },
  beforeDestroy: function() {
    mock.restore()
  }
}
</script>

<style scoped></style>
