<template>
  <page-content>
    <el-row>
      <el-col :span="8">
        <el-form>
          <el-switch
            v-model="model.canManage"
            active-text="User can manage subscription preference"
          />
          <el-switch
            :disabled="!model.canManage"
            v-model="model.canChangeEmail"
            active-text="Allow user to change  email"
          />
          <el-form-item label="Logo Url">
            <el-input v-model="model.logoUrl"></el-input>
          </el-form-item>
          <color-picker-field
            v-model="model.bgColor"
            label-text="Background color"
          />
          <color-picker-field
            v-model="model.highlightColor"
            label-text="Highlight colour 1"
          />
          <color-picker-field
            v-model="model.buttonTextColor"
            label-text="Highlight colour 2"
          />
        </el-form>
      </el-col>
      <el-col :span="11">
        <unsubscribe-preview
          :logo-url="model.logoUrl"
          :can-manage-subscription="model.canManage"
          :allow-change-email="model.canChangeEmail"
          :background-color="model.bgColor"
          :highlight-color="model.highlightColor"
          :button-text-color="model.buttonTextColor"
        />
      </el-col>
    </el-row>
  </page-content>
</template>

<script>
import UnsubscribePreview from '@/modules/settings/components/UnsubscribePreview'
import PageContent from '@/common/components/page/PageContent'
import ColorPickerField from '@/common/components/form/ColorPickerField'
export default {
  name: 'UnsubscribePreviewTest',
  components: {
    ColorPickerField,
    PageContent,
    UnsubscribePreview
  },
  data() {
    return {
      model: {
        logoUrl: 'https://local.xpu.sh/img/powered_by_XP.png',
        canManage: 0,
        canChangeEmail: 0,
        bgColor: '#333333',
        highlightColor: '#46719E',
        buttonTextColor: '#ffffff'
      }
    }
  }
}
</script>

<style scoped lang="scss">
.el-row {
  position: fixed;
  width: 100%;
  .el-switch {
    padding-bottom: 10px;
  }
}
</style>
