<template>
  <page-content>
    <div class="test-container">
      <url-tracking-tab />
    </div>
  </page-content>
</template>

<script>
import PageContent from '@/common/components/page/PageContent'
import UrlTrackingTab from '@/modules/settings/components/UrlTrackingTab'
import RestApi from '@/core/services/RestApi'
var MockAdapter = require('axios-mock-adapter')
var mock = new MockAdapter(RestApi)

mock.onGet(/\/projects\/.+/).reply(200, [
  {
    id: 1,
    params: [
      { key: 'test ', value: 'Test' },
      { key: 'dsfsf', value: 'sdfsdf' }
    ],
    channels: { '3': 0, '5': 1, '6': 1, '7': 1 },
    use_custom_params: 1
  }
])

mock.onPatch(/\/projects\/.+/).reply(200, {
  id: 1,
  params: [
    { key: 'test ', value: 'Test' },
    { key: 'dsfsf', value: 'sdfsdf' }
  ],
  channels: { '3': 0, '5': 1, '6': 1, '7': 1 }
})

export default {
  name: 'UrlTrackingTabTest',
  components: { UrlTrackingTab, PageContent },
  mounted() {
    this.$set(this.model, 'project_id', this.$route.query.project_id)
  },
  data() {
    return {}
  },
  computed: {}
}
</script>

<style scoped>
.test-container {
  width: 1200px;
}
</style>
